@media (min-width: 1280px) and (min-height: 900px) {
  .text #dancing-banana {
    bottom: 111px !important;
  }
}
@media (min-width: 767px) and (min-height: 767px) {
  .text:not(.accessible-mode) header.banner #pages #blog-pages-list-container ul#blog-select-page li:first-of-type {
    border-bottom: 3px solid #C300C3;
  }
  .text:not(.accessible-mode) header.banner #pages #blog-pages-list-container ul#blog-select-page li:first-of-type a:not(:hover), .text:not(.accessible-mode) header.banner #pages #blog-pages-list-container ul#blog-select-page li:first-of-type a:not(:active), .text:not(.accessible-mode) header.banner #pages #blog-pages-list-container ul#blog-select-page li:first-of-type a:not(:focus) {
    border-bottom: none;
  }
}
.text footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
@media (max-width: 766px), (max-height: 766px) {
  .text footer.scrolled {
    height: 104px;
    bottom: 0 !important;
  }
}
@media (max-width: 766px) and (max-width: 766px), (max-width: 766px) and (max-height: 766px), (max-height: 766px) and (max-width: 766px), (max-height: 766px) and (max-height: 766px) {
  .text footer #footer-nav {
    bottom: -104px;
  }
}
@media (max-width: 766px) and (max-width: 350px), (max-height: 766px) and (max-width: 350px) {
  .text footer #footer-nav {
    bottom: -136px;
  }
}
@media (max-width: 766px) and (max-width: 246px), (max-height: 766px) and (max-width: 246px) {
  .text footer #footer-nav {
    bottom: -288px;
  }
}
@media (max-width: 766px), (max-height: 766px) {
  .text footer #footer-nav.scrolled {
    bottom: 0;
  }
  .text footer #bottom-accessible-banner li:last-of-type a {
    margin-right: 1rem;
  }
}
.text aside.left button {
  pointer-events: none;
}
.text aside {
  position: absolute;
  bottom: 0;
  width: calc(100vh - 150px);
}
.text aside.right.plus {
  display: none;
  transform: rotate(90deg);
  transform-origin: right top;
  right: 0;
  z-index: 1000;
}
.text aside.right.plus > div {
  justify-content: flex-start;
  margin-left: 25px;
}
.text aside.right.plus > div a {
  position: absolute;
  top: 6px;
}
.text aside.scrolled {
  width: calc(100vh - 100px);
}
@media (min-width: 600px) and (max-width: 801px) and (min-height: 600px), (min-width: 850px) and (min-height: 600px) {
  .text aside {
    width: calc(100vh - 196px);
  }
}
@media (min-width: 732px) and (max-width: 766px) and (min-height: 600px), (min-width: 802px) and (max-width: 849px) and (min-height: 767px), (min-width: 862px) and (min-height: 600px) and (max-height: 766px), (min-width: 947px) and (min-height: 767px) {
  .text aside {
    width: calc(100vh - 161px);
  }
}
@media (min-width: 767px) and (min-height: 767px) {
  .text aside.right.plus {
    display: block;
  }
  .text aside.right.plus div a {
    top: 15px;
  }
}
@media (min-width: 795px) and (max-width: 849px) and (min-height: 767px) {
  .text aside {
    width: calc(100vh - 157px);
  }
}
@media (min-height: 900px) {
  .text aside.right.plus div {
    margin-left: 50px;
  }
}
@media (min-width: 1280px) and (min-height: 900px) {
  .text #main-container > aside.left > ul {
    margin: 0 50px 0 100px;
  }
}
.text footer.flex-line {
  justify-content: center;
}
.text main #page-title h1 {
  width: unset;
  padding: unset;
  border-bottom: none;
}
.text main #text-head #cross {
  position: fixed;
  top: 168px;
  right: 1rem;
  height: 2.25rem;
  width: 2.5rem;
  font-size: 1.75rem;
  font-family: "Liberation Sans";
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 999;
  color: #3A3B3C;
  background-color: #F5F5F5;
  border-radius: 50%;
  padding: 5px;
}
@media (min-width: 331px) {
  .text main #text-head #cross {
    top: 131px;
  }
}
@media (min-width: 600px) and (min-height: 600px) {
  .text main #text-head #cross {
    top: 135px;
  }
}
@media (min-width: 767px) and (min-height: 767px) {
  .text main #text-head #cross {
    top: 140px;
    right: 75px;
  }
}
@media (min-width: 767px) and (max-width: 794px) and (min-height: 767px), (min-width: 850px) and (max-width: 946px) and (min-height: 767px) {
  .text main #text-head #cross {
    top: 184px;
  }
}
.text main #text-head #cross.scrolled {
  top: 25px;
}
@media (min-width: 314px) {
  .text main #text-head #cross.scrolled {
    top: 75px;
  }
}
.text main #text-head #cross:hover, .text main #text-head #cross:active, .text main #text-head #cross:focus {
  text-decoration: underline;
  background-color: transparent;
}
.text main #text-head h2 {
  font-size: 1.5rem;
  line-height: 1.3;
  padding: 0 3rem 0 0;
}
@media (min-width: 767px) {
  .text main #text-head h2 {
    font-size: 1.75rem;
  }
}
@media (min-width: 1200px) {
  .text main #text-head h2 {
    font-size: 2rem;
  }
}
.text main .project-type {
  padding: 0 2rem 2rem 0;
  display: inline-block;
}
.text main .project-type ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.text main .project-type .tag {
  font-size: 0.6rem;
  text-transform: uppercase;
  color: black;
  background-color: #E0E0E0;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 20px;
  text-align: center;
  margin-top: 15px;
}
.text main .project-type .tag:not(:last-of-type) {
  margin-right: 10px;
}
@media (min-width: 600px) and (min-height: 600px) {
  .text main .project-type .tag {
    font-size: 0.5rem;
  }
}
@media (min-width: 767px) {
  .text main .project-type .tag {
    font-size: 0.75rem;
  }
}
.text main article p, .text main article.one .notes, .text main article.two figcaption {
  line-height: 1.3;
}
.text main article.one h3, .text main article.two h3 {
  font-weight: bold;
}
.text main article.one h3, .text main article.one h4, .text main article.one h5 {
  line-height: 1.3;
}
.text main article.one h4 {
  font-size: 1rem;
  font-weight: bold;
  padding: 0 0 1rem 0;
}
.text main article.one h5 {
  font-size: 1rem;
  border: 1px solid black;
  padding: 2px 5px;
  display: inline-block;
}
.text main article.one > div > p:last-of-type, .text main article.one > p:last-of-type {
  text-align: right;
  padding: 2rem 0;
}
@media (min-width: 767px) and (min-height: 767px) {
  .text main article.one > div > p:last-of-type, .text main article.one > p:last-of-type {
    padding: 1rem 0;
  }
}
.text main article.two {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text main article.two > div {
  padding-bottom: 1rem;
}
.text main article.two figure, .text main article.two .fig {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text main article.two figure:not(:first-of-type), .text main article.two .fig:not(:first-of-type) {
  padding-top: 1rem;
}
.text main article.two img, .text main article.two video {
  width: 100%;
}
.text main article.two img {
  padding-bottom: 1rem;
}
.text main article.two img:first-of-type {
  padding-top: 0;
}
.text main article.two h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.text main article.two .media-container {
  text-align: center;
  padding: 1rem 0;
}
.text main article.two .media-button {
  background-color: #e0e0e0;
  border: 1px solid #3A3B3C;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 1rem;
}
.text main article.two .media-button:hover, .text main article.two .media-button:active, .text main article.two .media-button:focus {
  background-color: white;
}
.text main article.two .mediaDesc {
  font-size: 0.9rem;
  margin: 1rem 0 0 0;
}
.text main article.two video {
  margin-bottom: 1rem;
  background-color: black;
}
.text main article.two figcaption {
  font-size: 0.9rem;
  text-align: center;
  padding-bottom: 1rem;
}
.text:not(.home):not(.accessible-mode) main {
  margin: 0;
}
@media (min-width: 767px) and (min-height: 767px) {
  .text:not(.home):not(.accessible-mode) main {
    margin: 0 50px 0 0;
  }
}
.text:not(.accessible-mode) main {
  width: 100%;
  margin: 0 50px 50px 0;
}
@media (min-width: 1280px) and (min-height: 900px) {
  .text:not(.accessible-mode) main {
    height: calc(100vh - 211px) !important;
  }
}
.text:not(.accessible-mode) main > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}
.text:not(.accessible-mode) main > div > div:last-of-type {
  display: flex;
}
.text:not(.accessible-mode) main article {
  overflow-y: auto;
  overflow-x: hidden;
  width: 50%;
}
.text:not(.accessible-mode) main article p {
  margin: 0;
}
.text:not(.accessible-mode) main article.one, .text:not(.accessible-mode) main article.two {
  padding: 50px 50px 0 0;
}
.text:not(.accessible-mode) main article.one h3, .text:not(.accessible-mode) main article.two h3 {
  font-size: 1.25rem;
  text-align: left;
  padding-bottom: 2rem;
}
@media (min-width: 767px) and (min-height: 767px) {
  .text:not(.accessible-mode) main article.one h3, .text:not(.accessible-mode) main article.two h3 {
    text-align: center;
  }
}
.text:not(.accessible-mode) main article.one {
  padding-left: 50px;
}
@media (min-width: 1280px) and (min-height: 900px) {
  .text:not(.accessible-mode) main article.one {
    border-right: 3px solid #C300C3;
  }
}
.text:not(.accessible-mode) main article.one :not(.notes) p {
  margin-bottom: 1rem;
}
.text:not(.accessible-mode) main article.one :not(.notes) p:last-of-type.date {
  font-size: 0.75rem;
}
.text:not(.accessible-mode) main article.one :not(.notes) p span.aparte {
  font-size: 0.75rem;
  line-height: unset;
}
.text:not(.accessible-mode) main article.one :not(.notes) li:last-of-type p {
  margin-bottom: 0;
}
.text:not(.accessible-mode) main article.one em::before, .text:not(.accessible-mode) main article.one em::after {
  content: none;
}
.text:not(.accessible-mode) main article.one a {
  color: #C300C3;
  word-break: break-word;
}
.text:not(.accessible-mode) main article.one a ::before {
  margin: 0;
}
.text:not(.accessible-mode) main article.one a:hover, .text:not(.accessible-mode) main article.one a:active, .text:not(.accessible-mode) main article.one a:focus {
  color: #F5F5F5;
  background-color: #C300C3;
}
.text:not(.accessible-mode) main article.one .notes {
  text-align: left;
  margin-bottom: 2rem;
  font-size: 0.75rem;
  color: #C300C3;
}
.text:not(.accessible-mode) main article.one .notes a {
  color: #C300C3;
}
.text:not(.accessible-mode) main article.one .notes a::before, .text:not(.accessible-mode) main article.one .notes a::after {
  content: none;
}
.text:not(.accessible-mode) main article.one .notes a:hover, .text:not(.accessible-mode) main article.one .notes a:active, .text:not(.accessible-mode) main article.one .notes a:focus {
  text-decoration: none;
  color: #F5F5F5;
  background-color: #C300C3;
}
.text:not(.accessible-mode) main article.one p.nomargin::before {
  margin-left: 0;
}
.text:not(.accessible-mode) main article.two {
  padding: 0 50px 0 50px;
}
.text:not(.accessible-mode) main article.two .article-title-container {
  width: 100%;
}
@media (min-width: 1280px) and (min-height: 900px) {
  .text:not(.accessible-mode) main article.two h3 {
    margin-top: 50px;
  }
}
.text:not(.accessible-mode) main article.two > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (min-width: 767px) and (min-height: 767px) and (max-width: 1279px), (min-width: 767px) and (min-height: 767px) and (max-height: 899px) {
  .text:not(.accessible-mode) main article.two > div {
    padding-bottom: calc(50px + 2rem);
  }
}
@media (min-width: 767px) and (min-height: 767px) {
  .text:not(.home):not(.projects):not(.posts):not(.texts):not(.cv):not(.contact):not(.accessible-mode) main:not(.scrolled) {
    height: calc(100vh - 120px);
  }
}
@media (min-width: 767px) and (min-height: 767px) and (max-width: 801px), (min-width: 850px) and (min-height: 767px) and (max-width: 946px) {
  html[lang=fr] .text:not(.home):not(.projects):not(.posts):not(.texts):not(.cv):not(.contact):not(.accessible-mode) main:not(.scrolled) {
    height: calc(100vh - 155px);
  }
}
.text .source-link {
  font-size: 1.25rem;
  color: #C300C3;
}
.text .source-link:hover, .text .source-link:active, .text .source-link:focus {
  color: #F5F5F5;
  background-color: #C300C3;
  text-decoration: none;
}
@media (min-width: 767px) and (min-height: 767px) {
  .text .source-link {
    font-size: 1rem;
    color: #F5F5F5;
    background-color: #C300C3;
    width: 76px;
    text-decoration: none;
  }
}
@media (max-width: 766px), (max-height: 766px) {
  .text:not(.accessible-mode) main article.one {
    padding: 25px 1rem 0 1rem;
  }
  .text:not(.accessible-mode) main article.two {
    padding: 0 1rem 85px 1rem;
  }
  .text:not(.accessible-mode) main article.one p span.aparte, .text:not(.accessible-mode) main article.one .notes, .text main article.one p:last-of-type {
    font-size: 1rem;
  }
}
.text:not(.home):not(.cv):not(.accessible-mode) header.banner #pages.small-device {
  top: unset;
}
@media (max-width: 1279px), (max-height: 899px) {
  .text:not(.accessible-mode) main {
    overflow-y: auto;
  }
  .text:not(.accessible-mode) main > div, .text:not(.accessible-mode) main > div > div:last-of-type {
    display: block;
  }
  .text:not(.accessible-mode) main article.one, .text:not(.accessible-mode) main article.two {
    width: 100% !important;
  }
}
@media (min-width: 314px) and (max-width: 766px), (min-width: 314px) and (max-height: 766px) {
  .text:not(.accessible-mode) main article.two {
    margin-bottom: 55px;
  }
}
@media (min-width: 314px) and (max-width: 676px) {
  .text:not(.accessible-mode) main article.two {
    margin-bottom: 100px;
  }
}
@media (min-width: 314px) and (max-height: 600px) {
  .text:not(.accessible-mode) main article.two {
    margin-bottom: 55px;
  }
}
@media (max-width: 313px) {
  .text:not(.accessible-mode) main article.two {
    padding-bottom: 25px;
  }
}
@media (min-width: 767px) and (min-height: 767px) {
  .text:not(.accessible-mode) footer {
    z-index: 1000;
  }
}
@media (min-width: 1280px) and (min-height: 900px) {
  .text:not(.accessible-mode) footer {
    bottom: 50px !important;
  }
  .text:not(.accessible-mode) #bottom-accessible-banner li:first-of-type {
    display: none;
  }
}
@media (max-width: 313px) {
  .text:not(.accessible-mode) {
    overflow-y: auto !important;
  }
  .text:not(.accessible-mode) header.banner h1.sr-only {
    padding: 0;
    border: none;
  }
  .text:not(.accessible-mode) #main-container {
    height: unset !important;
    overflow: unset !important;
  }
  .text:not(.accessible-mode) footer {
    position: unset;
  }
  .text:not(.accessible-mode) footer #footer-nav {
    bottom: unset;
  }
}
.text.accessible-mode header h1 {
  display: block;
}
.text.accessible-mode main {
  margin: 0;
}
.text.accessible-mode main #text-head {
  display: flex;
  align-items: flex-start;
  position: relative;
}
@media (max-width: 259px) {
  .text.accessible-mode main #text-head {
    flex-wrap: wrap;
  }
}
.text.accessible-mode main #text-head h2.individual {
  margin-top: 2rem;
}
.text.accessible-mode main #text-head #cross {
  position: relative;
  top: 2rem;
  left: unset;
  text-decoration: none;
  color: #3A3B3C;
  order: 2;
  margin: 0 0 3rem 1rem;
}
.text.accessible-mode main #text-head #cross:hover, .text.accessible-mode main #text-head #cross:active, .text.accessible-mode main #text-head #cross:focus {
  text-decoration: none;
  color: #F5F5F5;
  background-color: #C300C3;
}
@media (min-width: 260px) {
  .text.accessible-mode main #text-head #cross {
    position: absolute;
    top: 1px;
    right: 0;
    margin: 0 0 0 3rem;
  }
}
@media (min-width: 600px) and (min-height: 600px) {
  .text.accessible-mode main #text-head #cross {
    top: 18px;
    right: 1rem;
    margin: -1rem -1rem -1rem 3rem;
  }
}
@media (min-width: 767px) and (min-height: 767px) {
  .text.accessible-mode main #text-head #cross {
    top: 20px;
  }
}
@media (orientation: landscape) {
  .text.accessible-mode main #text-head {
    position: unset;
  }
  .text.accessible-mode main #text-head #cross {
    top: 283px;
  }
}
@media (orientation: landscape) and (max-height: 599px) {
  .text.accessible-mode main #text-head #cross {
    top: 245px;
    right: 1rem;
  }
}
@media (orientation: landscape) and (max-width: 766px) and (max-height: 599px) {
  .text.accessible-mode main #text-head #cross {
    top: 240px;
  }
}
@media (orientation: landscape) and (min-height: 600px) {
  .text.accessible-mode main #text-head #cross {
    top: 277px;
    right: 2rem;
  }
}
@media (orientation: landscape) and (min-height: 767px) {
  .text.accessible-mode main #text-head #cross {
    top: 283px;
  }
}
.text.accessible-mode main, .text.accessible-mode main article.one, .text.accessible-mode main article.two {
  overflow: hidden;
}
.text.accessible-mode main, .text.accessible-mode main article.one > div:first-of-type {
  display: block;
}
.text.accessible-mode main article.one, .text.accessible-mode main article.two {
  width: 100% !important;
}
.text.accessible-mode main article.one {
  padding: 2rem 1rem;
}
.text.accessible-mode main article.one h3 {
  padding-bottom: 2rem;
}
@media (orientation: portrait) {
  .text.accessible-mode main article.one h3 {
    padding-bottom: 1rem;
  }
}
.text.accessible-mode main article.one .notes {
  background-color: #F5F5F5;
}
.text.accessible-mode main article.one .notes a {
  color: #3A3B3C;
  margin-left: 5px;
  padding: 0 4px;
}
.text.accessible-mode main article.two {
  padding: 0 1rem 2rem 1rem;
}
.text.accessible-mode main article.two h3 {
  padding-bottom: 3rem;
}
@media (orientation: portrait) {
  .text.accessible-mode main article.two h3 {
    padding-bottom: 2rem;
  }
}
.text.accessible-mode main article.one h3, .text.accessible-mode main article.two h3 {
  font-size: 1.5rem;
  text-align: center;
}
@media (orientation: portrait) {
  .text.accessible-mode main article.one h3, .text.accessible-mode main article.two h3 {
    text-align: left;
  }
}
.text.accessible-mode main article.one > div:last-of-type, .text.accessible-mode main article.one > div, .text.accessible-mode main article.two > div:last-of-type, .text.accessible-mode main article.two > div {
  padding: 0 15vw 1rem 15vw;
}
@media (orientation: portrait) {
  .text.accessible-mode main article.one > div:last-of-type, .text.accessible-mode main article.one > div, .text.accessible-mode main article.two > div:last-of-type, .text.accessible-mode main article.two > div {
    padding: 0 0 1rem 0;
  }
}
.text.accessible-mode main #text-head h2, .text.accessible-mode main article h3, .text.accessible-mode main article h4, .text.accessible-mode main article h5, .text.accessible-mode main article p, .text.accessible-mode main article.two figcaption {
  color: #F5F5F5;
}
.text.accessible-mode main article p, .text.accessible-mode main article.one p span.aparte, .text.accessible-mode main article.one p:last-of-type {
  font-size: 1.25rem;
}
.text.accessible-mode main article.one .notes p, .text.accessible-mode main article.two figcaption, .text.accessible-mode main article.two #videoDesc {
  font-size: 1rem;
}
.text.accessible-mode main #text-head h2, .text.accessible-mode main article.one > div > h4 {
  padding-bottom: 0;
}
.text.accessible-mode main article.one > div > h4, .text.accessible-mode main article.one > div > h5 {
  font-size: 1.25rem;
}
.text.accessible-mode main article.one > div > h4 {
  margin-bottom: 0;
}
.text.accessible-mode main article.one > div > h5 {
  border: 2px solid #F5F5F5;
}
.text.accessible-mode main article .project-type .tag {
  color: #3A3B3C;
  font-size: 0.9rem;
}
.text.accessible-mode main article.one a, .text.accessible-mode .source-link {
  text-decoration: underline;
  color: #F5F5F5;
  background-color: unset;
}
.text.accessible-mode main article.one a:hover, .text.accessible-mode main article.one a:active, .text.accessible-mode main article.one a:focus, .text.accessible-mode .source-link:hover, .text.accessible-mode .source-link:active, .text.accessible-mode .source-link:focus {
  text-decoration: none;
  border-color: #C300C3;
  background-color: #C300C3;
}
.text.accessible-mode main article.one .notes {
  margin-bottom: 2rem;
}
.text.accessible-mode main article.one .notes li {
  padding-top: 1rem;
}
.text.accessible-mode main article.one .notes li:last-of-type {
  padding-bottom: 1rem;
}
.text.accessible-mode main article.one .notes p {
  color: #3A3B3C;
  margin: 0 1rem;
}
.text.accessible-mode main article.one .notes p a {
  font-weight: normal;
  color: #3A3B3C;
}
.text.accessible-mode main article.one .notes p a:hover, .text.accessible-mode main article.one .notes p a:active, .text.accessible-mode main article.one .notes p a:focus {
  color: #F5F5F5;
  background-color: #3A3B3C;
}
.text.accessible-mode main article.two {
  padding-bottom: 2rem !important;
}
.text.accessible-mode main article.two h4 {
  font-size: 1.25rem;
}
.text.accessible-mode main article.two .media-button {
  color: #F5F5F5;
  background-color: unset;
  border: 3px solid #F5F5F5;
  border-radius: 0;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 5px 10px;
}
.text.accessible-mode main article.two .media-button:hover, .text.accessible-mode main article.two .media-button:active, .text.accessible-mode main article.two .media-button:focus {
  color: #3A3B3C;
  background-color: #F5F5F5;
}
.text.accessible-mode #cross {
  position: relative;
  top: calc(-100% + 68px);
  left: calc(100% - 50px);
}
@media (min-width: 600px) and (min-height: 600px) {
  .text.accessible-mode #cross {
    top: calc(-100% + 58px);
    margin: -1rem;
  }
}
.text.accessible-mode #cross:hover, .text.accessible-mode #cross:active, .text.accessible-mode #cross:focus {
  text-decoration: none;
  color: #F5F5F5;
  background-color: #C300C3;
}
.text.accessible-mode aside.right.plus {
  display: none;
}
.text.accessible-mode .source-link {
  width: unset;
  font-size: 1.25rem;
}
@media (max-width: 599px) {
  .text.accessible-mode .source-link {
    line-height: 1.5;
  }
}

.contact main {
  height: 100%;
  overflow-y: hidden;
}
.contact main .contact-container p {
  background-color: #C300C3;
}
@media (max-width: 219px) {
  .contact:not(.home):not(.projects):not(.cv):not(.accessible-mode) #main-container:not(.english) {
    height: calc(100% - 270px);
  }
}
@media (max-width: 219px) {
  .contact:not(.home):not(.projects):not(.cv):not(.accessible-mode) main .contact-container:not(.english) {
    top: 199px;
  }
}
@media (max-width: 244px) {
  .contact:not(.home):not(.projects):not(.cv):not(.accessible-mode) main .contact-container:not(.english) {
    height: calc(100% - 325px);
  }
}
.contact:not(.home):not(.projects):not(.cv):not(.accessible-mode) #main-container, .contact:not(.home):not(.projects):not(.cv):not(.accessible-mode) main .contact-container {
  height: calc(100% - 269px);
}
@media (min-width: 314px) and (max-width: 366px) {
  .contact:not(.home):not(.projects):not(.cv):not(.accessible-mode) #main-container:not(.english), .contact:not(.home):not(.projects):not(.cv):not(.accessible-mode) main .contact-container:not(.english) {
    height: calc(100% - 196px);
  }
}
@media (min-width: 767px) and (min-height: 767px) {
  .contact:not(.home):not(.projects):not(.cv):not(.accessible-mode) #main-container:not(.english), .contact:not(.home):not(.projects):not(.cv):not(.accessible-mode) main .contact-container:not(.english) {
    height: calc(100% - 220px);
  }
}
@media (min-width: 795px) and (min-height: 767px) and (max-width: 849px) {
  .contact:not(.home):not(.projects):not(.cv):not(.accessible-mode) #main-container:not(.english), .contact:not(.home):not(.projects):not(.cv):not(.accessible-mode) main .contact-container:not(.english) {
    height: calc(100% - 214px);
  }
}
.contact main .postcard-container {
  height: 100%;
}
@media (min-width: 398px) and (max-width: 540px) and (min-height: 800px) {
  .contact.accessible-mode footer {
    position: unset;
  }
}
@media (min-width: 398px) and (max-width: 500px) and (min-height: 830px) {
  .contact.accessible-mode footer {
    bottom: 16px !important;
    position: absolute;
  }
}

.posts:not(.accessible-mode) {
  width: unset;
  height: unset;
  overflow: unset;
}
@media (min-width: 767px) and (min-height: 767px) {
  .posts:not(.accessible-mode) {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .posts:not(.accessible-mode) header.banner #pages #blog-pages-list-container ul#blog-select-page li:first-of-type {
    border-bottom: 3px solid #C300C3;
  }
  .posts:not(.accessible-mode) header.banner #pages #blog-pages-list-container ul#blog-select-page li:first-of-type a:not(:hover), .posts:not(.accessible-mode) header.banner #pages #blog-pages-list-container ul#blog-select-page li:first-of-type a:not(:active), .posts:not(.accessible-mode) header.banner #pages #blog-pages-list-container ul#blog-select-page li:first-of-type a:not(:focus) {
    border-bottom: none;
  }
}
@media (min-width: 767px), (orientation: landscape) {
  .posts:not(.accessible-mode) main #post-pages-menu #post-pages-list li:not(:first-of-type) .articles {
    position: relative;
    top: -3px;
    left: -3px;
  }
}
@media (max-width: 766px), (max-height: 766px) {
  .posts:not(.accessible-mode).no-scroll footer {
    position: absolute !important;
    bottom: 54px !important;
  }
}
@media (min-width: 767px) and (min-height: 767px) {
  .posts:not(.accessible-mode).no-scroll main, .posts:not(.accessible-mode).no-scroll main:not(.scrolled) {
    height: calc(100vh - 221px);
  }
  .posts:not(.accessible-mode).no-scroll #main-container > aside {
    width: calc(100vh - 207px);
    bottom: 50px;
  }
  .posts:not(.accessible-mode).no-scroll #main-container > aside.scrolled {
    width: calc(100vh - 161px) !important;
    bottom: 61px;
  }
  .posts:not(.accessible-mode).no-scroll footer {
    position: absolute !important;
    bottom: 61px !important;
  }
}
@media (min-width: 850px) and (min-height: 767px) {
  .posts:not(.accessible-mode).no-scroll #main-container > aside {
    width: calc(100vh - 255px) !important;
  }
}
@media (min-width: 945px) and (min-height: 767px) {
  .posts:not(.accessible-mode).no-scroll #main-container > aside {
    width: calc(100vh - 211px) !important;
  }
}
.posts header, .posts footer {
  width: 100%;
}
.posts footer.flex-line.no-scroll {
  position: absolute !important;
  bottom: 50px !important;
}
.posts footer.flex-line a {
  text-transform: none;
}
@media (min-width: 1000px) and (min-height: 767px) {
  .posts:not(.accessible-mode) header {
    position: unset;
    top: unset;
    z-index: unset;
  }
}
.posts:not(.accessible-mode) main {
  height: unset;
  overflow-y: unset;
}
@media (min-width: 767px) and (min-height: 767px) {
  .posts:not(.accessible-mode) main {
    overflow-y: auto;
    width: calc(100% - 100px);
    margin: 0 50px;
  }
  .posts:not(.accessible-mode) main:not(.scrolled) {
    height: calc(100vh - 120px);
  }
  .posts:not(.accessible-mode) main.scrolled {
    height: calc(100vh - 100px);
  }
}
@media (min-width: 767px) and (min-height: 767px) and (max-width: 801px), (min-width: 850px) and (min-height: 767px) and (max-width: 946px) {
  html[lang=fr] .posts:not(.accessible-mode) main:not(.scrolled) {
    height: calc(100vh - 155px);
  }
}
.posts main #page-title h1.individual {
  width: unset;
  padding: unset;
  border-bottom: none;
}
@media (min-width: 314px) and (max-width: 522px) {
  html[lang=fr] .posts main #page-title {
    margin-top: -133px;
  }
}
@media (min-width: 523px) and (max-width: 599px) {
  html[lang=fr] .posts main #page-title {
    margin-top: -103px;
  }
}
@media (min-width: 600px) and (max-width: 766px), (min-width: 600px) and (max-height: 766px) {
  html[lang=fr] .posts main #page-title {
    margin-top: -106px;
  }
}
.posts main #post-pages-menu {
  margin: 25px 1rem;
}
@media (min-width: 767px) and (min-height: 767px) {
  .posts main #post-pages-menu {
    margin: 50px 50px 0 50px;
  }
}
.posts main #post-pages-menu input, .posts main #post-pages-menu .post-page > button {
  width: 150px;
}
.posts main #post-pages-menu input {
  color: black;
  background-color: #E0E0E0;
  border: 1px solid #3A3B3C;
  border-radius: 4px;
  font-size: 1.25rem;
  padding: 5px;
  cursor: pointer;
}
@media (min-width: 600px) and (min-height: 600px) {
  .posts main #post-pages-menu input {
    font-size: 1rem;
  }
}
.posts main #post-pages-menu input:hover, .posts main #post-pages-menu input:active, .posts main #post-pages-menu input:focus, .posts main #post-pages-menu input[aria-expanded=true] {
  background-color: white;
}
.posts main #post-pages-menu input[aria-expanded=true] {
  border-radius: 4px 4px 0 0;
}
.posts main #post-pages-menu .post-page > button {
  font-weight: bold;
}
.posts main #post-pages-menu .articles {
  border-radius: 0 4px 4px 0;
}
@media (min-width: 767px) and (min-height: 767px) {
  .posts main #post-pages-menu .post-page:first-of-type > button[aria-expanded=true] {
    border-radius: 0 0 0 4px;
  }
}
.posts main #post-pages-menu .post-page:last-of-type > button {
  border-radius: 0 0 4px 4px;
}
.posts main #post-pages-menu .post-page:last-of-type > button[aria-expanded=true] {
  border-radius: 0;
}
@media (min-width: 767px) and (min-height: 767px) {
  .posts main #post-pages-menu .post-page:last-of-type > button[aria-expanded=true] {
    border-radius: 0 0 4px 4px;
  }
}
.posts main #post-pages-menu .post-page:last-of-type .articles {
  border-radius: 0 4px 4px 4px;
}
@media (min-width: 767px) and (min-height: 767px) {
  .posts main #post-pages-menu .post-page:not(:first-of-type):not(:last-of-type) > button[aria-expanded=true] {
    border-radius: 0 0 0 4px;
  }
  .posts main #post-pages-menu .post-page:not(:last-of-type) > button.stroke {
    border-radius: 4px 0 0 0;
  }
  .posts main #post-pages-menu .post-page:last-of-type > button.stroke {
    border-radius: 4px 0 4px 4px;
  }
}
.posts main #post-pages-menu #post-pages-list > li:not(.hidden) {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
@media (max-width: 766px) and (orientation: portrait) {
  .posts main #post-pages-menu #post-pages-list > li:not(.hidden) {
    flex-direction: column;
  }
}
.posts main #post-pages-menu #post-pages-list > li:not(.hidden) > button {
  border: 3px solid #C300C3;
}
.posts main #post-pages-menu #post-pages-list > li:not(:first-of-type) > button {
  border-top: 0;
}
.posts main #post-pages-menu #post-pages-list > li > button.stroke {
  border-top: 3px solid #C300C3;
}
@media (max-width: 766px) and (orientation: portrait) {
  .posts main #post-pages-menu #post-pages-list > li > button.stroke {
    border-top: 0;
  }
}
@media (max-width: 766px) and (orientation: portrait) {
  .posts main #post-pages-menu #post-pages-list > li > button[aria-expanded=true] {
    border-bottom: 0;
  }
}
@media (min-width: 767px) {
  .posts main #post-pages-menu #post-pages-list > li > button[aria-expanded=true] {
    border-right: 0;
  }
}
.posts main #post-pages-menu #post-pages-list .correct-margin {
  margin-bottom: -6px;
}
.posts main #post-pages-menu #post-pages-list button, .posts main #post-pages-menu #post-pages-list a {
  color: #C300C3;
  background-color: #F5F5F5;
  padding: 5px;
  text-decoration: none;
  height: 100%;
  font-size: 1.25rem;
}
@media (min-width: 600px) and (min-height: 600px) {
  .posts main #post-pages-menu #post-pages-list button, .posts main #post-pages-menu #post-pages-list a {
    font-size: 1rem;
  }
}
.posts main #post-pages-menu #post-pages-list button:hover, .posts main #post-pages-menu #post-pages-list button:active, .posts main #post-pages-menu #post-pages-list button:focus, .posts main #post-pages-menu #post-pages-list button[aria-expanded=true], .posts main #post-pages-menu #post-pages-list a:hover, .posts main #post-pages-menu #post-pages-list a:active, .posts main #post-pages-menu #post-pages-list a:focus, .posts main #post-pages-menu #post-pages-list a[aria-expanded=true] {
  color: #F5F5F5 !important;
  background-color: #C300C3;
}
.posts main #post-pages-menu .articles {
  border: 3px solid #C300C3;
  max-width: calc(100% - 150px);
}
@media (max-width: 766px) and (orientation: portrait) {
  .posts main #post-pages-menu .articles {
    width: 100%;
    max-width: none;
  }
}
.posts main #post-pages-menu .articles > a, .posts main #post-pages-menu .articles li:not(:last-of-type) a {
  border-bottom: 3px solid #C300C3;
}
.posts main #post-pages-menu .articles a {
  display: block;
}
.posts main #post-pages-menu .articles > a {
  text-transform: uppercase;
}
.posts main #list {
  padding: 25px 1rem 0 1rem;
  height: auto;
}
@media (min-width: 767px) and (min-height: 767px) {
  .posts main #list {
    padding: 50px 50px 0 50px;
  }
  .posts main #list.extra-padding {
    padding: 50px 50px 100px 50px;
  }
}
.posts main #list h2 {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.3;
  display: inline-block;
  width: 100%;
}
.posts main #list h2 .bullet {
  position: relative;
  font-family: "DejaVu Serif";
  bottom: 3px;
  font-size: 0.9rem;
  margin-right: 10px;
}
.posts main #list #post-head h2.individual {
  padding-right: 3rem;
}
.posts main #list #post-head #cross {
  position: fixed;
  top: 168px;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.25rem;
  width: 2.5rem;
  font-size: 1.75rem;
  font-family: "Liberation Sans";
  font-weight: bold;
  color: black;
  background-color: #F5F5F5;
  text-decoration: none;
  z-index: 999;
  border-radius: 50%;
  padding: 5px;
}
@media (min-width: 331px) {
  .posts main #list #post-head #cross {
    top: 131px;
  }
}
@media (min-width: 600px) and (min-height: 600px) {
  .posts main #list #post-head #cross {
    top: 135px;
  }
}
@media (min-width: 767px) and (min-height: 767px) {
  .posts main #list #post-head #cross {
    top: 140px;
    right: 75px;
  }
}
@media (min-width: 767px) and (max-width: 794px) and (min-height: 767px), (min-width: 850px) and (max-width: 946px) and (min-height: 767px) {
  .posts main #list #post-head #cross {
    top: 184px;
  }
}
.posts main #list #post-head #cross.scrolled {
  top: 25px;
}
@media (min-width: 314px) {
  .posts main #list #post-head #cross.scrolled {
    top: 75px;
  }
}
.posts main #list #post-head #cross:hover, .posts main #list #post-head #cross:active, .posts main #list #post-head #cross:focus {
  text-decoration: underline;
  background-color: transparent;
}
.posts main #list #post-head #cross span {
  pointer-events: none;
}
.posts main #list time {
  font-size: 0.9rem;
}
.posts main #list h3, .posts main #list h4, .posts main #list h5, .posts main #list h6 {
  margin-top: 2rem;
}
.posts main #list h3, .posts main #list h4, .posts main #list h6 {
  font-weight: bold;
}
.posts main #list h3 {
  font-size: 1.25rem;
}
.posts main #list h4 {
  font-size: 1rem;
}
.posts main #list h5 {
  border: 1px solid black;
  padding: 2px 5px;
  width: fit-content;
}
.posts main #list button {
  text-align: left;
}
.posts main #list > ul > li {
  width: 100%;
  padding-bottom: 50px;
}
.posts main #list.match h2 button:hover .inner-btn, .posts main #list.match h2 button:active .inner-btn, .posts main #list.match h2 button:focus .inner-btn, .posts main #list h2 button:hover .inner-btn, .posts main #list h2 button:active .inner-btn, .posts main #list h2 button:focus .inner-btn {
  color: #F5F5F5 !important;
  background-color: #C300C3;
}
.posts main #list .project-type {
  padding-top: 10px;
  display: inline-block;
}
@media (min-width: 767px) and (min-height: 767px) {
  .posts main #list .project-type {
    padding-top: 15px;
  }
}
.posts main #list .project-type ul {
  display: inline-block;
}
.posts main #list .project-type .tag {
  font-size: 0.6rem;
  text-transform: uppercase;
  color: black;
  background-color: #E0E0E0;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  margin: 0 10px 10px 0;
}
@media (min-width: 600px) and (min-height: 600px) {
  .posts main #list .project-type .tag {
    font-size: 0.5rem;
  }
}
@media (min-width: 767px) {
  .posts main #list .project-type .tag {
    font-size: 0.75rem;
  }
}
.posts main #list .details {
  display: block;
  padding-top: 10px;
}
@media (min-width: 600px) and (min-height: 600px) {
  .posts main #list .details {
    padding-top: 5px;
  }
}
@media (min-width: 767px) and (min-height: 767px) {
  .posts main #list .details {
    padding-top: 15px;
  }
}
.posts main #list .details .post-link {
  display: inline-block;
  font-size: 1.25rem;
  margin-left: 10px;
  text-decoration: none;
  color: black;
  vertical-align: middle;
}
@media (min-width: 600px) and (min-width: 600px) {
  .posts main #list .details .post-link {
    font-size: 1rem;
  }
}
.posts main #list .details .post-link:hover, .posts main #list .details .post-link:active, .posts main #list .details .post-link:focus {
  text-decoration: underline;
}
.posts main #list .details .post-link span:first-of-type {
  filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
}
.posts main #list .content {
  margin: 1rem 15vw 0 15vw;
  align-items: unset;
}
.posts main #list .content img, .posts main #list .content video, .posts main #list .content audio {
  width: 100%;
}
.posts main #list .content img {
  padding: 1rem 0;
}
.posts main #list .content figure, .posts main #list .content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.posts main #list .content figcaption {
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.3;
  margin: 0;
  padding: 0 0 1rem 0;
}
.posts main #list .content figcaption blockquote {
  margin: 1rem 0 0 0;
}
.posts main #list .content .media-container {
  text-align: center;
}
.posts main #list .content .media-container h3 {
  font-size: 1rem;
  margin: 1rem 0;
}
.posts main #list .content .media-button {
  background-color: #e0e0e0;
  border: 1px solid #3A3B3C;
  border-radius: 4px;
  margin-top: 1rem;
  padding: 5px 10px;
  font-size: 1rem;
}
.posts main #list .content .media-button:hover, .posts main #list .content .media-button:active, .posts main #list .content .media-button:focus {
  background-color: white;
}
.posts main #list .content .mediaDesc {
  font-size: 0.9rem;
  margin-bottom: 0;
  line-height: 1.3;
}
.posts main #list .content figcaption.extra-top-margin {
  margin-top: 1rem;
}
.posts main #list .content p:not(.mediaDesc) {
  margin: 0;
  padding: 1rem 0 0 0;
  line-height: 1.3;
  width: 100%;
}
.posts main #list .content .content-link {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  color: #C300C3;
  pointer-events: auto;
  word-wrap: break-word;
  display: inline;
}
.posts main #list .content .content-link:hover, .posts main #list .content .content-link:active, .posts main #list .content .content-link:focus {
  color: #F5F5F5;
  background-color: #C300C3;
  text-decoration: none;
}
.posts main #list .content figcaption .content-link {
  font-size: 0.9rem;
}
.posts main #list .content :last-child > figcaption {
  padding-bottom: unset;
}
.posts main #list .match button {
  color: #C300C3;
}
.posts main #list blockquote {
  margin: -1rem 0 0 3rem;
}
.posts main #list + nav {
  margin: 0 1rem 25px 1rem;
}
@media (min-width: 767px) and (min-height: 767px) {
  .posts main #list + nav {
    margin: 0 50px 100px 50px;
  }
}
.posts main #list + nav #pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.posts main #list + nav #pagination.last-page {
  justify-content: flex-end;
}
.posts main #list + nav #pagination a {
  color: black;
  text-decoration: none;
}
.posts main #list + nav #pagination a[rel=prev] span:first-of-type {
  padding-right: 5px;
}
.posts main #list + nav #pagination a[rel=prev] span:last-of-type {
  text-decoration: underline;
}
.posts main #list + nav #pagination a[rel=next] span:first-of-type {
  text-decoration: underline;
}
.posts main #list + nav #pagination a[rel=next] span:last-of-type {
  padding-left: 5px;
}
.posts main #list + nav #pagination a:hover, .posts main #list + nav #pagination a:active, .posts main #list + nav #pagination a:focus {
  font-weight: bold;
}
.posts main #list + nav #pagination a:hover span:first-of-type, .posts main #list + nav #pagination a:hover span:last-of-type, .posts main #list + nav #pagination a:active span:first-of-type, .posts main #list + nav #pagination a:active span:last-of-type, .posts main #list + nav #pagination a:focus span:first-of-type, .posts main #list + nav #pagination a:focus span:last-of-type {
  text-decoration: none;
}
@media (max-width: 766px) {
  .posts main #list p:not(.mediaDesc) {
    padding-bottom: 0.5rem !important;
  }
  .posts main #list p:not(.mediaDesc).text-space {
    padding-bottom: 2rem !important;
  }
}
@media (orientation: portrait) {
  .posts main .content {
    margin: 1rem 0 0 0 !important;
  }
}
@media (min-width: 600px) and (min-height: 600px) {
  .posts main #list h2 .bullet, .posts main #list time {
    font-size: 0.75rem;
  }
}
@media (min-width: 767px) {
  .posts main #list h2 .bullet, .posts main #list time {
    font-size: 0.9rem;
  }
  .posts main #list time {
    font-size: 1rem;
  }
  .posts main #list h2 .bullet {
    margin-right: 20px;
  }
  .posts main #list h2 {
    font-size: 1.75rem;
  }
}
@media (min-width: 1200px) {
  .posts main #list {
    width: 100%;
  }
  .posts main #list h2 {
    font-size: 2rem;
  }
  .posts main #list h2 button .bullet {
    bottom: 5px;
  }
}
.posts footer .title {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  line-height: 25px;
  pointer-events: none;
}
@media (min-width: 767px) {
  .posts footer .title {
    line-height: 50px;
  }
}
.posts.accessible-mode #main-container {
  margin-top: 2rem;
}
html[lang=fr] .posts.accessible-mode main #page-title {
  margin-top: unset;
}
.posts.accessible-mode main #post-pages-menu {
  margin: 3rem 1rem 50px 1rem;
}
@media (min-width: 314px) {
  .posts.accessible-mode main #post-pages-menu {
    margin-top: 3rem;
  }
}
.posts.accessible-mode main #post-pages-menu .articles {
  max-width: 100%;
}
.posts.accessible-mode main #post-pages-menu input, .posts.accessible-mode main #post-pages-menu #post-pages-list button, .posts.accessible-mode main #post-pages-menu #post-pages-list a {
  padding: 1rem;
  font-size: 1.25rem;
  color: #F5F5F5;
  background-color: #3A3B3C;
}
.posts.accessible-mode main #post-pages-menu input:hover, .posts.accessible-mode main #post-pages-menu input:active, .posts.accessible-mode main #post-pages-menu input:focus, .posts.accessible-mode main #post-pages-menu input[aria-expanded=true], .posts.accessible-mode main #post-pages-menu #post-pages-list button:hover, .posts.accessible-mode main #post-pages-menu #post-pages-list button:active, .posts.accessible-mode main #post-pages-menu #post-pages-list button:focus, .posts.accessible-mode main #post-pages-menu #post-pages-list button[aria-expanded=true], .posts.accessible-mode main #post-pages-menu #post-pages-list a:hover, .posts.accessible-mode main #post-pages-menu #post-pages-list a:active, .posts.accessible-mode main #post-pages-menu #post-pages-list a:focus, .posts.accessible-mode main #post-pages-menu #post-pages-list a[aria-expanded=true] {
  color: #3A3B3C !important;
  background-color: #F5F5F5;
}
.posts.accessible-mode main #post-pages-menu #post-pages-list button:hover, .posts.accessible-mode main #post-pages-menu #post-pages-list button:active, .posts.accessible-mode main #post-pages-menu #post-pages-list button:focus, .posts.accessible-mode main #post-pages-menu #post-pages-list button[aria-expanded=true] {
  color: #3A3B3C !important;
  background-color: #F5F5F5;
}
.posts.accessible-mode main #post-pages-menu #post-pages-list li:first-of-type button:hover, .posts.accessible-mode main #post-pages-menu #post-pages-list li:first-of-type button:active, .posts.accessible-mode main #post-pages-menu #post-pages-list li:first-of-type button:focus, .posts.accessible-mode main #post-pages-menu #post-pages-list li:first-of-type button[aria-expanded=true] {
  margin-top: 3px;
}
.posts.accessible-mode main #post-pages-menu input, .posts.accessible-mode main #post-pages-menu #post-pages-list button {
  font-weight: bold;
  line-height: 1rem;
}
.posts.accessible-mode main #post-pages-menu #post-pages-list a {
  line-height: 1.25;
}
.posts.accessible-mode main #post-pages-menu input, .posts.accessible-mode main #post-pages-menu #post-pages-list > li:not(.hidden) > button, .posts.accessible-mode main #post-pages-menu .articles {
  border: 3px solid #F5F5F5;
}
.posts.accessible-mode main #post-pages-menu input[aria-expanded=true] {
  border-bottom: 0;
}
.posts.accessible-mode main #post-pages-menu #post-pages-list > li:not(.hidden) {
  display: block;
}
.posts.accessible-mode main #post-pages-menu #post-pages-list > li:not(.hidden) > button {
  border: 3px solid #F5F5F5;
}
.posts.accessible-mode main #post-pages-menu #post-pages-list > li:not(:first-of-type) > button, .posts.accessible-mode main #post-pages-menu #post-pages-list > li > button.stroke {
  border-top: 0;
}
.posts.accessible-mode main #post-pages-menu #post-pages-list > li > button[aria-expanded=true] {
  border-bottom: 0;
}
.posts.accessible-mode main #post-pages-menu #post-pages-list .articles {
  border: 3px solid #F5F5F5;
}
.posts.accessible-mode main #post-pages-menu #post-pages-list .articles > a, .posts.accessible-mode main #post-pages-menu #post-pages-list .articles li:not(:last-of-type) a {
  border-bottom: 3px solid #F5F5F5;
}
.posts.accessible-mode main #post-pages-menu input, .posts.accessible-mode main #post-pages-menu #post-pages-list button {
  width: 146px;
}
@media (min-width: 600px) and (min-height: 600px) {
  .posts.accessible-mode main #post-pages-menu input, .posts.accessible-mode main #post-pages-menu #post-pages-list button {
    width: 160px;
  }
}
.posts.accessible-mode main #post-pages-menu input {
  border-radius: 8px;
}
.posts.accessible-mode main #post-pages-menu input[aria-expanded=true] {
  border-radius: 8px 8px 0 0;
}
.posts.accessible-mode main #post-pages-menu .post-page:first-of-type > button[aria-expanded=true], .posts.accessible-mode main #post-pages-menu .post-page:not(:first-of-type):not(:last-of-type) > button[aria-expanded=true], .posts.accessible-mode main #post-pages-menu .post-page:last-of-type > button[aria-expanded=true], .posts.accessible-mode main #post-pages-menu .post-page:not(:last-of-type) > button.stroke {
  border-radius: 0;
}
.posts.accessible-mode main #post-pages-menu .post-page li:first-of-type a {
  border-radius: 0 4px 0 0;
}
.posts.accessible-mode main #post-pages-menu .post-page li:last-of-type a {
  border-radius: 0 0 4px 0;
}
.posts.accessible-mode main #post-pages-menu .post-page:last-of-type li:last-of-type a {
  border-radius: 0 0 4px 4px;
}
.posts.accessible-mode main #post-pages-menu .articles {
  border-radius: 0 8px 8px 0;
}
.posts.accessible-mode main #post-pages-menu .post-page:last-of-type > button {
  border-radius: 0 0 8px 8px;
}
.posts.accessible-mode main #post-pages-menu .post-page:last-of-type > button[aria-expanded=true] {
  border-radius: 0;
}
.posts.accessible-mode main #post-pages-menu .post-page:last-of-type .articles {
  border-radius: 0 8px 8px 8px;
}
.posts.accessible-mode main #list {
  padding: 0 1rem 0 1rem;
}
.posts.accessible-mode main #list:not(.posts-padding) {
  padding-bottom: 1rem;
}
@media (min-width: 600px) and (min-height: 600px) {
  .posts.accessible-mode main #list:not(.posts-padding) {
    padding-bottom: 2rem;
  }
}
.posts.accessible-mode main #list h2, .posts.accessible-mode main #list h2 button .inner-btn, .posts.accessible-mode main #list time, .posts.accessible-mode main #list .details .post-link {
  color: #F5F5F5;
}
.posts.accessible-mode main #list h2 button:hover .inner-btn, .posts.accessible-mode main #list h2 button:active .inner-btn, .posts.accessible-mode main #list h2 button:focus .inner-btn {
  color: #3A3B3C !important;
  background-color: #F5F5F5;
}
.posts.accessible-mode main #list #post-head {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 259px) {
  .posts.accessible-mode main #list #post-head {
    flex-wrap: wrap;
  }
}
.posts.accessible-mode main #list #post-head h2.individual {
  margin-top: 2rem;
}
.posts.accessible-mode main #list #post-head #cross {
  position: relative;
  top: 2rem;
  right: 1rem;
  text-decoration: none;
  color: #3A3B3C;
  order: 2;
  margin: 0 0 3rem 1rem;
}
.posts.accessible-mode main #list #post-head #cross:hover, .posts.accessible-mode main #list #post-head #cross:active, .posts.accessible-mode main #list #post-head #cross:focus {
  text-decoration: none;
  color: #F5F5F5;
  background-color: #C300C3;
}
@media (min-width: 260px) {
  .posts.accessible-mode main #list #post-head #cross {
    top: 32px;
    right: 0;
    margin: 0 0 0 3rem;
  }
}
@media (min-width: 600px) and (min-height: 600px) {
  .posts.accessible-mode main #list #post-head #cross {
    top: 52px;
    right: 1rem;
    margin: -1rem -1rem -1rem 3rem;
  }
}
@media (min-width: 767px) and (min-height: 767px) {
  .posts.accessible-mode main #list #post-head #cross {
    top: 53px;
  }
}
.posts.accessible-mode main #list h3 {
  font-size: 1.5rem;
}
.posts.accessible-mode main #list h4, .posts.accessible-mode main #list h5, .posts.accessible-mode main #list h6 {
  font-size: 1.25rem;
}
.posts.accessible-mode main #list h5 {
  border: 2px solid #F5F5F5;
}
.posts.accessible-mode main #list time {
  font-size: 1rem;
  display: block;
  margin-bottom: 20px;
}
.posts.accessible-mode main #list .project-type {
  padding-top: 15px;
}
.posts.accessible-mode main #list .project-type {
  display: inline-block;
}
.posts.accessible-mode main #list .details {
  padding-top: 15px;
}
.posts.accessible-mode main #list .content p, .posts.accessible-mode main #list .content .content-link, .posts.accessible-mode main #list .details .post-link, .posts.accessible-mode blockquote {
  font-size: 1.25rem;
}
.posts.accessible-mode main #list .content figcaption, .posts.accessible-mode main #list .content figcaption .content-link, .posts.accessible-mode main #list .content .mediaDesc {
  font-size: 1rem;
}
.posts.accessible-mode main #list .project-type .tag {
  font-size: 0.9rem;
  color: #3A3B3C;
}
.posts.accessible-mode main #list .content p, .posts.accessible-mode main #list .content figcaption {
  color: #F5F5F5;
}
.posts.accessible-mode main #list .content .content-link {
  color: #F5F5F5;
  font-weight: normal;
}
.posts.accessible-mode main #list .content .content-link:hover, .posts.accessible-mode main #list .content .content-link:active, .posts.accessible-mode main #list .content .content-link:focus {
  color: #F5F5F5;
  background-color: #C300C3;
  border-color: #C300C3;
  font-weight: normal;
}
.posts.accessible-mode main #list + nav {
  margin: 0 1rem calc(50px - 1rem) 1rem;
}
.posts.accessible-mode main #list + nav #pagination a {
  color: #F5F5F5;
  font-weight: bold;
  font-size: 1.25rem;
}
.posts.accessible-mode main #list + nav #pagination a:hover, .posts.accessible-mode main #list + nav #pagination a:active, .posts.accessible-mode main #list + nav #pagination a:focus {
  color: #F5F5F5;
  background-color: #C300C3;
}
.posts.accessible-mode main #list + nav #pagination a[rel=prev]:hover span:first-of-type, .posts.accessible-mode main #list + nav #pagination a[rel=prev]:hover span:last-of-type, .posts.accessible-mode main #list + nav #pagination a[rel=prev]:focus span:first-of-type, .posts.accessible-mode main #list + nav #pagination a[rel=prev]:focus span:last-of-type, .posts.accessible-mode main #list + nav #pagination a[rel=prev]:active span:first-of-type, .posts.accessible-mode main #list + nav #pagination a[rel=prev]:active span:last-of-type, .posts.accessible-mode main #list + nav #pagination a[rel=next]:hover span:first-of-type, .posts.accessible-mode main #list + nav #pagination a[rel=next]:hover span:last-of-type, .posts.accessible-mode main #list + nav #pagination a[rel=next]:focus span:first-of-type, .posts.accessible-mode main #list + nav #pagination a[rel=next]:focus span:last-of-type, .posts.accessible-mode main #list + nav #pagination a[rel=next]:active span:first-of-type, .posts.accessible-mode main #list + nav #pagination a[rel=next]:active span:last-of-type {
  text-decoration: none;
}
.posts.accessible-mode main #list .content p {
  width: 100%;
}
.posts.accessible-mode main #list .content .media-container h3 {
  font-size: 1.25rem;
}
.posts.accessible-mode main #list .content .media-button {
  color: #F5F5F5;
  background-color: unset;
  border: 3px solid #F5F5F5;
  border-radius: 0;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 5px 10px;
}
.posts.accessible-mode main #list .content .media-button:hover, .posts.accessible-mode main #list .content .media-button:focus, .posts.accessible-mode main #list .content .media-button:active {
  color: #3A3B3C;
  background-color: #F5F5F5;
}
.posts.accessible-mode main #list .details .post-link span:first-of-type {
  filter: grayscale(100%) brightness(150%);
}

@media (min-width: 1280px) and (min-height: 900px) {
  .resources #dancing-banana {
    bottom: 111px !important;
  }
}
.resources footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
@media (max-width: 766px), (max-height: 766px) {
  .resources footer.scrolled {
    height: 104px;
    bottom: 0;
  }
}
@media (max-width: 766px) and (max-width: 766px), (max-width: 766px) and (max-height: 766px), (max-height: 766px) and (max-width: 766px), (max-height: 766px) and (max-height: 766px) {
  .resources footer #footer-nav {
    bottom: -104px;
  }
}
@media (max-width: 766px) and (max-width: 350px), (max-height: 766px) and (max-width: 350px) {
  .resources footer #footer-nav {
    bottom: -136px;
  }
}
@media (max-width: 766px) and (max-width: 246px), (max-height: 766px) and (max-width: 246px) {
  .resources footer #footer-nav {
    bottom: -288px;
  }
}
@media (max-width: 766px), (max-height: 766px) {
  .resources footer #footer-nav.scrolled {
    bottom: 0;
  }
  .resources footer #bottom-accessible-banner li:last-of-type a {
    margin-right: 1rem;
  }
}
.resources main {
  width: 100%;
  height: calc(100vh - 100px);
  padding: 0 0 0 50px;
}
@media (min-width: 1280px) and (min-height: 900px) {
  .resources main {
    height: calc(100vh - 220px) !important;
  }
}
.resources main > div {
  display: flex !important;
  height: 100%;
}
.resources main > div > div:last-of-type {
  display: flex;
}
@media (max-width: 313px) {
  .resources main > div {
    flex-direction: column;
  }
}
.resources main section {
  width: 50%;
  overflow-y: scroll;
}
.resources main section > div {
  display: flex;
  width: 100%;
  justify-content: center;
}
.resources main section h2, .resources main section h3, .resources main section p, .resources main section a {
  line-height: 1.3;
  margin: 0;
  padding: 0;
}
.resources main section h2 {
  color: #C300C3;
  top: 0;
  left: 0;
  padding: 10px;
  border: 3px solid #C300C3;
  border-radius: 50%;
  font-weight: bold;
  display: inline;
}
.resources main section h3 {
  font-weight: bold;
  margin-top: 25px;
}
@media (min-width: 767px) and (min-height: 767px) {
  .resources main section h3 {
    margin-top: 2rem;
  }
}
.resources main section ul {
  margin-top: 1rem;
}
.resources main section ul li {
  margin-left: 3vw;
}
.resources main section.reads {
  padding: 50px 100px 50px 0;
}
@media (min-width: 1280px) and (min-height: 900px) {
  .resources main section.reads {
    border-right: 3px solid #C300C3;
    padding-right: 50px;
  }
}
.resources main section.reads p {
  padding-bottom: 0;
}
.resources main section.reads div:not(:first-of-type) {
  margin-top: 25px;
}
@media (min-width: 767px) and (min-height: 767px) {
  .resources main section.reads div:not(:first-of-type) {
    margin-top: 50px;
  }
}
@media (min-width: 767px) and (min-height: 767px) {
  .resources main section.web {
    padding: 0 100px 100px 0;
  }
}
@media (max-width: 1279px), (max-height: 899px) {
  .resources main section.web {
    padding-top: 0;
    padding-bottom: 100px;
  }
}
@media (min-width: 1280px) and (min-height: 900px) {
  .resources main section.web {
    padding: 50px 150px 50px 50px;
  }
}
.resources main section.web a {
  color: #C300C3;
}
.resources main section.web a:hover, .resources main section.web a:active, .resources main section.web a:focus {
  color: #F5F5F5;
  background-color: #C300C3;
  text-decoration: none;
}
@media (min-width: 767px) and (min-height: 767px) and (max-width: 1279px), (min-width: 767px) and (min-height: 767px) and (max-height: 900px) {
  .resources main {
    width: calc(100% - 50px);
  }
}
@media (max-width: 766px), (max-height: 766px) {
  .resources main {
    padding: 0;
  }
  .resources main section ul:last-child li:last-child {
    padding-bottom: 0;
  }
  .resources main section.reads {
    padding: 25px 1rem;
  }
  .resources main section.web {
    padding: 0 1rem 25px 1rem;
  }
}
@media (max-width: 1279px), (max-height: 899px) {
  .resources main {
    overflow-y: auto;
  }
  .resources main > div > div:last-of-type {
    display: block !important;
  }
  .resources section {
    width: 100% !important;
    overflow-y: hidden !important;
  }
  .resources section.reads ul:last-child li p {
    padding-bottom: 0 !important;
  }
}
@media (min-width: 314px) {
  .resources:not(.accessible-mode) header.banner div.scrolled {
    position: fixed;
    z-index: 1000;
  }
}
@media (min-width: 600px) and (max-width: 766px), (min-width: 600px) and (max-height: 766px) {
  .resources:not(.accessible-mode) #main-container.scrolled {
    top: 53px;
  }
}
@media (min-width: 850px) and (max-height: 599px) {
  .resources:not(.accessible-mode) #main-container.scrolled {
    top: 49px;
  }
}
@media (min-width: 1280px) and (min-height: 900px) {
  .resources:not(.accessible-mode) footer {
    bottom: 61px !important;
  }
  .resources:not(.accessible-mode) #bottom-accessible-banner li:first-of-type {
    display: none;
  }
}
@media (min-width: 314px) and (max-width: 766px), (min-width: 314px) and (max-height: 600px) {
  .resources:not(.accessible-mode) main section.web {
    margin-bottom: 35px;
    padding-bottom: 90px;
  }
}
@media (min-width: 314px) and (max-width: 350px) {
  .resources:not(.accessible-mode) main section.web {
    padding-bottom: 170px;
  }
}
@media (min-width: 351px) and (max-width: 676px) {
  .resources:not(.accessible-mode) main section.web {
    padding-bottom: 135px;
  }
}
@media (min-width: 767px) and (min-height: 600px) and (max-height: 767px) {
  .resources:not(.accessible-mode) main section.web {
    margin-bottom: 115px;
  }
}
@media (max-width: 313px) {
  .resources:not(.accessible-mode) {
    overflow-y: auto !important;
  }
  .resources:not(.accessible-mode) #main-container {
    height: unset !important;
    overflow: unset !important;
  }
  .resources:not(.accessible-mode) footer {
    position: unset;
  }
  .resources:not(.accessible-mode) footer #footer-nav {
    bottom: unset;
  }
}
.resources.accessible-mode main {
  display: block !important;
  height: unset !important;
}
.resources.accessible-mode main #page-title h1, .resources.accessible-mode main #page-title h1.sr-only {
  margin-bottom: 0 !important;
}
.resources.accessible-mode main > div, .resources.accessible-mode main > div > div:last-of-type {
  display: block !important;
}
.resources.accessible-mode main section {
  width: 100% !important;
  overflow-y: hidden !important;
}
.resources.accessible-mode main section > div {
  justify-content: flex-start;
}
.resources.accessible-mode main section.reads {
  padding: 50px 1rem 25px 1rem;
  border-right: none;
}
@media (min-width: 767px) and (min-height: 767px) {
  .resources.accessible-mode main section.reads {
    padding-bottom: 50px;
  }
}
.resources.accessible-mode main section.web {
  padding: 0 1rem calc(50px - 1rem) 1rem;
}
.resources.accessible-mode main section ul:last-child li:last-child {
  padding-bottom: 0;
}
.resources.accessible-mode main section p, .resources.accessible-mode main section h2, .resources.accessible-mode main section h3, .resources.accessible-mode main section.web a {
  font-size: 1.25rem;
}
.resources.accessible-mode main section p, .resources.accessible-mode main section h2, .resources.accessible-mode main section h3 {
  color: #F5F5F5;
}
.resources.accessible-mode main section h2 {
  border-color: #F5F5F5;
  padding: 15px;
}
.resources.accessible-mode main section.web a {
  color: #F5F5F5;
  line-height: 1.75rem;
}
.resources.accessible-mode main section.web a:hover, .resources.accessible-mode main section.web a:active, .resources.accessible-mode main section.web a:focus {
  background-color: #C300C3;
}

.texts:not(.accessible-mode) {
  width: unset;
  height: unset;
  overflow: unset;
}
@media (min-width: 767px) and (min-height: 767px) {
  .texts:not(.accessible-mode) {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .texts:not(.accessible-mode) header.banner #pages #blog-pages-list-container ul#blog-select-page li:first-of-type {
    border-bottom: 3px solid #C300C3;
  }
  .texts:not(.accessible-mode) header.banner #pages #blog-pages-list-container ul#blog-select-page li:first-of-type a:not(:hover), .texts:not(.accessible-mode) header.banner #pages #blog-pages-list-container ul#blog-select-page li:first-of-type a:not(:active), .texts:not(.accessible-mode) header.banner #pages #blog-pages-list-container ul#blog-select-page li:first-of-type a:not(:focus) {
    border-bottom: none;
  }
}
.texts:not(.accessible-mode):not(.home):not(.cv) #dancing-banana.no-scroll {
  bottom: 111px;
}
.texts header, .texts footer {
  width: 100%;
}
.texts footer.flex-line {
  justify-content: center;
}
.texts footer.flex-line.no-scroll {
  position: absolute !important;
  bottom: 61px !important;
}
.texts:not(.accessible-mode) header {
  z-index: 1000;
}
@media (min-width: 1000px) and (min-height: 767px) {
  .texts:not(.accessible-mode) header {
    position: unset;
    top: unset;
    z-index: unset;
  }
}
.texts main #page-title {
  z-index: 1000;
}
@media (min-width: 314px) and (max-width: 522px) {
  html[lang=fr] .texts main #page-title {
    margin-top: -133px;
  }
}
@media (min-width: 523px) and (max-width: 541px) {
  html[lang=fr] .texts main #page-title {
    margin-top: -109px;
  }
}
@media (min-width: 542px) and (max-width: 599px) {
  html[lang=fr] .texts main #page-title {
    margin-top: -103px;
  }
}
@media (min-width: 600px) and (max-width: 766px), (min-width: 600px) and (max-height: 766px) {
  html[lang=fr] .texts main #page-title {
    margin-top: -106px;
  }
}
.texts main #list {
  padding: 25px 1rem 0 1rem;
  height: auto;
}
@media (min-width: 767px) and (min-height: 767px) {
  .texts main #list {
    padding: 50px;
  }
}
.texts main #list > ul > li {
  width: 100%;
  padding: 0;
  padding-bottom: 50px;
}
.texts main #list > ul > li a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.3;
}
.texts main #list > ul > li a .bullet {
  font-family: "DejaVu Serif";
  margin-right: 10px;
  bottom: 1px;
  font-size: 0.9rem;
  position: relative;
}
.texts main #list > ul > li.match a:hover, .texts main #list > ul > li.match a:active, .texts main #list > ul > li.match a:focus, .texts main #list > ul > li a:hover, .texts main #list > ul > li a:active, .texts main #list > ul > li a:focus {
  color: #F5F5F5 !important;
  background-color: #C300C3 !important;
}
.texts main #list > ul > li .match a {
  color: #C300C3;
}
.texts main #list > ul > li .project-type {
  padding-top: 10px;
  display: inline-block;
}
@media (min-width: 767px) and (min-height: 767px) {
  .texts main #list > ul > li .project-type {
    padding-top: 15px;
  }
}
.texts main #list > ul > li .project-type ul {
  display: inline-block;
}
.texts main #list > ul > li .project-type .tag {
  font-size: 0.6rem;
  text-transform: uppercase;
  color: black;
  background-color: #E0E0E0;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  margin: 0 10px 10px 0;
}
@media (min-width: 600px) and (min-height: 600px) {
  .texts main #list > ul > li .project-type .tag {
    font-size: 0.5rem;
  }
}
@media (min-width: 767px) {
  .texts main #list > ul > li .project-type .tag {
    font-size: 0.75rem;
  }
}
.texts main #list > ul > li .details {
  padding-top: 10px;
}
@media (min-width: 600px) and (min-height: 600px) {
  .texts main #list > ul > li .details {
    padding-top: 5px;
  }
}
.texts main #list > ul > li p {
  font-size: 0.9rem;
  margin: 0;
  line-height: 1.3;
}
@media (min-width: 600px) and (min-height: 600px) {
  .texts main #list > ul > li a .bullet, .texts main #list > ul > li .details p {
    font-size: 0.75rem;
  }
}
@media (min-width: 768px) {
  .texts main #list > ul > li a .bullet {
    bottom: 2px;
    margin-right: 20px;
    font-size: 0.9rem;
  }
  .texts main #list > ul > li .details p {
    font-size: 1rem;
  }
}
@media (min-width: 767px) {
  .texts main #list > ul > li a {
    font-size: 1.75rem;
  }
}
@media (min-width: 1200px) {
  .texts main #list {
    width: 100%;
  }
  .texts main #list > ul > li a {
    font-size: 2rem;
  }
  .texts main #list > ul > li a .bullet {
    bottom: 5px;
  }
}
.texts #main-container > aside.left input[disabled=""] {
  cursor: not-allowed;
}
.texts #main-container > aside.left input[disabled=""] + label, .texts #main-container > aside.left input[disabled=""] + label abbr {
  cursor: not-allowed;
}
@media (max-width: 766px), (max-height: 766px) {
  .texts #main-container > aside.left input[disabled=""] + label, .texts #main-container > aside.left input[disabled=""] + label abbr {
    color: #696969;
  }
}
@media (min-width: 767px) and (min-height: 767px) {
  .texts #main-container > aside.left input[disabled=""] + label, .texts #main-container > aside.left input[disabled=""] + label abbr {
    opacity: 0.85;
  }
}
.texts #main-container > aside.left input[disabled=""]:hover + label, .texts #main-container > aside.left input[disabled=""]:hover + label abbr, .texts #main-container > aside.left input[disabled=""]:active + label, .texts #main-container > aside.left input[disabled=""]:active + label abbr, .texts #main-container > aside.left input[disabled=""]:focus + label, .texts #main-container > aside.left input[disabled=""]:focus + label abbr {
  font-weight: normal;
}
@media (max-width: 766px), (max-height: 766px) {
  .texts:not(.accessible-mode).no-scroll footer {
    position: absolute !important;
    bottom: 54px !important;
  }
}
@media (min-width: 767px) and (min-height: 767px) {
  .texts:not(.accessible-mode).no-scroll main, .texts:not(.accessible-mode).no-scroll main:not(.scrolled) {
    height: calc(100vh - 221px);
  }
  .texts:not(.accessible-mode).no-scroll #main-container > aside {
    width: calc(100vh - 207px);
    bottom: 50px;
  }
  .texts:not(.accessible-mode).no-scroll #main-container > aside.scrolled {
    width: calc(100vh - 161px) !important;
    bottom: 61px;
  }
  .texts:not(.accessible-mode).no-scroll footer {
    position: absolute !important;
    bottom: 61px !important;
  }
}
@media (min-width: 850px) and (min-height: 767px) {
  .texts:not(.accessible-mode).no-scroll #main-container > aside {
    width: calc(100vh - 255px) !important;
  }
}
@media (min-width: 945px) and (min-height: 767px) {
  .texts:not(.accessible-mode).no-scroll #main-container > aside {
    width: calc(100vh - 211px) !important;
  }
}
.texts:not(.accessible-mode) main {
  height: unset;
  overflow-y: unset;
}
@media (min-width: 767px) and (min-height: 767px) {
  .texts:not(.accessible-mode) main {
    overflow-y: auto;
    width: calc(100% - 100px);
    margin: 0 50px;
  }
  .texts:not(.accessible-mode) main:not(.scrolled) {
    height: calc(100vh - 161px);
  }
  .texts:not(.accessible-mode) main.scrolled {
    height: calc(100vh - 100px);
  }
}
@media (min-width: 767px) and (min-height: 767px) and (max-width: 801px), (min-width: 850px) and (min-height: 767px) and (max-width: 946px) {
  html[lang=fr] .texts:not(.accessible-mode) main:not(.scrolled) {
    height: calc(100vh - 155px);
  }
}
.texts.accessible-mode header .mobile > ul {
  border-bottom: none;
}
.texts.accessible-mode #main-container {
  margin-top: 2rem;
}
html[lang=fr] .texts.accessible-mode main #page-title {
  margin-top: unset;
}
.texts.accessible-mode main #page-title h1, .texts.accessible-mode main #page-title h1.sr-only {
  margin-bottom: 0 !important;
}
.texts.accessible-mode main #list {
  padding: 50px 1rem 0 1rem;
}
.texts.accessible-mode main #list > ul > li:last-of-type {
  padding-bottom: calc(50px - 1rem);
}
.texts.accessible-mode main #list > ul > li a, .texts.accessible-mode main #list > ul > li p {
  color: #F5F5F5;
}
.texts.accessible-mode main #list > ul > li a:hover, .texts.accessible-mode main #list > ul > li a:active, .texts.accessible-mode main #list > ul > li a:focus {
  color: #3A3B3C !important;
  background-color: #F5F5F5 !important;
}
.texts.accessible-mode main #list > ul > li p {
  font-size: 1rem;
  display: block;
}
.texts.accessible-mode main #list .project-type {
  padding-top: 15px;
}
.texts.accessible-mode main #list .details {
  padding-top: 10px;
}
.texts.accessible-mode main #list .project-type .tag {
  font-size: 0.9rem;
  color: #3A3B3C;
}

body {
  color: black;
  background-color: #F5F5F5;
}
body.scrolled {
  position: relative;
}

.menu-bar, .menu-bar #pages a, .menu-bar #pages button {
  background-color: #C300C3;
}

.hide {
  display: none;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portrait {
  width: 55% !important;
}

@media (max-width: 766px) and (orientation: portrait) {
  .portrait {
    width: 100% !important;
  }
}
@media (min-width: 767px) and (min-height: 767px) {
  body:not(.accessible-mode) .sr-only {
    width: 1px;
    height: 1px;
    position: absolute;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
  }
}
body:not(.accessible-mode) .sr-only-bis {
  width: 1px;
  height: 1px;
  position: absolute;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

header.banner #top-accessible-banner a:hover, header.banner #top-accessible-banner a:active, header.banner #top-accessible-banner a:focus, header.banner #top-accessible-banner button:hover, header.banner #top-accessible-banner button:active, header.banner #top-accessible-banner button:focus, #bottom-accessible-banner a:hover, #bottom-accessible-banner a:active, #bottom-accessible-banner a:focus, #bottom-accessible-banner button:hover, #bottom-accessible-banner button:active, #bottom-accessible-banner button:focus {
  background-color: #C300C3;
}

header.banner div {
  background-color: #C300C3;
}
header.banner #menu {
  background-color: #C300C3;
}
@media (min-width: 314px) {
  header.banner #menu {
    width: 163px;
  }
}
header.banner #menu:hover, header.banner #menu:active, header.banner #menu:focus, header.banner #menu[aria-expanded=true] {
  color: #C300C3;
  background-color: #F5F5F5;
}
@media (max-width: 313px) {
  header.banner #menu:hover, header.banner #menu:active, header.banner #menu:focus, header.banner #menu[aria-expanded=true] {
    border-bottom-color: #C300C3;
  }
}
header.banner #top-accessible-banner li:last-of-type a {
  text-transform: none;
}
header.banner #pages.select-page {
  color: #F5F5F5;
  background-color: #C300C3;
  border-color: #C300C3;
  border-top-color: #C300C3;
}
@media (min-width: 314px) {
  header.banner #pages.select-page {
    width: 163px;
  }
}
header.banner #pages.select-page li a, header.banner #pages.select-page li button {
  background-color: #C300C3;
}
header.banner #pages.select-page li a.selected, header.banner #pages.select-page li a:hover, header.banner #pages.select-page li a:active, header.banner #pages.select-page li a:focus, header.banner #pages.select-page li button.selected, header.banner #pages.select-page li button:hover, header.banner #pages.select-page li button:active, header.banner #pages.select-page li button:focus {
  color: #C300C3;
}
header.banner #pages.select-page li a.selected, header.banner #pages.select-page li button.selected {
  background-color: #F5F5F5;
}
@media (min-width: 767px) and (min-height: 767px) {
  header.banner #pages > li:first-of-type a {
    width: 147px;
  }
  header.banner #pages > li:nth-of-type(2) button {
    width: 190px;
  }
  header.banner #pages > li:last-of-type a {
    width: 114px;
  }
}
header.banner #pages #blog-pages-list-container {
  flex-direction: column;
  position: relative;
  color: #F5F5F5;
}
@media (min-width: 314px) {
  header.banner #pages #blog-pages-list-container {
    flex-direction: row;
  }
}
@media (min-width: 767px) and (min-height: 767px) {
  header.banner #pages #blog-pages-list-container {
    width: 204px;
  }
}
header.banner #pages #blog-pages-list-container ul {
  position: absolute;
  width: 105px;
  height: auto;
  color: #F5F5F5;
}
@media (min-width: 314px) {
  header.banner #pages #blog-pages-list-container ul {
    width: 115px;
  }
}
header.banner #pages #blog-pages-list-button {
  width: 100%;
  padding: 10px 1rem;
  text-align: left;
}
@media (min-width: 767px) and (min-height: 767px) {
  header.banner #pages #blog-pages-list-button {
    padding: 16px 1rem;
  }
}
header.banner #pages #blog-pages-list-button.selected, header.banner #pages #blog-pages-list-button.focus, header.banner #pages #blog-pages-list-button:hover, header.banner #pages #blog-pages-list-button:active, header.banner #pages #blog-pages-list-button:focus {
  font-weight: bold;
}
header.banner #pages #blog-pages-list-button.focus, header.banner #pages #blog-pages-list-button:hover, header.banner #pages #blog-pages-list-button:active, header.banner #pages #blog-pages-list-button:focus {
  color: #C300C3;
  background-color: #F5F5F5;
}
@media (min-width: 600px) and (min-height: 600px) and (max-width: 766px), (min-width: 600px) and (min-height: 600px) and (max-height: 766px) {
  header.banner #pages #blog-pages-list-button {
    font-size: 1rem;
  }
}
header.banner #pages #blog-pages-list-container ul#blog-select-page {
  position: relative;
  top: unset;
  left: unset;
  width: unset;
  margin-left: 2rem;
  z-index: 1000;
}
@media (min-width: 314px) {
  header.banner #pages #blog-pages-list-container ul#blog-select-page {
    position: absolute;
    top: -3px;
    left: 163px;
    margin-left: 0;
  }
}
@media (min-width: 767px) and (min-height: 767px) {
  header.banner #pages #blog-pages-list-container ul#blog-select-page {
    left: 0;
    top: 49px;
    width: 204px;
  }
}
header.banner #pages #blog-pages-list-container ul#blog-select-page li {
  color: #F5F5F5;
}
@media (min-width: 314px) {
  header.banner #pages #blog-pages-list-container ul#blog-select-page li {
    border: 3px solid #F5F5F5;
  }
}
@media (min-width: 767px) and (min-height: 767px) {
  header.banner #pages #blog-pages-list-container ul#blog-select-page li {
    border: 3px solid #C300C3;
  }
}
header.banner #pages #blog-pages-list-container ul#blog-select-page li:first-of-type {
  border-bottom: none;
}
header.banner #pages #blog-pages-list-container ul#blog-select-page li:first-of-type a:not(:hover), header.banner #pages #blog-pages-list-container ul#blog-select-page li:first-of-type a:not(:active), header.banner #pages #blog-pages-list-container ul#blog-select-page li:first-of-type a:not(:focus) {
  border-bottom: 3px solid #F5F5F5;
}
header.banner #pages #blog-pages-list-container ul#blog-select-page li:last-of-type {
  border-top: none;
}
header.banner #pages #blog-pages-list-container ul#blog-select-page li a {
  font-weight: bold;
  color: #F5F5F5;
  background-color: #C300C3;
}
@media (min-width: 314px) {
  header.banner #pages #blog-pages-list-container ul#blog-select-page li a {
    text-align: center;
  }
}
header.banner #pages #blog-pages-list-container ul#blog-select-page li a.selected, header.banner #pages #blog-pages-list-container ul#blog-select-page li a:hover, header.banner #pages #blog-pages-list-container ul#blog-select-page li a:active, header.banner #pages #blog-pages-list-container ul#blog-select-page li a:focus {
  color: #C300C3;
  background-color: #F5F5F5;
}
header.banner #pages #blog-pages-list-container ul a {
  padding: 10px 1rem;
}
header.banner #pages #blog-pages-list-container ul a.selected, header.banner #pages #blog-pages-list-container ul a:hover, header.banner #pages #blog-pages-list-container ul a:active, header.banner #pages #blog-pages-list-container ul a:focus {
  color: #C300C3;
  background-color: #F5F5F5;
}
@media (max-width: 313px) {
  header.banner #pages #blog-pages-list-container ul#blog-select-page li {
    background-color: #C300C3;
    border: none;
  }
  header.banner #pages #blog-pages-list-container ul#blog-select-page li:last-of-type a {
    border-bottom: none;
  }
  header.banner #pages #blog-pages-list-container ul#blog-select-page li:last-of-type a.selected, header.banner #pages #blog-pages-list-container ul#blog-select-page li:last-of-type a:hover, header.banner #pages #blog-pages-list-container ul#blog-select-page li:last-of-type a:active, header.banner #pages #blog-pages-list-container ul#blog-select-page li:last-of-type a:focus {
    border-bottom: none;
  }
  header.banner #pages #blog-pages-list-container ul#blog-select-page li a {
    border-left: 3px solid #F5F5F5;
  }
  header.banner #pages #blog-pages-list-container ul#blog-select-page li a.selected, header.banner #pages #blog-pages-list-container ul#blog-select-page li a.focus, header.banner #pages #blog-pages-list-container ul#blog-select-page li a:hover, header.banner #pages #blog-pages-list-container ul#blog-select-page li a:active, header.banner #pages #blog-pages-list-container ul#blog-select-page li a:focus {
    border-left: none;
  }
  header.banner #pages #blog-pages-list-button.focus + ul#blog-select-page li:first-of-type a {
    border-bottom: none;
  }
  header.banner #pages #blog-pages-list-button.focus + ul#blog-select-page li:first-of-type a.selected, header.banner #pages #blog-pages-list-button.focus + ul#blog-select-page li:first-of-type a:hover, header.banner #pages #blog-pages-list-button.focus + ul#blog-select-page li:first-of-type a:active, header.banner #pages #blog-pages-list-button.focus + ul#blog-select-page li:first-of-type a:focus {
    border-top: 3px solid #C300C3;
  }
  header.banner #pages #blog-pages-list-button.focus + ul#blog-select-page li:first-of-type a:not(.unactive-page):not(.selected) {
    border-bottom: 3px solid #C300C3;
  }
  header.banner #pages #blog-pages-list-button.focus + ul#blog-select-page li:last-of-type a {
    border-top: 3px solid #F5F5F5;
  }
  header.banner #pages #blog-pages-list-button.focus + ul#blog-select-page li:last-of-type a:not(.unactive-page):not(.selected):hover, header.banner #pages #blog-pages-list-button.focus + ul#blog-select-page li:last-of-type a:not(.unactive-page):not(.selected):active, header.banner #pages #blog-pages-list-button.focus + ul#blog-select-page li:last-of-type a:not(.unactive-page):not(.selected):focus {
    border-top: 3px solid #C300C3;
  }
  header.banner #pages #blog-pages-list-button.focus + ul#blog-select-page li:last-of-type a.selected:hover, header.banner #pages #blog-pages-list-button.focus + ul#blog-select-page li:last-of-type a.selected:active, header.banner #pages #blog-pages-list-button.focus + ul#blog-select-page li:last-of-type a.selected:focus {
    border-color: #C300C3;
    border-top: none;
  }
}

@media (min-width: 767px) and (min-height: 767px) {
  html[lang=fr] header.banner #top-accessible-banner li:last-of-type {
    padding-top: unset;
  }
  html[lang=fr] header.banner #top-accessible-banner li:last-of-type a {
    margin-right: unset;
  }
  html[lang=fr] header.banner #top-accessible-banner li:nth-last-of-type(2).desktop {
    padding-top: unset;
  }
  body:not(.home):not(.cv):not(.accessible-mode) > footer.menu-bar, body:not(.home):not(.cv):not(.accessible-mode) > footer.flex-line > div:not(#footer-nav) p {
    background-color: #C300C3;
  }
}
@media (min-width: 850px) and (max-width: 943px) and (min-height: 767px) {
  html[lang=fr] body:not(.home):not(.cv):not(.accessible-mode) header.banner:not(.scrolled) {
    height: 155px;
  }
}
#main-container > aside {
  width: calc(100vh - 161px);
}
@media (min-width: 767px) and (max-width: 794px) and (min-height: 767px) {
  #main-container > aside {
    width: calc(100vh - 196px);
  }
}
@media (min-width: 795px) and (max-width: 849px) and (min-height: 767px) {
  #main-container > aside {
    width: calc(100vh - 157px);
  }
}
@media (min-width: 850px) and (min-height: 767px) and (max-width: 944px) {
  #main-container > aside {
    width: calc(100vh - 204px);
  }
}
#main-container > aside li, #main-container > aside a, #main-container > aside input {
  background-color: #C300C3;
}

@media (min-width: 767px) and (max-width: 801px) and (min-height: 767px), (min-width: 850px) and (max-width: 943px) {
  body:not(.accessible-mode) #main-container > aside.scrolled {
    width: calc(100vh - 100px);
  }
}

#main-container > aside.left {
  border-bottom: none;
}

@media (min-width: 767px) and (min-height: 767px) {
  #main-container > aside.left > fieldset div:first-of-type label {
    width: 70px;
  }
  #main-container > aside.left > fieldset div:nth-of-type(2) label {
    width: 110px;
  }
  #main-container > aside.left > fieldset div:nth-of-type(3) label {
    width: 95px;
  }
  #main-container > aside.left > fieldset div:nth-of-type(4) label {
    width: 89px;
  }
  #main-container > aside.left > fieldset div:last-of-type label {
    width: 39px;
  }
}
#main-container > aside.right ul:first-of-type li:first-of-type a, #main-container > aside.right ul:first-of-type li:last-of-type a {
  width: 86px;
}
#main-container > aside.right ul:first-of-type li:nth-of-type(2) a {
  width: 64px;
}

#main-container > aside.right button {
  margin-right: 25px;
}
@media (min-height: 900px) {
  #main-container > aside.right button {
    margin-right: 50px;
  }
}

main {
  overflow-x: hidden;
}
@media (max-width: 313px) {
  main #page-title h1, main #page-title h1.sr-only {
    background-color: #C300C3;
  }
}
main > h2 {
  opacity: 0;
  width: 0;
  height: 0;
}

@media (min-height: 767px) and (min-width: 767px) and (max-width: 794px) {
  html[lang=fr] body:not(.home):not(.cv):not(.accessible-mode) header.banner:not(.scrolled) {
    height: 147px !important;
  }
}
@media (min-height: 767px) and (min-width: 795px) and (max-width: 850px) {
  html[lang=fr] body:not(.home):not(.cv):not(.accessible-mode) header.banner:not(.scrolled) {
    height: 107px !important;
  }
}
@media (min-width: 944px) and (min-height: 767px) {
  html[lang=fr] body:not(.home):not(.cv):not(.accessible-mode) header.banner:not(.scrolled) {
    height: 111px !important;
  }
}
@media (min-height: 767px) and (min-width: 841px) and (max-width: 849px) {
  html[lang=fr] body:not(.home):not(.cv):not(.accessible-mode) header.banner:not(.scrolled) {
    height: 107px !important;
  }
}
@media (min-height: 767px) and (min-width: 850px) and (max-width: 943px) {
  html[lang=fr] body:not(.home):not(.cv):not(.accessible-mode) header.banner:not(.scrolled) {
    height: 155px !important;
  }
}
body:not(.home):not(.cv):not(.accessible-mode) header.banner div.scrolled {
  background-color: #C300C3;
}
@media (min-width: 314px) and (max-width: 330px) {
  body:not(.home):not(.cv):not(.accessible-mode) header.banner div.scrolled {
    top: -93px !important;
  }
}
@media (min-width: 331px) and (max-width: 849px) and (max-height: 600px), (min-width: 331px) and (max-width: 600px) {
  body:not(.home):not(.cv):not(.accessible-mode) header.banner div.scrolled {
    top: -56px !important;
  }
}
@media (min-height: 600px) and (min-width: 600px) {
  body:not(.home):not(.cv):not(.accessible-mode) header.banner div.scrolled {
    top: -61px !important;
  }
}
@media (min-width: 767px) and (min-height: 767px) and (max-width: 798px), (min-height: 767px) and (min-width: 850px) and (max-width: 943px) {
  body:not(.home):not(.cv):not(.accessible-mode) header.banner div.scrolled {
    top: -104px !important;
  }
}

body.accessible-mode {
  color: #F5F5F5;
  background-color: #3A3B3C;
}
body.accessible-mode header.banner #accessible-mode-btn {
  background-color: #C300C3;
}
body.accessible-mode header.banner #top-accessible-banner a:hover, body.accessible-mode header.banner #top-accessible-banner a:active, body.accessible-mode header.banner #top-accessible-banner a:focus, body.accessible-mode header.banner #top-accessible-banner button:hover, body.accessible-mode header.banner #top-accessible-banner button:active, body.accessible-mode header.banner #top-accessible-banner button:focus, body.accessible-mode #bottom-accessible-banner a:hover, body.accessible-mode #bottom-accessible-banner a:active, body.accessible-mode #bottom-accessible-banner a:focus, body.accessible-mode #bottom-accessible-banner button:hover, body.accessible-mode #bottom-accessible-banner button:active, body.accessible-mode #bottom-accessible-banner button:focus {
  background-color: #C300C3;
  border-color: #C300C3;
}
@media (max-width: 307px) {
  body.accessible-mode header.banner #top-accessible-banner li:not(:last-of-type) {
    padding-bottom: 1rem;
  }
}
body.accessible-mode header.banner #pages a, body.accessible-mode header.banner #pages button {
  background-color: #3A3B3C;
}
body.accessible-mode header.banner #pages > li:first-of-type a, body.accessible-mode header.banner #pages > li:nth-of-type(2) button, body.accessible-mode header.banner #pages > li:last-of-type a {
  width: 100%;
}
body.accessible-mode header.banner #pages #blog-pages-list-container {
  display: block;
  background-color: #3A3B3C;
  width: 100%;
}
body.accessible-mode header.banner #pages #blog-pages-list-container ul#blog-select-page {
  position: relative;
  background-color: #3A3B3C;
  top: unset;
  left: unset;
  width: unset;
  margin-left: 2rem;
}
body.accessible-mode header.banner #pages #blog-pages-list-container ul#blog-select-page li {
  border-left: none;
}
body.accessible-mode header.banner #pages #blog-pages-list-container ul#blog-select-page li:last-of-type a {
  border-bottom: none;
}
body.accessible-mode header.banner #pages #blog-pages-list-container ul#blog-select-page li:last-of-type a.selected, body.accessible-mode header.banner #pages #blog-pages-list-container ul#blog-select-page li:last-of-type a:hover, body.accessible-mode header.banner #pages #blog-pages-list-container ul#blog-select-page li:last-of-type a:active, body.accessible-mode header.banner #pages #blog-pages-list-container ul#blog-select-page li:last-of-type a:focus {
  border-bottom: none;
}
body.accessible-mode header.banner #pages.select-page, body.accessible-mode header.banner #pages #blog-pages-list-container ul#blog-select-page li {
  background-color: #3A3B3C;
}
body.accessible-mode header.banner #pages #blog-pages-list-container ul#blog-select-page li {
  border: none;
}
body.accessible-mode header.banner #pages #blog-pages-list-button, body.accessible-mode header.banner #pages #blog-pages-list-container ul#blog-select-page li a {
  color: #F5F5F5;
  background-color: #3A3B3C;
}
body.accessible-mode header.banner #pages #blog-pages-list-button.selected, body.accessible-mode header.banner #pages #blog-pages-list-button.focus, body.accessible-mode header.banner #pages #blog-pages-list-button:hover, body.accessible-mode header.banner #pages #blog-pages-list-button:active, body.accessible-mode header.banner #pages #blog-pages-list-button:focus, body.accessible-mode header.banner #pages #blog-pages-list-container ul#blog-select-page li a.selected, body.accessible-mode header.banner #pages #blog-pages-list-container ul#blog-select-page li a.focus, body.accessible-mode header.banner #pages #blog-pages-list-container ul#blog-select-page li a:hover, body.accessible-mode header.banner #pages #blog-pages-list-container ul#blog-select-page li a:active, body.accessible-mode header.banner #pages #blog-pages-list-container ul#blog-select-page li a:focus {
  color: #3A3B3C;
  background-color: #F5F5F5;
}
body.accessible-mode header.banner #pages #blog-pages-list-container ul#blog-select-page li a {
  border-left: 3px solid #F5F5F5;
}
body.accessible-mode header.banner #pages #blog-pages-list-container ul#blog-select-page li a.selected, body.accessible-mode header.banner #pages #blog-pages-list-container ul#blog-select-page li a.focus, body.accessible-mode header.banner #pages #blog-pages-list-container ul#blog-select-page li a:hover, body.accessible-mode header.banner #pages #blog-pages-list-container ul#blog-select-page li a:active, body.accessible-mode header.banner #pages #blog-pages-list-container ul#blog-select-page li a:focus {
  border-left: none;
}
body.accessible-mode header.banner #pages #blog-pages-list-container #blog-pages-list-button.focus + ul#blog-select-page li:first-of-type a {
  border-bottom: none;
}
body.accessible-mode header.banner #pages #blog-pages-list-container #blog-pages-list-button.focus + ul#blog-select-page li:first-of-type a.selected, body.accessible-mode header.banner #pages #blog-pages-list-container #blog-pages-list-button.focus + ul#blog-select-page li:first-of-type a:hover, body.accessible-mode header.banner #pages #blog-pages-list-container #blog-pages-list-button.focus + ul#blog-select-page li:first-of-type a:active, body.accessible-mode header.banner #pages #blog-pages-list-container #blog-pages-list-button.focus + ul#blog-select-page li:first-of-type a:focus {
  border-top: 3px solid #3A3B3C;
}
body.accessible-mode header.banner #pages #blog-pages-list-container #blog-pages-list-button.focus + ul#blog-select-page li:first-of-type a:not(.unactive-page):not(.selected) {
  border-bottom: 3px solid #3A3B3C;
}
body.accessible-mode header.banner #pages #blog-pages-list-container #blog-pages-list-button.focus + ul#blog-select-page li:last-of-type a {
  border-top: 3px solid #F5F5F5;
}
body.accessible-mode header.banner #pages #blog-pages-list-container #blog-pages-list-button.focus + ul#blog-select-page li:last-of-type a:not(.unactive-page):not(.selected):hover, body.accessible-mode header.banner #pages #blog-pages-list-container #blog-pages-list-button.focus + ul#blog-select-page li:last-of-type a:not(.unactive-page):not(.selected):active, body.accessible-mode header.banner #pages #blog-pages-list-container #blog-pages-list-button.focus + ul#blog-select-page li:last-of-type a:not(.unactive-page):not(.selected):focus {
  border-top: 3px solid #3A3B3C;
}
body.accessible-mode header.banner #pages #blog-pages-list-container #blog-pages-list-button.focus + ul#blog-select-page li:last-of-type a.selected:hover, body.accessible-mode header.banner #pages #blog-pages-list-container #blog-pages-list-button.focus + ul#blog-select-page li:last-of-type a.selected:active, body.accessible-mode header.banner #pages #blog-pages-list-container #blog-pages-list-button.focus + ul#blog-select-page li:last-of-type a.selected:focus {
  border-color: #3A3B3C;
  border-top: none;
}
body.accessible-mode header.banner #pages #blog-pages-list-button, body.accessible-mode header.banner #pages #blog-pages-list-container ul#blog-select-page li a {
  padding: 15px 1rem 1rem 1rem;
  text-align: left;
}
body.accessible-mode header.banner #pages ul #blog-pages-list-button.selected, body.accessible-mode header.banner #pages ul #blog-pages-list-button:hover, body.accessible-mode header.banner #pages ul #blog-pages-list-button:active, body.accessible-mode header.banner #pages ul #blog-pages-list-button:focus {
  color: #3A3B3C;
}
body.accessible-mode main {
  width: unset;
  padding-top: 2rem;
  padding-left: 0;
}
body.accessible-mode main #list .content .content-link:hover, body.accessible-mode main #list .content .content-link:active, body.accessible-mode main #list .content .content-link:focus {
  color: #3A3B3C;
  border-color: #C300C3;
  background-color: #C300C3;
  font-weight: bold;
}
body.accessible-mode main #list .content .content-link {
  text-decoration: underline;
}
body.accessible-mode main #list .content .content-link:hover, body.accessible-mode main #list .content .content-link:active, body.accessible-mode main #list .content .content-link:focus {
  text-decoration: none;
}

/*# sourceMappingURL=blog.css.map */
