@charset "UTF-8";
:root {
  font-family: "Karmilla", sans-serif;
  font-size: 1.25em;
  color: black; }
  @media (max-width: 1024px), (max-height: 800px) {
    :root {
      font-size: 1em; } }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; }

body {
  display: flex;
  flex-direction: column;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote :first-child::before, q::before {
  content: '« '; }

blockquote :last-child::after, q::after {
  content: ' »'; }

p {
  margin: 1rem 0; }

button {
  background-color: transparent;
  border: none; }
  button:hover {
    cursor: pointer; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

strong {
  font-weight: 500; }

em {
  font-family: "Vollkorn";
  font-style: italic; }

#dancing-banana {
  display: block;
  position: absolute;
  width: 30vw;
  left: 50px;
  bottom: 50px;
  z-index: 1000; }

.menu-bar {
  background-color: red;
  height: 25px;
  color: white; }
  @media (min-width: 767px) {
    .menu-bar {
      height: 50px; } }
  .menu-bar nav, .menu-bar ul:not(#select-page) {
    height: 100%; }
  .menu-bar li, .menu-bar a, .menu-bar button {
    text-transform: uppercase;
    color: white;
    text-decoration: none; }
  .menu-bar a, .menu-bar button {
    line-height: 1rem; }
  .menu-bar a.selected, .menu-bar button.selected {
    font-weight: bold; }
  .menu-bar nav > ul > li > a::before, .menu-bar nav > ul > li > button::before {
    content: "○";
    margin-right: 10px;
    font-family: Verdana, "Liberation Sans", "DejaVu Sans";
    font-size: 0.9rem;
    position: relative; }
  .menu-bar nav > ul > li > a.selected::before, .menu-bar nav > ul > li > button.selected::before {
    content: "●"; }
  @supports (-webkit-appearance: none) {
    .menu-bar nav > ul > li > a::before, .menu-bar nav > ul > li > button::before {
      font-size: 1.5rem;
      bottom: -2px; } }
  @media (max-width: 767px) {
    .menu-bar .menu-bar, .menu-bar .menu-bar a, .menu-bar .menu-bar p, .menu-bar .menu-bar button {
      font-size: 0.75rem !important; }
    .menu-bar nav > ul > li > a::before, .menu-bar nav > ul > li > button::before {
      font-size: 0.9rem !important;
      margin-right: 5px;
      bottom: -1px; }
    .menu-bar nav > ul > li > a.selected::before, .menu-bar nav > ul > li > button.selected::before {
      font-size: 0.9rem !important;
      margin-right: 5px;
      bottom: -1px; }
    .menu-bar aside.left > ul {
      margin: 0 !important;
      width: 100%; }
    .menu-bar footer {
      padding: 0 !important; } }

#select-page {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25px;
  z-index: 1000;
  background-color: white; }
  @media (min-width: 767px) {
    #select-page {
      top: 50px; } }
  #select-page li {
    padding: 10px 0;
    border: 3px solid red;
    border-top: none;
    width: 100%;
    display: flex;
    justify-content: center; }
    #select-page li:hover, #select-page li:focus, #select-page li:active {
      background-color: red; }
      #select-page li:hover a, #select-page li:focus a, #select-page li:active a {
        color: white;
        font-weight: bold; }
    #select-page li a {
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      color: red; }

.menu-bar.right {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .menu-bar.right a {
    margin-right: 25px; }
    @media (min-width: 767px) {
      .menu-bar.right a {
        margin-right: 50px; } }

.flex-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; }

header, footer {
  padding-left: 25px;
  padding-right: 25px; }
  @media (min-width: 767px) {
    header, footer {
      padding-left: 50px;
      padding-right: 50px; } }

#main-container {
  display: flex; }
  #main-container > aside {
    position: absolute;
    width: calc(100vh - 50px);
    bottom: 0; }
    @media (min-width: 767px) {
      #main-container > aside {
        width: calc(100vh - 100px); } }
    #main-container > aside > ul {
      margin: 0 25px; }
      @media (min-width: 767px) {
        #main-container > aside > ul {
          margin: 0 50px; } }
    #main-container > aside.left {
      transform: rotate(-90deg);
      transform-origin: left top; }
      @media (max-width: 767px) and (orientation: landscape) {
        #main-container > aside.left ul {
          display: none; } }
    #main-container > aside.right {
      transform: rotate(90deg);
      transform-origin: right top;
      right: 0; }
      #main-container > aside.right > ul {
        justify-content: flex-start; }
      @media (max-width: 600px), (max-height: 600px) {
        #main-container > aside.right > ul {
          justify-content: space-between; }
          #main-container > aside.right > ul li {
            margin-right: 25px; }
        #main-container > aside.right a {
          margin-right: 0; } }

main {
  overflow-y: auto;
  width: 100%;
  height: calc(100vh - 50px);
  margin: 0 25px; }
  main.no-scroll {
    overflow-y: hidden; }
  @media (min-width: 767px) {
    main {
      height: calc(100vh - 100px);
      margin: 0 50px; } }

footer.flex-line {
  justify-content: center;
  width: 100% !important; }

.hide {
  visibility: hidden; }

.text-collection {
  background-color: #f4fefe; }
  .text-collection .menu-bar.right a:hover, .text-collection .menu-bar.right a:active {
    font-weight: bold; }
  .text-collection .menu-bar nav a:not(.selected):hover, .text-collection .menu-bar nav a:not(.selected):active {
    font-weight: normal; }
  .text-collection header, .text-collection footer {
    width: 100%; }
  .text-collection header {
    padding-left: 25px; }
    @media (min-width: 767px) {
      .text-collection header {
        padding-left: 50px; } }
  .text-collection footer.flex-line {
    justify-content: center; }
  @media (max-width: 767px) {
    .text-collection .menu-bar, .text-collection .menu-bar a, .text-collection .menu-bar p, .text-collection .menu-bar button {
      font-size: 0.75rem !important; }
    .text-collection nav > ul > li > a::before, .text-collection nav > ul > li > button::before {
      font-size: 0.9rem !important;
      margin-right: 5px; }
    .text-collection nav > ul > li > a.selected::before, .text-collection nav > ul > li > button.selected::before {
      font-size: 0.9rem !important;
      margin-right: 5px; }
    .text-collection aside.left > ul, .text-collection aside.right > ul {
      margin: 0 !important; }
    .text-collection aside.left {
      width: 100%; }
    .text-collection footer {
      padding: 0 !important; } }
  .text-collection main #list {
    height: auto; }
    .text-collection main #list ul li {
      width: 100%;
      padding: 0; }
      .text-collection main #list ul li:not(:last-of-type) {
        border-bottom: 3px solid red; }
      .text-collection main #list ul li a:hover, .text-collection main #list ul li a:active, .text-collection main #list ul li a:focus {
        background-color: red;
        color: white; }
      .text-collection main #list ul li .plusplusegal a:hover span.box div, .text-collection main #list ul li .plusplusegal a:active span.box div, .text-collection main #list ul li .plusplusegal a:focus span.box div, .text-collection main #list ul li .plusplusegal.match a:hover span.box div, .text-collection main #list ul li .plusplusegal.match a:active span.box div, .text-collection main #list ul li .plusplusegal.match a:focus span.box div {
        background-image: url("/home/user/themes/website_theme/images/++=3.png");
        background-color: white; }
      .text-collection main #list ul li .match a:hover, .text-collection main #list ul li .match a:active, .text-collection main #list ul li .match a:focus {
        color: white; }
      .text-collection main #list ul li a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: black;
        text-decoration: none;
        font-size: 1rem;
        line-height: 1.25; }
        .text-collection main #list ul li a * {
          pointer-events: none; }
      .text-collection main #list ul li p {
        width: 10%;
        text-align: center;
        margin: 0; }
      .text-collection main #list ul li span.tooltip-text {
        width: 90%;
        padding: 10px;
        border-left: 3px solid red; }
      .text-collection main #list ul li .match a {
        color: red; }
    .text-collection main #list ul li span.plusplusegal.match span.box div {
      background-image: url("/home/user/themes/website_theme/images/++=2.png");
      background-color: red; }
    .text-collection main #list ul li span.plusplusegal span.tooltip-text {
      width: 80%;
      border-right: 3px solid red; }
    .text-collection main #list ul li span.plusplusegal span.box {
      width: 10%;
      display: flex;
      justify-content: center; }
      .text-collection main #list ul li span.plusplusegal span.box div {
        background-color: black;
        border-radius: 50%;
        background-image: url("/home/user/themes/website_theme/images/++=.png");
        content: "";
        pointer-events: none;
        background-size: 30px 30px;
        width: 30px;
        height: 30px; }
        @media (min-width: 1200px) {
          .text-collection main #list ul li span.plusplusegal span.box div {
            background-size: 40px 40px;
            width: 40px;
            height: 40px; } }
        @media (max-width: 767px) {
          .text-collection main #list ul li span.plusplusegal span.box div {
            background-size: 20px 20px;
            width: 20px;
            height: 20px; } }
  @media (min-width: 767px) {
    .text-collection main #list ul li:not(:last-of-type) {
      border-bottom: 3px solid red; }
    .text-collection main #list ul li a {
      font-size: 1.5rem; }
      .text-collection main #list ul li a span.tooltip-text {
        border-left: 3px solid red; }
    .text-collection main #list ul li span.plusplusegal span.tooltip-text {
      border-right: 3px solid red; } }
  @media (min-width: 1023px) {
    .text-collection main #list {
      width: 100%; }
      .text-collection main #list ul li a {
        font-size: 2.25rem; }
      .text-collection main #list ul li span.plusplusegal span.tooltip-text {
        width: 85%; }
      .text-collection main #list ul li span.plusplusegal span.box {
        width: 5%; } }

.image-collection {
  background-color: #fffccf; }
  .image-collection .menu-bar.right a:hover, .image-collection .menu-bar.right a:active {
    font-weight: bold; }
  .image-collection .menu-bar nav a:not(.selected):hover, .image-collection .menu-bar nav a:not(.selected):active {
    font-weight: normal; }
  .image-collection header, .image-collection footer {
    width: 100%; }
  .image-collection header {
    padding-left: 25px; }
    @media (min-width: 767px) {
      .image-collection header {
        padding-left: 50px; } }
  .image-collection footer.flex-line {
    justify-content: center; }
  @media (max-width: 767px) {
    .image-collection .menu-bar, .image-collection .menu-bar a, .image-collection .menu-bar p {
      font-size: 0.75rem !important; }
    .image-collection nav > ul > li > a::before {
      font-size: 0.9rem !important;
      margin-right: 5px; }
    .image-collection nav > ul > li > a.selected::before {
      font-size: 0.9rem !important;
      margin-right: 5px; }
    .image-collection aside.left > ul {
      margin: 0 !important;
      width: 100%; }
    .image-collection footer {
      padding: 0 !important; } }
  .image-collection main .img-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto; }
    @media (max-width: 1024px) {
      .image-collection main .img-container {
        grid-template-columns: auto auto auto; } }
    @media (max-width: 600px) and (orientation: portrait) {
      .image-collection main .img-container {
        grid-template-columns: auto; } }
    .image-collection main .img-container > div {
      border-bottom: 3px solid red;
      border-right: 3px solid red;
      width: 100%; }
      .image-collection main .img-container > div a {
        height: 100%;
        width: 100%;
        padding: 50px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        .image-collection main .img-container > div a:hover, .image-collection main .img-container > div a:active, .image-collection main .img-container > div a:focus {
          background-color: red; }
      .image-collection main .img-container > div div {
        position: relative; }
        .image-collection main .img-container > div div.rounded {
          border-radius: 50%; }
      .image-collection main .img-container > div.plusplusegal:hover span.box {
        background-color: red;
        border-color: white; }
      .image-collection main .img-container > div.plusplusegal:hover span.box div, .image-collection main .img-container > div.plusplusegal:hover.match span.box div {
        background-image: url("/home/user/themes/website_theme/images/++=3.png");
        background-color: white; }
      .image-collection main .img-container > div.plusplusegal.match span.box div {
        background-image: url("/home/user/themes/website_theme/images/++=2.png");
        background-color: red; }
      .image-collection main .img-container > div.plusplusegal span.box {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 999;
        display: flex;
        justify-content: center;
        border-top: 3px solid red;
        border-left: 3px solid red;
        padding: 20px;
        background-color: #fffccf; }
        .image-collection main .img-container > div.plusplusegal span.box div {
          background-color: black;
          border-radius: 50%;
          background-image: url("/home/user/themes/website_theme/images/++=.png");
          content: "";
          pointer-events: none;
          background-size: 30px 30px;
          width: 30px;
          height: 30px; }
          @media (min-width: 1200px) {
            .image-collection main .img-container > div.plusplusegal span.box div {
              background-size: 40px 40px;
              width: 40px;
              height: 40px; } }
      .image-collection main .img-container > div.match div {
        background-color: red;
        border: 3px solid red; }
      .image-collection main .img-container > div.match img {
        display: block;
        mix-blend-mode: screen;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%); }
      .image-collection main .img-container > div.match:hover div {
        border-color: white; }
      .image-collection main .img-container > div > :first-of-type {
        grid-column: 1; }
      .image-collection main .img-container > div img {
        width: 100%; }

#prev.selected, #next.selected {
  font-weight: normal; }

@media (max-width: 767px) and (orientation: portrait) {
  #prev, #next {
    display: none; } }
main {
  padding: 0; }
  main #project-container {
    display: none; }

footer {
  position: absolute;
  bottom: 0; }

.show-project {
  overflow-y: hidden; }
  .show-project .blur {
    -moz-filter: blur(5px);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    opacity: 0.75; }
  .show-project #project-container {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 998;
    display: flex;
    justify-content: center; }
    @media (min-width: 1200px) {
      .show-project #project-container {
        width: 101%; } }
    .show-project #project-container header {
      left: 0; }
    .show-project #project-container #cross {
      position: fixed;
      top: 50px;
      right: 50px;
      font-size: 2rem;
      color: black;
      text-decoration: none;
      z-index: 1000; }
    @media (min-width: 768px) {
      .show-project #project-container #cross {
        top: 70px;
        right: 70px; } }
    .show-project #project-container .menu-bar {
      position: fixed; }
      .show-project #project-container .menu-bar ul {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .show-project #project-container .menu-bar ul a::before {
          content: none; }
    .show-project #project-container aside {
      position: absolute;
      width: calc(100vh - 100px);
      bottom: 0; }
      .show-project #project-container aside.right {
        transform: rotate(90deg);
        transform-origin: right top;
        right: 0; }
        .show-project #project-container aside.right > ul {
          justify-content: flex-start;
          margin-left: 50px; }
          .show-project #project-container aside.right > ul a:not(.selected):hover, .show-project #project-container aside.right > ul a:not(.selected):active {
            font-weight: normal; }
        @media (max-width: 600px), (max-height: 600px) {
          .show-project #project-container aside.right > ul {
            margin-left: 0; }
            .show-project #project-container aside.right > ul a {
              margin-right: 25px; } }
    .show-project #project-container footer {
      display: flex;
      justify-content: center;
      left: 0;
      bottom: 0; }
      .show-project #project-container footer p {
        align-self: center; }
        .show-project #project-container footer p em {
          font-family: "Karmilla";
          font-style: normal; }
  .show-project .project {
    margin: auto;
    width: 50%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center; }
  @media (max-width: 767px) and (orientation: portrait) {
    .show-project .project {
      width: calc(100% - 50px); } }
  .show-project #img {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .show-project #img img, .show-project #img video {
      width: 100%;
      margin-bottom: 5vw; }
      .show-project #img img.portrait, .show-project #img video.portrait {
        width: 55%; }
      .show-project #img img::before, .show-project #img video::before {
        display: none; }
    .show-project #img img {
      cursor: pointer; }
    @media (orientation: portrait) {
      .show-project #img img.portrait {
        width: 100%; } }
    @media (max-width: 767px) and (orientation: portrait) {
      .show-project #img img, .show-project #img video {
        margin-bottom: 15vw; } }
  .show-project #txt, .show-project #links {
    width: 55%;
    font-family: "Vollkorn";
    line-height: 1.3;
    margin: auto;
    margin-bottom: 5vw;
    justify-content: center;
    word-wrap: break-word;
    padding: 10px; }
    .show-project #txt p:first-of-type, .show-project #links p:first-of-type {
      margin-top: 0; }
    .show-project #txt dl dt, .show-project #links dl dt {
      display: inline-block; }
    .show-project #txt dl dd, .show-project #links dl dd {
      display: inline; }
    .show-project #txt dl dd::after, .show-project #links dl dd::after {
      content: "";
      display: block; }
    .show-project #txt dl p, .show-project #links dl p {
      display: inline; }
    .show-project #txt dl p::before, .show-project #links dl p::before {
      margin-left: 0; }
    .show-project #txt a, .show-project #links a {
      color: blue;
      text-decoration: none; }
  @media (orientation: portrait) {
    .show-project #txt, .show-project #links {
      width: 100%; } }
  @media (max-width: 767px) and (orientation: portrait) {
    .show-project #txt, .show-project #links {
      padding: 20px;
      margin-bottom: 15vw; } }
  @media (max-width: 1024px) and (orientation: landscape) {
    .show-project #txt, .show-project #links {
      width: 100%; } }
  .show-project #txt p::before {
    content: "";
    margin-left: 3vw; }
  .show-project #links p {
    margin: 0; }

.text-collection #txt, .text-collection #links {
  background-color: #f4fefe; }

.image-collection #txt, .image-collection #links {
  background-color: #fffccf; }

.about footer {
  width: 100%; }
.about footer a {
  text-transform: none; }
.about footer p:last-of-type {
  text-align: right; }
.about footer.flex-line {
  justify-content: space-between; }
.about .menu-bar:not(.left) a:hover, .about .menu-bar:not(.left) a:active {
  font-weight: bold; }
.about .menu-bar.left a {
  pointer-events: none; }
.about .menu-bar nav a:not(.selected):hover, .about .menu-bar nav a:not(.selected):active {
  font-weight: normal; }
.about header {
  padding-left: 25px; }
  @media (min-width: 767px) {
    .about header {
      padding-left: 50px; } }
@media (max-width: 767px) {
  .about .menu-bar, .about .menu-bar a, .about .menu-bar p {
    font-size: 0.75rem !important; }
  .about aside.left > ul {
    margin: 0 !important;
    width: 100%; } }
.about main {
  font-family: "Vollkorn";
  line-height: 1.3;
  padding: 0;
  background-color: #f7eef3;
  display: flex;
  align-items: center;
  overflow-y: hidden; }
  .about main > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%; }
    .about main > div a {
      text-decoration: none;
      color: blue; }
    .about main > div section {
      width: 50%;
      overflow-y: scroll;
      overflow-x: hidden; }
      .about main > div section.left {
        padding: 50px 150px; }
        .about main > div section.left p {
          margin: 0 0 50px 0; }
          .about main > div section.left p::before {
            content: "";
            display: inline-block;
            width: 70px; }
      .about main > div section.right {
        padding: 50px;
        display: block; }
        .about main > div section.right > div {
          padding-bottom: 50px; }
          .about main > div section.right > div ul {
            width: 100%;
            margin-left: 70px; }
            .about main > div section.right > div ul li {
              width: 50%;
              text-align: left; }
          .about main > div section.right > div p {
            margin: 0 0 0 70px; }
          .about main > div section.right > div a {
            color: black; }
          .about main > div section.right > div a:hover, .about main > div section.right > div a:active {
            color: blue; }
@media (max-width: 1280px), (max-height: 900px) {
  .about .about-usg *:not(p) {
    width: 100% !important; }
  .about main {
    padding: 100px 150px;
    align-items: flex-start;
    overflow-y: auto; }
    .about main > div {
      display: block;
      padding-bottom: 50px; }
  .about section {
    width: 100% !important;
    overflow: hidden !important;
    padding: 0 !important; }
    .about section *:not(p) {
      width: 100% !important;
      overflow: hidden; }
    .about section.left {
      margin-bottom: 50px; }
      .about section.left p, .about section.left p:last-of-type {
        margin-right: 0; }
    .about section.right div div ul li a {
      color: blue; } }
@media (max-width: 767px) and (orientation: portrait) {
  .about div:first-of-type main {
    flex-direction: column;
    padding: 20px; }
    .about div:first-of-type main > div {
      flex-direction: column;
      padding-bottom: 20px; }
    .about div:first-of-type main h3 {
      font-weight: bold; }
  .about div:first-of-type section.left {
    margin-bottom: 0; }
    .about div:first-of-type section.left p, .about div:first-of-type section.left p:last-of-type {
      margin-left: 0;
      text-align: left; }
    .about div:first-of-type section.left p::before {
      width: 0 !important; }
  .about div:first-of-type section.right p, .about div:first-of-type section.right p:last-of-type, .about div:first-of-type section.right ul, .about div:first-of-type section.right li {
    margin-left: 0;
    text-align: left; } }

.contact footer {
  width: 100%; }
.contact footer.flex-line {
  justify-content: space-between; }
  .contact footer.flex-line span:first-of-type::after {
    content: "@"; }
  .contact footer.flex-line span:last-of-type::after {
    content: ".com"; }
@media (max-width: 767px) and (orientation: portrait) {
  .contact footer.flex-line {
    justify-content: center; }
    .contact footer.flex-line p:first-of-type {
      display: none; } }
.contact .menu-bar.right a:hover, .contact .menu-bar.right a:active {
  font-weight: bold; }
.contact .menu-bar.left a {
  pointer-events: none; }
.contact .menu-bar nav a:not(.selected):hover, .contact .menu-bar nav a:not(.selected):active {
  font-weight: normal; }
@media (max-width: 767px) {
  .contact nav > ul > li > a::before {
    font-size: 0.75rem !important;
    margin-right: 5px; }
  .contact .menu-bar, .contact .menu-bar a, .contact .menu-bar p {
    font-size: 0.75rem !important; }
  .contact header {
    padding-left: 50px; }
  .contact aside.left > ul, .contact aside.right > ul {
    margin: 0 !important; }
  .contact aside.left > ul {
    width: 100%; } }
.contact main {
  padding: 0;
  overflow: hidden; }
  .contact main .postcard {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .contact main p {
    position: absolute;
    width: 100%;
    bottom: 30px;
    right: 0;
    padding: 0 50px;
    font-family: "Vollkorn";
    color: white;
    font-size: 0.75rem;
    text-align: center; }
    @media (min-width: 767px) {
      .contact main p {
        bottom: 60px;
        padding: 0 100px; } }
    @media (min-width: 767px) and (orientation: landscape) {
      .contact main p {
        width: auto;
        right: 80px;
        padding: 0; } }
  .contact main a {
    text-decoration: none;
    font-style: italic;
    color: white; }
  .contact main a:hover, .contact main a:active {
    color: blue; }

@font-face {
  font-family: 'Karmilla';
  src: url("../fonts/karmilla-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Karmilla';
  src: url("../fonts/karmilla-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Vollkorn';
  src: url("../fonts/vollkorn-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Vollkorn';
  src: url("../fonts/vollkorn-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic; }

/*# sourceMappingURL=main.css.map */
