.about {
    footer {
        width: 100%;
    }
    footer a {
        text-transform: none;
    }
    footer p:last-of-type {
        text-align: right;
    }
    footer.flex-line {
        justify-content: space-between;
    }
    .menu-bar:not(.left) a:hover, .menu-bar:not(.left) a:active, .menu-bar:not(.left) a:focus {
        font-weight: bold;
    }
    .menu-bar.left a {
        pointer-events: none;
    }
    .menu-bar nav a:not(.selected):hover, .menu-bar nav a:not(.selected):active, .menu-bar nav a:not(.selected):focus {
        font-weight: normal;
    }
    header {
        padding-left: 25px;
        @media (min-width: 767px) {
            padding-left: 50px;
        }
    }
    @media (max-width: 767px) {
        .menu-bar, .menu-bar a, .menu-bar p {
            font-size: 0.75rem !important;
        }
    }
    @media (max-width: 600px), (max-height: 600px) {
        aside.left > ul, aside.right > ul {
            margin: 0 !important;
        }
    }
    main {
        font-family: $altfont;
        line-height: 1.3;
        padding: 0;
        background-color: $ghost-mauve;
        display: flex;
        align-items: center;
        overflow-y: hidden;
        a {
            color: red;
            text-decoration: none;
            &:hover, &:active, &:focus {
                color: white;
                background-color: red;
            }
        }
        & > div {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            section {
                width: 50%;
                overflow-y: scroll;
                overflow-x: hidden;
                & > div {
                    position: relative;
                    text-align: center;
                }
                h3 {
                    display: inline-block;
                    top: 0;
                    position: relative;
                    padding: 10px;
                    border: 3px solid red;
                    border-radius: 50%;
                    color: red;
                    font-family: 'Karmilla';
                    font-weight: bold;
                    margin: 50px 0 25px 0;
                }
                &.left {
                    border-right: 3px solid red;
                    & > div:first-of-type {
                        border-bottom: 3px solid red;
                        ul {
                            text-align: center;
                        }
                        li {
                            padding: 0 50px 1rem 50px;
                            &:first-of-type {
                                padding: 1rem;
                            }
                            &.line-through {
                                text-decoration: line-through;
                            }
                            &::before {
                                content: "â—";
                                font-family: Verdana, "Liberation Sans", "DejaVu Sans";
                                position: relative;
                                display: inline;
                                font-size: 1rem;
                                margin-right: 1%;
                            }
                            p {
                                margin: 0;
                            }
                        }
                        ul:last-of-type li:first-of-type {
                            border-top: 3px solid red;
                        }
                        .time {
                            font-family: 'Karmilla';
                            display: flex;
                            align-items: center;
                            justify-content: center;                            border-bottom: 3px solid red;
                            height: 50px;
                            font-weight: bold;
                            border-bottom: 3px solid red;
                        }
                        ul:last-of-type a.time:last-of-type {
                            border-bottom: 0;
                        }
                        dl, dt, dt > p {
                            display: inline;
                        }
                        dd {
                            font-size: 0.75rem;
                        }
                    }
                    & > div:last-of-type {
                        padding: 0 50px 50px 50px;
                        p {
                            &:not(:last-of-type) {
                                margin: 0 0 1rem 0;
                            }
                            &:last-of-type {
                                margin: 0;
                            }
                        }
                    }
                    & > div:last-of-type p::before {
                        content: "";
                        display: inline-block;
                        width: 70px;
                    }
                }
                &.right {
                    display: block;
                    & > div:first-of-type {
                        li {
                            padding: 0 50px;
                        }
                    }
                    & > div:first-of-type > div {
                        border-bottom: 3px solid red;
                        padding-bottom: 50px;
                    }
                    & > div:last-of-type {
                        padding: 0 50px 50px 50px;
                        ul {
                            width: 100%;
                        }
                        p {
                            margin: 0;
                        }
                    }

                }
            }
        }
    }
    @media (max-width: 1280px), (max-height: 900px) {
        main {
            align-items: flex-start;
            overflow-y: auto;
            & > div {
                display: block;
            }
        }
        section {
            width: 100% !important;
            overflow: hidden !important;
            padding: 0 !important;
            *:not(p) {
                overflow: hidden;
            }
            &.left {
                border-right: 0 !important;
                border-bottom: 3px solid red;
                p, p:last-of-type {
                    margin-right: 0;
                }
            }
            &.right {
                div div ul li a {
                    color: red;
                }
            }
        }
    }
    @media (max-width: 767px) and (orientation: portrait) {
        div:first-of-type {
            main {
                flex-direction: column;
                & > div {
                    flex-direction: column;
                }
            }
            section {
                h3 {
                    margin: 25px 0 25px 0;
                }
                &.left {
                    margin-bottom: 0;
                    & > div:first-of-type {
                        li {
                            padding: 0 25px 1rem 25px;
                        }
                    }
                    & > div:last-of-type {
                        padding: 0 25px 25px 25px;
                    }
                    p, p:last-of-type {
                        margin-left: 0;
                    }
                    p::before {
                        width: 0 !important;
                    }
                }
                &.right {
                    & > div:first-of-type li {
                        padding: 0 25px;
                    }
                    & > div:first-of-type > div {
                        padding-bottom: 25px;
                    }
                    & > div:last-of-type {
                        padding: 0 25px 25px 25px;
                    }
                    p, p:last-of-type, ul, li {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

.hidden {
    display: none;
}
