.about {
    footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        @media (max-width: 766px), (max-height: 766px) {
            &.scrolled {
                height: 104px;
                bottom: 0;
            }
            #footer-nav {
                @media (max-width: 766px), (max-height: 766px) {
                    bottom: -104px;
                }
                @media (max-width: 350px) {
                    bottom: -136px;
                }
                @media (max-width: 246px) {
                    bottom: -288px;
                }
                &.scrolled {
                    bottom: 0;
                }
            }
            #bottom-accessible-banner {
                li:last-of-type a {
                    margin-right: 1rem;
                }
            }
        }
    }

    #dancing-banana {
        @media (min-width: 1280px) and (min-height: 900px) {
            bottom: 111px !important;
        }
    }

    main {
        line-height: 1.3;
        padding: 0;
        color: $text-color;
        display: flex;
        align-items: center;
        overflow-y: hidden;
        height: calc(100vh - 100px);
        @media (min-width: 1280px) and (min-height: 900px) {
            height: calc(100vh - 221px) !important;
        }
        a, button {
            color: $red;
            &[aria-expanded="true"], &:hover, &:active, &:focus {
                color: $medium-grey !important;
                background-color: $red;
                text-decoration: none;
            }
        }
        & > div {
            display: flex !important;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            @media (max-width: 313px) {
                flex-direction: column;
            }
            & > div:last-of-type {
                display: flex;
            }
            section {
                width: 50%;
                overflow-y: scroll;
                overflow-x: hidden;
                & > div {
                    position: relative;
                    text-align: center;
                }
                h2 {
                    display: inline-block;
                    top: 0;
                    position: relative;
                    padding: 10px;
                    border: 3px solid $red;
                    border-radius: 50%;
                    color: $red;
                    font-weight: bold;
                    margin: 50px 0 25px 0;
                }
                &.left {
                    border-right: 3px solid $red;
                    & > div:first-of-type {
                        border-bottom: 3px solid $red;
                        & > ul > li {
                            text-align: center;
                        }
                        .event-container > li {
                            padding: 0 50px 1rem 50px;
                            &:first-of-type {
                                padding: 1rem 50px;
                            }
                            &.line-through {
                                text-decoration: line-through;
                            }
                            .bullet {
                                font-family: $thirdfont;
                                bottom: 3px;
                                position: relative;
                                display: inline;
                                font-size: 0.5rem;
                                margin-right: 7px;
                                @media (max-width: 766px) {
                                    font-size: 0.5rem !important;
                                }
                            }
                            p {
                                margin: 0;
                            }
                        }
                        & > ul > li:last-of-type ul:not(.links-container) > li:first-of-type {
                            border-top: 3px solid $red;
                        }
                        .time {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-bottom: 3px solid $red;
                            height: 50px;
                            font-weight: bold;
                            border-bottom: 3px solid $red;
                            @media (min-width: 600px) and (min-height: 600px) {
                                height: calc(50px - 0.25rem);
                            }
                        }
                        & > ul > li:last-of-type button.time:last-of-type {
                            border-bottom: 0;
                        }
                        .event-head, h4 {
                            display: inline;
                        }
                        h4 {
                            font-size: 1rem;
                            font-weight: bold;
                        }
                        .event-container time {
                            display: block;
                            font-size: 0.75rem;
                            margin: 5px;
                        }
                    }
                    & > div:last-of-type {
                        padding: 0 50px 50px 50px;
                        p {
                            &:not(:last-of-type) {
                                margin: 0 0 1rem 0;
                            }
                            &:last-of-type {
                                margin: 0;
                            }
                        }
                    }
                    & > div:last-of-type p::before {
                        content: "";
                        display: inline-block;
                        width: 70px;
                    }
                }
                &.right {
                    display: block;
                    & > div:first-of-type {
                        li {
                            padding: 0 50px;
                        }
                        & > div:first-of-type {
                            border-bottom: 3px solid $red;
                            padding-bottom: 25px;
                            @media (min-width: 767px) and (min-height: 767px) {
                                padding-bottom: 50px;
                            }
                        }
                    }
                    & > div:last-of-type {
                        padding-bottom: 25px;
                        @media (min-width: 767px) and (min-height: 767px) {
                            padding-bottom: 100px;
                        }
                        @media (min-width: 1280px) and (min-height: 900px) {
                            padding-bottom: 50px !important;
                        }
                        ul {
                            width: 100%;
                        }
                        p {
                            margin: 0;
                        }
                    }

                }
            }
        }
    }

    &:not(.accessible-mode) {

        header.banner {
            div.scrolled {
                @media (min-width: 314px) {
                    position: fixed;
                    z-index: 1000;
                }
            }
        }

        #main-container.scrolled {
            @media (min-width: 600px) and (max-width: 766px), (min-width: 600px) and (max-height: 766px) {
                top: 53px;
            }
            @media (min-width: 850px) and (max-height: 599px) {
              top: 49px;
            }
        }

        div:first-of-type main > div section.right {
            & > div:last-of-type {
                @media (min-width: 314px) and (max-height: 766px) {
                    padding-bottom: 135px;
                }
        
                @media (min-width: 314px) and (max-width: 350px) {
                    padding-bottom: 200px;
                    &.english {
                        padding-bottom: 170px;  
                    }
                } 

                @media (min-width: 351px) and (max-width: 447px) {
                    &, &.english {
                        padding-bottom: 165px;
                    }
                }
        
                @media (min-width: 448px) and (max-width: 600px) {
                    padding-bottom: 165px;
                    &.english {
                        padding-bottom: 125px;
                    }
                }

                @media (min-width: 600px) and (max-width: 676px) {
                    padding-bottom: 165px;
                    &.english {
                        padding-bottom: 135px;
                    }
                } 
            }
        }


        @media (min-width: 1280px) and (min-height: 900px) {
            footer {
                bottom: 61px !important;
            }
            #bottom-accessible-banner li:first-of-type {
                display: none;
            }
        }


        @media (max-width: 313px) {
            overflow-y: auto !important;
            #main-container {
                height: unset !important;
                overflow: unset !important;
            }
            footer {
                position: unset;
                #footer-nav {
                    bottom: unset;
                }
            }
        }

        @media (max-width: 766px), (max-height: 766px) {
            div:first-of-type {
                main {
                    flex-direction: column;
                    & > div > div:last-of-type {
                        flex-direction: column;
                    }
                }
                main > div section {
                    h2 {
                        margin: 25px 0 25px 0;
                    }
                    &.left {
                        margin-bottom: 0;
                        & > div:first-of-type {
                            .event-container > li {
                                padding: 0 1rem 1rem 1rem;
                                &:first-of-type {
                                    padding: 1rem;
                                }
                            }
                        }
                        & > div:last-of-type {
                            padding: 0 1rem 25px 1rem;
                        }
                        p, p:last-of-type {
                            margin-left: 0;
                        }
                        p::before {
                            width: 0 !important;
                        }
                    }
                    &.right {
                        & > div:first-of-type li {
                            padding: 0 1rem;
                        }
                        p, p:last-of-type, ul, li {
                            margin-left: 0;
                        }
                    }
                }
            }
        }

        @media (max-width: 1279px), (max-height: 899px) {
            main {
                align-items: flex-start;
                overflow-y: auto;
                & > div > div:last-of-type {
                    display: block !important;
                }
            }
            main > div section {
                width: 100% !important;
                overflow: hidden !important;
                padding: 0 !important;
                *:not(p) {
                    overflow: hidden;
                }
                &.left {
                    border-right: 0 !important;
                    border-bottom: 3px solid $red;
                    p, p:last-of-type {
                        margin-right: 0;
                    }
                }
                &.right {
                    div div ul li a {
                        color: $red;
                    }
                }
            }
        }
    }

    &.accessible-mode {
        main {
            height: unset !important;
            overflow-y: hidden;
            color: $medium-grey;
            padding-top: 2rem;
            #page-title {
                h1, h1.sr-only {
                    margin-bottom: 0 !important;
                }
            }
        }

        main a, main > div section.right div div ul li a {
            color: $medium-grey;
        }

        main > div, main > div > div:last-of-type {
            display: block !important;
        }

        main > div section {
            width: 100%;
            overflow: hidden;
        }

        main > div section.left {
            border-right: 0;
            border-bottom: 3px solid $medium-grey;
        }

        main > div section.right div div ul li a {
            line-height: 1.75rem;
        }

        main p, main a, main > div section h2, main button, main > div section.left > div:first-of-type .event-head h4 {
            font-size: 1.25rem;
        }
        main p, main > div section h2, main > div section.left > div:first-of-type dd, main > div section.left > div:first-of-type .event-container li .bullet, main button, main > div section.left > div:first-of-type .event-head h4 {
            color: $medium-grey;
        }

        main > div section.left > div:first-of-type .event-container time {
            font-size: 1rem;
            margin: 10px 0 1rem 0;
        }

        div:first-of-type main > div section.left > div:first-of-type .event-container > li {
            padding: 0 1rem 50px 1rem;
        }
        div:first-of-type main > div section.left > div:first-of-type .event-container > li:first-of-type {
            padding: 50px 1rem 50px 1rem;
        }

        @media (max-width: 766px), (max-height: 766px) {
            div:first-of-type main > div section h2 {
              margin-top: 50px;
            }
        }

        div:first-of-type main > div section.right > div:last-of-type {
            padding-bottom: calc(50px - 1rem);
        }

        main > div section h2, main > div section.right > div:first-of-type > div, main > div section.left > div:first-of-type .time, main > div section.left, main > div section.left > div:first-of-type {
            border-color: $medium-grey;
        }

        main > div section h2 {
            padding: 15px;
        }

        main > div section.left > div:first-of-type .time {
            height: 60px;
        }

        main button {
            &[aria-expanded="true"], &:hover, &:active, &:focus {
                color: $grey !important;
                background-color: $medium-grey !important;
            }
        }

    }
}

.hidden {
    display: none;
}
