.contact {
    footer {
        width: 100%;
        position: absolute;
        bottom: 0 !important;
        @media(min-width: 314px) {
            bottom: 54px !important;
        }
        @media(min-width: 767px) and (min-height: 767px) {
            bottom: 61px !important;
        }
        @media (min-width: 767px) and (min-height: 767px) and (max-width: 849px) {
            bottom: 57px !important;
        }
        @media (min-width: 850px) and (min-height: 767px) {
            bottom: 61px !important;
            #footer-nav {
                bottom: -61px;
            }
        }
    }

    #dancing-banana {
        bottom: 111px !important;
    }

    .menu-bar.right a:hover, .menu-bar.right a:active, .menu-bar.right a:focus {
        font-weight: bold;
    }

    main {
        display: flex;
        flex-direction: column;
        padding: 0;
        height: 100%;
        overflow: hidden;

        @media (min-width: 767px) and (min-height: 767px) {
            margin: 0 50px;
        }
        .postcard-container {
            width: 100%;
            height: 100%;
        }
        .postcard {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .contact-container {
            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media (min-width: 767px) and (min-height: 767px) {
                width: calc(100% - 100px);
            }
            & > div {
                display: inline-block;
                text-align: center;
                @media (min-height: 500px) {
                    margin: 1rem 0;
                }
            }
            p {
                color: $medium-grey;
                background-color: $red;
                padding: 5px 10px;
                font-size: 1.5rem;
                line-height: 1.5;
                display: inline;
                text-align: center;
                word-break: break-word;
                @media(min-width: 1200px) {
                    font-size: 2rem;
                }
            }
        }
    }

    &:not(.home):not(.projects):not(.cv):not(.accessible-mode) #main-container {
        height: calc(100% - 306px);
        &:not(.english) {
            @media (min-width: 220px) and (max-width: 244px) {
                height: calc(100% - 269px);
            }
            @media (min-width: 245px) and (max-width: 313px) {
                height: calc(100% - 233px);
            }
        }
        &.english {
            @media (min-width: 201px) and (max-width: 218px) {
                height: calc(100% - 271px);
            }
            @media (min-width: 219px) and (max-width: 313px) {
                height: calc(100% - 233px);
            }
        }
    }

    &:not(.home):not(.projects):not(.cv):not(.accessible-mode) main .contact-container {
        height: calc(100% - 325px);
        &:not(.english) {
            @media (min-width: 245px) and (max-width: 313px) {
                height: calc(100% - 289px);
            }
            @media (max-width: 313px) {
                top: 199px;
            }
            @media (max-width: 219px) {
                height: calc(100% - 361px);
                top: 236px;
            }
        }
        &.english {
            @media (min-width: 201px) and (max-width: 218px) {
                height: calc(100% - 271px);
            }
            @media (min-width: 219px) and (max-width: 313px) {
                height: calc(100% - 289px);
            }
            @media (max-width: 313px) {
                top: 200px;
            }
            @media (max-width: 219px) {
                top: 234px;
                height: calc(100% - 323px);

            }
        }
    }

    &:not(.home):not(.projects):not(.cv):not(.accessible-mode) #main-container, &:not(.home):not(.projects):not(.cv):not(.accessible-mode) main .contact-container {
        &:not(.english) {
            @media (min-width: 314px) and (max-width: 366px) {
                height: calc(100% - 233px);
            }
            @media (min-width: 367px) and (max-width: 373px) {
                height: calc(100% - 196px);
            }
            @media (min-width: 767px) and (min-height: 767px) {
                height: calc(100% - 216px);
            }
            @media (orientation: portrait) and (min-width: 767px) and (min-height: 767px) and (max-width: 841px) {
                height: calc(100% - 253px);
            }
            @media (orientation: landscape) and (min-width: 767px) and (min-height: 767px) and (max-width: 841px) {
                height: calc(100% - 204px);
            }
            @media (min-width: 841px) and (min-height: 767px) and (max-width: 849px) {
                height: calc(100% - 214px);
            }
            @media (min-width: 850px) and (min-height: 767px) {
                height: calc(100% - 265px);
            }
        }
        &.english {
            @media (min-width: 314px) and (max-width: 350px) {
                height: calc(100% - 196px);
            }
            @media (min-width: 350px) and (max-width: 373px) {
                height: calc(100% - 160px);
            }
            @media (min-width: 767px) and (min-height: 767px) {
                height: calc(100% - 218px);
            }
        }
        &:not(.english), &.english {
            @media (min-width: 374px) and (max-width: 599px) {
                height: calc(100% - 167px);
            }
            @media (min-width: 374px) and (min-height: 600px) and (max-width: 600px) {
                height: calc(100% - 160px);
            }
            @media (min-width: 374px) and (max-height: 599px) and (max-width: 849px) {
                height: calc(100% - 160px);
            }
            @media (min-width: 600px) and (max-width: 766px) and (max-height: 599px) {
                height: calc(100% - 160px);
            }
            @media (min-width: 600px) and (max-width: 766px) and (min-height: 600px) {
                height: calc(100% - 167px);
            }
            @media (min-width: 767px) and (min-height: 600px) and (max-height: 766px) {
                height: calc(100% - 175px);
            }
            @media (min-width: 767px) and (min-height: 600px) and (max-height: 766px) and (max-width: 841px) {
                height: calc(100% - 167px);
            }
            @media (min-width: 767px) and (max-height: 600px) {
                height: calc(100% - 160px);
            }
            @media (min-width: 998px) and (min-height: 767px) {
                height: calc(100% - 220px);
            }
            @media (min-width: 850px) and (max-height: 599px) {
                height: calc(100% - 167px);
            }
        }
    }

    &.accessible-mode {

        header {
            .mobile > ul {
                border-bottom: none;
            }
        }

        footer {
            @media (min-width: 398px) and (max-width: 540px) and (min-height: 800px) {
                bottom: 16px !important;
                position: absolute;
            }
        }

        main {
            display: flex;
            flex-direction: column;
            overflow-y: hidden;
            margin: 0 1rem 1rem 1rem;
            padding-top: 2rem;
            #page-title h1, #page-title h1.sr-only {
                margin: 0 0 3rem 0 !important;
            }
        }

        main .postcard, main .postcard-container {
            order: 2;
        }

        main .contact-container > div {
            text-align: left;
        }

        main .contact-container {
            position: static;
        }

        main .contact-container {
            order: 1;
            margin-bottom: 1rem;
            height: auto;
            width: auto;
            display: block;
        }

        main .contact-container > div {
            display: block;
            margin: 0;
        }

        main .contact-container p {
            background-color: $grey;
            word-break: normal;
            padding: 0;
        }
    }

}
