.cv {
    background-color: $medium-grey;

    height: auto !important;

    main section * {
        line-height: 1.3;
        font-size: 1rem;
    }

    #top-accessible-banner, #bottom-accessible-banner {
        a, button {
            &:hover, &:active, &:focus {
                color: $medium-grey;
                background-color: $red;
            }
        }
    }

    #top-accessible-banner {
        list-style-type: none;
        position: relative;
        left:0;
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        background-color: $grey;
        padding: 1rem;
        a, button {
            text-decoration: none;
            text-transform: none;
            background-color: $medium-grey;
            border-radius: 8px;
            padding: 4px;
            color: $grey;
            font-weight: bold;
            white-space: nowrap;
        }
        a, span {
            font-size: 0.9rem;
            @media (min-width: 767px) {
                font-size: 1.1rem;
            }
        }
        a {
            display: inline-block;
        }
        #start, #accessible-mode-btn {
            margin-right: 1rem;
        }
        html[lang="fr"] & {
            @media (max-width: 366px) {
                li:last-of-type {
                    padding-top: 1rem;
                }
            }
            @media (max-width: 340px) {
                li:nth-of-type(2) {
                    padding-top: 1rem;
                }
            }
        }
        html:not([lang="fr"]) & {
            @media (max-width: 349px) {
                li:last-of-type {
                    padding-top: 1rem;
                }    
            }
            @media (max-width: 326px) {
                li:nth-of-type(2) {
                    padding-top: 1rem;
                }
            }
        } 
    }


    #accessible-mode-btn {
        display: flex;
        align-items: center;
        white-space: nowrap;
        img {
            height: 14px;
            @media (min-width: 850px) {
                height: 18px;
            } 
        }
        span {
            margin-left: 7px;
        }
        &:hover, &:active, &:focus {
            img {
                -webkit-filter: brightness(500%);
                filter: brightness(500%);
            }
        }
    }

    #menu span, #pages a {
        text-transform: uppercase;
    }
    
    #menu {
        position: relative;
        display: flex;
        width: fit-content;
        align-items: center;
        padding: 1rem;
        margin: 2rem 0 0 20px;
        border-radius: 8px;
        background-color: transparent;
        border: 3px solid $grey;
        color: $grey;
        pointer-events: auto;
        line-height: 1rem;
        img {
            height: 16px;
            -webkit-filter: grayscale(100%) brightness(150%) !important;
            filter: grayscale(100%) brightness(150%) !important;
        }
        span {
            font-weight: bold;
            margin-left: 15px;
            font-size: 1.1rem;
            @media (min-width: 600px) and (min-height: 600px) and (max-width: 766px), (min-width: 600px) and (min-height: 600px) and (max-height: 766px) {
                font-size: 1rem;
            }
        }
        &[aria-expanded="true"] {
            border-radius: 8px 8px 0 0;
        }
        &:hover, &:active, &:focus, &[aria-expanded="true"] {
            background-color: $grey;
            color: $medium-grey !important;
            img {
                -webkit-filter: grayscale(100%) brightness(500%) !important;
                filter: grayscale(100%) brightness(500%) !important;
            }
        }
    }
    #pages {
        width: calc(100% - 40px);
        height: auto;
        margin: 0 0 0 20px;
        border-radius: 0 8px 8px 8px;
        border: 3px solid $grey;
        li {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        a {
            width: unset !important;
            padding: 15px 1rem 1rem 1rem;
            text-decoration: none;
            color: $grey;
            font-weight: bold;
            &.selected, &:hover, &:active, &:focus {
                background-color: $grey;
                color: $medium-grey;
            }
        }
        & > li:not(:last-of-type) {
            border-bottom: 3px solid $grey;
            }
    }

    main {
        color: $text-color;
        padding: 1rem;
        width: auto;

        #pdf {
            ul {
                display: flex;
                flex-wrap: wrap;
                li {
                    list-style-type: none;
                    &:first-of-type {
                        margin-right: 1rem;
                    }
                }
            }
            .pdf-link {
                display: inline-block;
                text-decoration: none;
            }
        }


        section:not(#pdf):not(#id) {
            margin-top: 2rem;
        }

        section#others {
            margin-bottom: 1rem;
        }

        strong, h2 {
            font-weight: bold;
        }

        sup {
            font-size: 0.75rem;
            display: inline-block;
            vertical-align: super;
        }

        sup abbr {
            font-size: 0.75rem;
            display: inline-block;
            cursor: help;
            text-decoration: none;
        }

        #collectives > p:not(:nth-child(odd)), h3, h3 time, h3 span, h4, h4 span {
            font-size: 0.75rem;
        }

        h3, h4, h4 span {
            margin: 1rem 0;
        }

        h3 {
            display: inline-block;
        }

        section > p {
            margin: 0;
        }

        :not(#pdf) ul, #collectives > p:not(:nth-child(even)), #trainings > p, #skills > p, #others > p {
            margin-left: 2rem;
        }

        #collectives > ul {
            margin-top: 1rem;
        }

        .no-margin {
            margin-left: -2rem;
        }

        li {
            list-style-type: disc;
        }

        a {
            color: $text-color;
            &:hover, &:active, &:focus {
                text-decoration: none;
                font-weight: bold;
            }
        }

        li p, #id p {
            margin: 0;
        }

        .examples {
            margin-top: 1rem;
        }
    }

    #modifs {
        background-color: $light-grey;
        display: inline-block;
        margin: 1rem 0;
        p {
            margin: 0;
            padding: 0.5rem;
        }
        time {
            font-size: inherit;
            margin: unset;
        }
    }

    footer {
        position: relative;
        width: 100%;
        left: 0;
        div {
            padding: 0 30px 30px 30px;
            @media (max-width: 599px), (max-height: 599px) {
                padding: 0 20px 20px 20px;
            }
            p {
                font-size: 0.75rem;
            }
        }
        #footer-nav, #bottom-accessible-banner {
            position: absolute;
            width: 100%;
        }
        #footer-nav {
            bottom: unset;
        }
    }

    &:not(.accessible-mode) {

        #pdf {
            ul {
                margin-bottom: 2rem;
            }
            .pdf-link, abbr {
                font-size: 0.75rem;
            }
            .pdf-link {
                color: $text-color;
                background-color: $medium-grey;
                border-width: 8px;
                border-style: outset;
                border-color: $light-grey $dark-grey $dark-grey $light-grey;
                white-space: nowrap;
                padding: 5px;
                margin-top: 1rem;
                &:hover, &:active, &:focus {
                    color: $text-color;
                    font-weight: normal;
                    background-color: white;
                    border-style: inset;
                    border-color: $dark-grey $light-grey $light-grey $dark-grey;
                    margin-top: calc(1rem + 4px);
                }
            }
        }
    }

    &.accessible-mode {
        background-color: $grey;

        h1 {
            color: $medium-grey;
            font-weight: bold;
            visibility: visible;
            font-size: 1.25rem;
            margin-bottom: 3rem;
            &.sr-only {
                width: unset;
                height: unset;
                position: unset;
                padding: unset;
                overflow: unset;
                clip: unset;
                -webkit-clip-path: unset;
                clip-path: unset;
                border: unset;
            }
        }

        #top-accessible-banner {
            min-height: 150px;
            padding-bottom: 0;
            @media (min-width: 219px) {
                min-height: 110px;
            }
            @media (min-width: 375px) {
                min-height: 50px;
            }
            a, button {
                padding: 8px;
                line-height: 1;
            }
        }

        #accessible-mode-btn {
            color: $medium-grey;
            background-color: $red;
            img {
                display: none;
            }
            span {
                margin-left: 0;
            }
            &:hover, &:active, &:focus {
                color: $medium-grey;
                background-color: $red;
                border-color: $red;
            }
        }

        #menu {
            color: $medium-grey;
            border-color: $medium-grey;
            img {
                -webkit-filter: grayscale(100%) brightness(500%) !important;
                filter: grayscale(100%) brightness(500%) !important;
            }
            &:hover, &:active, &:focus, &[aria-expanded="true"] {
                color: $grey !important;
                background-color: $medium-grey;
                font-weight: bold;
                img {
                    -webkit-filter: grayscale(100%) brightness(150%) !important;
                    filter: grayscale(100%) brightness(150%) !important;
                }
            } 
            span {
                font-weight: bold;
            }
        }

        #pages a {
            color: $medium-grey;
            background-color: $grey;
            &.selected, &:hover, &:active, &:focus {
                color: $grey !important;
                background-color: $medium-grey;
            } 
        }

        #pages, #pages li {
            border-color: $medium-grey;
        }

        main {
            color: $medium-grey;
            padding-top: 2rem;
        }

        #pdf {
            margin-bottom: 50px;
            .pdf-link, abbr, span { 
                color: $grey;
                font-size: 0.9rem;
                @media (min-width: 767px) {
                    font-size: 1.1rem;
                }
            }
            .pdf-link {
                background-color: $medium-grey;
                border-radius: 8px;
                padding: 4px;
                font-weight: bold;
                padding: 8px;
                &:hover, &:active, &:focus {
                    &, abbr, span {
                        color: $medium-grey;
                        background-color: $red;;
                    }
                }
            }
            @media (max-width: 371px) {
                li:first-of-type {
                    .pdf-link {
                        margin-bottom: 1rem;
                    }
                }
            }
            .sr-only {
                width: unset;
                height: unset;
                position: unset;
                padding: unset;
                overflow: unset;
                clip: unset;
                -webkit-clip-path: unset;
                clip-path: unset;
            }
        }

        section * {
            color: $medium-grey;
            font-size: 1.25rem;
            line-height: 1.4;
        }
        section a, section a em {
            &:hover, &:active, &:focus {
                text-decoration: none;
                font-weight: normal;
                color: $medium-grey;
                background-color: $red;
            }
        }

        #modifs {
            background-color: $dark-grey;
            p {
                color: $text-color;
            }
        }

        #bottom-accessible-banner {
            position: unset;
            margin-left: unset;
            @media (min-width: 767px) and (min-height: 767px) {
                margin-bottom: 1rem;
            }
        }

    }

}
