
html {
    overflow: inherit;
}

.home {

    display: block;
    width: 100%;
    height: 100%;
    background-color: $ghost-yellow;

    header, footer, main {
        padding: 0;
        margin: 0;
    }

    header.banner {
        nav {
            display: flex;
            flex-direction: column;
        }
        #top-accessible-banner {
            line-height: unset;
            li:last-of-type {
                @media (min-width: 367px) {
                    padding-top: unset !important;
                }
            }
            a {
                text-decoration: none;
                &.lang {
                    text-transform: capitalize;
                    line-height: 1;

                }
            }
        }

        #menu span, #pages a {
            text-transform: uppercase;
        }

        #menu {
            position: absolute;
            top: calc(60px + 3rem);
            right: 0;
            width: fit-content;
            margin-right: 30px;
            border-radius: 8px;
            background-color: transparent;
            border: 3px solid $grey;
            color: $grey;
            pointer-events: auto;
            line-height: 1rem;
            @media (min-width: 850px) {
                top: calc(62px + 3rem);
            }
            img {
                -webkit-filter: grayscale(100%) brightness(150%);
                filter: grayscale(100%) brightness(150%);
            }
            &[aria-expanded="true"] {
                border-radius: 8px 8px 0 0;
            }
            &:hover, &:active, &:focus, &[aria-expanded="true"] {
                background-color: $grey;
                color: $medium-grey;
                img {
                    -webkit-filter: grayscale(100%) brightness(500%);
                    filter: grayscale(100%) brightness(500%);
                }
            }
            @media (max-width: 766px), (max-height: 766px) {
                position: relative;
                top: unset;
                right: unset;
                margin: 2rem 0 0 20px;
                &[aria-expanded="true"] {
                    border-radius: 8px 8px 0 0;
                }
            }
        }

        #pages {
            position: relative;
            width: calc(100% - 60px);
            height: auto;
            margin: 2rem 0 0 30px;
            border-radius: 8px 0 8px 8px;
            border: 3px solid $grey;
            @media (min-width: 767px) and (min-height: 767px) {
                top: calc(51px + 1rem);
                margin-bottom: 4rem;
            }
            @media (min-width: 850px) {
                top: calc(53px + 1rem);
            }
            @media (max-width: 766px), (max-height: 766px) {
                width: calc(100% - 40px);
                margin: 0 0 0 20px;
                border-radius: 0 8px 8px 8px;
            }
            li {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
            a {
                width: unset !important;
                padding: 15px 1rem 1rem 1rem;
                text-decoration: none;
                color: $grey;
                font-weight: bold;
                &:hover, &:active, &:focus {
                    background-color: $grey;
                    color: $medium-grey;
                }
            }
            & > li:not(:last-of-type) {
                border-bottom: 3px solid $grey;
              }
        }
    }

    header.banner #top-accessible-banner, #bottom-accessible-banner {
        button, a {
            &:hover, &:active, &:focus {
                background-color: $magenta;
            }
        }
    }

    main {
        height: auto;
        width: 100%;
        overflow: hidden;
        text-align: center;
        padding: 3rem 30px 0 30px;
        @media (max-width: 766px), (max-height: 766px) {
            padding: 3rem 20px 0 20px;
        }
        @media (orientation: portrait), (max-height: 766px) {
            text-align: left;
        }
    }
    
    #page-title {
        text-align: left;
        position: relative;
        right: unset;
        margin-top: unset;
        width: fit-content;
        p {
            width: auto;
        }
        h1 {
            width: unset;
            height: unset;
            text-align: left;
            margin: 0;
            padding: 0;
            overflow: unset;
            clip: unset;
            -webkit-clip-path: unset;
            clip-path: unset;
            border: unset;
            color: black;
            background-color: unset;
        }
    }

    #page-title h1, h2, h3, p, main li {
        font-size: 1rem;
        font-family: $altfont;
        margin: 0;
    }

    #page-title h1, .lang, h2, p, main li {
        line-height: 1.5;
    }

    em {
        font-family: $altfont;
    }

    #page-title p, .magenta {
        color: $magenta;
    }

    #intro {
        margin-top: 3rem;
        @media(min-width: 600px) and (min-height: 600px) {
         margin-top: 5rem;
        }
    }

    #news, #social-networks {
        margin-bottom: 5rem;
    }

    .intro:not(#others), #welcome p:first-of-type, #others p:not(:last-of-type) {
        margin-bottom: 3rem;
    }

    .intro p, .intro li, .event-text, #social-networks p {
        line-height: 2;
    }

    #others p span.magenta {
        word-wrap: break-word;
    }

    main a, main input[type="button"] {
        position: relative;
        &:hover {
            cursor: pointer;
        }
    }

    main a {
        text-decoration: none;
        color: $text-color;
    }

    main a:not(.external-link) {
        color: $text-color;
        font-family: $altfont;
        border-width: 5px;
        border-style: outset;
        border-color: $light-grey $dark-grey $dark-grey $light-grey;
        background-color: $medium-grey;
        font-size: 0.75rem;
        white-space: nowrap;
        padding: 5px;
        &:hover, &:active, &:focus {
            background-color: white;
            top: 4px;
            border-style: solid;
            border-color: $magenta;
            border-style: inset;
            border-color: $dark-grey $light-grey $light-grey $dark-grey;

        }
        @media (min-width: 600px) and (min-height: 600px) {
            border-width: 8px;
        }
    }

    #news {
        width: 100%;

        h2, h3, p, a {
            text-align: center;
        }

        h2, h3 {
            font-weight: bold;
        }

        h2 {
            margin: 10px;
        }

        .external-link {
            margin-left: 10px;
            &:hover, &:active, &:focus {
                text-decoration: underline !important;
            }
            span:first-of-type {
                filter: brightness(0.5);
                -webkit-filter: brightness(0.5);
            }
        }

        & > div {
            & > div {
                height: 100%;
                // projects
                &:first-of-type {
                    border: 2px solid $text-color;
                    margin-bottom: 3rem;
                }
                // others
                &:last-of-type {
                    display: flex;
                    flex-direction: column;
                    & > div {
                        border: 2px solid $text-color;
                        &:not(:last-of-type) {
                            margin-bottom: 3rem;
                        }
                    }
                }
                .category {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .category + ul {
                    border-top: 2px solid $text-color;
                }
                // .project
                li {
                    width: 100%;
                    display: flex;
                    &::before {
                        content: none;
                        margin: 0;
                    }
                }

                .project {
                    h3 {
                        color: $magenta;
                        word-break: break-word;
                        hyphens: auto;
                        -webkit-hyphens: auto;
                        -moz-hyphens: auto;
                    }
                    &:not(:last-of-type) {
                        border-bottom: 1px solid $text-color;
                    }
                    .projects-links, .projects-links > ul {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .projects-links {
                        width: 20%;
                        & > ul {
                            flex-wrap: wrap;
                            li {
                                display: block;
                                width: auto;
                            }
                        }
                        a {
                            margin: 0;
                            white-space: normal;
                        }
                        a:not(.external-link):first-of-type {
                            margin: 10px 20px;
                        }
                    }
                    &:not(.event-text) a {
                        display: inline-block;
                    }
                    .desc, .text-container {
                        font-size: 0.75rem;
                    }
                    .event-text {
                        a {
                            width: auto;
                            display: inline;
                        }
                    }
                }

                // projects
                &:first-of-type .project {
                    .projects-container-div {
                        &:not(:nth-of-type(2)) {
                            padding: 10px;
                        }
                        &:not(:last-of-type) {
                            display: flex;
                            flex-direction: column;
                        }
                        &:first-of-type {
                            width: 15%;
                        }
                        &:nth-of-type(2) {
                            width: 30%;
                        }
                        &:nth-of-type(3) {
                            width: 35%;
                            border-right: 1px solid $text-color;
                            p {
                                text-align: left;
                                margin: 0 10px;
                            }
                        }
                    }
                    .picture {
                        border-left: 1px solid $text-color;
                        border-right: 1px solid $text-color;
                    }
                    .projects-links {
                        height: 100%;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                        object-fit: cover;
                    }
                }

                // others
                &:last-of-type {
                    .project {
                        .container-div {
                            padding: 10px;
                            &:nth-of-type(2) {
                                border-left: 1px solid $text-color;
                                border-right: 1px solid $text-color;
                            }
                        }
                    }
                    & > div {
                        .project {
                            .container-div {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                        // texts and posts
                        &:not(:last-of-type) {
                            .project {
                                .container-div {
                                    &:first-of-type {
                                        width: 45%;
                                    }
                                    &:nth-of-type(2) {
                                        width: 35%;
                                    }
                                }
                            }
                        }
                        // events
                        &:last-of-type {
                            .project {
                                .container-div {
                                    &:first-of-type {
                                        width: 30%;
                                    }
                                    &:nth-of-type(2) {
                                        width: 15%;
                                    }
                                    &:last-of-type {
                                        width: 55%;
                                        padding-top: 20px;
                                        p {
                                            text-align: left;
                                            margin: 0 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    @media (orientation: landscape) and (max-height: 599px) {
        #news {
            & > div {
                margin: 0 20px;
            }
        }
    }

    @media (min-height: 600px) and (max-width: 1199px) {
        #news {
            & > div {
                margin: 0 30px;
            }
        }
    }

    @media (orientation: portrait) and (max-width: 599px) {
        #news {
            & > div {
                margin: 0;
            }
        }
    }

    @media (min-width: 1200px) {
        #news {
            & > div {
                margin: 0 60px;
            }
        }
    }

    @media (orientation: portrait), (max-height: 599px) {
        #news {
            & > div > div {
                .project {
                    flex-direction: column;
                    align-items: center;
                }
                &:first-of-type {
                    .project {
                        .projects-container-div:first-of-type, .projects-container-div:nth-of-type(2), .projects-container-div:nth-of-type(3), .projects-container-div:last-of-type {
                            width: 100%;
                        }
                        .picture {
                            border-left: none;
                            border-right: none;
                        }
                        .projects-container-div:nth-of-type(3) {
                            border-left: none;
                            border-right: none;
                            padding-top: 20px;
                            padding-bottom: 20px;
                        }
                        .projects-links {
                            padding-top: 0 !important;
                            a:not(.external-link) {
                                margin: 0 10px 20px 10px;
                            }
                        }
                        .projects-container-div:nth-of-type(3) p {
                            text-align: center;
                            margin: 0;
                        }
                    }
                }
                &:last-of-type {
                    .project {
                        .container-div:first-of-type, .container-div:nth-of-type(2), .container-div:last-of-type {
                            width: 100% !important;
                        }
                        .container-div:nth-of-type(2) {
                            border-left: none;
                            border-right: none;
                        }
                    }
                    & > div {
                        &:not(:last-of-type) {
                            .project {
                                .projects-links {
                                    padding-top: 0;
                                }
                            }
                        }
                        &:last-of-type {
                            .project {
                                .container-div:last-of-type {
                                    padding-top: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #spell-button-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #spell-button {
        border: none;
        width: 125px;
        height: 125px;
        margin: 3rem;
        text-align: center;
        background: url('../images/button.svg') no-repeat;
        border-radius: 50%;
        background-size: contain;
        cursor: url('../images/wizard.png'), auto;
        @media(min-width: 600px) and (min-height: 600px) {
            margin: 5rem;
           }
        &:hover, &:active, &:focus {
            position: relative;
            top: 4px;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
    }

    footer {
        position: absolute;
        width: 100%;
        left: 0;
        div:not(#footer-nav) {
            padding: 0 30px 30px 30px;
            @media (max-width: 599px), (max-height: 599px) {
                padding: 0 20px 20px 20px;
            }
            p {
                font-size: 0.75rem;
            }
        }
        #footer-nav, #bottom-accessible-banner {
            position: absolute;
            width: 100%;
        }
    }

    footer .external-link {
        text-decoration: underline;
        color: $text-color;
        &:hover, &:active, &:focus {
            text-decoration: none;
            font-weight: bold;
        }
    }

    &.glossy, &.accessible-mode {
        background-color: $grey;

        p, li, .magenta, #page-title h1, #page-title p {
            color: $medium-grey;
        }

        .magenta, #page-title p {
            font-weight: bold;
        }
        
        #page-title h1, h2, h3, #page-title p, p, li {
            font-size: 1.25rem;
            font-family: $font;
        }

        #news > div > div .project h3 {
            color: $medium-grey;
        }

        a {
            font-family: $font;
            &, &:not(.external-link) {
                color: $medium-grey;
            }
        }

        .intro {
            p {
                line-height: 1.75;
            }
        }

        em {
            font-family: $font;
        }


        nav {
            a {
                border: none;
                background-color: transparent;
                font-size: 1.25rem;
                padding: 0;
                color: $medium-grey;
                background-image: none;
                font-weight: normal;
                &:hover {
                    font-weight: bold;
                    background-color: transparent;
                    background-image: none;
                }
            }
        }

        main a:not(.external-link) {
            border-width: 4px;
            font-family: $font;
            font-size: 1rem;
            font-weight: bold;
            color: $grey;
            background-color: $medium-grey;
            padding: 2px;
        }
        a:not(.external-link):not(.lang) {
            border-radius: 8px;
        }

        #news {
            & > div > div {
                &:first-of-type, &:last-of-type div, ul, .project:not(:last-of-type), .picture, &:first-of-type .project .projects-container-div:nth-of-type(3), &:last-of-type .project .container-div:nth-of-type(2), .projects-links {
                    border-color: $medium-grey;
                }
                &:first-of-type, &:last-of-type div {
                    border-width: 2px;
                }
                &:first-of-type, &:last-of-type > div {
                    color: $medium-grey;
                }
                .category {
                    h2 {
                        color: $medium-grey;
                    }
                }
                .external-link span:first-of-type {
                    filter: grayscale(100%) brightness(150%);
                    -webkit-filter: grayscale(100%) brightness(150%);
                }
            }
        }

        footer {
            position: relative;
            div:not(#footer-nav) p {
                font-size: 0.9rem;
            }
            // a.external-link {
            //     color: $medium-grey;
            //     background-color: $grey;
            // }
        }
    }

    &.glossy {

        header.banner {
            #menu, #pages {
                border-color: $medium-grey;
            }
            #menu, #pages a {
                color: $medium-grey;
                background-color: $grey;
                &:hover, &:active, &:focus {
                    background-color: $medium-grey;
                    color: $grey;
                }
            }
            #menu {
                img {
                    -webkit-filter: grayscale(100%) brightness(500%);
                    filter: grayscale(100%) brightness(500%);
                }
                &:hover, &:active, &:focus {
                    img {
                        -webkit-filter: grayscale(100%) brightness(150%);
                        filter: grayscale(100%) brightness(150%);
                    }
                }
            }
            #pages {
                li {
                    border-color: $medium-grey;
                }
                a {
                    &:hover, &:active, &:focus {
                        border-radius: unset;
                    }
                }
            }
        }

        main {
            a:not(.external-link):not(.lang) {
                border-style: outset;
                border-color: $magenta;
                background-color: $magenta;
                background-image: linear-gradient($medium-grey 10%, $magenta 90%);
                &:hover, &:active, &:focus {
                    background-image: linear-gradient($magenta, $medium-grey);
                    top: unset;
                }
            }

            #news {
                & > div > div {
                    .category + ul {
                        background-color: $grey;
                    }
                    .project {
                        .desc {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }

    }

    &.accessible-mode {

        header.banner {
            border-bottom: none;
            #top-accessible-banner {
                display: flex;
                padding-bottom: 0;
                margin-left: unset;
                #accessible-mode-btn {
                    width: unset;
                    background-color: transparent;
                    color: $medium-grey;
                    &:hover, &:active, &:focus, &[aria-pressed="true"] {
                        background-color: $magenta;
                        color: $medium-grey;
                    }
                }
            }
            #menu {
                position: relative;
                top: unset;
                right: unset;
                width: fit-content;
                margin: 3rem 0 0 30px;
                color: $medium-grey;
                @media (max-width: 599px), (max-height: 599px) {
                    margin-left: 20px;
                }
            }
            #pages {
                top: unset;
                margin-top: unset;
                margin-bottom: unset;
                // margin-left: 1rem;
                border-color: $medium-grey;
                border-radius: 0 8px 8px 8px;
                li {
                    border-color: $medium-grey;
                }
                a {
                    border: none;
                    color: $medium-grey;
                    &:hover, &:active, &:focus {
                        color: $grey !important;
                        background-color: $medium-grey;
                        border-radius: unset;
                    }
                }
            }
        }

        header.banner #top-accessible-banner , #bottom-accessible-banner {
            a, button {
                border: none;
            }
        }

        #page-title {
            display: block;
            h1 {
                font-weight: normal;
                margin: 0 !important;
            }
        }

        #intro {
            margin-top: 3rem;
            @media (min-width: 600px) and (min-height: 600px) {
                margin-top: 5rem;
            }
            @media (orientation: portrait), (max-height: 599px) {
                margin-top: 3rem;
            }
        }

        #spell-button-container, span.ornaments {
            display: none;
        }

        #news {
            margin-top: 5rem;
            & > div > div {
                .project {
                    flex-direction: column;
                    align-items: center;
                }
                &:first-of-type {
                    .project {
                        .projects-container-div:first-of-type, .projects-container-div:nth-of-type(2), .projects-container-div:nth-of-type(3), .projects-container-div:last-of-type {
                            width: 100%;
                        }
                        .picture {
                            border-left: none;
                            border-right: none;
                            display: flex;
                            align-items: center;
                            img {
                                width: 50%;
                                @media (orientation: portrait), (max-height: 599px) {
                                    width: 100%;
                                }
                            }
                        }
                        .projects-container-div:nth-of-type(3) {
                            border-left: none;
                            border-right: none;
                            padding-top: 20px;
                            padding-bottom: 20px;
                        }
                        .projects-links {
                            padding-top: 0 !important;
                            a:not(.external-link) {
                                margin: 0 10px 20px 10px;
                            }
                        }
                        .projects-container-div:nth-of-type(3) p {
                            text-align: center;
                            margin: 0;
                        }
                    }
                }
                &:last-of-type {
                    .project {
                        .container-div:first-of-type, .container-div:nth-of-type(2), .container-div:last-of-type {
                            width: 100% !important;
                        }
                        .container-div:nth-of-type(2) {
                            border-left: none;
                            border-right: none;
                        }
                    }
                    & > div {
                        &:not(:last-of-type) {
                            .project {
                                .projects-links {
                                    padding-top: 0;
                                }
                            }
                        }
                        &:last-of-type {
                            .project {
                                .container-div:last-of-type {
                                    padding-top: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }

        #news > div > div .project .desc, #news > div > div .project .text-container  {
            font-size: 1.25rem;
        }

        footer div:not(#footer-nav) p {
            font-size: 1rem;
        }

        .project {
            flex-direction: column;
            align-items: center;
        }

        a:not(.external-link) {
            border-style: solid;
            border-color: $medium-grey;
            &:hover, &:active, &:focus {
                top: unset;
                border-style: solid;
            }
        }

        #bottom-accessible-banner a, #bottom-accessible-banner button {
            color: $grey;
            background-color: $medium-grey;
        }

        a:not(.external-link), header.banner #top-accessible-banner a, header.banner #top-accessible-banner button, #bottom-accessible-banner a {
            &:hover, &:active, &:focus {
                // color: $grey !important;
                color: $medium-grey !important;
                border-color: $magenta;
                background-color: $magenta;
            }
        }
        
        #bottom-accessible-banner {
            position: unset;
            margin-left: unset;
        }

        #bottom-accessible-banner #top-btn {
            font-family: $font;
        }

        footer div:not(#footer-nav) {
            padding-top: 0;
            padding-bottom: 5rem;
        }

    }

    // Glitter effect

    #stars-container {
        position: fixed;
        z-index: -1;
    }

    .star {
      display: block;
      position: fixed;
      z-index: -1;
      top: 50%;
      left: 50%;
      color: $medium-grey;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      pointer-events: none;
      animation: glitter 4.5s linear 0s infinite normal;
      -webkit-animation: glitter 4.5s linear 0s infinite normal;
      -moz-animation: glitter 4.5s linear 0s infinite normal;
      -ms-animation: glitter 4.5s linear 0s infinite normal;
      -o-animation: glitter 4.5s linear 0s infinite normal;
      &.hidden {
          display: none;
      }
    }

    /*CSS3 keyframes for glittering effect*/

    @-webkit-keyframes glitter {
      0% {
        -webkit-transform: scale(1);
        opacity: 1;
      }
      25% {
        -webkit-transform: scale(0.5);
        opacity: 0;
      }
      50% {
        -webkit-transform: scale(1);
        opacity: 1;
      }
      75% {
        -webkit-transform: scale(0.5);
        opacity: 0;
      }
      100% {
        -webkit-transform: scale(1);
        opacity: 1;
      }
    }

    @-moz-keyframes glitter {
      0% {
        -moz-transform: scale(1);
        opacity: 1;
      }
      25% {
        -moz-transform: scale(0.5);
        opacity: 0;
      }
      50% {
        -moz-transform: scale(1);
        opacity: 1;
      }
      75% {
        -moz-transform: scale(0.5);
        opacity: 0;
      }
      100% {
        -moz-transform: scale(1);
        opacity: 1;
      }
    }

}
