.image-collection {
    background-color: $ghost-yellow;
    .menu-bar.right a:hover, .menu-bar.right a:active {
        font-weight: bold;
    }
    .menu-bar nav a:not(.selected):hover, .menu-bar nav a:not(.selected):active {
        font-weight: normal;
    }
    header, footer {
        width: 100%;
    }
    header {
        padding-left: 25px;
        @media (min-width: 767px) {
            padding-left: 50px;
        }
    }
    footer.flex-line {
        justify-content: center;
    }
    @media (max-width: 767px) {
        .menu-bar, .menu-bar a, .menu-bar p {
            font-size: 0.75rem !important;
        }
        nav > ul > li > a::before {
            font-size: 0.9rem !important;
            margin-right: 5px;
        }
        nav > ul > li > a.selected::before {
            font-size: 0.9rem !important;
            margin-right: 5px;
        }
        aside.left > ul {
            margin: 0 !important;
            width: 100%;
        }
        footer {
            padding: 0 !important;
        }
    }
    main {
        // @media (max-width: 767px) and (orientation: landscape) {
        //     padding: 0;
        // }
        .img-container {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            @media (max-width: 1024px) {
                grid-template-columns: auto auto auto;
            }
            @media (max-width: 600px) and (orientation: portrait) {
                grid-template-columns: auto;
            }
            & > div {
                border-bottom: 3px solid red;
                border-right: 3px solid red;
                width: 100%;
                a {
                    height: 100%;
                    width: 100%;
                    padding: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        background-color: red;
                    }
                }
                div {
                   position: relative;
                }
                &.match {
                    div {
                        background-color: red;
                    }
                    img {
                        display: block;
                        mix-blend-mode: screen;
                        -webkit-filter: grayscale(100%);
                        filter: grayscale(100%);
                        border: 3px solid red;
                    }
                }
                & > :first-of-type {
                    grid-column: 1;
                }
                img {
                    width: 100%;
                }
            }

        }
    }
}
