.image-collection {
    background-color: $ghost-yellow;
    .menu-bar.right a:hover, .menu-bar.right a:active, .menu-bar.right a:focus {
        font-weight: bold;
    }
    .menu-bar nav a:not(.selected):hover, .menu-bar nav a:not(.selected):active, .menu-bar nav a:not(.selected):focus {
        font-weight: normal;
    }
    header, footer {
        width: 100%;
    }
    header {
        padding-left: 25px;
        @media (min-width: 767px) {
            padding-left: 50px;
        }
    }
    footer.flex-line {
        justify-content: center;
    }
    @media (max-width: 767px) {
        .menu-bar, .menu-bar a, .menu-bar p {
            font-size: 0.75rem !important;
        }
        nav > ul > li > a::before {
            font-size: 0.9rem !important;
            margin-right: 5px;
        }
        nav > ul > li > a.selected::before {
            font-size: 0.9rem !important;
            margin-right: 5px;
        }
        footer {
            padding: 0 !important;
        }
    }
    @media (max-width: 600px), (max-width: 600px) {
        aside.left > ul, aside.right > ul {
            margin: 0 !important;
        }
    }
    main {
        .img-container {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            @media (max-width: 1024px) {
                grid-template-columns: auto auto auto;
            }
            @media (max-width: 600px) and (orientation: portrait) {
                grid-template-columns: auto;
            }
            & > div {
                border-bottom: 3px solid red;
                border-right: 3px solid red;
                width: 100%;
                a {
                    height: 100%;
                    width: 100%;
                    padding: 50px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover, &:active, &:focus {
                        background-color: red;
                    }
                }
                div {
                   position: relative;
                   &.rounded {
                       border-radius: 50%;
                   }
                }
                &.plusplusegal {
                    a:hover, a:active, a:focus {
                        span.box {
                            background-color: red;
                            border-color: white;
                        }
                        span.box div, &.match span.box div {
                            background-image: url('/home/user/themes/website_theme/images/++=3.png');
                        }
                    }
                    &.match {
                        span.box div {
                            background-image: url('/home/user/themes/website_theme/images/++=2.png');
                        }
                    }
                    span.box {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        z-index: 999;
                        display: flex;
                        justify-content: center;
                        border-top: 3px solid red;
                        border-left: 3px solid red;
                        padding: 20px;
                        background-color: $ghost-yellow;
                        div {
                            border-radius: 50%;
                            background-image: url('/home/user/themes/website_theme/images/++=.png');
                            content:"";
                            pointer-events: none;
                            background-size: 30px 30px;
                            width: 30px;
                            height: 30px;
                            @media (min-width: 1200px) {
                                background-size: 40px 40px;
                                width: 40px;
                                height: 40px;
                            }
                        }
                    }
                }
                &.match {
                    div:not(.ppe-icon) {
                        background-color: red;
                        border: 3px solid red;
                    }
                    img {
                        display: block;
                        mix-blend-mode: screen;
                        -webkit-filter: grayscale(100%);
                        filter: grayscale(100%);
                    }
                    a:hover, a:active, a:focus {
                        div {
                            border-color: white;
                        }
                    }
                }
                & > :first-of-type {
                    grid-column: 1;
                }
                img {
                    width: 100%;
                }
            }

        }
    }
}
