.image-collection {
    overflow-y: auto;
    background-color: $ghost-yellow;
    .menu-bar {
        position: fixed;
        z-index: 997;
    }
    .menu-bar.right a:hover, .menu-bar.right a:active {
        font-weight: bold;
    }
    .menu-bar nav a:not(.selected):hover, .menu-bar nav a:not(.selected):active {
        font-weight: normal;
    }
    header, footer {
        right: 20px;
        width: 100%;
        padding-left: 70px;
    }
    footer {
        bottom: 0;
    }
    #main-container aside.right {
        right: 20px;
    }
    @supports (-webkit-appearance:none) {
        header, footer, #main-container aside.right {
            right: 15px;
        }
    }
    @media (max-width: 1024px) {
        header, footer, #main-container aside.right {
            right: 0;
        }
    }
    @media (max-width: 767px) {
        nav > ul > li > a::before {
            font-size: 0.75rem !important;
            margin-right: 5px;
        }
        .menu-bar, .menu-bar a, .menu-bar p {
            font-size: 0.75rem !important;
        }
        header {
            padding-left: 50px;
        }
        aside.left > ul {
            margin: 0 !important;
            width: 100%;
        }
        footer {
            padding: 0 !important;
        }
    }
    main {
        margin: 25px 50px;
        .img-container {
            padding: 5%;
            display: grid;
            grid-template-columns: repeat(auto-fit, 33vh);
            grid-auto-flow: row;
            justify-content: center;
            grid-column-gap: 9vh;
            grid-row-gap: 9vh;
            div {
                &.match {
                    img {
                        border: 5px solid red;
                    }
                }
                &:hover {
                    .hover-text {
                        display: block;
                    }
                }
                &:first-of-type {
                    grid-column: 1;
                }
                img {
                    width: 100%;
                }
                &:last-of-type {
                    padding-bottom: 70px;
                }
                .hover-text {
                    display: none;
                    font-family: $altfont;
                    font-size: 0.7rem;
                    line-height: 1.5;
                    text-align: justify;
                    padding-top: 20px;
                    p::before {
                        content: "";
                        margin-left: 2vw;
                    }
                }
            }

        }
    }
}
