body {
    &.scrolled {
        position: relative;
    }
}

#dancing-banana {
    display: none;
    @media (max-width: 766px), (max-height: 766px) {
        &:not(.invisible) {
            display: none !important;
        }
    }
}

.menu-bar {
    background-color: $red;
    height: 50px;
    nav, ul:not(#pages):not(#bottom-accessible-banner) {
        height: 100%;
    }
    &:not(footer):not(#top-accessible-banner) {
        li, a, button, label {
            text-transform: uppercase;
        }
    }
    li, a, button, p {
        color: $medium-grey;
    }
    a, button {
        &.selected {
            font-weight: bold;
        }
    }
    a {
        display: block;
        text-decoration: none;
    }
    nav > ul > li > a .bullet, nav > ul > li > button .bullet {
        margin-right: 10px;
        font-family: $thirdfont;
        bottom: 1px;
        font-size: 0.9rem;
        position: relative;
        display: none;
        @media (min-width: 767px) and (min-height: 767px) {
            display: unset;
        }
    }
}

.menu-bar:not(.left) {
    a, button {
        &:hover, &:active, &:focus {
            font-weight: bold;
        }
    }
}

.menu-bar.left {
    fieldset {
        height: 100%;
        div {
            white-space: nowrap;
        }
    }

    input, label {
        cursor: pointer;
    }

    input {
        // &:hover, &:active, &[aria-checked="true"] {
        &:hover, &:active, &:checked {
            & + label {
                font-weight: bold;
            }
        }
        &:focus {
            outline: none;
            & + label {
                outline: auto;
            }
        }
    }

    label {
        display: inline-block;
    }
}

.menu-bar.right {
    justify-content: space-between;
    align-items: center;
    li:not(:last-of-type) {
        a, button {
            margin-right: 25px;
        }
    }
}

.flex-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

header.banner {

    height: auto;
    position: relative;

    nav {
        pointer-events: none;
        width: 100%;
    }

    div, ul {
        pointer-events: auto;
    }
    div {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        z-index: 999;
        &.scrolled {
            background-color: $red;
            @media (min-width: 314px) {
                position: fixed;
                top: -91px;
            }
            html:not([lang="fr"]) & {
                @media (min-width: 351px) and (max-width: 366px) {
                    top: -54px;
                } 
            }
            @media (min-width: 367px) {
                top: -54px;
            }
            @media (min-height: 600px) and (min-width: 600px) {
                top: -57px;
            }
            @media (min-width: 850px) and (max-height: 599px) {
                top: -58px;
            }
            @media (min-width: 850px) and (min-height: 600px) {
                top: -61px;
            }
            @media (min-height: 767px) and (min-width: 767px) {
                top: -71px;
            }
            @media (min-height: 767px) and (min-width: 767px) and (max-width: 1136px) {
                top: -106px;
            }
        }
    }
    button, a {
        cursor: pointer;
    }
    button, button span, a {
        font-size: 1.1rem;
        @media (min-width: 600px) and (min-height: 600px) and (max-width: 766px), (min-width: 600px) and (min-height: 600px) and (max-height: 766px) {
            font-size: 1rem;
        }
    }

    #top-accessible-banner {
        position: relative;
        left:0;
        width: 100%;
        line-height: unset;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 1rem 1rem 0 1rem;
        background-color: $grey;
        & > li {
            padding-bottom: 1rem;
        }
        a, button {
            text-transform: none;
            color: $grey;
            background-color: $medium-grey;
            border-radius: 8px;
            padding: 4px;
            font-weight: bold;
            white-space: nowrap;
            &:hover, &:active, &:focus {
                color: $medium-grey;
                background-color: $red;
            }
        }
        a, span, button {
            font-size: 0.9rem;
            line-height: 0.8rem;
            @media (min-width: 850px) {
                font-size: 1.1rem;
                line-height: 1rem;
            }
        }
        a {
            display: inline-block;
        }
        li:last-of-type {
            a {
                text-transform: capitalize;
            }
        }
        #start {
            margin-right: 1rem;
        }
        html[lang="fr"] & {
            @media (max-width: 330px), (min-width: 351px) {
                #accessible-mode-btn {
                    margin-right: 1rem;
                }
            }
        }
        html:not([lang="fr"]) & {
            @media (max-width: 315px), (min-width: 334px) {
                #accessible-mode-btn {
                    margin-right: 1rem;
                }
            }
        }
        @media (min-width: 767px) and (min-height: 767px) {
            li.desktop a {
                margin-right: 1rem;
    
            }
        }
    }

    #menu {
        width: 100%;
        height: 53px;
        display: flex;
        align-items: center;
        padding: 1rem;
        background-color: $red;
        @media (min-width: 314px) {
            width: 130px;
        }
        img {
            height: 16px;
        }
        span {
            font-weight: bold;
            margin-left: 15px;
        }
        &:hover, &:active, &:focus, &[aria-expanded="true"] {
            color: $grey;
            background-color: $medium-grey;
        }
    }

    #accessible-mode-btn {
        display: flex;
        align-items: center;
        img {
            height: 14px;
            @media (min-width: 850px) {
                height: 18px;
            }
        }
        span {
            margin-left: 7px;
        }
        &.small-device {
            padding: 10px 1rem;
            img {
                display: none;
            }
            span {
                margin-left: 0;
                font-weight: bold;
            }
        }
    }

    #pages {
        @media (min-width: 767px) and (min-height: 767px) {
            width: calc(100% - 100px);
            height: 50px;
            margin: 0 50px;
            & > li:first-of-type a {
                width: 127px;
            }
            & > li:nth-of-type(2) > a {
                width: 112px;
            }
            & > li:nth-of-type(3) a {
                width: 114px;
            }
            a, button {
                font-size: 1rem;
            }
        }
        &.select-page {
            position: absolute;
            width: 100%;
            height: auto;
            flex-direction: column;
            background-color: $red;
            z-index: 1000;
            border-top: 3px solid $red;
            @media (min-width: 314px) {
                width: 130px;
                position: fixed;
            }
            & > li {
                width: 100%;
                display: flex;
                border: none;
                justify-content: flex-start;
                &:not(:last-of-type) {
                    border-bottom: 3px solid $medium-grey;
                }
                a, button {
                    width: 100%;
                    padding: 10px 1rem;
                    font-weight: bold;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-align: left;
                    &.selected, &:hover, &:active, &:focus {
                        color: $red;
                        background-color: $medium-grey;
                    }
                }
            }
        }
        &.scrolled {
            top: 49px;
        }
    }
    #accessible-mode-btn {
        white-space: nowrap;
    }

}

.desktop {
    display: none;
}
.mobile {
    display: block;
}

#main-container > aside.right, footer.flex-line > div {
    display: none;
}

#main-container > aside.left {
    display: block;
}

#main-container {
    display: flex;
    flex-direction: column;
    &.scrolled {
        position: relative;
        @media (min-width: 314px) {
            top: 61px;
        }
        @media (min-width: 314px) and (max-width: 766px), (min-width: 314px) and (max-height: 766px) {
            top: 54px;
        }
    }

    & > aside {
        position: absolute;
        bottom: 0;
        width: calc(100vh - 150px);
        &.left > fieldset {
            margin: 0 1rem;
            @media (min-width: 767px) and (min-height: 767px) and (max-height: 849px) {
                margin: 0;
                &.scrolled {
                    margin: 0 0 0 61px;
                }
            }
        }
        &.right > nav > ul {
            margin: 0;
        }
        &.left > fieldset, &.right > nav > ul {
            @media (min-width: 767px) and (min-height: 849px) {
                margin: 0 25px;
                &.scrolled {
                    margin: 0 25px 0 95px
                }
            }
            @media (min-width: 767px) and (min-height: 900px) {
                margin: 0 50px;
                &.scrolled {
                    margin: 0 50px 0 95px
                }
            }
        }
        &.scrolled {
            width: calc(100vh - 100px);
            bottom: 0;
        }
        &.left {
            @media (min-width: 314px) and (max-width: 766px),  (min-width: 314px) and (max-height: 766px) {
                border-bottom: 3px solid $red;
            }
            @media (max-width: 766px), (max-height: 766px) {
                width: 100%;
                height: unset;
                position: unset;
                &.menu-bar {
                    background-color: unset;
                }
                & > fieldset {
                    white-space: nowrap;
                    flex-wrap: wrap;
                    margin: 1rem;
                    html[lang="fr"] & {
                        @media (max-width: 541px) {
                            justify-content: flex-start;
                            line-height: 1.5;
                        }
                    }
                    html:not([lang="fr"]) & {
                        @media (max-width: 549px) {
                            justify-content: flex-start;
                            line-height: 1.5;
                        }
                    }
                    div:not(:last-of-type) {
                        margin-right: 1rem
                    }
                    label {
                        text-transform: unset;
                        color: $text-color;
                    }
                }
            }
            @media (min-width: 767px) and (min-height: 767px) {
                transform: rotate(-90deg);
                transform-origin: left top;
                & > fieldset {
                    label {
                        color: $medium-grey;
                    }
                    div:first-of-type label {
                        width: 107px;
                    }
                    div:nth-of-type(2) label {
                        width: 72px;
                    }
                    div:nth-of-type(3) label {
                        width: 42px;
                    }
                    div:nth-of-type(4) label {
                        width: 127px;
                    }
                    div:last-of-type label {
                        width: 112px;
                    }
                }
            }
            & > fieldset input {
                background-color: transparent;
            }
        }
        &.right {
            transform: rotate(90deg);
            transform-origin: right top;
            right: 0;
            a {
                display: block;
            }
            & > nav > ul {
                justify-content: flex-start;
                li:first-of-type a {
                    width: 51px;
                }
                li:nth-of-type(2) a {
                    width: 66px;
                }
                li:nth-of-type(3) a {
                    width: 25px;
                }
                li:last-of-type a {
                    width: 53px;
                }
            }
        }
        @media (min-height: 600px) and (min-width: 600px) and (max-width: 840px) {
            width: calc(100vh - 197px);
        }
        @media (min-height: 600px) and (min-width: 841px) and (min-width: 850px) {
            width: calc(100vh - 204px);
        }
        @media (min-height: 600px) and (min-width: 841px) and (max-width: 849px) {
            width: calc(100vh - 156px);
        }
        @media (min-height: 600px) and (min-width: 732px) and (max-width: 766px), (min-height: 600px) and (min-width: 862px) and (max-height: 766px), (min-height: 767px) and (min-width: 995px) {
            width: calc(100vh - 161px);
        }
    }
}

#main-container > aside.en-specific {
    @media (min-width: 767px) and (max-width: 841px) and (min-height: 767px), (min-width: 842px) and (min-height: 767px) {
        width: calc(100vh - 161px) !important;
    }
    @media (min-width: 767px) and (max-width: 849px) and (min-height: 767px) {
        width: calc(100vh - 157px) !important;
    }
    @media (min-width: 767px) and (min-height: 767px) {
        &.scrolled {
            width: calc(100vh - 100px) !important;
        }
    }
}

body:not(.projects):not(.posts):not(.texts) {
    #main-container > aside.left {
        border-bottom: none;
    }
}

main {
    // width: 100%;
    overflow-x: hidden;
    &.no-scroll {
        overflow-y: hidden;
    }
    #page-title  {
        position: relative;
        z-index: 999;
        @media (min-width: 314px) and (max-width: 766px), (min-width: 314px) and (max-height: 766px) {
            position: fixed;
            right: 0;
            width: unset;
            height: unset;
            margin-top: -53px;
        }
        h1 {
            width: 100%;
            padding: 15px 1rem;
            line-height: 1.3;
            font-size: 1.1rem;
            @media (max-width: 766px), (max-height: 766px) {
                color: white;
                &.sr-only {
                    height: unset;
                    position: unset;
                    overflow: unset;
                    clip: unset;
                    -webkit-clip-path: unset;
                    clip-path: unset;
                }
            }
            @media (max-width: 313px) {
                &, &.sr-only {
                    background-color: $red;
                    border-top: 3px solid $medium-grey;
                }
            }
            @media (min-width: 314px) {
                &, &.sr-only {
                    width: auto;
                    border: none;
                    text-align: right;
                    margin: 15px 1rem;
                    padding: 0;
                }
            }
            @media (min-width: 600px) and (min-height: 600px) and (max-width: 766px), (min-width: 600px) and (min-height: 600px) and (max-height: 766px) {
                font-size: 1rem;
            }
        }
    }
    &.scrolled {
        @media (min-width: 314px) and (max-width: 766px), (min-width: 314px) and (max-height: 766px) {
            #page-title {
                top: 0 !important;
            }
        }
        #page-title {
            margin-top: unset !important;
            z-index: 1000;
        }
    }
}
footer.flex-line {
    justify-content: center;
    width: 100% !important;
}

footer #footer-nav {
    width: 100%;
    @media (min-width: 314px) and (max-width: 766px), (min-width: 314px) and (max-height: 766px) {
        position: relative;
        bottom: -54px;
    }
    @media (min-width: 767px) and (min-height: 767px) {
        position: absolute;
    }
    @media (min-width: 767px) and (min-height: 767px) and (max-width: 849px) {
        bottom: -57px;
    }
    @media (min-width: 850px) and (min-height: 767px) {
        bottom: -61px;
    }
}

#bottom-accessible-banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $medium-grey;
    background-color: $grey;
    padding: 1rem 0 0 0;
    flex-wrap: wrap;
    li {
        padding-bottom: 1rem;
    }
    li:last-of-type a {
        margin-right: 1rem;
    }
    a, button {
        display: flex;
        align-items: center;
        font-weight: bold;
        padding: 4px;
        margin-left: 1rem;
        border-radius: 8px;
        text-decoration: none;
        white-space: nowrap;
        font-size: 0.9rem;
        line-height: 0.8rem;
        border-color: $medium-grey;
        color: $grey;
        background-color: $medium-grey;
        @media (min-width: 850px) {
            font-size: 1.1rem;
            line-height: 1rem;
        }
        &:hover, &:active, &:focus, &.selected {
            color: $medium-grey;
            border-color: $red;
            background-color: $red;
        }
        &:active {
            top: 4px;
        }
    }
    #top-btn {
        span {
            pointer-events: none;
        }
        span:first-of-type {
            margin: 0 5px 0 0;
        }
    }

    #bottom-accessible-banner {
        li {
            span:first-of-type {
                margin: 0 5px 0 0;
            }
        }
    }
}


// desktop and not home, cv or accessible-mode

body:not(.home):not(.cv):not(.accessible-mode) {

    header.banner {
        @media (min-width: 767px) and (min-height: 767px) {
            #menu {
                display: none;
            }
        }
    }

    header.banner #pages.small-device {
        width: 100%;
        top: 123px;
        &.individual {
            top: 117px;
        }
    }

    header.banner:not(.scrolled) {
        @media (min-width: 767px) and (min-height: 767px) {
            height: 111px;
        }
        html[lang="fr"] & {
            @media (min-height: 767px) and (min-width: 767px) and (max-width: 840px) {
                height: 147px;
            }
            @media (min-height: 767px) and (min-width: 841px) and (max-width: 849px) {
                height: 107px;
            }
            @media (min-height: 767px) and (min-width: 850px) and (max-width: 994px) {
                height: 155px;
            }
        }
        html:not([lang="fr"]) & {
            @media (min-height: 767px) and (min-width: 767px) and (max-width: 849px) {
                height: 107px;
            }
        }
    }

    #dancing-banana {
        display: block;
        position: absolute;
        width: 30vw;
        left: 50px;
        bottom: 50px;
        z-index: 1000;
        &.scrolled {
            bottom: 111px;
            @media (min-width: 767px) and (min-height: 767px) and (max-width: 849px) {
                bottom: 107px;
            }
        }
    }

    .menu-bar.right {
        li:not(:last-of-type) {
            a, button {
                @media (min-height: 900px) {
                    margin-right: 50px;
                }
            }
        }
    }

    footer > div:not(#footer-nav) {
        @media (min-width: 767px) and (min-height: 767px) {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    @media (max-width: 766px), (max-height: 766px) {
        &.menu-bar {
            nav, #footer-nav {
                position: absolute;
                left: 0;
                height: auto;
            }
        }
    }

    @media (min-width: 767px) and (min-height: 767px) {
        nav, #footer-nav {
            pointer-events: auto;
        }
    }

    & > footer {
        pointer-events: none;
        &.menu-bar {
            background-color: unset;
            @media (max-width: 766px), (max-height: 766px) {
                height: auto;
            }
        }
        #bottom-accessible-banner {
            pointer-events: auto;
        }
        @media (min-width: 767px) and (min-height: 767px) {
            position: absolute;
            bottom: 0;
            &.menu-bar {
                background-color: $red;
            }
            pointer-events: auto;
        }
        &.scrolled {
            @media (min-width: 767px) and (min-height: 767px) and (max-width: 849px) {
                bottom: 57px;
            }
            @media (min-width: 850px) and (min-height: 767px) {
                bottom: 61px;
            }
        }
    }

    .desktop:not(.bullet) {
        @media (min-width: 767px) and (min-height: 767px) {
            display: flex;
        }
    }
    .mobile {
        @media (min-width: 767px) and (min-height: 767px) {
            display: none;
        }
    }

    @media (min-width: 767px) and (min-height: 767px) {
        #main-container > aside.right, footer.flex-line > div:not(#footer-nav) {
            display: flex;
            p {
                background-color: $red;
            }
        }
    }
}

// + projects, posts, texts, contact

body:not(.home):not(.projects):not(.posts):not(.texts):not(.cv):not(.contact):not(.accessible-mode) {
    #main-container {
        overflow: hidden;
    }
    main {
        overflow-y: auto;
        height: 100%;
        @media (min-width: 767px) and (min-height: 767px) {
            margin: 0 50px;
            &:not(.scrolled) {
                height: calc(100vh - 111px);
            }
            &.scrolled {
                height: calc(100vh - 100px);
            }
        }
        @media (min-width: 767px) and (min-height: 767px) and (max-width: 997px) {
            &:not(.scrolled) {
                html[lang="fr"] & {
                    height: calc(100vh - 147px);
                }
            }
        }
    }
}

body:not(.accessible-mode) {
    #accessible-mode-btn {
        &:hover, &:active, &:focus {
            img {
                -webkit-filter: brightness(500%);
                filter: brightness(500%);
            }
        }
    }
    #menu {
        img {
            -webkit-filter: grayscale(100%) brightness(500%);
            filter: grayscale(100%) brightness(500%);
        }
        &:hover, &:active, &:focus, &[aria-expanded="true"] {
            color: $red;
            img {
                -webkit-filter: unset;
                filter: unset;
            }
        }
    }
    #page-title h1 {
        @media (min-width: 767px) and (min-height: 767px) {
            // handle hash 'start' behaviour
            top: 0;
            margin: 0;
        }
    }
}

// accessible mode
body.accessible-mode {
    display: block;

    .menu-bar, header.banner div, #pages.select-page {
        color: $medium-grey;
        background-color: $grey;
    }
    .menu-bar {
        nav {
            & > ul > li > a, & > ul > li > button {
                .bullet {
                    display: none;
                }
            }
        }
    }

    header.banner {
        height: auto;
        nav div.extra-border {
            border-bottom: none;
        }
        div {
            align-items: flex-start;
            flex-direction: column
        }
        button, button span, a, #menu, #pages a, #pages button {
            font-size: 1.25rem;
            @media (min-width: 600px) and (min-height: 600px) and (max-width: 766px), (min-width: 600px) and (min-height: 600px) and (max-height: 766px) {
                font-size: 1rem;
            }
        }
        #pages.select-page a, #pages.select-page button {
            &.selected, &:hover, &:active, &:focus {
                color: $grey;
            }
        }
        #pages.select-page li a, #pages.select-page li button {
            padding: 15px 1rem 1rem 1rem;
        }
        #pages a, #pages button {
            background-color: $grey;
        }
        #pages > li:first-of-type > * {
            border-radius: 8px 8px 0;
        }
        #pages > li:last-of-type > * {
            border-radius: 0 0 8px 8px;
        }
        #pages > li:first-of-type > *, #pages > li:last-of-type > * {
            &.selected, &:hover, &:active, &:focus {
                border-radius: unset;
            }
        }
        button.focus {
            background-color: $medium-grey;
        }

        #top-accessible-banner {
            top: unset;
            left: unset;
            min-height: unset;
            line-height: unset;
            background-color: unset;
            padding: 1rem 1rem 0 1rem;
            a {
                color: $grey;
                background-color: $medium-grey;
            }
            a, button {
                padding: 8px;
                line-height: 1;
                &:hover, &:active, &:focus {
                    color: $medium-grey;
                    background-color: $red;
                }
            }
            a, span {
                font-size: 0.9rem;
                @media (min-width: 850px) {
                    font-size: 1.1rem;
                }
            }
            a {
                display: inline-block;
            }
            li:nth-of-type(2), li:last-of-type {
                padding-top: unset;
            }
            li:last-of-type a {
                text-transform: capitalize;
            }
        }

        #menu, #pages.select-page {
            margin-left: 1rem;
            border: 3px solid $medium-grey;
        }

        #menu {
            height: auto;
            width: auto;
            background-color: $grey;
            border-radius: 8px;
            line-height: 1rem;
            margin-top: 1rem;
            img {
                -webkit-filter: grayscale(100%) brightness(500%);
                filter: grayscale(100%) brightness(500%);
            }
            &:hover, &:active, &:focus, &[aria-expanded="true"] {
                color: $grey;
                background-color: $medium-grey;
                img {
                    -webkit-filter: grayscale(100%) brightness(130%);
                    filter: grayscale(100%) brightness(130%);
                }
            }
            &[aria-expanded="true"] {
                border-radius: 8px 8px 0 0;
            }
        }

        #pages.select-page {
            position: relative;
            width: calc(100% - 2rem);
            border-radius: 0 8px 8px 8px;
        }

        #accessible-mode-btn {
            display: flex;
            padding: 0;
            font-weight: bold;
            line-height: 1;
            color: $medium-grey;
            background-color: $red;
            img {
                display: none;
            }
            span {
                margin-left: 0;
            }
            &:hover, &:active, &:focus, &[aria-pressed="true"]  {
                border-color: $red;
            }
        }
    }

    #main-container > aside.left {
        width: 100% !important;
        height: unset;
        position: unset;
        border-bottom: 3px solid $medium-grey;
        transform: unset;
        transform-origin: unset;
        &.menu-bar {
            background-color: unset;
        }
        & > fieldset {
            white-space: nowrap;
            flex-wrap: wrap;
            margin: 0 1rem 1rem 1rem;
            legend {
                font-weight: bold;
                margin-bottom: 1rem;
                &.sr-only {
                    height: unset;
                    position: unset;
                    overflow: unset;
                    clip: unset;
                    -webkit-clip-path: unset;
                    clip-path: unset;
                }
            }
        }
        label {
            width: unset !important;
            text-transform: unset;
            color: $medium-grey;
        }
    }

    main {
        #page-title {
            position: unset;
            right: unset;
            margin: unset !important;
            width: fit-content;
            h1, h1.sr-only {
                top: unset;
                text-align: left;
                font-weight: bold;
                height: unset;
                position: unset;
                overflow: unset;
                clip: unset;
                -webkit-clip-path: unset;
                clip-path: unset;
                background-color: $grey;
                font-size: 1.25rem;
                border: unset;
                background-color: unset;
                margin: 0 1rem 1rem 1rem !important;
                padding: unset;
                @media (min-width: 600px) and (min-height: 600px) and (max-width: 766px), (min-width: 600px) and (min-height: 600px) and (max-height: 766px) {
                    font-size: 1rem;
                }
                & > span:first-of-type {
                    display: inline;
                }
            }
        }
    }

    footer {
        position: unset;
    }

    footer #footer-nav {
        position: unset;
        min-height: auto;
        height: 100%;
        @media (max-width: 766px), (max-height: 766px) {
            bottom: 0;
        }
    }

    #bottom-accessible-banner {
        align-items: unset;
        background-color: unset;
        padding: unset;
        margin-top: 1rem;
        a, button {
            border-radius: 8px;
            padding: 8px;
            font-size: 0.9rem;
            border-style: solid;
            @media (min-width: 850px) {
                font-size: 1.1rem;
            }
        }
    }
}
