#dancing-banana {
    display: block;
    position: absolute;
    width: 30vw;
    left: 50px;
    bottom: 50px;
    z-index: 1000;
}
.menu-bar {
    background-color: red;
    height: 50px;
    color: white;
    nav, ul:not(#select-page) {
        height: 100%;
    }
    li, a {
        text-transform: uppercase;
        color: white;
        text-decoration: none;
    }
    a {
        line-height: 1rem;
    }
    a.selected {
        font-weight: bold;
    }
    nav > ul > li > a {
        &::before {
            content: "○";
            margin-right: 10px;
            font-family: Verdana, "Liberation Sans", "DejaVu Sans";
            font-size: 0.9rem;
            position: relative;
            bottom: 1px;
        }
        &.selected::before {
            content: "●";
        }
    }
    @media (max-width: 767px) {
        .menu-bar, .menu-bar a, .menu-bar p {
            font-size: 0.75rem !important;
        }
        nav > ul > li > a::before {
            font-size: 0.9rem !important;
            margin-right: 5px;
        }
        nav > ul > li > a.selected::before {
            font-size: 0.9rem !important;
            margin-right: 5px;
        }
        header {
            padding-left: 50px;
        }
        aside.left > ul {
            margin: 0 !important;
            width: 100%;
        }
        footer {
            padding: 0 !important;
        }
    }
    @supports (-webkit-appearance:none) {
        nav > ul > li > a::before {
            font-size: 1.5rem;
            bottom: -2px;
        }
    }
}

#select-page {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    z-index: 1000;
    li {
        padding: 10px 0;
        border: 1px solid red;
        border-top: none;
        width: 100%;
        display: flex;
        justify-content: center;
        &:hover, &:focus, &:active {
            background-color: red;
            a {
                color: white;
                font-weight: bold;
            }
        }
        a {
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            color: red;
        }
    }
}
.menu-bar.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        margin-right: 50px;
    }
}
.flex-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

header, footer {
    padding-left: 50px;
    padding-right: 50px;
}

#main-container {
    display: flex;

    & > aside {
        position: absolute;
        width: calc(100vh - 100px);
        bottom: 0;
        &.left {
            transform: rotate(-90deg);
            transform-origin: left top;
            & > ul {
                margin: 0 50px;
            }
            @media (max-width: 767px) and (orientation: landscape) {
                & > ul {
                    display: none;
                }
            }
        }
        &.right {
            transform: rotate(90deg);
            transform-origin: right top;
            right: 0;
            & > ul {
                justify-content: flex-start;
                margin-left: 50px;
            }
            @media (max-width: 600px), (max-height: 600px) {
                & > ul {
                    justify-content: space-between;
                    margin-left: 0;
                    li {
                        margin-right: 25px;
                    }
                }
                a {
                    margin-right: 0;
                }
            }
        }
    }
}

main {
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - 100px);
    margin: 0 50px;
    padding: 25px 50px;
    &.no-scroll {
        overflow-y: hidden;
    }
}
footer.flex-line {
    justify-content: center;
}
