.menu-bar {
    background-color: red;
    height: 50px;
    color: white;
    nav, ul {
        height: 100%;
    }
    li, a {
        text-transform: uppercase;
        color: white;
        text-decoration: none;
    }
    nav li {
        &::before {
            content: "○";
            margin-right: 10px;
            font-size: 0.9rem;
            position: relative;
            bottom: 1px;
        }
        &.selected {
            font-weight: bold;
            &::before {
                content: "●";
            }
        }
    }
}


.flex-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

header, footer {
    padding-left: 50px;
    padding-right: 50px;
}
footer.flex-line {
    justify-content: center;
}

#main-container {
    display: flex;
    height: calc(100vh - 100px);

    & > aside {
        position: absolute;
        width: calc(100vh - 100px);
        bottom: 0;
        &.left {
            transform: rotate(-90deg);
            transform-origin: left top;
            & > ul {
                margin: 0 50px;
            }
        }
        &.right {
            transform: rotate(90deg);
            transform-origin: right top;
            right: 0;
            & > ul {
                justify-content: flex-start;
                margin-left: 50px;
                & > li {
                    margin-right: 50px;
                }
            }
        }
    }
}

main {

}
