.projects {
    &:not(.accessible-mode) {
        width: unset;
        height: unset;
        overflow: unset;
        @media (min-width: 767px) and (min-height: 767px) {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }

    header, footer {
        width: 100%;
    }

    &:not(.accessible-mode) header {
        @media (min-width: 1000px) and (min-height: 767px) {
            position: unset;
            top: unset;
        }
    }

    header {
        &.index-change {
            z-index: 997;
        }
        &.blur {
            -moz-filter: blur(5px);
            -webkit-filter: blur(5px);
            filter: blur(5px);
            opacity: 0.75;
        }
    }
    footer.flex-line {
        justify-content: center;
    }

    &:not(.accessible-mode) main {
        height: unset;
        overflow: unset;
        @media (min-width: 767px) and (min-height: 767px) {
            overflow-y: auto;
            width: calc(100% - 100px);
            margin: 0 50px;
            &:not(.scrolled) {
                height: calc(100vh - 161px);
            }
            &.scrolled {
                height: calc(100vh - 100px);
            }
        }
        @media (min-width: 767px) and (min-height: 767px) and (max-width: 998px) {
            &:not(.scrolled) {
                html[lang="fr"] & {
                    height: calc(100vh - 155px);
                }
            }
        }
    }

    main {
        #list {
            height: auto;
            & > ul {
                & > li {
                    width: 100%;
                    padding: 0;
                    &.hide {
                        display: none;
                    }
                    border-bottom: 3px solid $red;
                    @media (max-width: 313px) {
                        &:first-of-type .project {
                            &.focus {
                                border-top: 3px solid $medium-grey;
                            }
                        }
                    }
                    &.scrolled {
                        @media (min-width: 767px) and (min-height: 767px) and (max-width: 849px) {
                            margin-bottom: 57px;
                        }
                        @media (min-width: 850px) and (min-height: 767px) {
                            margin-bottom: 61px;
                        }
                    }
                    .project, .content {
                        display: flex;
                    }
                    .project {
                        flex-direction: row;
                        align-items: flex-start;
                        cursor: pointer;
                        & > div {
                            padding: 0 1rem 0 1rem;
                            @media (min-width: 600px) {
                                border-left: 3px solid $red;
                                padding: 0 1rem 0 10px;
                            }
                        }
                        &:not(.plusplusegal) > div {
                            width: 90%;
                        }

                        // &:hover, &:focus {
                        //     time, button {
                        //         color: $red;
                        //     }
                        //     .project-type .tag {
                        //         color: $medium-grey;
                        //         background-color: $red
                        //     }
                        // }

                        &.focus, &:hover, &:active, &:focus {
                            background-color: $red;
                            time, button {
                                color: $medium-grey;
                                background-color: transparent;
                            }
                            .project-type .tag {
                                color: $red;
                                background-color: $medium-grey;
                            }
                        }

                        @media (min-width: 767px) {
                            &.plusplusegal > div {
                                width: 85%;
                                border-right: 3px solid $red;
                            }
                        }
                    }

                    h2 {
                        display: inline-block;
                    }
                    h2 + p.sr-only span {
                        width: 1px;
                        height: 1px;
                        position: absolute;
                        padding: 0;
                        overflow: hidden;
                        clip: rect(0, 0, 0, 0);
                        -webkit-clip-path: inset(50%);
                        clip-path: inset(50%);
                        border: 0;
                    }
                    h3, h4 {
                        margin: 1rem 0;
                        font-size: 1.1rem;
                        font-weight: bold;
                    }

                    .project-details {
                        margin-top: 0;
                        margin-left: 1rem;
                        @media (min-width: 600px) {
                            margin-top: 1rem;
                        }
                        @media (min-width: 767px) {
                            display: none;
                        }
                    }

                    .project-type {
                        vertical-align: middle;
                        display: inline-block;
                        @media (min-width: 767px) {
                            vertical-align: text-top;
                        }
                        ul {
                            display: inline-block;
                        }
                        .tag {
                            font-size: 0.6rem;
                            text-transform: uppercase;
                            background-color: $light-grey;
                            font-weight: bold;
                            padding: 5px 10px;
                            border-radius: 20px;
                            text-align: center;

                            display: inline-block;
                            margin: 0 10px 10px 0;

                            @media (min-width: 600px) and (min-height: 600px) {
                                font-size: 0.5rem;
                            }
                            @media (min-width: 767px)  {
                                font-size: 0.75rem;
                            }
                        }
                    }
                    .content {
                        flex-direction: column;
                        border-top: 3px solid $red;
                        & > .project-type {
                            margin: 1rem 0 0 1rem;
                            display: inline-block;
                        }
                        &.hide {
                            display: none;
                        }
                        section {
                            height: 100%;
                        }
                    }

                    time, button {
                        text-decoration: none;
                        font-size: 1.5rem;
                        line-height: 1.25;
                    }
                    button:not(.gallery):not(.media-button) {
                        width: 100%;
                        margin: 10px 0;
                        text-align: left;
                        pointer-events: none;
                        &::after {
                            content: '';
                            margin-right: 10px;
                        }
                    }
                    time {
                        width: 10%;
                        text-align: center;
                        margin: 0;
                        padding: 10px;
                    }

                    & > .project > time {
                        @media (max-width: 599px) {
                            display: none;
                        }
                    }

                    .plusplusegal {
                        // &:hover, &:focus {
                        //     .ppe div {
                        //         background-image: url('/home/user/themes/website_theme/images/++=2.png');
                        //     }
                        // }
                        &.focus, &:hover, &:active, &:focus {
                            .ppe span {
                                background-image: url('/home/user/themes/website_theme/images/++=3.png');
                                background-color: $red;
                            }
                        }
                    }

                    // handle portrait images
                    .picture {
                        position: relative;
                        width: 100%;
                        height: auto;
                        img {
                            width: 100%;
                            height: auto;
                            object-position: center;
                            object-fit: cover;
                            @media (min-width: 1200px) {
                                height: 100%;
                            }
                            &.rmll {
                                object-fit: contain;
                            }
                            @media (min-width: 600px) and (max-width: 1199px) {
                                &.portrait {
                                    display: block;
                                }
                            }
                            @media (min-width: 600px) and (max-width: 766px) {
                                &.portrait {
                                    width: 75%;
                                }
                            }
                            @media (min-width: 767px) and (max-width: 1199px) {
                                &.portrait {
                                    width: 50%;
                                }
                            }
                        }
                        & > div {
                            &.hide {
                                display: none;
                                visibility: visible;
                            }
                        }
                    }

                    .gallery {
                        background-color: $light-grey;
                        border: 1px solid $grey;
                        border-radius: 4px;
                        margin: 1rem 0 0 1rem;
                        padding: 5px 10px;
                        font-size: 1rem;
                        cursor: pointer;
                        &:hover, &:active, &:focus {
                            background-color: white;
                        }
                    }

                    .txt, .infos {
                        line-height: 1.3;
                        word-wrap: break-word;
                        overflow: auto;
                        a {
                            color: $red;
                            &:hover, &:active, &:focus {
                                color: $medium-grey;
                                background-color: $red;
                                text-decoration: none;
                            }
                        }
                    }

                    .txt {
                        width: 100%;
                        padding: 0 1rem;
                        p {
                            &::before {
                                margin-left: 0;
                            }
                            &:first-of-type {
                                margin-top: 0;
                            }
                            &:last-of-type {
                                margin-bottom: 0;
                            }
                        }
                    }

                    .infos {
                        width: 100%;
                        padding: 0 1rem 1rem 1rem;
                        dl {
                            @media (min-width: 1200px) {
                                margin-bottom: 1rem;
                            }
                            dt {
                                display: inline-block;
                            }
                            dd {
                                display: inline;
                            }
                            dd::after {
                                content: "";
                                display: block;
                            }
                            p {
                                display: inline;
                            }
                        }
                        .bullet {
                            font-family: $thirdfont;
                            bottom: 3px;
                            position: relative;
                            display: inline;
                            font-size: 0.5rem;
                            margin-right: 7px;
                        }
                    }
                }

                li div.plusplusegal {
                    &.match {
                        .ppe span {
                            background-image: url('/home/user/themes/website_theme/images/++=2.png');
                        }
                    }
                    .ppe {
                        width: 5%;
                        height: 100%;
                        display: none;
                        justify-content: center;
                        border: none;
                        padding: 0;
                        margin-top: 12px;
                        @media (min-width: 767px) {
                            display: flex;
                        }
                        span {
                            background-image: url('/home/user/themes/website_theme/images/++=.png');
                            content:"";
                            pointer-events: none;
                            background-size: 30px 30px;
                            width: 30px;
                            height: 30px;
                            @media (min-width: 1200px) {
                                background-size: 40px 40px;
                                width: 40px;
                                height: 40px;
                            }
                            @media (max-width: 766px) {
                                background-size: 20px 20px;
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }

        #list > ul > li time {
            @media (max-width: 599px) {
                margin: 0 0 10px 1rem;
                padding: 0;
            }
            #list > ul > li .project:not(.plusplusegal) > div, #list > ul > li .project.plusplusegal > div {
                width: 100%;
            }
        }

        @media (min-width: 550px) and (max-width: 766px) {
            #list > ul > li .project:not(.plusplusegal) > div, #list > ul > li .project.plusplusegal > div {
                width: 85%;
            }
        }

        @media (min-width: 600px) and (max-width: 1199px) {
            #list > ul > li time {
                width: 15%;
            }
        }

        @media (min-width: 600px) and (min-height: 600px) {
            #list > ul > li time, #list > ul > li button {
                font-size: 1.25rem;
            }
        }

        @media (min-width: 767px) {
            #list > ul > li {
                &:not(:last-of-type) {
                    border-bottom: 3px solid $red;
                }
                time, button {
                    font-size: 1.5rem;
                }
            }
        }

        @media (min-width: 767px) and (max-width: 1199px) {
            #list > ul > li .project.plusplusegal > div {
                width: 75%;
            }
            #list > ul > li .project:not(.plusplusegal) > div{
                width: 85%;
            }
            #list > ul li div.plusplusegal .ppe {
                width: 10%;
            }
        }
        @media (min-width: 1023px) {
            #list {
                width: 100%;
            }
        }
        @media (min-width: 1200px) {
            #list > ul > li {
                time, button {
                    font-size: 2rem;
                }
            }
        }
    }

    #prev, #next {
        &.selected {
            font-weight: normal;
        }
    }

    #prev span {
        margin-right: 5px;
    }
    #next span {
        margin-left: 5px;
    }

    @media (max-width: 1000px) {
        .show-project header {
            visibility: hidden;
            li {
                display: none;
            }
            li {
                visibility: visible;
            }
        }
    }

    &:not(.accessible-mode), &:not(.home):not(.accessible-mode) main {
        &.no-scroll {
            overflow: hidden;
        }
    }

    &:not(.accessible-mode) main #list > ul > li h2 button:target {
        padding-top: 60px;
        margin-top: -50px;
        @media (min-width: 767px) and (min-width: 767px) {
            padding-top: unset;
            margin-top: 10px;
        }
    }

    main {
        padding: 0;
        #project-container {
            display: none;
        }
        #page-title {
            html[lang="fr"] & {
                @media (min-width: 314px) and (max-width: 319px) {
                    margin-top: -160px;
                }
                @media (min-width: 320px)and (max-width: 541px) {
                    margin-top: -136px;
                }
                @media (min-width: 542px) and (max-width: 599px) {
                    margin-top: -106px;
                }
            }
            html:not([lang="fr"]) & {
                @media (min-width: 314px) and (max-width: 320px) {
                    margin-top: -160px;
                }
                @media (min-width: 321px)and (max-width: 549px) {
                    margin-top: -136px;
                }
                @media (min-width: 550px) and (max-width: 599px) {
                    margin-top: -106px;
                }
            }
            @media (min-width: 600px) and (max-width: 766px), (min-width: 600px) and (max-height: 766px) {
                margin-top: -109px;
            }
        }
    }

    &:not(.accessible-mode).gallery-mode, &:not(.accessible-mode).gallery-mode.no-scroll {
        header {
            height: 50px !important;
        }
        header.banner #top-accessible-banner {
            display: none;
        }
        #main-container > aside.en-specific, #main-container > aside:not(.en-specific) {
            width: calc(100vh - 100px) !important;
            bottom: 0;
            @media (max-width: 766px), (max-height: 766px) {
                border: none;
            }
        }
        footer {
            @media (max-width: 766px), (max-height: 766px) {
                display: none;
            }
            @media (min-width: 767px) and (min-width: 767px) {
                position: fixed !important;
                bottom: 0 !important;
            }
        }
        @media (min-width: 672px) and (max-width: 999px) {
            #project-container #cross {
                top: 1rem !important;
            }
        }
    }

    .show-project {
        overflow-y: hidden;
        #page-title {
            z-index: unset;
        }
        .blur {
            -moz-filter: blur(5px);
            -webkit-filter: blur(5px);
            filter: blur(5px);
            opacity: 0.75;
        }
        #project-container {
            position: fixed;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            z-index: 998;
            display: flex;
            justify-content: center;
            @media (min-width: 767px) and (min-height: 767px) {
                width: calc(100% + 15px);
            }
            header {
                left: 0;
            }
            #top-accessible-banner {
                display: none;
            }
            #cross {
                position: fixed;
                top: 75px;
                right: 1rem;
                z-index: 1000;
                font-size: 1.75rem;
                font-family: $font;
                font-weight: bold;
                background-color: transparent;
                text-decoration: none;
                text-transform: none;
                @media (max-width: 766px) and (orientation: portrait) {
                    top: 1rem;
                    right: 1rem;
                }
                @media (min-width: 767px) and (min-height: 767px) {
                    top: 85px;
                    right: 75px;
                }
                span:first-of-type {
                    text-transform: uppercase;
                }
                &:hover, &:active, &:focus {
                    text-decoration: underline;
                }
            }
            .menu-bar {
                position: fixed;
                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 50px;
                    margin: 0 1rem;
                    margin: 0 50px;
                    a::before {
                        content: none;
                    }
                }
            }
            footer {
                display: none;
                justify-content: center;
                left: 0;
                bottom: 0;
                @media (min-width: 767px) and (min-height: 767px) {
                    display: flex;
                }
                p {
                    align-self: center;
                    em {
                        font-style: normal;
                    }
                }
            }
            .project-gallery {
                margin: auto;
                width: 50%;
                z-index: 999;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            @media (max-width: 766px) and (orientation: portrait) {
                .project-gallery {
                    width: 100%;
                }
            }
            #gallery-title {
                white-space: nowrap;
            }
            #img {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                img, video {
                    width: 100%;
                    &.portrait {
                        width: 55%;
                    }
                    &::before {
                        display: none;
                    }
                }
                img {
                    margin-bottom: 5vw;
                    @media (max-width: 766px), (max-height: 766px) {
                        &:last-of-type {
                            margin-bottom: 0;
                            + .video-container {
                                margin-top: 5vw;
                            }
                        }
                    }
                }
                .video-container {
                    text-align: center;
                    margin-bottom: 5vw;
                    &:last-of-type {
                        margin-bottom: calc(5vw + 1rem);
                    }
                    h4 {
                        margin-bottom: 1rem;
                        font-weight: bold;
                    }
                    p {
                        font-size: 0.9rem;
                        line-height: 1.3;
                        margin-bottom: 0;
                    }
                }
                .media-button {
                    background-color: #e0e0e0;
                    border: 1px solid #3A3B3C;
                    border-radius: 4px;
                    padding: 5px 10px;
                    font-size: 1rem;
                    &:hover, &:active, &:focus {
                        background-color: white;
                    }
                }
                video {
                    margin-bottom: 1rem;
                    background-color: black;
                }
                @media (orientation: portrait) {
                    img {
                        &.portrait {
                            width: 100%;
                        }
                    }
                }
                @media (max-width: 766px) and (orientation: portrait) {
                    img, .video-container {
                        margin-bottom: 15vw;
                    }
                    img:last-of-type + .video-container {
                        margin-top: 15vw;
                    }
                }

            }

        }
        #focus-trapping-div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &:not(.accessible-mode) {

        header.banner #menu {
            &.removeStroke {
                border-bottom: none;
            }
        }

        #bottom-accessible-banner {
            bottom: -50px !important;
        }

        @media (min-width: 1200px) {
            main #list > ul > li .project-type {
                vertical-align: super;
            }
            main #list > ul > li .content {
                height: 500px;
                overflow: hidden;
                flex-direction: row;
                align-items: flex-start;
            }

            main #list > ul > li {
                h3 {
                    margin-top: 0;
                }
            }

            main #list > ul > li .picture {
                width: 50%;
            }

            main #list > ul > li .gallery {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
            }

            main #list > ul > li .txt, main #list > ul > li .infos {
                width: 25%;
                padding: 1rem;
            }

            main #list > ul > li .txt {
                border-top: none;
                border-right: 3px solid $red;
                border-left: 3px solid $red;
            }
        }

        &.no-scroll {
            @media (max-width: 766px), (max-height: 766px) {
                footer {
                    position: absolute !important; 
                    bottom: 54px !important;
                }
            }
            @media (min-width: 767px) and (min-height: 767px) {
                main {
                    height: calc(100vh - 221px);
                }
                #main-container > aside, #main-container > aside.en-specific {
                    width: calc(100vh - 221px) !important;
                    bottom: 61px;
                }
                footer {
                    position: absolute !important;
                    bottom: 61px !important;
                }
            }
            @media (min-width: 767px) and (min-height: 767px) and (max-width: 849px) {
                #main-container > aside.en-specific {
                    width: calc(100vh - 218px) !important;
                }
            }
            @media (min-width: 767px) and (min-height: 767px) and (max-width: 994px) {
                #main-container > aside:not(.en-specific) {
                    width: calc(100vh - 258px) !important;
                }
            }
        }

        @media (max-width: 766px), (max-height: 766px) {
            &.projects main #list > ul > li .project time.hide {
                display: none;
            }
        }


    }

    &.accessible-mode {
        #main-container {
            margin-top: 2rem;
        }
        main {
            padding-top: 1rem;
            #page-title {
                html[lang="fr"] & {
                    margin-top: unset;
                }
            }
        }
        main #list > ul {
            border-bottom: 3px solid $medium-grey;
            margin-bottom: 1rem;
        }
        main #list > ul li div.plusplusegal .ppe {
            display: none;
        }
        main #list > ul > li {
            border: none;
        }
        main #list > ul > li .project.plusplusegal > div {
            border-right: none;
            width: 100%;
        }
        main #list > ul > li .project {
            &.focus, &:hover, &:active, &:focus {
                background-color: $medium-grey;
                button {
                    color: $grey;
                    background-color: $medium-grey;
                }
            }
        }
        main #list > ul > li .project {
            border-top: 3px solid $medium-grey;
            &.focus, &:hover, &:active, &:focus {
                border-top: 3px solid $grey;
            }
        }
        main #list > ul > li button {
            color: $medium-grey;
            margin: 15px 0 1rem 0;
        }
        main #list > ul > li .content {
            background-color: $medium-grey;
            border-top: none;
        }
        main #list > ul > li .project-details {
            display: block;
            color: $grey;
            margin: -1rem 1rem 1rem 1rem;
            padding-top: 10px;
            line-height: 1.25;
        }
        main #list > ul > li .project-type {
            display: flex;
            margin: 0 15px 0 1rem;
            .tag {
                color: $medium-grey;
                background-color: $grey;
                font-size: 0.9rem;
            }
        }
        main #list > ul > li time {
            width: unset;
            margin: 0 0 1rem 1rem;
            padding: 0;
            text-align: left;
            color: $grey;
        }
        main #list > ul > li > .project > time {
            display: none;
        }
        main #list > ul > li .project > div {
            border-left: none;
            padding-left: 1rem;
        }
        main #list > ul > li .txt p, main #list > ul > li h3, main #list > ul > li h4, main #list > ul > li .infos dt, main #list > ul > li .infos dd, main #list > ul > li .infos a, main #list > ul > li .gallery {
            font-size: 1.25rem;
        }
        main #list > ul > li .txt p, main #list > ul > li .infos dt, main #list > ul > li .infos dd, main #list > ul > li h3 {
            color: $grey;
        }
        main #list > ul > li .infos a  {
            line-height: 1.7rem;
            &:hover, &:active, &:focus {
                color: $medium-grey;
            }
        }
        main #list > ul > li .infos .bullet {
            font-size: 0.75rem;
            color: $grey;
        }
        main #list > ul > li .picture {
            width: auto;
            margin: 0 1rem;
            img, video {
                height: auto;
                width: 100%;
                @media (min-width: 600px) and (max-width: 766px) {
                    &.portrait {
                        width: 75%;
                    }
                }
                @media (min-width: 767px) {
                    &.portrait {
                        width: 50%;
                    }
                }
                @media (min-width: 1200px) {
                    width: 50%;
                }
            }
            & > div {
                img {
                    margin-top: 1rem;
                }
            }
        }

        main #list > ul > li {
            .video-container {
                p {
                    font-size: 1rem;
                    line-height: 1.3;
                    margin-bottom: 0;
                    @media (min-width: 1200px) {
                        width: 50%;
                    }
                }
            }
            .gallery, .media-button {
                position: relative;
                margin: 1rem 0 0 0;
                background-color: $grey;
                font-weight: bold;
                border: 3px solid $grey;
                border-radius: 0;
                display: block;
                &:hover, &:active, &:focus {
                    color: $grey;
                    background-color: $medium-grey;
                }
            }
            .media-button {
                font-size: 1.25rem;
                padding: 2px 5px;
            }
        }

        footer {
            position: unset;
        }
    }

}
