.hide {
    visibility: hidden;
}
.text-collection {
    background-color: $ghost-green;
    .menu-bar.right a:hover, .menu-bar.right a:active {
        font-weight: bold;
    }
    .menu-bar nav a:not(.selected):hover, .menu-bar nav a:not(.selected):active {
        font-weight: normal;
    }
    header, footer {
        width: 100%;
    }
    header {
        padding-left: 25px;
        @media (min-width: 767px) {
            padding-left: 50px;
        }
    }
    footer.flex-line {
        justify-content: center;
    }
    @media (max-width: 767px) {
        .menu-bar, .menu-bar a, .menu-bar p, .menu-bar button {
            font-size: 0.75rem !important;
        }
        nav > ul > li > a::before, nav > ul > li > button::before {
            font-size: 0.9rem !important;
            margin-right: 5px;
        }
        nav > ul > li > a.selected::before, nav > ul > li > button.selected::before {
            font-size: 0.9rem !important;
            margin-right: 5px;
        }
        aside.left > ul, aside.right > ul {
            margin: 0 !important;
        }
        aside.left {
            width: 100%;
        }
        footer {
            padding: 0 !important;
        }
    }
    main {
        #list {
            height: auto;
            ul {
                li {
                    width: 100%;
                    padding: 0;
                    &:not(:last-of-type) {
                        border-bottom: 3px solid red;
                    }
                    a {
                        &:hover, &:active, &:focus {
                            background-color: red;
                            color: white;
                        }
                    }
                    .plusplusegal a, .plusplusegal.match a {
                        &:hover, &:active, &:focus {
                            span.box div {
                                background-image: url('/home/user/themes/website_theme/images/++=3.png');
                                background-color: white;
                            }
                        }
                    }
                    .match a {
                        &:hover, &:active, &:focus {
                            color: white;
                        }
                    }
                    a {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        color: black;
                        text-decoration: none;
                        font-size: 1rem;
                        line-height: 1.25;
                        & * {
                            pointer-events: none;
                        }
                    }
                    p {
                        width: 10%;
                        text-align: center;
                        margin: 0;
                    }
                    span.tooltip-text {
                        width: 90%;
                        padding: 10px;
                        border-left: 3px solid red;
                    }
                    .match a {
                        color: red;
                    }
                }
                li span.plusplusegal {
                    &.match {
                        span.box div {
                            background-image: url('/home/user/themes/website_theme/images/++=2.png');
                            background-color: red;
                        }
                    }
                    span.tooltip-text {
                        width: 80%;
                        border-right: 3px solid red;
                    }
                    span.box {
                        width: 10%;
                        display: flex;
                        justify-content: center;
                        div {
                            background-color: black;
                            border-radius: 50%;
                            background-image: url('/home/user/themes/website_theme/images/++=.png');
                            content:"";
                            pointer-events: none;
                            background-size: 30px 30px;
                            width: 30px;
                            height: 30px;
                            @media (min-width: 1200px) {
                                background-size: 40px 40px;
                                width: 40px;
                                height: 40px;
                            }
                            @media (max-width: 767px) {
                                background-size: 20px 20px;
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
        @media (min-width: 767px) {
            #list ul li {
                &:not(:last-of-type) {
                    border-bottom: 3px solid red;
                }
                a {
                    font-size: 1.5rem;
                    span.tooltip-text {
                        border-left: 3px solid red;
                    }
                }
                span.plusplusegal span.tooltip-text {
                    border-right: 3px solid red;
                }
            }
        }
        @media (min-width: 1023px) {
            #list {
                width: 100%;
                ul {
                    li {
                        a {
                            font-size: 2.25rem;
                        }
                        span.plusplusegal {
                            span.tooltip-text {
                                width: 85%;
                            }
                            span.box {
                                width: 5%;
                            }
                        }
                    }
                }
            }
        }
    }
}
