@import 'base/vars';
@import 'blog/text';
@import 'blog/contact';
@import 'blog/posts';
@import 'blog/resources';
@import 'blog/texts';

body {
    color: $text-color;
    background-color: $medium-grey;
    &.scrolled {
        position: relative;
    }
}

.menu-bar, .menu-bar #pages a, .menu-bar #pages button {
    background-color: $magenta;
}

.hide {
    display: none;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portrait {
    width: 55% !important;
}

@media (max-width: 766px) and (orientation: portrait) {
    .portrait {
        width: 100% !important;
    }
}

body:not(.accessible-mode) {
    .sr-only {
        @media (min-width: 767px) and (min-height: 767px) {
            width: 1px;
            height: 1px;
            position: absolute;
            padding: 0;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
            border: 0;
        }
    }
    .sr-only-bis {
        width: 1px;
        height: 1px;
        position: absolute;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        -webkit-clip-path: inset(50%);
        clip-path: inset(50%);
        border: 0;
    }
}

header.banner #top-accessible-banner, #bottom-accessible-banner {
    a, button {
        &:hover, &:active, &:focus {
            background-color: $magenta;
        }
    }
}

header.banner {

    div {
        background-color: $magenta;
    }

    #menu {
        background-color: $magenta;
        @media (min-width: 314px) {
            width: 163px;
        }
        &:hover, &:active, &:focus, &[aria-expanded="true"] {
            color: $magenta;
            background-color: $medium-grey;
            @media (max-width: 313px) {
                border-bottom-color: $magenta;
            }
        }
    }

    #top-accessible-banner {
        li:last-of-type a {
            text-transform: none;
        }
    }

    #pages {

        &.select-page {
            color: $medium-grey;
            background-color: $magenta;
            border-color: $magenta;
            border-top-color: $magenta;
            @media (min-width: 314px) {
                width: 163px;
            }
            li {
                a, button {
                    background-color: $magenta;
                    &.selected, &:hover, &:active, &:focus {
                        color: $magenta;
                    }
                    &.selected {
                        background-color: $medium-grey;
                    }
                }
            }
        }

        @media (min-width: 767px) and (min-height: 767px) {
            & > li:first-of-type a {
                width: 147px;
            }
            & > li:nth-of-type(2) button {
                width: 190px;
            }
            & > li:last-of-type a {
                width: 114px;
            }
        }


        #blog-pages-list-container {
            flex-direction: column;
            position: relative;
            color: $medium-grey;
            @media (min-width: 314px) {
                flex-direction: row;
            }
            @media (min-width: 767px) and (min-height: 767px) {
                width: 204px;
            }
            ul {
                position: absolute;
                width: 105px;
                height: auto;
                color: $medium-grey;
                @media (min-width: 314px) {
                    width: 115px;
                }
            }
        }

        #blog-pages-list-button {
            width: 100%;
            padding: 10px 1rem;
            text-align: left;
            @media (min-width: 767px) and (min-height: 767px) {
                padding: 16px 1rem;
            }
            &.selected, &.focus, &:hover, &:active, &:focus {
                font-weight: bold;
            }
            &.focus, &:hover, &:active, &:focus  {
                color: $magenta;
                background-color: $medium-grey;
            }
            @media (min-width: 600px) and (min-height: 600px) and (max-width: 766px), (min-width: 600px) and (min-height: 600px) and (max-height: 766px) {
                font-size: 1rem;
            }
        }

        #blog-pages-list-container ul {
            &#blog-select-page {
                position: relative;
                top: unset;
                left: unset;
                width: unset;
                margin-left: 2rem;
                z-index: 1000;
                @media (min-width: 314px) {
                    position: absolute;
                    top: -3px;
                    left: 163px;
                    margin-left: 0;
                }
                @media (min-width: 767px) and (min-height: 767px) {
                    left: 0;
                    top: 49px;
                    width: 204px;
                }
                li {
                    color: $medium-grey;
                    @media (min-width: 314px) {
                        border: 3px solid $medium-grey;
                    }
                    @media (min-width: 767px) and (min-height: 767px) {
                        border: 3px solid $magenta;
                    }
                    &:first-of-type {
                        border-bottom: none;
                        a:not(:hover), a:not(:active), a:not(:focus) {
                            border-bottom: 3px solid $medium-grey;
                        }
                    }
                    &:last-of-type {
                        border-top: none;
                    }
                    a {
                        font-weight: bold;
                        color: $medium-grey;
                        background-color: $magenta;
                        @media (min-width: 314px) {
                            text-align: center;
                        }
                        &.selected, &:hover, &:active, &:focus  {
                            color: $magenta;
                            background-color: $medium-grey;
                        }
                    }
                }
            }
            a {
                padding: 10px 1rem;
                &.selected, &:hover, &:active, &:focus {
                    color: $magenta;
                    background-color: $medium-grey;
                }
            }
        }

        
        @media (max-width: 313px) {
            
            #blog-pages-list-container ul#blog-select-page li {
                background-color: $magenta;
                border: none;
                &:last-of-type a {
                    border-bottom: none;
                    &.selected, &:hover, &:active, &:focus {
                        border-bottom: none;
                    }
                }
                a {
                    border-left: 3px solid $medium-grey;
                    &.selected, &.focus, &:hover, &:active, &:focus {
                        border-left: none;
                    }
                }
            }

            #blog-pages-list-button.focus + ul#blog-select-page li {
                &:first-of-type a {
                    border-bottom: none;
                    &.selected, &:hover, &:active, &:focus {
                        border-top: 3px solid $magenta;
                    }
                    &:not(.unactive-page):not(.selected) {
                        border-bottom: 3px solid $magenta;
                    }
                }
                &:last-of-type a {
                    border-top: 3px solid $medium-grey;
                    &:not(.unactive-page):not(.selected) {
                        &:hover, &:active, &:focus {
                            border-top: 3px solid $magenta;
                        }
                    }
                    &.selected {
                        &:hover, &:active, &:focus {
                            border-color: $magenta;
                            border-top: none;
                        }
                    }
                }
            }
        }
    }

}

@media (min-width: 767px) and (min-height: 767px) {
    html[lang="fr"] header.banner #top-accessible-banner li:last-of-type {
        padding-top: unset;
        a {
            margin-right: unset;
        }
    }
    html[lang="fr"] header.banner #top-accessible-banner li:nth-last-of-type(2).desktop {
        padding-top: unset;
      }
    body:not(.home):not(.cv):not(.accessible-mode) > footer {
        &.menu-bar, &.flex-line > div:not(#footer-nav) p {
            background-color: $magenta;
        }
    }
}

@media (min-width: 850px) and (max-width: 943px) and (min-height: 767px) {
    html[lang="fr"] body:not(.home):not(.cv):not(.accessible-mode) header.banner:not(.scrolled) {
        height: 155px;
    }
}

#main-container > aside {
    width: calc(100vh - 161px);
    @media (min-width: 767px) and (max-width: 794px) and (min-height: 767px) {
        width: calc(100vh - 196px);
    }
    @media (min-width: 795px) and (max-width: 849px) and (min-height: 767px) {
        width: calc(100vh - 157px);
    }
    @media (min-width: 850px) and (min-height: 767px) and (max-width: 944px) {
        width: calc(100vh - 204px);
    }
    li, a, input {
        background-color: $magenta;
    }
}

body:not(.accessible-mode) {
    @media (min-width: 767px) and (max-width: 801px) and (min-height: 767px), (min-width: 850px) and (max-width: 943px) {
        #main-container > aside {
            &.scrolled {
                width: calc(100vh - 100px);
            }
        }
    }
}

#main-container > aside.left {
    border-bottom: none;
    // @media (max-width: 766px), (max-height: 766px) {
    //     & > fieldset {
    //       margin-bottom: 25px;
    //     }
    // }
}

@media (min-width: 767px) and (min-height: 767px) {
    #main-container > aside.left > fieldset {
        div:first-of-type label {
            width: 70px;
        }
        div:nth-of-type(2) label {
            width: 110px;
        }
        div:nth-of-type(3) label {
            width: 95px;
        }
        div:nth-of-type(4) label {
            width: 89px;
        }
        div:last-of-type label {
            width: 39px;
        }
    }
}

#main-container > aside.right ul:first-of-type {
    li:first-of-type a, li:last-of-type a {
        width: 86px;
    }
    li:nth-of-type(2) a {
        width: 64px;
    }
}

#main-container > aside.right {
    button {
        margin-right: 25px;
        @media (min-height: 900px) {
            margin-right: 50px;
        }
    }
}

main {
    overflow-x: hidden;
    @media (max-width: 313px) {
        #page-title h1, #page-title h1.sr-only {
          background-color: $magenta;
        }
      }
    & > h2 {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

body:not(.home):not(.cv):not(.accessible-mode) {
    header.banner:not(.scrolled) {
        html[lang="fr"] & {
            @media (min-height: 767px) and (min-width: 767px) and (max-width: 794px) {
                height: 147px !important;
            }
            @media (min-height: 767px) and (min-width: 795px) and (max-width: 850px) {
                height: 107px !important;
            }
            @media (min-width: 944px) and (min-height: 767px) {
                height: 111px !important;
            }
            @media (min-height: 767px) and (min-width: 841px) and (max-width: 849px) {
                height: 107px !important;
            }
            @media (min-height: 767px) and (min-width: 850px) and (max-width: 943px) {
                height: 155px !important;
            }
        }
    }
    header.banner div.scrolled {
        background-color: $magenta;
        @media (min-width: 314px) and (max-width: 330px) {
            top: -93px !important;
        }
        @media (min-width: 331px) and (max-width: 849px) and (max-height: 600px), (min-width: 331px) and (max-width: 600px) {
            top: -56px !important;
        }
        @media (min-height: 600px) and (min-width: 600px) {
            top: -61px !important;
        }
        @media (min-width: 767px) and (min-height: 767px) and (max-width: 798px), (min-height: 767px) and (min-width: 850px) and (max-width: 943px) {
            top: -104px !important;
        }
    }
}

body.accessible-mode {

    color: $medium-grey;
    background-color: $grey;

    header.banner {
        #accessible-mode-btn {
            background-color: $magenta;
        }
    }

    header.banner #top-accessible-banner, #bottom-accessible-banner {
        a, button {
            &:hover, &:active, &:focus {
                background-color: $magenta;
                border-color: $magenta;
            }
        }
    }

    @media (max-width: 307px) {
        header.banner #top-accessible-banner li:not(:last-of-type) {
          padding-bottom: 1rem;
        }
    }

    header.banner #pages {
        a, button {
            background-color: $grey;;
        }
        & > li:first-of-type a, & > li:nth-of-type(2) button, & > li:last-of-type a {
            width: 100%;
        }
    }


    header.banner #pages #blog-pages-list-container {
        display: block;
        background-color: $grey;
        width: 100%;
    }

    header.banner #pages #blog-pages-list-container ul#blog-select-page {
        position: relative;
        background-color: $grey;
        top: unset;
        left: unset;
        width: unset;
        margin-left: 2rem;
        li {
            border-left: none;
        }
        li:last-of-type a {
            border-bottom: none;
            &.selected, &:hover, &:active, &:focus {
                border-bottom: none;
            }
        }
    }

    header.banner #pages.select-page, header.banner #pages #blog-pages-list-container ul#blog-select-page li {
        background-color: $grey;
    }
    
    header.banner #pages #blog-pages-list-container ul#blog-select-page li {
        border: none;
    }

    header.banner #pages #blog-pages-list-button, header.banner #pages #blog-pages-list-container ul#blog-select-page li a {
        color: $medium-grey;
        background-color: $grey;
        &.selected, &.focus, &:hover, &:active, &:focus {
            color: $grey;
            background-color: $medium-grey;
        }
    }
        
    header.banner #pages #blog-pages-list-container ul#blog-select-page li a {
        border-left: 3px solid $medium-grey;
        &.selected, &.focus, &:hover, &:active, &:focus {
            border-left: none;
        }
    }
    
    header.banner #pages #blog-pages-list-container #blog-pages-list-button.focus + ul#blog-select-page li {
        &:first-of-type a {
            border-bottom: none;
            &.selected, &:hover, &:active, &:focus {
                border-top: 3px solid $grey;
            }
            &:not(.unactive-page):not(.selected) {
                border-bottom: 3px solid $grey;
            }
        }
        &:last-of-type a {
            border-top: 3px solid $medium-grey;
            &:not(.unactive-page):not(.selected) {
                &:hover, &:active, &:focus {
                    border-top: 3px solid $grey;
                }
            }
            &.selected {
                &:hover, &:active, &:focus {
                    border-color: $grey;
                    border-top: none;
                }
            }
        }
    }

    header.banner #pages #blog-pages-list-button, header.banner #pages #blog-pages-list-container ul#blog-select-page li a {
        padding: 15px 1rem 1rem 1rem;
        text-align: left;
    }

    header.banner #pages ul #blog-pages-list-button.selected, header.banner #pages ul #blog-pages-list-button:hover, header.banner #pages ul #blog-pages-list-button:active, header.banner #pages ul #blog-pages-list-button:focus {
        color: $grey;
    }

    main {
        width: unset;
        padding-top: 2rem;
        padding-left: 0;
    }

    main #list .content .content-link {
        &:hover, &:active, &:focus {
            color: $grey;
            border-color: $magenta;
            background-color: $magenta;
            font-weight: bold;
        }
    }
    main #list .content .content-link {
        text-decoration: underline;
        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }
}
