.contact {
    footer a {
        text-transform: none;
    }
    footer.flex-line {
        justify-content: space-between;
    }
    .menu-bar a:hover, .menu-bar a:active {
        font-weight: bold;
    }
    .menu-bar nav a:not(.selected):hover, .menu-bar nav a:not(.selected):active {
        font-weight: normal;
    }
    main {
        padding: 0;
        .postcard {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
        p {
            position: absolute;
            bottom: 60px;
            right: 80px;
            font-family: $altfont;
            color: white;
            font-size: 0.75rem;
        }
        a {
            text-decoration: none;
            color: blue;
        }
    }
}
