@import 'base/vars';
@import 'base/reset';
@import 'menu';
@import 'projects';
@import 'about';
@import 'contact';
@import 'home';
@import 'cv';

@import 'base/fonts';

:root {
    font-size: 1em;
    @media (min-width: 600px) and (min-height: 600px) {
        font-size: 1.1em;
    }
}

body {
    color: $text-color;
    background-color: $medium-grey;
}

.hide {
    // visibility: hidden;
    display: none;
}

.invisible {
    visibility: hidden;
}

.sr-only {
    width: 1px;
    height: 1px;
    position: absolute;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

body:not(.accessible-mode) .sr-only {
    @media (min-width: 767px) and (min-height: 767px) {
        width: 1px;
        height: 1px;
        position: absolute;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        -webkit-clip-path: inset(50%);
        clip-path: inset(50%);
        border: 0;
    }
}

body.accessible-mode {
    color: $medium-grey;
    background-color: $grey;

    &.error {
        color: $medium-grey;
        background-color: $grey;
        @media (min-width: 398px) and (min-height: 320px) {
            footer {
                position: absolute;
                bottom: 1rem;
            }
        }
        main > div:last-of-type {
            margin: 1rem;
        }
    }
}

body.error, body.sitemap, body.legal-notices, body.accessibility {
    color: $text-color;
    background-color: $medium-grey;
    main #page-title {
        h1, h1.sr-only {
            height: auto;
            position: unset;
            overflow: unset;
            clip: unset;
            -webkit-clip-path: unset;
            text-align: left;
        }
    }
    &:not(.accessible-mode) {
        main {
            #page-title {
                @media (max-width: 313px) {
                    margin: 0;
                }
                @media (min-width: 767px) and (min-height: 767px) {
                    margin: 50px 50px 0 50px;
                    h1, h1.sr-only { 
                        font-size: 1.75rem;
                    }
                }
            }
        }
    }
    main > div > div:last-of-type {
        margin: 1rem;
        @media (min-width: 767px) and (min-height: 767px) {
            margin: 2rem 50px 50px 50px;
        }
    }
    &.accessible-mode {
        main {
            padding-top: 2rem;
        }
        main #page-title {
            h1, h1.sr-only {
                color: $medium-grey;
            }
        }
    }
}

body.sitemap, body.legal-notices, body.accessibility {
    main > div > div:last-of-type {
        line-height: 1.3;
        h2 + p, h3 + p, h4 + p {
            margin-top: 0;
        }
        h2, h3, h4 {
            font-weight: bold;
            margin-bottom: 0.5rem;
        }
        h2 {
            font-size: 1.5rem;
        }
        h3 {
            font-size: 1.25rem;
        }
        a {
            color: $red;
            &:hover, &:active, &:focus {
                color: $medium-grey;
                background-color: $red;
            }
        }
    }
    &:not(.accessible-mode) {
        main {
            & > div {
                display: flex !important;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 100%;
            }
            & > div > div:last-of-type {
                &:not(.english), &.english {
                    @media (max-width: 313px) {
                        margin-bottom: 25px;
                    }
                }
                &:not(.english) {
                    @media (min-width: 314px) and (max-width: 676px) {
                        margin-bottom: 125px;
                    }
                    @media (min-width: 677px) and (max-height: 766px), (min-width: 677px) and (max-width: 766px) {
                        margin-bottom: 85px;
                    }
                }
                &.english {
                    @media (min-width: 314px) and (max-width: 447px) {
                        margin-bottom: 125px;
                    }
                    @media (min-width: 448px) and (max-height: 766px), (min-width: 448px) and (max-width: 766px) {
                        margin-bottom: 85px;
                    }
                }
            }
        }
        footer #footer-nav.scrolled {
            bottom: 0;
        }
        @media (max-width: 766px), (max-height: 766px) {
            footer {
                position: absolute;
                bottom: 0;
                height: auto;
            }
            footer #footer-nav {
                bottom: -104px;
            }
        }
        @media (max-width: 313px) {
            overflow-y: auto !important;
            #main-container {
                height: unset !important;
                overflow: unset !important;
            }
            footer {
                position: unset;
                #footer-nav {
                    bottom: unset;
                }
            }
        }
        @media (min-width: 314px) and (max-width: 350px) {
            footer #footer-nav {
                bottom: -126px;
            }
        }
        @media (min-width: 767px) and (min-height: 767px) {
            footer #footer-nav.scrolled {
                position: absolute;
                bottom: 0;
                height: auto;
            }
        }
    }
    &.accessible-mode {
        background-color: $grey;
        main > div > div:last-of-type {
            margin: 3rem 1rem 2rem 1rem;
            h2, h3, h4, li, a, p  {
                color: $medium-grey;
            }
            h4, li, a, p  {
                font-size: 1.25rem;
            }
            a {
                line-height: 1.75rem;
                text-decoration: underline;
                &:hover, &:active, &:focus {
                    background-color: $red;
                    text-decoration: none;
                }
            }
            h2 {
                font-size: 1.75rem;
            }
            h3 {
                font-size: 1.5rem;
            }
        }
    }
}

body.sitemap, body.accessibility {
    &:not(.accessible-mode) {
        main {
            @media (min-width: 314px) and (max-width: 600px), (min-width: 314px) and (max-height: 600px) {
                scroll-margin-top: 117px;
            }
            @media (min-width: 600px) and (max-width: 766px), (min-width: 600px) and (max-height: 766px) {
                scroll-margin-top: 123px;
            }
        }
        main > div > div:last-of-type {
            &:not(.english), &.english {
                @media (min-width: 767px) and (min-height: 767px) {
                    padding-bottom: 100px;
                }
            }
        }
    }
}

body.legal-notices, body.accessibility {
    main > div > div:last-of-type {
        p, li:last-of-type {
            margin-bottom: 1.5rem;
        }
    }
}

body.error {
    #bottom-accessible-banner li:first-of-type {
        display: none;
    }
    &:not(.home):not(.cv):not(.accessible-mode) {
        main > div:last-of-type {
            margin: 1rem;
            @media (min-width: 767px) and (min-height: 767px) {
                margin: 50px;
            }
        }
        footer {
            position: absolute;
            bottom: 61px;
            #footer-nav {
                @media (max-width: 766px), (max-height: 766px) {
                    bottom: -61px;
                }
            }
        }
    }
    &.accessible-mode {
        main > div > div:last-of-type {
            margin: 2rem 1rem;
        }
    }
}

body.sitemap {
    h1 {
        display: block;
    }
    main > div > div:last-of-type {
        ul ul {
            margin-left: 1rem;
            @media (min-width: 600px) {
                margin-left: 2rem;
            }
        }
        li > span:first-of-type {
            position: relative;
            display: inline;
            margin-right: 5px;
            &:not(.triangle) {
                font-family: "DejaVu Serif";
                font-size: 0.5rem;
                bottom: 3px;
            }
        }
        a {
            &:hover, &:active, &:focus {
                text-decoration: none;
            }
        }
    }
    &:not(.accessible-mode) {
        main > div > div:last-of-type {
            &:not(.english) {
                @media (min-width: 314px) and (max-width: 350px) {
                    padding-bottom: 205px;
                }
                @media (min-width: 351px) and (max-width: 676px) {
                    padding-bottom: 170px;
                }
                @media (min-width: 677px) and (max-height: 766px), (min-width: 677px) and (max-width: 766px) {
                    padding-bottom: 135px;
                }
            }
            &.english {
                @media (min-width: 314px) and (max-width: 447px) {
                    padding-bottom: 170px;
                }
                @media (min-width: 448px) and (max-height: 766px), (min-width: 448px) and (max-width: 766px) {
                    padding-bottom: 135px;
                }
            }
        }
    }
    &.accessible-mode {
        main > div > div:last-of-type {
            li > span {
                display: none;
            }
        }
    }
}

body.legal-notices {
    &:not(.accessible-mode) {
        .no-scroll {
            position: absolute !important;
            bottom: 61px !important;
            @media (min-width: 767px) and (min-height: 767px) and (max-width: 849px) {
                bottom: 57px !important;
            }
        }
        main > div {
            height: unset;
        }
        main > div > div:last-of-type {
            &:not(.english), &.english {
                @media (min-width: 767px) and (min-height: 767px) {
                    margin: 2rem 50px 50px 50px;
                }
            }
            p:last-of-type {
                margin-bottom: unset;
            }
        }
        @media (min-width: 767px) and (min-height: 767px) {
            #dancing-banana {
                bottom: 111px !important;
            }
        }
    }
}

body.accessibility {
    main > div > div:last-of-type {
        ul {
            margin-bottom: 1rem;
        }
        h4 + p {
            margin: 0;
        }
        li span:first-of-type {
            font-family: "DejaVu Serif";
            bottom: 3px;
            position: relative;
            display: inline;
            font-size: 0.5rem;
            margin-right: 7px;
        }
    }
    &:not(.accessible-mode) {
        main > div > div:last-of-type {
            & > p:first-of-type {
                margin-top: unset;
            }
            &:not(.english), &.english {
                @media (max-width: 313px) {
                    margin-bottom: unset;
                }
                @media (min-width: 767px) and (min-height: 767px) {
                    padding-bottom: 75px;
                }
            }
            &:not(.english) {
                @media (min-width: 314px) and (max-width: 676px) {
                    padding-bottom: 155px;
                }
                @media (min-width: 677px) and (max-height: 766px), (min-width: 677px) and (max-width: 766px) {
                    padding-bottom: 115px;
                }
            }
            &.english {
                @media (min-width: 314px) and (max-width: 447px) {
                    padding-bottom: 155px;
                }
                @media (min-width: 448px) and (max-height: 766px), (min-width: 448px) and (max-width: 766px) {
                    padding-bottom: 115px;
                }
            }
        }
    }
}

@media print {
    header, footer, aside {
        display: none !important;
    }
}
