{% set pagination = pagination|default(page.collection.params.pagination) %}
{% set base_url = base_url|default(page.url) %}

{% if pagination|length > 1 %}

<{% if pagination.hasNext and pagination.hasPrev %}ul{% else %}div {% if pagination.hasPrev %}class="last-page"{% endif %}{% endif %} id="pagination" data-length="{{ pagination|length }}">
    {% if pagination.hasNext %}
        {% set url =  (base_url ~ pagination.params ~ pagination.nextUrl)|replace({'//':'/'}) %}
        {% if pagination.hasPrev %}<li>{% endif %}<a rel="prev" href="{{ url }}"><span aria-hidden="true">&lt;&nbsp;</span><span>Page précédente</span></a>{% if pagination.hasPrev %}</li>{% endif %}
    {% endif %}

    {% if pagination.hasPrev %}
        {% set url = (base_url ~ pagination.params ~ pagination.prevUrl)|replace({'//':'/'}) %}
        {% if pagination.hasNext %}<li>{% endif %}<a rel="next" href="{{ url }}"><span>Page suivante</span><span aria-hidden="true">&nbsp;&gt;</span></a>{% if pagination.hasNext %}</li>{% endif %}
    {% endif %}
</{% if pagination.hasNext and pagination.hasPrev %}ul{% else %}div{% endif %}>

{% endif %}
