{% extends 'usg/default-usg.html.twig' %}
{% block content %}
<div class="initial-container">
    <div class="postcard-container">
        <header class="menu-bar">
            <nav>
                <ul id="arrows">
                    <li><a id="back" href="#">< Retour</a></li>
                    <li><a id="show-verso" href="#">Verso ></a></li>
                </ul>
            </nav>
        </header>
        {% for elem in page.header.students %}
        <div class="cell">
            {{ page.media[elem.front].html() }}
            <div class="hover-credits">
                <p>{{ elem.name }}</p>
                <p>{{ elem.technique|slice(0, 50) ~ '...' }}</p>
            </div>
            <div class="verso hide">
                {{ page.media[elem.back].html() }}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<a href="../" id="cross">✕</a>
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script-usg19.js') %}
{% endblock %}
