{% extends 'usg/default-usg.html.twig' %}
{% block content %}
<div id="top-div">
    <div>
{{ page.content }}
<p>&nbsp;</p>
<p>&nbsp;</p>
    </div>
</div>
<div id="bottom-div">
    <div>
        <h1>A/</h1>
        <img class="portrait" src="/user/pages/usg19/02.project/04.text/affiche01.png"/>
        <p>Version de l'affiche en noir et blanc, couche essentielle/structurelle.</p>
        <img class="portrait" src="/user/pages/usg19/02.project/04.text/affiche02.png"/>
        <p>Affiche altérée par un bug d'affichage du logiciel de visionnage d'image.</p>
        <img src="/user/pages/usg19/02.project/04.text/monet.jpg"/>
        <p>Claude Monet, <em>« Impression, Soleil levant »</em>, huile sur toile, 1872, musée Marmottan, Paris.</p>
        <img src="/user/pages/usg19/02.project/04.text/wikimedia01.png"/>
        <img src="/user/pages/usg19/02.project/04.text/wikimedia02.png"/>
        <p>Captures d'écran, Wikimedias Commons (sunsets filed by color), site consulté en décembre 2018.</p>
        <img src="/user/pages/usg19/02.project/04.text/hotline.png"/>
        <p>Capture d'écran, « Hotline Miami 2 : Wrong Number », développé par Dennaton Games et Abstraction Games, édité chez Devolver Digital, 2015, jeu consulté en février 2019.</p>
        <img class="portrait" src="/user/pages/usg19/02.project/04.text/bayer01.jpg"/>
        <p>Herbert Bayer, <em>« 11. Great Ideas of Western man »</em>, lithographie offset, 1965. Son répertoire de recherche en matière de couleur et de composition est inépuisable.</p>
        <img src="/user/pages/usg19/02.project/04.text/montage.jpg"/>
        <p>Photomontage à partir d'éléments visuels libres (Wikimedias Commons), décembre 2018.</p>
        <p>&nbsp;</p>
    </div>
</div>
<a href="../" id="cross">✕</a>
{% endblock %}
