
@font-face {
    font-family: 'Karmilla';
    src: url('../fonts/karmilla-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Karmilla';
    src: url('../fonts/karmilla-bold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/vollkorn-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/vollkorn-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}
