@font-face {
    font-family: 'Liberation Sans';
    src: url('../fonts/liberation-sans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('../fonts/liberation-sans-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('../fonts/liberation-sans-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('../fonts/liberation-sans-bold-italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('../fonts/liberation-mono-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('../fonts/liberation-mono-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('../fonts/liberation-mono-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('../fonts/liberation-mono-bold-italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'DejaVu Serif';
    src: url('../fonts/dejavu-serif.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
