// based on http://meyerweb.com/eric/tools/css/reset/

:root {
    font-family: $font, sans-serif;
    font-size: 1.1em;
    color: $text-color;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, #footer-nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1rem;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section, #footer-nav {
	display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}

html, body {
    overflow-x: hidden;
}

html, body:not(.projects):not(.posts):not(.texts) {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

body {
    display: flex;
    flex-direction: column;
	line-height: 1;
    &:not(.accessible-mode):not(.home):not(.projects):not(.posts):not(.texts):not(.cv) {
        overflow: hidden;
    }
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote {
    line-height: 1.3;
    margin: 1rem 0 0 3rem;
}

p {
    margin: 1rem 0;
}

button {
    background-color: transparent;
    border: none;
    &:hover {
        cursor: pointer;
    }
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong {
    font-weight: 500;
}
em {
    font-style: italic;
}

abbr {
    cursor: help;
    text-decoration: none;
}

::-moz-selection {
}

::selection {
}
