$text-color: black;

$font: 'Liberation Sans';
$altfont: 'Liberation Mono';
$thirdfont: 'DejaVu Serif';

$ghost-yellow: #FFFACD;
$red: #DD0000;
$magenta: #C300C3;
$grey: #3A3B3C;
$medium-grey: #F5F5F5;
$light-grey: #E0E0E0;
$dark-grey: #A9A9A9;
