{% extends 'default.html.twig' %}

{% block content %}
<div>
    <section class="left">
        <div>
            <h2>News</h2>
            <ul>
                {% set minYear = 2014 %}
                {% set currentYear = "now"|date("Y") %}
                {% set firstYear = null %}

                {% for year in (currentYear)..minYear %}
                    {% set news = page.header.news|filter(new => new.date|date('Y') == year)|reverse %}
                    {% if news|length > 0 %}
                    <li>
                        <h3>
                            <button class="time" aria-expanded="false" aria-controls="{{ year ~ '-content' }}"><time datetime="{{ year }}">{{ year }}</time></button>
                        </h3>
                        {% set klass = "event-container" %}
                        {% if firstYear == null %}
                            {% set firstYear = year %}
                        {% else %}
                            {% set klass = klass ~ " hidden" %}
                        {% endif %}
                        <ul id="{{ year ~ '-content' }}" class="{{ klass }}">
                        {% for new in news %}
                            <li><span class="bullet" aria-hidden="true">●</span>
                                <div class="event-head">
                                    {% set alt_locale = grav.language.getActive ? 'fr' : 'en' %}
                                    <h4>{{ new.event }}</h4>
                                    <time datetime="{{ new.date|date('Y-m-d H:i') }}">{{ alt_locale == 'fr' ? new.date|date('m-d-Y, H:i') : new.date|date('d-m-Y, H:i') }}</time> 
                                </div>
                                <p>{{ new.text }}</p>
                                {% if new.links|length > 0 %}
                                    {% if new.links|length > 1 %}
                                        <ul class="links-container">
                                            {% for link in new.links %}
                                                <li><a href="{{ link.url }}">{{ link.text }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        {% for link in new.links %}
                                            <a href="{{ link.url }}">{{ link.text }}</a>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                    {% endif %}

                {% endfor %}
            </ul>
        </div>
        <div>
            <h2>{{ "ABOUT.BIO"|t }}</h2>
            {{page.content}}
        </div>
    </section>
    <section class="right">
        <div {% if grav.language.active == 'en' %}class="english"{% endif %}>
            <div>
                <h2>{{ "ABOUT.REFS"|t }}</h2>
                <ul>
                    {% for ref in page.header.references %}
                    <li><a href="{{ref.url}}" target="_blank">{{ref.name}}<span class="sr-only">{% if grav.language.active == 'en' %} – New window{% else %} – Nouvelle fenêtre{% endif %}</span></a></li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h2>{{ "ABOUT.SEE_ALSO"|t }}</h2>
                <ul>
                    {% for friend in page.header.friends %}
                    <li><a href="{{friend.url}}" target="_blank">{{friend.name}}<span class="sr-only">{% if grav.language.active == 'en' %} – New window{% else %} – Nouvelle fenêtre{% endif %}</span></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/about.js') %}
{% endblock %}
