{% extends 'blog-default.html.twig' %}
{% block content %}

<div id="post-pages-menu">
    <nav role="navigation">
        <input type="button" value="Rechercher" aria-expanded="false" aria-controls="post-pages-list" aria-label="Rechercher un article" />
        <ul id="post-pages-list" class="hidden">
        {% for posts in page.children.order('dir', 'desc').batch(page.collection.params.limit) %}
        {% set currentIndex = loop.index %}
        <li class="post-page">
            <button type="button" aria-expanded="false" aria-controls="articles-page-{{ loop.index }}">Page&nbsp;{{ loop.index }}</button>
            <ul id="articles-page-{{ loop.index }}" class="articles hidden">
                <li>
                    <a href="{{ page.url ~ '/page:' ~ loop.index }}">Tous les articles<span class="sr-only"> page {{ loop.index }}</span></a>
                </li>
                {% for item in posts %}
                    <li><a href="{{ item.url }}"><span class="sr-only">Page {{ currentIndex }} : </span>{% if item.header.span_title %}{{ item.header.span_title }}{% else %}{{ item.title }}{% endif %}{% if item.header.subtitle is not empty %}, {{ item.header.subtitle }}{% endif %}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
        </ul>
    </nav>
</div>

<div id="list" class="posts-padding">
    <ul>
        {% set mediasId = 0 %}
        {% set captionsIndex = 1 %}
        
        {% for item in page.collection %}
        <li>
            <div class="project-list" data-type="{{ item.header.categories|join(',') }}"  >
                <h2>
                    <button type="button" class="item" aria-expanded="false" aria-controls="content-{{ item.slug }}">
                        <span class="inner-btn">
                            <span class="bullet" aria-hidden="true">●</span>
                            {% if item.header.span_title %}{{ item.header.span_title }}{% else %}{{ item.title }}{% endif %}
                        </span>
                    </button>
                </h2>
                {% if item.header.tags|length > 0 %}
                    <div class="project-type">
                        {% if item.header.tags|length > 1 %}
                            <ul>
                                {% for tag in item.header.tags %}
                                <li class="tag">{{ tag.name }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            {% for tag in item.header.tags %}
                                <p class="tag">{{ tag.name }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
                <div class="details">
                    <time datetime="{{ item.date|date('Y-m-d') }}">
                        {{ [item.date|date('d'), 'MONTHS'|ta(item.date|date('n') -1), item.date|date('Y') ]|join(' ') }}
                    </time>
                    <a href="{{ item.url }}" class="post-link" target="_blank"><span aria-hidden="true">🔗</span><span class="sr-only"> Ouvrir le billet {% if item.header.span_title %}{{ item.header.span_title }}{% else %}{{ item.title }}{% endif %}{% if item.header.subtitle is not empty %}{{ ', ' ~ item.header.subtitle }}{% endif %} dans un nouvel onglet</span></a>
                </div>
                <div id="content-{{ item.slug }}" class="content hide">
                {% set mediasIndex = 1 %}
                {% set imagesIndex = 1 %}
                {% for med in item.media.all %}
                    {% set note = item.header.notes[loop.index0].text %}
                    {% if note and note != ' ' %}
                        <figure role="group" aria-details="{{ 'caption' ~ captionsIndex }}">
                    {% else %}
                        <div>
                    {% endif %}
                    {% if med.items.type == 'image' or med.items.type == 'animated' %}
                        {% set alt = item.header.alt[imagesIndex - 1].text %}
                        {% if med.height >= med.width %}
                            <img alt="{{ 'Image ' ~ imagesIndex ~ ' : ' ~ alt }}" src="{{ med.url }}" class="portrait" />
                        {% else %}
                            <img alt="{{ 'Image ' ~ imagesIndex ~ ' : ' ~ alt }}" src="{{ med.url }}" />
                        {% endif %}
                        {% set imagesIndex = imagesIndex + 1 %}
                    {% elseif med.items.type == 'video' or med.items.type == 'audio' %}
                        <div class="media-container">
                            {% set mediatitle = item.header.tempMedia[mediasIndex - 1].title %}
                            {% set mediadesc = item.header.tempMedia[mediasIndex - 1].text %}
                            <h3>{{ mediatitle }}</h3>
                            {% if med.items.type == 'video' %}
                                <video controls><source src="{{ med.url }}">Your browser does not support the video tag.</video>
                            {% else %}
                                <audio controls><source src="{{ med.url }}">Your browser does not support the audio tag.</audio>
                            {% endif %}
                            <button onclick="showMediaDesc()" type="button" class="media-button" aria-expanded="false" aria-controls="{{ 'mediaDesc' ~ mediasId }}">{{ "ACCESSIBILITY.MEDIABTN"|t }}<span class="sr-only"> {{ mediatitle }}</span></button>
                            <p id="{{ 'mediaDesc' ~ mediasId }}" class="hide mediaDesc">{{ mediadesc }}</p>
                        </div>
                        {% set mediasId = mediasId + 1 %}
                        {% set mediasIndex = mediasIndex + 1 %}
                    {% endif %}
                    {% if note and note != ' ' %}
                        <figcaption id="{{ 'caption' ~ captionsIndex }}"><span class="sr-only">{% if med.items.type == 'image' %}Image {{ imagesIndex - 1 }}{% elseif med.items.type == 'video' or med.items.type == 'audio' %}Média  {{ mediasIndex - 1 }}{% endif %} : </span>{{ note }}</figcaption>
                        {% set captionsIndex = captionsIndex + 1 %}
                    {% endif %}
                    {% if note and note != ' ' %}
                        </figure>
                    {% else %}
                        </div>
                    {% endif %}
                {% endfor %}
                {{ item.content }}
            </div>
        </div>
    </li>
        {% endfor %}
    </ul>
</div>

<nav role="navigation">
{% set collection = page.collection %}
{% if config.plugins.pagination.enabled and collection.params.pagination %}
{% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
{% endif %}
</nav>
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/blog-script.js') %}
{% do assets.addJs('theme://js/blog-posts.js') %}
{% endblock %}
