{% extends 'partials/base.html.twig' %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/blog.css') %}
{% endblock %}

{% block page %}
<header class="menu-bar banner" role="banner">
    <nav id="nav" role="navigation" aria-label="{{ 'ACCESSIBILITY.MAIN_NAV'|t }}">
        <div>
            <ul id="top-accessible-banner">
                <li><a id="start" href="#content">{{ "ACCESSIBILITY.CONTENT"|t }}</a></li>
                <li><button type="button" id="accessible-mode-btn" aria-pressed="false"><img alt="" src="{{ url('theme://images/visually-impaired-icon.svg') }}" /><span>{{ "ACCESSIBILITY.BTN_NAME"|t }}</span></button></li>
                <li class="desktop"><a href="#menu">{{ "ACCESSIBILITY.MAIN"|t }}</a></li>
                <li class="desktop"><a href="#aside">{{ "ACCESSIBILITY.ASIDE"|t }}</a></li>
            </ul>
            <button id="menu" type="button" class="mobile" aria-expanded="false" aria-controls="pages"><img alt="" src="{{ url('theme://images/menu-blog.svg') }}" /><span>Menu</span></button>
        </div>
        <ul id="pages" class="select-page hide{% if page.template == 'blog-post' %} individual{% endif %}" tabindex="-1">
            {% set class = page.header.body_classes %}
            {% for page in page.find('/blog').children.visible %}
                <li {% if page.slug == 'publications' %}id="blog-pages-list-container"{% endif %}>
                    {% if page.slug != 'publications' %}
                        <a href="{{ page.url }}" {% if page.active or page.activeChild %}class="selected" aria-current="page" title="{{ page.title }} – {% if grav.language.active == 'en' %}Active page{% else %}Page active{% endif %}" aria-label="{{ page.title }} – {% if grav.language.active == 'en' %}Active page{% else %}Page active{% endif %}"{% endif %}><span class="bullet desktop" aria-hidden="true">{% if page.active or page.activeChild %}●{% else %}○{% endif %}</span>{{ page.title }}</a>
                    {% else %}
                        <button type="button" id="blog-pages-list-button" {% if page.active or page.activeChild %}class="selected" {% endif %}aria-expanded="false" aria-controls="blog-select-page"><span class="bullet desktop" aria-hidden="true">{% if page.active or page.activeChild %}●{% else %}○{% endif %}</span>{{ page.title }}</button>
                        <ul id="blog-select-page" class="hide">
                            {% for child in page.children.visible %}
                                <li>
                                    <a href="{{ child.url }}" {% if class != 'posts' and class != 'texts' and class != 'text' %}class="unactive-page"{% endif %}{% if child.active %}class="selected" aria-current="page" {% if child.template == 'blog-texts' %}title="{{ child.header.used_title|capitalize }} – Page active" aria-label="{{ child.header.used_title|capitalize }} – Page active"{% endif %}{% endif %}>{{ child.header.used_title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
            <li class="aside-menu"><a href=" {{ url('theme://docs/memoire.pdf') }}">{{ "MENU_RIGHT.MASTER_THESIS"|t }}<span class="sr-only"> (<abbr title="Portable Document Format" lang="en">PDF</abbr> non accessible, 14.2 <abbr title="Mégaoctets">Mo</abbr>)</span></a></li>
            <li class="aside-menu"><a href=" {{ url('https://marjorieober.com/nextcloud/index.php/s/BLwX458bBB2CfTW') }}" target="_blank">Cours<span class="sr-only"> sur <span lang="en">Nextcloud</span> – Nouvelle fenêtre</span></a></li>
            <li class="aside-menu"><a href=" {{ url('/projects') }}">{{ "MENU_RIGHT.WEBSITE"|t }}</a></li>
        </ul>
    </nav>
</header>

<div id="main-container">
    <aside class="menu-bar left">
        {% if page.template == 'blog-posts' or page.template == 'blog-texts' %}
            <fieldset class="flex-line">
                <legend class="sr-only">{{ "MENU_LEFT.FILTERS"|t }}</legend>
                <div>
                    <input type="radio" id="images" data-type="images" name="filters" value="Images" />
                    <label for="images">Images</label>
                </div>
                <div>
                    <input type="radio" id="feminisms" data-type="grrrls" name="filters" value="Féminismes" />
                    <label for="feminisms">Féminismes</label>
                </div>
                <div>
                    <input type="radio" id="cultures" data-type="culture" name="filters" value="Cultures" />
                    <label for="cultures">Cultures</label>
                </div>
                <div>
                    <input type="radio" id="societies" data-type="society" name="filters" value="Sociétés" />
                    <label for="societies">Sociétés</label>
                </div>
                <div>
                    <input type="radio" id="else" data-type="else" name="filters" value="What The Fuck"{% if page.template == 'blog-texts' %}disabled{% endif %} />
                    <label for="else"><abbr title="What The Fuck" lang="en">WTF</abbr></label>
                </div>
            </fieldset>
        {% endif %}
    </aside>
    <main id="content" tabindex="-1" role="main">
        {% if page.slug == 'resources' or page.template == 'blog-text' %}<div>{% endif %}
            <div id="page-title">
                <h1 class="sr-only{% if page.template == 'blog-post' %} individual{% endif %}"><span class="sr-only-bis" lang="en">Blog : </span><span{% if page.header.body_classes == 'text' %} class="sr-only-bis"{% endif %}>{{ page.title }}</span></h1>
            </div>
            <img id="dancing-banana" class='invisible' alt="" src="{{ url('theme://images/pbjt.gif') }}">
            <!-- Behaviour if JS disabled but not CSS -->
            <noscript>
                <div class="no-js-msg">
                    Pour accéder à toutes les fonctionnalités de ce site, vous devez activer JavaScript.
                    Voici les <a href="https://www.enable-javascript.com/fr/"> instructions pour activer JavaScript dans votre navigateur Web</a>.
                </div>
            </noscript>
            {% block content %}
            {% endblock %}
        {% if page.slug == 'resources' or page.template == 'blog-text' %}</div>{% endif %}
    </main>
    <aside class="menu-bar right" role="complementary">
        <nav role="navigation">
            <ul id="aside" class="flex-line" tabindex="-1"></ul>
        </nav>
    </aside>
</div>

<footer class="menu-bar flex-line" role="contentinfo">
{% block footer %}
    {% if page.slug != 'resources' and page.template != 'blog-text' %}
        <div aria-hidden="true">
            {% if page.slug == 'contact' %}
                {{ page.header.footer|markdown }}
            {% else %}
                {% if page.header.span_title %}
                    {{ page.header.span_title|markdown }}
                {% else %}
                    {{ page.title|markdown }}
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
    <div id="footer-nav">
        <ul id="bottom-accessible-banner">
            {% if page.template != 'blog-contact' %}
            <li><a href="#start" id="top-btn"><span aria-hidden="true">↑</span><span>{{ 'ACCESSIBILITY.TOP_BTN'|t }}</span></a></li>
            {% endif %}
            <li><a href="{{ url('/sitemap') }}">{{ "ACCESSIBILITY.SITEMAP"|t }}</a></li>
            <li><a href="{{ url('/legal-notices') }}">{{ "ACCESSIBILITY.LEGALS"|t }}</a></li>
            <li><a href="{{ url('/accessibility') }}">{{ "ACCESSIBILITY.ACCESSIBILITY"|t }}</a></li>
        </ul>
    </div>
{% endblock %}
</footer>

{% endblock %}
