{% extends 'blog-default.html.twig' %}
{% block content %}

<div id="list">
    <ul>
        {% for item in page.collection %}
        <li>
            <span class="project-list" data-type="{{ item.header.categories|join(',') }}">
                <h2>
                    {% if item.slug == 'body' %}
                        <a href="https://marjorieober.com/nextcloud/s/We35Ndi4JEHYXt6" class="item" id="{{ item.slug }}" target="_blank"><span class="bullet" aria-hidden="true">●</span> {% if item.header.span_title %}{{ item.header.span_title }}{% else %}{{ item.title }}{% endif %}{% if item.header.subtitle is not empty %}, {{ item.header.subtitle }}{% endif %}<span class="sr-only"> – Nouvelle fenêtre</span></a>
                    {% elseif item.slug == 'tutoriel' %}
                        <a href="https://marjorieober.com/nextcloud/s/kpAGKSTaj8wdij6" class="item" id="{{ item.slug }}" target="_blank"><span class="bullet" aria-hidden="true">●</span> {% if item.header.span_title %}{{ item.header.span_title }}{% else %}{{ item.title }}{% endif %}{% if item.header.subtitle is not empty %}, {{ item.header.subtitle }}{% endif %}<span class="sr-only"> – Nouvelle fenêtre</span></a>
                    {% else %}
                        <a href="{{ item.url }}" class="item"><span class="bullet" aria-hidden="true">●</span> {% if item.header.span_title %}{{ item.header.span_title }}{% else %}{{ item.title }}{% endif %}{% if item.header.subtitle is not empty %}, {{ item.header.subtitle }}{% endif %}</a>
                    {% endif %}
                </h2>
                <div>
                    {% if item.header.tags|length > 0 %}
                        <div class="project-type">
                            {% if item.header.tags|length > 1 %}
                                <ul>
                                    {% for tag in item.header.tags %}
                                    <li class="tag">{{ tag.name }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {% for tag in item.header.tags %}
                                    <p class="tag">{{ tag.name }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="details">
                        <p>{{ item.header.desc }}</p>
                    </div>
                </div>
            </span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/blog-script.js') %}
{% do assets.addJs('theme://js/blog-texts.js') %}
{% endblock %}
