{% extends 'blog-default.html.twig' %}

{% block content %}

{% for item in pages.find('/blog/publications/texts').collection %}
{% if item.url == page.url %}
<div class="hide data" data-type="{{ item.header.categories|join(',') }}"></div>
{% endif %}
{% endfor %}

<div>

    <article class="one">
        <div>
            <div id="text-head">
                <button type="button" id="cross" data-url="{% if pageNumber == 1 %}{{ page.parent.route }}{% else %}{{ page.parent.route ~ '/page:' ~ pageNumber }}{% endif %}"><span aria-hidden="true">✕</span><span class="sr-only">Fermer le billet {{ page.title }}</span></button>
                <h2>{% if page.header.span_title %}{{ page.header.span_title }}{% else %}{{ page.title }}{% endif %}</h2>
            </div>
            {% if page.header.tags|length > 0 %}
                <div class="project-type">
                    {% if page.header.tags|length > 1 %}
                        <ul>
                            {% for tag in page.header.tags %}
                            <li class="tag">{{ tag.name }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {% for tag in page.header.tags %}
                            <p class="tag">{{ tag.name }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div>
            <h3>Texte</h3>
            {{ page.content }}
        </div>
    </article>
    <article class="two">
        {% set mediasIndex = 1 %}
        {% set imagesIndex = 1 %}
        {% set captionsIndex = 1 %}
        <div>
            <div class="article-title-container">
                <h3>Iconographie</h3>
            </div>
            {% for med in page.media.all %}
                {% set note = page.header.notes[loop.index0].text %}
                {% if note and note != ' ' %}
                    <figure role="group" aria-describedby="{{ 'caption' ~ captionsIndex }}">
                {% else %}
                    <div class="fig">
                {% endif %}
                {% if med.items.type == 'image' or med.items.type == 'animated' %}
                    {% set alt = page.header.alt[imagesIndex - 1].text %}
                    {% if med.height >= med.width %}
                        <img alt="{{ 'Image ' ~ imagesIndex ~ ' : ' ~ alt }}" src="{{ med.url }}" class="portrait" />
                    {% else %}
                        <img alt="{{ 'Image ' ~ imagesIndex ~ ' : ' ~ alt }}" src="{{ med.url }}" />
                    {% endif %}
                    {% set imagesIndex = imagesIndex + 1 %}
                {% elseif med.items.type == 'video' or med.items.type == 'audio' %}
                    <div class="media-container">
                        {% set mediatitle = page.header.tempMedia[mediasIndex - 1].title %}
                        {% set mediadesc = page.header.tempMedia[mediasIndex - 1].text %}
                        <h4>{{ mediatitle }}</h4>
                        {% if med.items.type == 'video' %}
                            <video controls><source src="{{ med.url }}">Your browser does not support the video tag.</video>
                        {% else %}
                            <audio controls><source src="{{ med.url }}">Your browser does not support the audio tag.</audio>
                        {% endif %}
                        <button onclick="showMediaDesc()" type="button" class="media-button" aria-expanded="false" aria-controls="{{ 'mediaDesc' ~ mediasIndex }}">{{ "ACCESSIBILITY.MEDIABTN"|t }}<span class="sr-only"> {{ mediatitle }}</span></button>
                        <p id="{{ 'mediaDesc' ~ mediasIndex }}" class="hide mediaDesc">{{ mediadesc }}</p>
                    </div>
                    {% set mediasIndex = mediasIndex + 1 %}
                {% endif %}
                {% if note and note != ' ' %}
                    <figcaption id="{{ 'caption' ~ captionsIndex }}"><span class="sr-only">{% if med.items.type == 'image' %}Image {{ imagesIndex - 1 }}{% elseif med.items.type == 'video' or med.items.type == 'audio' %}Média  {{ mediasIndex - 1 }}{% endif %} : </span>{{ note }}</figcaption>
                    {% set captionsIndex = captionsIndex + 1 %}
                {% endif %}
                {% if note and note != ' ' %}
                    </figure>
                {% else %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <a href="{{ page.header.link }}" target="_blank" class="source-link">Source<span class="sr-only">&nbsp;du texte {% if page.header.span_title %}{{ page.header.span_title }}{% else %}{{ page.title }}{% endif %} – Nouvelle fenêtre</span></a>
    </article>
</div>

<aside class="menu-bar right plus">
    <div>
    </div>
</aside>

{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/blog-script.js') %}
{% do assets.addJs('theme://js/blog-text.js') %}
{% endblock %}
