{% extends 'blog-default.html.twig' %}

{% block content %}
<div>
    <section class="reads">
        <div>
            <h2>Bibliographie</h2>
        </div>
    
        {% for read in page.header.books %}
            <h3><span lang="en">Design</span></h3>
            <ul>
                {% for design in read.design|sort_by_key('name') %}
                    <li>
                        <p><span aria-hidden="true">—</span> {{ design.name }}</p>
                    </li>
                {% endfor %}
            </ul>
            <h3>Images</h3>
            <ul>
                {% for image in read.image|sort_by_key('name') %}
                    <li>
                        <p><span aria-hidden="true">—</span> {{ image.name }}</p>
                    </li>
                {% endfor %}
            </ul>
            <h3>Revues, magazines</h3>
            <ul>
                {% for mag in read.magazine|sort_by_key('name') %}
                    <li>
                        <p><span aria-hidden="true">—</span> {{ mag.name }}</p>
                    </li>
                {% endfor %}
            </ul>
            <h3>Catalogues d'expositions</h3>
            <ul>
                {% for cat in read.expo|sort_by_key('name') %}
                    <li>
                        <p><span aria-hidden="true">—</span> {{ cat.name }}</p>
                    </li>
                {% endfor %}
            </ul>
            <h3>Essais féministes</h3>
            <ul>
                {% for fem in read.feminism|sort_by_key('name') %}
                    <li>
                        <p><span aria-hidden="true">—</span> {{ fem.name }}</p>
                    </li>
                {% endfor %}
            </ul>
            <h3>Sociétés</h3>
            <ul>
                {% for soc in read.society|sort_by_key('name') %}
                    <li>
                        <p><span aria-hidden="true">—</span> {{ soc.name }}</p>
                    </li>
                {% endfor %}
            </ul>
            <h3>Romans, nouvelles</h3>
            <ul>
                {% for nov in read.novel|sort_by_key('name') %}
                    <li>
                        <p><span aria-hidden="true">—</span> {{ nov.name }}</p>
                    </li>
                {% endfor %}
            </ul>
            <h3>Bandes dessinées, romans graphiques</h3>
            <ul>
                {% for bd in read.bd|sort_by_key('name') %}
                    <li>
                        <p><span aria-hidden="true">—</span> {{ bd.name }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
        <div>
            <h2>Filmographie</h2>
        </div>
        {% for watch in page.header.movies %}
            <h3>Séries télévisées</h3>
            <ul>
            {% for serie in watch.series|sort_by_key('name') %}
                <li>
                    <p><span aria-hidden="true">—</span> {{ serie.name }}</p>
                </li>
            {% endfor %}
            </ul>
            <h3>Films, documentaires</h3>
            <ul>
            {% for film in watch.films|sort_by_key('name') %}
                <li>
                    <p><span aria-hidden="true">—</span> {{ film.name }}</p>
                </li>
            {% endfor %}
            </ul>
            <h3>Films d'animation</h3>
            <ul>
            {% for anime in watch.animes|sort_by_key('name') %}
                <li>
                    <p><span aria-hidden="true">—</span> {{ anime.name }}</p>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
        <div>
            <h2>Ludographie</h2>
        </div>
        {% for play in page.header.games %}
            <h3>Jeux vidéo</h3>
            <ul>
            {% for videogame in play.videogames|sort_by_key('name') %}
                <li>
                    <p><span aria-hidden="true">—</span> {{ videogame.name }}</p>
                </li>
            {% endfor %}
            </ul>
            <h3>Jeux de société</h3>
            <ul>
            {% for boardgame in play.boardgames|sort_by_key('name') %}
                <li>
                    <p><span aria-hidden="true">—</span> {{ boardgame.name }}</p>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
        <div>
            <h2>Discographie</h2>
        </div>
        {% for music in page.header.music %}
            <h3>Albums</h3>
            <ul>
            {% for album in music.albums|sort_by_key('name') %}
                <li>
                    <p><span aria-hidden="true">—</span> {{ album.name }}</p>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
    </section>
    <section class="web">
        <div>
            <h2>Sitographie</h2>
        </div>
        {% for nav in page.header.web %}
            <h3>Actualités</h3>
            <ul>
            {% for new in nav.news|sort_by_key('name') %}
                <li>
                    <a href="{{ new.url }}" target="_blank">{{ new.name }}<span class="sr-only"> – Nouvelle fenêtre</span></a>
                </li>
            {% endfor %}
            </ul>
            <h3>Expositions</h3>
            <ul>
            {% for expo in nav.expositions|sort_by_key('name') %}
                <li>
                    <a href="{{ expo.url }}" target="_blank">{{ expo.name }}<span class="sr-only"> – Nouvelle fenêtre</span></a>
                </li>
            {% endfor %}
            </ul>
            <h3>Articles, Publications</h3>
            <ul>
                {% for art in nav.articles|sort_by_key('name') %}
                    <li>
                        <a href="{{ art.url }}" target="_blank">{{ art.name }}<span class="sr-only"> – Nouvelle fenêtre</span></a>
                    </li>
                {% endfor %}
            </ul>
            <h3>Émissions, interviews, conférences, documentaires</h3>
            <ul>
                {% for show in nav.shows|sort_by_key('name') %}
                    <li>
                        <a href="{{ show.url }}" target="_blank">{{ show.name }}<span class="sr-only"> – Nouvelle fenêtre</span></a>
                    </li>
                {% endfor %}
            </ul>
            <h3>Théorie</h3>
            <ul>
                {% for theo in nav.theory|sort_by_key('name') %}
                    <li>
                        <a href="{{ theo.url }}" target="_blank">{{ theo.name }}<span class="sr-only"> – Nouvelle fenêtre</span></a>
                    </li>
                {% endfor %}
            </ul>
            <h3>Outils, Logiciels</h3>
            <ul>
                {% for tool in nav.tools|sort_by_key('name') %}
                    <li>
                        <a href="{{ tool.url }}" target="_blank">{{ tool.name }}<span class="sr-only"> – Nouvelle fenêtre</span></a>
                    </li>
                {% endfor %}
            </ul>
            <h3>Typographie</h3>
            <ul>
                {% for typo in nav.typo|sort_by_key('name') %}
                    <li>
                        <a href="{{ typo.url }}" target="_blank">{{ typo.name }}<span class="sr-only"> – Nouvelle fenêtre</span></a>
                    </li>
                {% endfor %}
            </ul>
            <h3>Édition</h3>
            <ul>
                {% for ed in nav.editions|sort_by_key('name') %}
                    <li>
                        <a href="{{ ed.url }}" target="_blank">{{ ed.name }}<span class="sr-only"> – Nouvelle fenêtre</span></a>
                    </li>
                {% endfor %}
            </ul>
            <h3>Références</h3>
            <ul>
                {% for ref in nav.refs|sort_by_key('name') %}
                    <li>
                        <a href="{{ ref.url }}" target="_blank">{{ ref.name }}<span class="sr-only"> – Nouvelle fenêtre</span></a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </section>
</div>
{% endblock %}

{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/blog-script.js') %}
{% do assets.addJs('theme://js/blog-resources.js') %}
