{% extends 'blog-default.html.twig' %}

{% block content %}
<div class="postcard-container">{{ page.media[page.header.picked_image].html('', '', 'postcard') }}</div>
<div class="contact-container">{{ page.content }}</div>
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/blog-script.js') %}
{% endblock %}
