{% extends 'blog-default.html.twig' %}

{% block header %}

{% endblock %}

{% block content %}

<!-- => Hack to load corresponding page on post close -->
{% set pageNumber = null %}
{% set break = false %}

{% set postNumber = null %}

{% for post in page.parent.children %}
{% if post == page %}
{% set postNumber = loop.index %}
{% endif %}
{% endfor %}

{% for r in range(page.parent.children|length, 1, 15) if not break %}
{% if postNumber > (r - 15) %}
{% set pageNumber = loop.index %}
    {% set break = true %}
{% endif %}
{% endfor %}

<div class="hide data" data-type="{{ page.header.categories|join(',') }}"></div>

<div id="list">
    {% set mediasIndex = 1 %}
    {% set imagesIndex = 1 %}
    {% set captionsIndex = 1 %}
    <span class="project-list">
        <div id="post-head">
            <button type="button" id="cross" data-url="{% if pageNumber == 1 %}{{ page.parent.route }}{% else %}{{ page.parent.route ~ '/page:' ~ pageNumber }}{% endif %}"><span aria-hidden="true">✕</span><span class="sr-only">Fermer le billet {{ page.title }}</span></button>
            <h2 class="item individual{% for item in pages.find('/blog/publications/posts').collection %}{% if item.url == page.url %} current{% endif %}{% endfor %}">{% if page.header.span_title %}{{ page.header.span_title }}{% else %}{{ page.title }}{% endif %}</h2>
        </div>
        {% if page.header.tags|length > 0 %}
            <div class="project-type{% for item in pages.find('/blog/publications/posts').collection %}{% if item.url == page.url %} current{% endif %}{% endfor %}">
                {% if page.header.tags|length > 1 %}
                    <ul>
                        {% for tag in page.header.tags %}
                        <li class="tag">{{ tag.name }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {% for tag in page.header.tags %}
                        <p class="tag">{{ tag.name }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
        <div class="details">
            <time datetime="{{ page.header.date|date('Y-m-d') }}">
                {{ [page.header.date|date('d'), 'MONTHS'|ta(page.header.date|date('n') -1), page.header.date|date('Y') ]|join(' ') }}
            </time>
        </div>
        <div class="content flex">
            {% for med in page.media.all %}
                {% set note = page.header.notes[loop.index0].text %}
                {% if note and note != ' ' %}
                    <figure role="group" aria-details="{{ 'caption' ~ captionsIndex }}">
                {% else %}
                    <div>
                {% endif %}
                {% if med.items.type == 'image' or med.items.type == 'animated' %}
                    {% set alt = page.header.alt[imagesIndex - 1].text %}
                    {% if med.height >= med.width %}
                        <img alt="{{ 'Image ' ~ imagesIndex ~ ' : ' ~ alt }}" src="{{ med.url }}" class="portrait" />
                    {% else %}
                        <img alt="{{ 'Image ' ~ imagesIndex ~ ' : ' ~ alt }}" src="{{ med.url }}" />
                    {% endif %}
                    {% set imagesIndex = imagesIndex + 1 %}
                {% elseif med.items.type == 'video' or med.items.type == 'audio' %}
                    <div class="media-container">
                        {% set mediatitle = page.header.tempMedia[mediasIndex - 1].title %}
                        {% set mediadesc = page.header.tempMedia[mediasIndex - 1].text %}
                        <h3>{{ mediatitle }}</h3>
                        {% if med.items.type == 'video' %}
                            <video controls><source src="{{ med.url }}">Your browser does not support the video tag.</video>
                        {% else %}
                            <audio controls><source src="{{ med.url }}">Your browser does not support the audio tag.</audio>
                        {% endif %}
                        <button onclick="showMediaDesc()" type="button" class="media-button" aria-expanded="false" aria-controls="{{ 'mediaDesc' ~ mediasIndex }}">{{ "ACCESSIBILITY.MEDIABTN"|t }}<span class="sr-only"> {{ mediatitle }}</span></button>
                        <p id="{{ 'mediaDesc' ~ mediasIndex }}" class="hide mediaDesc">{{ mediadesc }}</p>
                    </div>
                    {% set mediasIndex = mediasIndex + 1 %}
                {% endif %}
                {% if note and note != ' ' %}
                    <figcaption id="{{ 'caption' ~ captionsIndex }}"><span class="sr-only">{% if med.items.type == 'image' %}Image {{ imagesIndex - 1 }}{% elseif med.items.type == 'video' or med.items.type == 'audio' %}Média  {{ mediasIndex - 1 }}{% endif %} : </span>{{ note }}</figcaption>
                    {% set captionsIndex = captionsIndex + 1 %}
                {% endif %}
                {% if note and note != ' ' %}
                    </figure>
                {% else %}
                    </div>
                {% endif %}
            {% endfor %}
            {{ page.content }}
        </div>
    </span>
</div>

{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/blog-script.js') %}
{% do assets.addJs('theme://js/blog-post.js') %}
{% endblock %}
