{% extends 'partials/base.html.twig' %}

{% block page %}

<header role="banner">
    <nav role="navigation" aria-label="{{ 'ACCESSIBILITY.MAIN_NAV'|t }}">
        <ul id="top-accessible-banner">
            <li><a id="start" href="#content">{{ "ACCESSIBILITY.CONTENT"|t }}</a></li>
            <li><button type="button" id="accessible-mode-btn" aria-pressed="false"><img alt="" src="{{ url('theme://images/visually-impaired-icon.svg') }}" /><span>{{ "ACCESSIBILITY.BTN_NAME"|t }}</span></button></li>
            {% set alt_locale = grav.language.getActive ? 'fr' : 'en' %}
            {% if '/home' in page.url %}
                <li><a lang="{{ alt_locale == 'fr' ? 'fr' : 'en' }}" href="{{ alt_locale == 'fr' ? page.url|replace({'/en': ''}) : '/home/' ~  alt_locale ~ page.url[5:] }}">{{ alt_locale|capitalize }}<span class="sr-only">{{ alt_locale == 'fr' ? 'ançais' : 'glish' }}</span></a></li>
            {% else %}
                <li><a lang="{{ alt_locale == 'fr' ? 'fr' : 'en' }}" href="{{ alt_locale == 'fr' ? page.url[3:] : '/' ~  alt_locale ~ page.url }}">{{ alt_locale|capitalize }}<span class="sr-only">{{ alt_locale == 'fr' ? 'ançais' : 'glish' }}</span></a></li>
            {% endif %}
        </ul>
        <button id="menu" type="button" aria-expanded="false" aria-controls="pages"><img alt="" src="{{ url('theme://images/menu.svg') }}" /><span>Menu</span></button>
        <ul id="pages" class="hide" tabindex="-1">
            {% for p in pages.children.visible %}
                {% if p.slug != 'home' and p.slug != 'cv' and p.slug != 'sitemap' and p.slug != 'legal-notices' and p.slug != 'accessibility' %}
                    <li>
                        <a href="{{ p.url }}">{{ p.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% set current_lang = grav.language.getActive %}
            {% set alt_locale = grav.language.getActive ? 'fr' : 'en' %}
            <li><a href="{{ alt_locale == 'fr' ? url('/blog')|replace({'/en': ''}) : url('/blog') }}" {% if current_lang != 'en' %}lang="en"{% endif %}>Blog</a></li>
            <li><a href="https://gitlab.com/marjorii" target="_blank">{% if current_lang != 'en' %}<span lang="en">{% endif %}Gitlab{% if current_lang != 'en' %}</span>{% endif %}<span class="sr-only">{% if grav.language.active == 'en' %} – New window{% else %} – Nouvelle fenêtre{% endif %}</span></a></li>
            <li><a href="{{ alt_locale == 'fr' ? url('/en/cv') : url('/cv') }}" class="selected" aria-current="page" title="{{ page.title }} – {% if grav.language.active == 'en' %}Active page{% else %}Page active{% endif %}" aria-label="{{ page.title }} – {% if grav.language.active == 'en' %}Active page{% else %}Page active{% endif %}"><abbr title="Curriculum Vitæ">CV</abbr></a></li>
            <li><a href="{{ alt_locale == 'fr' ? url('theme://docs/book_en.pdf') : url('theme://docs/book.pdf') }}">{% if current_lang != 'en' %}<span lang="en">{% endif %}Book{% if current_lang != 'en' %}</span>{% endif %}<span class="sr-only"> ({% if current_lang != 'en' %}<abbr title="Portable Document Format" lang="en">PDF</abbr> non accessible{% else %}non accessible <abbr title="Portable Document Format">PDF</abbr>{% endif %}, 4.3 {% if current_lang != 'en' %}<abbr title="Mégaoctets">{% else %}<abbr title="Megaoctets">{% endif %}Mo</abbr>)</span></a></li>
        </ul>
    </nav>
</header>

<main id="content" tabindex="-1" role="main">
    <h1 class="sr-only"><abbr title="Curriculum Vitæ">CV</abbr></h1>
    <!-- Behaviour if JS disabled but not CSS -->
    <noscript>
        <div class="no-js-msg">
            {% if grav.language.active == 'en' %}
            For full functionality of this website it is necessary to enable JavaScript.
            Here are the <a href="https://www.enable-javascript.com/"> instructions how to enable JavaScript in your web browser</a>.
            {% else %}
            Pour accéder à toutes les fonctionnalités de ce site, vous devez activer JavaScript.
            Voici les <a href="https://www.enable-javascript.com/fr/"> instructions pour activer JavaScript dans votre navigateur Web</a>.
            {% endif %}
        </div>
    </noscript>

    {% block content %}

    {% set current_lang = grav.language.getActive %}
    <section id="pdf">
        <ul>
            <li>
                <a class="pdf-link" href="{{ alt_locale == 'fr' ? url('theme://docs/cv-en.pdf') : url('theme://docs/cv.pdf') }}"><abbr title="Portable Document Format" {% if current_lang != 'en' %}lang="en"{% endif %}>PDF</abbr> (1 page<span class="sr-only">, 115 <abbr title="Kilooctets">Ko</abbr></span>)</a>
            </li>
            <li>
                <a class="pdf-link" href="{{ alt_locale == 'fr' ? url('theme://docs/full-cv-en.pdf') : url('theme://docs/cv-complet.pdf') }}">{% if current_lang == 'en' %}Full {% endif %}<abbr title="Portable Document Format" {% if current_lang != 'en' %}lang="en"{% endif %}>PDF</abbr>{% if current_lang != 'en' %} complet{% endif %}<span class="sr-only"> (150 <abbr title="Kilooctets">Ko</abbr>)</span></a>
            </li>
        </ul>
    </section>

    <section id="id">
        {{ page.header.id|markdown }}
    </section>

    <section id="freelance">
        <h2>{{ "CV.WORK"|t }}</h2>
        <h3><time datetime="{{ date|date('Y') }}">{{ date|date('Y') }}</time> — <time datetime="2016">2016</time></h3>
        {% for works in page.header.works %}
            <ul>
                {% for work in works.personnal|reverse %}
                    <li>{{ work.project|markdown }}</li>
                {% endfor %}
            </ul>
            <h4><span aria-hidden="true">[ </span>{{ "CV.WITH"|t ~ " Nicolas Chesnais" }}<span aria-hidden="true"> ]</span></h4>
            <ul>
            {% for work in works.nico|reverse %}
                <li>{{ work.project|markdown }}</li>
            {% endfor %}
            </ul>
            <h4><span aria-hidden="true">[ </span>{{ "CV.WITH"|t }}{% if grav.language.active == 'en' %}<span lang="fr">{% endif %}{{ " Plus Plus Égal" }}{% if grav.language.active == 'en' %}</span>{% endif %}<span aria-hidden="true"> ]</span></h4>
            <ul>
                {% for work in works.ppe|reverse %}
                    <li>{{ work.project|markdown }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </section>

    <section id="exhibitions">
        <h2>{{ "CV.EXHIBITIONS"|t }}</h2>
        {% for exhibitions in page.header.exhibitions %}
            <h3><time datetime="{{ exhibitions.endDate }}">{{ exhibitions.endDate }}</time> — <time datetime="2016">2016</time></h3>
        <ul>
            {% for exhibition in exhibitions.personnal|reverse %}
                <li>{{ exhibition.project|markdown }}</li>
            {% endfor %}
        </ul>
        <h4><span aria-hidden="true">[ </span>{{ "CV.WITH"|t }}{% if grav.language.active == 'en' %}<span lang="fr">{% endif %}{{ " Plus Plus Égal" }}{% if grav.language.active == 'en' %}</span>{% endif %}<span aria-hidden="true"> ]</span></h4>
        <ul>
            {% for exhibition in exhibitions.ppe|reverse %}
                <li>{{ exhibition.project|markdown }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </section>

    <section id="publications">
        <h2>Publications</h2>
        {% for publications in page.header.publications %}
            <h3><time datetime="{{ publications.endDate }}">{{ publications.endDate }}</time> — <time datetime="2015">2015</time></h3>
            <ul>
                {% for publication in publications.personnal|reverse %}
                    <li>{{ publication.project|markdown }}</li>
                {% endfor %}
            </ul>
            <h4><span aria-hidden="true">[ </span>{{ "CV.WITH"|t }}{% if grav.language.active == 'en' %}<span lang="fr">{% endif %}{{ " Plus Plus Égal" }}{% if grav.language.active == 'en' %}</span>{% endif %}<span aria-hidden="true"> ]</span></h4>
            <ul>
                {% for publication in publications.ppe|reverse %}
                    <li>{{ publication.project|markdown }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </section>

{% if grav.language.active == 'en' %}{% else %}{% endif %}
    <section id="mediation">
        <h2>{{ "CV.MEDIATION"|t }}</h2>
        {% for mediations in page.header.mediations %}
            <h3><time datetime="{{ date|date('Y') }}">{{ date|date('Y') }}</time> — <time datetime="2018">2018</time></h3>
            <ul>
                {% for mediations in mediations.personnal|reverse %}
                    <li>{{ mediations.project|markdown }}</li>
                {% endfor %}
            </ul>
            <h4><span aria-hidden="true">[ </span>{{ "CV.WITH"|t }}{% if grav.language.active != 'en' %}<span lang="en">{% endif %}{{ " Hacqueen" }}{% if grav.language.active != 'en' %}</span>{% endif %}<span aria-hidden="true"> ]</span></h4>
            <ul>
                {% for mediations in mediations.hacqueen|reverse %}
                    <li>{{ mediations.project|markdown }}</li>
                {% endfor %}
            </ul>
            <h4><span aria-hidden="true">[ </span>{{ "CV.WITH"|t }}<span lang="de">{{ " Hackstub "}}</span>{{ "CV.AND"|t }}{% if grav.language.active == 'en' %}<span lang="fr">{% endif %}{{ " Alsace Réseau Neutre" }}{% if grav.language.active == 'en' %}</span>{% endif %}<span aria-hidden="true"> ]</span></h4>
            <ul>
                {% for mediations in mediations.hackstub|reverse %}
                    <li>{{ mediations.project|markdown }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </section>

    <section id="collectives">
        <h2>{{ "CV.COLLECTIVES"|t }}</h2>
        <ul>
            {% for collective in page.header.collective|reverse %}
                <li>{{ collective.item|markdown }}</li>
            {% endfor %}
        </ul>
    </section>

    <section id="trainings">
        <h2>{{ "CV.TRAINING"|t }}</h2>
        {% for trainings in page.header.trainings|reverse %}
            <h3 class="time"><time datetime="{{ trainings.endDate }}">{{ trainings.endDate }}</time>{% if trainings.startDate %} — <time datetime="{{ trainings.startDate }}">{{ trainings.startDate }}</time>{% endif %}</h3>
            {% if trainings.training|length > 1 %}
                <ul>
                    {% for training in trainings.training|reverse %}
                        <li>{{ training.desc|markdown }}</li>
                        {% if training.soloExamples|length > 1 %}
                            <ul class="examples">
                                {% for ex in training.soloExamples %}
                                    <li>{{ ex.example|markdown }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            {% for ex in training.soloExamples %}
                                {{ ex.example|markdown }}
                            {% endfor %}
                        {% endif %}
                        {% if training.ppeExamples|length > 0 %}
                            <h4><span aria-hidden="true">[ </span>{{ "CV.WITH"|t ~ " Plus Plus Égal" }}<span aria-hidden="true"> ]</span></h4>
                        {% endif %}
                        {% if training.ppeExamples|length > 1 %}
                            <ul>
                                {% for ex in training.ppeExamples %}
                                    <li>{{ ex.example|markdown }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            {% for ex in training.ppeExamples %}
                                {{ ex.example|markdown }}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                {% for training in trainings.training %}
                    {{ training.desc|markdown }}
                    {% if training.soloExamples|length > 1 %}
                        <ul class="examples">
                            {% for ex in training.soloExamples %}
                                <li>{{ ex.example|markdown }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {% for ex in training.soloExamples %}
                            {{ ex.example|markdown }}
                        {% endfor %}
                    {% endif %}
                    {% if training.ppeExamples|length > 0 %}
                        <h4><span aria-hidden="true">[ </span>{{ "CV.WITH"|t ~ " Plus Plus Égal" }}<span aria-hidden="true"> ]</span></h4>
                    {% endif %}
                    {% if training.ppeExamples|length > 1 %}
                        <ul>
                            {% for ex in training.ppeExamples %}
                                <li>{{ ex.example|markdown }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {% for ex in training.ppeExamples %}
                            {{ ex.example|markdown }}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </section>

    <section id="skills">
        <h2>{{ "CV.SKILLS"|t }}</h2>
        {% for skills in page.header.skills %}
            {% for domain in skills.domain %}
                <h3>{{ domain.name }}</h3>
                {% if domain.line|length > 0 %}
                    {% for line in domain.line %}
                        {{ line.items|markdown }}
                    {% endfor %}
                {% endif %}
                {% if domain.list|length > 0 %}
                    <ul>
                        {% for list in domain.list %}
                            <li>{{ list.items|markdown }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </section>

    <section id="others">
        <h2>{{ "CV.OTHER"|t }}</h2>
        {% for others in page.header.others|reverse %}
        <h3 class="time"><time datetime="{{ others.endDate }}">{{ others.endDate }}</time>{% if others.startDate %} — <time datetime="{{ others.startDate }}">{{ others.startDate }}</time>{% endif %}</h3>
            {% for exp in others.experience|reverse %}
                {% if others.experience|length > 1 %}
                    <ul>
                        <li>{{ exp.desc|markdown }}</li>
                    </ul>
                {% else %}
                {{ exp.desc|markdown }}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </section>

    <div id="modifs">
        <p>{{ "CV.MODIFS"|t }} <time datetime="{{ page.header.modifs|date('Y-m-d') }}">{{ grav.language.active == 'en' ? page.header.modifs|date('m/d/Y') : page.header.modifs|date('d/m/Y') }}</time></p>
    </div>

    {% endblock %}
</main>

<footer role="contentinfo">

{% block footer %}
<div id="footer-nav">
    <ul id="bottom-accessible-banner">
        <li><a href="#start" id="top-btn"><span aria-hidden="true">↑</span><span>{{ 'ACCESSIBILITY.TOP_BTN'|t }}</span></a></li>
        <li><a href="{{ url('/sitemap') }}">{{ "ACCESSIBILITY.SITEMAP"|t }}</a></li>
        <li><a href="{{ url('/legal-notices') }}">{{ "ACCESSIBILITY.LEGALS"|t }}</a></li>
        <li><a href="{{ url('/accessibility') }}">{{ "ACCESSIBILITY.ACCESSIBILITY"|t }}</a></li>
    </ul>
</div>

{% endblock %}

</footer>

{% endblock %}


{% block javascripts %}
    {% do assets.addJs('theme://js/cv.js') %}
{% endblock %}
