{% extends 'partials/base.html.twig' %}

{% block page %}
<header class="menu-bar banner" role="banner">
    <nav id="nav" role="navigation" aria-label="{{ 'ACCESSIBILITY.MAIN_NAV'|t }}">
        <div>
            <ul id="top-accessible-banner">
                <li><a id="start" href="#content">{{ "ACCESSIBILITY.CONTENT"|t }}</a></li>
                <li><button type="button" id="accessible-mode-btn" aria-pressed="false"><img alt="" src="{{ url('theme://images/visually-impaired-icon.svg') }}" /><span>{{ "ACCESSIBILITY.BTN_NAME"|t }}</span></button></li>
                <li class="desktop"><a href="#menu">{{ "ACCESSIBILITY.MAIN"|t }}</a></li>
                <li class="desktop"><a href="#aside">{{ "ACCESSIBILITY.ASIDE"|t }}</a></li>
                {% set alt_locale = grav.language.getActive ? 'fr' : 'en' %}
                {% if '/home' in page.url %}
                    <li class="top-moving-item"><a lang="{{ alt_locale == 'fr' ? 'fr' : 'en' }}" href="{{ alt_locale == 'fr' ? page.url|replace({'/en': ''}) : '/home/' ~  alt_locale ~ page.url[5:] }}">{{ alt_locale|capitalize }}<span class="sr-only">{{ alt_locale == 'fr' ? 'ançais' : 'glish' }}</span></a></li>
                {% else %}
                    <li class="top-moving-item"><a lang="{{ alt_locale == 'fr' ? 'fr' : 'en' }}" href="{{ alt_locale == 'fr' ? page.url[3:] : '/' ~  alt_locale ~ page.url }}">{{ alt_locale|capitalize }}<span class="sr-only">{{ alt_locale == 'fr' ? 'ançais' : 'glish' }}</span></a></li>
                {% endif %}
            </ul>
            <button id="menu" type="button" class="mobile" aria-expanded="false" aria-controls="pages"><img alt="" src="{{ url('theme://images/menu.svg') }}" /><span>Menu</span></button>
        </div>
        <ul id="pages" class="select-page hide" tabindex="-1">
            {% for p in pages.children.visible %}
                {% if p.slug != 'home' and p.slug != 'cv' and p.slug != 'sitemap' and p.slug != 'legal-notices' and p.slug != 'accessibility' %}
                    <li>
                        <a href="{{ p.url }}" {% if p.active or p.activeChild %}class="selected" aria-current="page" title="{{ p.title }} – {% if grav.language.active == 'en' %}Active page{% else %}Page active{% endif %}" aria-label="{{ p.title }} – {% if grav.language.active == 'en' %}Active page{% else %}Page active{% endif %}"{% endif %}><span class="bullet desktop" aria-hidden="true">{% if p.active or p.activeChild %}●{% else %}○{% endif %}</span>{{ p.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% set current_lang = grav.language.getActive %}
            {% set alt_locale = grav.language.getActive ? 'fr' : 'en' %}
            <li class="aside-menu"><a href="{{ alt_locale == 'fr' ? url('/blog')|replace({'/en': ''}) : url('/blog') }}" {% if current_lang != 'en' %}lang="en"{% endif %}>Blog</a></li>
            <li class="aside-menu"><a href="https://gitlab.com/marjorii" target="_blank">{% if current_lang != 'en' %}<span lang="en">{% endif %}Gitlab{% if current_lang != 'en' %}</span>{% endif %}<span class="sr-only">{% if grav.language.active == 'en' %} – New window{% else %} – Nouvelle fenêtre{% endif %}</span></a></li>
            <li class="aside-menu"><a href="{{ alt_locale == 'fr' ? url('/en/cv') : url('/cv') }}"><abbr title="Curriculum Vitæ">CV</abbr></a></li>
            <li class="aside-menu"><a href="{{ alt_locale == 'fr' ? url('theme://docs/book_en.pdf') : url('theme://docs/book.pdf') }}">{% if current_lang != 'en' %}<span lang="en">{% endif %}Book{% if current_lang != 'en' %}</span>{% endif %}<span class="sr-only"> ({% if current_lang != 'en' %}<abbr title="Portable Document Format" lang="en">PDF</abbr> non accessible{% else %}non accessible <abbr title="Portable Document Format">PDF</abbr>{% endif %}, 4.3 {% if current_lang != 'en' %}<abbr title="Mégaoctets">{% else %}<abbr title="Megaoctets">{% endif %}Mo</abbr>)</span></a></li>
        </ul>
    </nav>
</header>

<div id="main-container"{% if grav.language.active == 'en' and page.slug == 'contact' %} class="english"{% endif %}>
    <aside class="menu-bar left{% if grav.language.active == 'en' %} en-specific{% endif %}">
        {% if page.template == 'projects' %}
            <fieldset class="flex-line">
                <legend class="sr-only">{{ "MENU_LEFT.FILTERS"|t }}</legend>
                <div>
                    <input type="radio" id="graphics" data-type="graphics" name="filters" value="{{ "MENU_LEFT.GRAPHIC_DESIGN"|t }}" />
                    <label for="graphics">{{ "MENU_LEFT.GRAPHIC_DESIGN"|t }}</label>
                </div>
                <div>
                    <input type="radio" id="edition" data-type="edition" name="filters" value="{{ "MENU_LEFT.BOOK"|t }}" />
                    <label for="edition">{{ "MENU_LEFT.BOOK"|t }}</label>
                </div>
                <div>
                    <input type="radio" id="web" data-type="web" name="filters" value="Web" />
                    <label for="web">Web</label>
                </div>
                <div>
                    <input type="radio" id="install" data-type="install" name="filters" value="installation" />
                    <label for="install">Installation</label>
                </div>
                <div>
                    <input type="radio" id="research" data-type="research" name="filters" value="{{ "MENU_LEFT.RESEARCH"|t }}" />
                    <label for="research">{{ "MENU_LEFT.RESEARCH"|t }}</label>
                </div>
            </fieldset>
        {% endif %}
    </aside>
    <main id="content" tabindex="-1" role="main">
        {% if page.slug == 'about' or page.slug == 'sitemap' or page.slug == 'legal-notices' or page.slug == 'accessibility' %}<div>{% endif %}
            <div id="page-title">
                <h1 class="sr-only">{% if page.slug == 'projects' %}{{ page.title ~ ' ' ~ 'now'|date('Y') ~ ' — 2015' }}{% else %}{{ page.title }}{% endif %}</h1>
            </div>
            <img id="dancing-banana" class='invisible' alt="" src="{{ url('theme://images/pbjt.gif') }}">
            <!-- Behaviour if JS disabled but not CSS -->
            <noscript>
                <div class="no-js-msg">
                    {% if grav.language.active == 'en' %}
                    For full functionality of this website it is necessary to enable JavaScript.
                    Here are the <a href="https://www.enable-javascript.com/"> instructions how to enable JavaScript in your web browser</a>.
                    {% else %}
                    Pour accéder à toutes les fonctionnalités de ce site, vous devez activer JavaScript.
                    Voici les <a href="https://www.enable-javascript.com/fr/"> instructions pour activer JavaScript dans votre navigateur Web</a>.
                    {% endif %}
                </div>
            </noscript>
            {% block content %}
            {% endblock %}
        {% if page.slug == 'about' or page.slug == 'sitemap' or page.slug == 'legal-notices' or page.slug == 'accessibility' %}</div>{% endif %}
    </main>
    <aside class="menu-bar right{% if grav.language.active == 'en' %} en-specific{% endif %}" role="complementary">
        <nav role="navigation">
            <ul id="aside" class="flex-line" tabindex="-1"></ul>
        </nav>
    </aside>
</div>

<footer class="menu-bar flex-line" role="contentinfo">
{% block footer %}
<div aria-hidden="true">
    <p>{% if page.slug == 'projects' %}{{ page.title ~ ' ' ~ 'now'|date('Y') ~ ' — 2015' }}{% else %}{{ page.header.footer|markdown }}{% endif %}</p>
</div>
<div id="footer-nav">
    <ul id="bottom-accessible-banner">
        {% if page.slug != 'contact' %}
        <li><a href="#start" id="top-btn"><span aria-hidden="true">↑</span><span>{{ 'ACCESSIBILITY.TOP_BTN'|t }}</span></a></li>
        {% endif %}
        <li><a href="{{ url('/sitemap') }}" {% if pages.find('/sitemap').active %}class="selected" aria-current="page" title="{{ pages.find('/sitemap').title }} – {% if grav.language.active == 'en' %}Active page{% else %}Page active{% endif %}" aria-label="{{ pages.find('/sitemap').title }} – {% if grav.language.active == 'en' %}Active page{% else %}Page active{% endif %}"{% endif %}>{{ "ACCESSIBILITY.SITEMAP"|t }}</a></li>
        <li><a href="{{ url('/legal-notices') }}" {% if pages.find('/legal-notices').active %}class="selected" aria-current="page" title="{{ pages.find('/legal-notices').title }} – {% if grav.language.active == 'en' %}Active page{% else %}Page active{% endif %}" aria-label="{{ pages.find('/legal-notices').title }} – {% if grav.language.active == 'en' %}Active page{% else %}Page active{% endif %}"{% endif %}>{{ "ACCESSIBILITY.LEGALS"|t }}</a></li>
        <li><a href="{{ url('/accessibility') }}" {% if pages.find('/accessibility').active %}class="selected" aria-current="page" title="{{ pages.find('/accessibility').title }} – {% if grav.language.active == 'en' %}Active page{% else %}Page active{% endif %}" aria-label="{{ pages.find('/accessibility').title }} – {% if grav.language.active == 'en' %}Active page{% else %}Page active{% endif %}"{% endif %}>{{ "ACCESSIBILITY.ACCESSIBILITY"|t }}</a></li>
    </ul>
</div>
{% endblock %}
</footer>

{% endblock %}
