{% extends 'default.html.twig' %}

{% block content %}
<div>
    <h2>{{ "ERROR.TITLE"|t }}</h2>
    <p>{{ "ERROR.TEXT"|t }}</p>
</div>
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% endblock %}
