{% extends 'default.html.twig' %}

{% block content %}
<div>
    <h2>Erreur !</h2>
    <p>Il semble que cette page n'existe pas.</p>
</div>
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% endblock %}
