{% extends 'partials/base.html.twig' %}

{% block page %}

{% block content %}

    <header class="banner" role="banner">
        <nav id="nav" role="navigation" aria-label="{{ 'ACCESSIBILITY.MAIN_NAV'|t }}">
            <ul id="top-accessible-banner">
                <li><a id="start" href="#content">{{ "ACCESSIBILITY.CONTENT"|t }}</a></li>
                <li><button type="button" id="accessible-mode-btn" aria-pressed="false"><img alt="" src="{{ url('theme://images/visually-impaired-icon.svg') }}" /><span>{{ "ACCESSIBILITY.BTN_NAME"|t }}</span></button></li>
                
                <!-- FIXME /!\ lang issue: not possible to get back in french when page in english... Seems to work online though... -->

                {% set alt_locale = grav.language.getActive ? 'fr' : 'en' %}
                {% if '/home' in page.url %}
                <li><a class="lang" lang="{{ alt_locale == 'fr' ? 'fr' : 'en' }}" href="{{ alt_locale == 'fr' ? page.url|replace({'/en': ''}) : '/home/' ~  alt_locale ~ page.url[5:] }}">{{ alt_locale|capitalize }}<span class="sr-only">{{ alt_locale == 'fr' ? 'ançais' : 'glish' }}</span></a></li>
                {% else %}
                <li><a class="lang" lang="{{ alt_locale == 'fr' ? 'fr' : 'en' }}" href="{{ alt_locale == 'fr' ? page.url[3:] : '/' ~  alt_locale ~ page.url }}">{{ alt_locale|capitalize }}<span class="sr-only">{{ alt_locale == 'fr' ? 'ançais' : 'glish' }}</span></a></li>
                {% endif %}
            </ul>
            <button id="menu" type="button" aria-expanded="false" aria-controls="pages"><img alt="" src="{{ url('theme://images/menu.svg') }}" /><span>Menu</span></button>
            <ul id="pages" class="hide" tabindex="-1">
                <li><a href=" {{ url('/projects') }}">{{ "MENU_RIGHT.WEBSITE"|t }}</a></li>
                {% set current_lang = grav.language.getActive %}
                {% set alt_locale = grav.language.getActive ? 'fr' : 'en' %}
                <li><a href="{{ alt_locale == 'fr' ? url('/blog')|replace({'/en': ''}) : url('/blog') }}" {% if current_lang != 'en' %}lang="en"{% endif %}>Blog</a></li>
                <li><a href="https://gitlab.com/marjorii" target="_blank">{% if current_lang != 'en' %}<span lang="en">{% endif %}Gitlab{% if current_lang != 'en' %}</span>{% endif %}<span class="sr-only">{% if grav.language.active == 'en' %} – New window{% else %} – Nouvelle fenêtre{% endif %}</span></a></li>
            </ul>
        </nav>
    </header>

    <main id="content" tabindex="-1" role="main">
        <div id="page-title">
            <h1>Marjorie Ober</h1>
            <p>{{ "HOME.ACTIVITIES"|t }}</p>
        </div>

        <!-- Behaviour if JS disabled but not CSS -->
        <noscript>
            <div class="no-js-msg">
                {% if grav.language.active == 'en' %}
                For full functionality of this website it is necessary to enable JavaScript.
                Here are the <a href="https://www.enable-javascript.com/"> instructions how to enable JavaScript in your web browser</a>.
                {% else %}
                Pour accéder à toutes les fonctionnalités de ce site, vous devez activer JavaScript.
                Voici les <a href="https://www.enable-javascript.com/fr/"> instructions pour activer JavaScript dans votre navigateur Web</a>.
                {% endif %}
            </div>
        </noscript>

        <div id="intro">
            <div id="welcome" class="intro">
                {{ page.header.intro|markdown }}
            </div>
            <div id="work" class="intro">
                {{ page.header.work|markdown }}
            </div>
            <div id="others" class="intro">
                {{ page.header.others|markdown }}
            </div>
            <div id="spell-button-container">
                <button type="button" id="spell-button" aria-pressed="false">
                    <span class="sr-only">{{ 'HOME.SPELL_BUTTON'|t }}</span>
                </button>
                <audio>
                 <source src="{{ url('theme://audio/magic-spell.mp3') }}" type="audio/mpeg">
               </audio>
           </div>
      </div>
      <div id="news">
          <div>
              <div>
                  <div class="category">
                      <h2>{{ "HOME.LAST_PROJECTS"|t }}</h2><a class="external-link" href="{{ base_url_simple }}{% if grav.language.active == 'en' %}/en/{% else %}/{% endif %}projects"><span aria-hidden="true">🔗</span><span class="sr-only"> {{ 'HOME.PROJECTS_PAGE'|t }}</span></a>
                  </div>
                  <ul>
                      {% for item in pages.find('/projects').collection %}
                      {% if loop.index <= 3 %}
                      <li class="project">
                          <div class="projects-container-div">
                              <h3>{% if item.header.span_title %}{{ item.header.span_title }}{% else %}{{ item.title }}{% endif %}</h3>
                          </div>
                          <div class="picture projects-container-div">{{ item.media[item.header.picked_image].html('', item.header.picked_image_alt, '')|raw }}</div>
                          <div class="projects-container-div">
                              {{ item.content|markdown|truncate(200)}}
                          </div>
                          <div class="projects-links projects-container-div">
                              <ul>
                                  {% if item.header.links %}
                                      {% for link in item.header.links %}
                                          {% if loop.index == 1 %}
                                              <li>
                                                <a href="{{ link.url }}" target="_blank">{% if item.slug == 'cybercabanes' or item.slug == 'body-recoding' %}<span class="sr-only">{% if item.header.span_title %}{{ item.header.span_title }}{% else %}{{ item.title }}{% endif %}{% if grav.language.active == 'en' %}{{ ': ' }}{% else %}{{ ' : ' }}{% endif %}</span>{% if link.span %}{{ link.span }}{% else %}{{ link.info }}{% endif %}<span class="sr-only">{% if grav.language.active == 'en' %} – New window{% else %} – Nouvelle fenêtre{% endif %}</span>{% endif %}{% if 'web' in link.info or 'site' in link.info %}{% if link.span %}{{ link.span }}{% else %}{{ link.info }}{% endif %}<span class="sr-only">{% if item.header.span_title %}{{ ' ' ~ item.header.span_title }}{% else %}{{ ' ' ~ item.title }}{% endif %}{% if grav.language.active == 'en' %} – New window{% else %} – Nouvelle fenêtre{% endif %}</span>{% endif %}</a>
                                              </li>
                                          {% endif %}
                                      {% endfor %}
                                  {% endif %}
                                  <li>
                                      <a href="{{ base_url_simple }}{% if grav.language.active == 'en' %}/en/{% else %}/{% endif %}projects#{{ item.slug }}">{{ "HOME.PROJECT_LINK"|t }}<span class="sr-only">{% if item.header.span_title %}{{ ' ' ~ item.header.span_title }}{% else %}{{ ' ' ~ item.title }}{% endif %}</span></a>
                                  </li>
                              </ul>
                          </div>
                      </li>
                      {% endif %}
                      {% endfor %}
                  </ul>
              </div>
              <div>
                  <div>
                      <div class="category">
                          <h2>{{ "HOME.LAST_TEXTS"|t }}</h2><a class="external-link" href="{{ base_url_simple }}/blog/publications/texts"><span aria-hidden="true">🔗</span><span class="sr-only"> {{ 'HOME.TEXTS_PAGE'|t }}</span></a>
                      </div>
                      <ul>
                          {% for item in pages.find('/blog/publications/texts').collection %}
                          {% if loop.index <= 3 %}
                          <li class="project">
                              <div class="container-div">
                                  <h3>
                                      {% if grav.language.active == 'en' %}
                                        <span lang="fr">{% if item.header.span_title %}{{ item.header.span_title }}{% else %}{{ item.title }}{% endif %}{% if item.header.subtitle is not empty %}, {{ item.header.subtitle }}{% endif %}</span>
                                      {% else %}
                                        {% if item.header.span_title %}{{ item.header.span_title }}{% else %}{{ item.title }}{% endif %}{% if item.header.subtitle is not empty %}, {{ item.header.subtitle }}{% endif %}
                                      {% endif %}
                                  </h3>
                              </div>
                              <div class="container-div">
                                  <p class="desc"><span class="list-style" aria-hidden="true">▸</span> {% if grav.language.active == 'en' %}<span lang="fr">{{ item.header.desc }}</span>{% else %}{{ item.header.desc }}{% endif %}</p>
                              </div>
                              <div class="projects-links container-div">
                                  <a href="{% if item.slug == 'body' %}https://marjorieober.com/nextcloud/s/We35Ndi4JEHYXt6{% elseif item.slug == 'tutoriel' %}https://marjorieober.com/nextcloud/s/kpAGKSTaj8wdij6{% else %}{{ base_url_simple }}/blog/publications/texts/{{ item.slug }}{% endif %}"{% if item.slug == 'body' or item.slug == 'tutoriel' %} target="_blank"{% endif %}>{{ "HOME.TEXT_LINK"|t }}<span class="sr-only">{% if grav.language.active == 'en' %}<span lang="fr">{% endif %}{% if item.header.span_title %}{{ ' ' ~ item.header.span_title }}{% else %}{{ ' ' ~ item.title }}{% endif %}{% if grav.language.active == 'en' %}</span>{% endif %}{% if item.slug == 'body' or item.slug == 'tutoriel' %}{% if grav.language.active == 'en' %} (Nextcloud directory) – New window{% else %} (répertoire <span lang="en">Nextcloud</span>) – Nouvelle fenêtre{% endif %}{% endif %}</span></a>
                              </div>
                          </li>
                          {% endif %}
                          {% endfor %}
                      </ul>
                  </div>
                  <div>
                      <div class="category">
                          <h2>{{ "HOME.LAST_POSTS"|t }}</h2><a class="external-link" href="{{ base_url_simple }}/blog/publications/posts"><span aria-hidden="true">🔗</span><span class="sr-only"> {{ 'HOME.POSTS_PAGE'|t }}</span></a>
                      </div>
                      <ul>
                          {% for item in pages.find('/blog/publications/posts').collection %}
                          {% if loop.index <= 3 %}
                          <li class="project">
                              <div class="container-div">
                                  <h3>
                                      {% if grav.language.active == 'en' %}
                                        <span lang="fr">{% if item.header.span_title %}{{ item.header.span_title }}{% else %}{{ item.title }}{% endif %}{% if item.header.subtitle is not empty %}, {{ item.header.subtitle }}{% endif %}</span>
                                      {% else %}
                                        {% if item.header.span_title %}{{ item.header.span_title }}{% else %}{{ item.title }}{% endif %}{% if item.header.subtitle is not empty %}, {{ item.header.subtitle }}{% endif %}
                                      {% endif %}
                                  </h3>
                              </div>
                              <div class="container-div">
                                  <p class="text-container">
                                      <span class="list-style" aria-hidden="true">▸</span>
                                      <time datetime="{{ item.header.date|date('c') }}" class="desc">
                                          {% if grav.language.active == 'en' %}
                                            {{ ['MONTHS'|ta(item.header.date|date('n') -1), item.header.date|date('d') ~ ',', item.header.date|date('Y') ]|join(' ') }}
                                          {% else %}
                                            {{ [item.header.date|date('d'), 'MONTHS'|ta(item.header.date|date('n') -1), item.header.date|date('Y') ]|join(' ') }}
                                          {% endif %}
                                      </time>
                                  </p>
                              </div>
                              <div class="projects-links container-div">
                                  <a href="{{ base_url_simple }}/blog/publications/posts/{{ item.slug }}">{{ "HOME.POST_LINK"|t ~ ' ' }}<span class="sr-only">{% if grav.language.active == 'en' %}<span lang="fr">{% endif %}{% if item.header.span_title %}{{ item.header.span_title }}{% else %}{{ item.title }}{% endif %}{% if grav.language.active == 'en' %}</span>{% endif %}</span></a>
                              </div>
                          </li>
                          {% endif %}
                          {% endfor %}
                      </ul>
                  </div>
                  <div>
                      <div class="category">
                          <h2>{{ "HOME.LAST_EVENTS"|t }}</h2><a class="external-link" href="{{ base_url_simple }}{% if grav.language.active == 'en' %}/en/{% else %}/{% endif %}about"><span aria-hidden="true">🔗</span><span class="sr-only"> {{ 'HOME.EVENTS_PAGE'|t }}</span></a>
                      </div>
                      <ul>
                          {% set about = pages.find('/about') %}
                          {% for item in about.header.news|reverse %}
                            {% if loop.index <= 3 %}
                                <li class="project">
                                  <div class="container-div">
                                      <h3>{{ item.event }}</h3>
                                  </div>
                                  <div class="container-div">
                                      <p class="text-container">
                                          <span class="list-style" aria-hidden="true">▸</span>
                                          <time datetime="{{ item.date|date('c') }}" class="desc">
                                              {% if grav.language.active == 'en' %}
                                                {{ ['MONTHS'|ta(item.date|date('n') -1), item.date|date('d') ~ ',', item.date|date('Y') ]|join(' ') }}
                                              {% else %}
                                                {{ [item.date|date('d'), 'MONTHS'|ta(item.date|date('n') -1), item.date|date('Y') ]|join(' ') }}
                                              {% endif %}
                                          </time>
                                      </p>
                                  </div>
                                  <div class="container-div">
                                      <p class="event-text">{{ item.text|raw }}</p>
                                  </div>
                                </li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                  </div>
              </div>

          </div>
      </div>
      <div id="social-networks">
          {{ page.header.networks|markdown }}
      </div>
    </main>

    <footer role="contentinfo">
        <div>
            {{ page.header.footer|markdown }}
        </div>

        <div id="footer-nav">
            <ul id="bottom-accessible-banner">
                {% if page.slug != 'contact' %}
                <li><a href="#start" id="top-btn"><span aria-hidden="true">↑</span><span>{{ 'ACCESSIBILITY.TOP_BTN'|t }}</span></a></li>
                {% endif %}
                <li><a href="{{ url('/sitemap') }}">{{ "ACCESSIBILITY.SITEMAP"|t }}</a></li>
                <li><a href="{{ url('/legal-notices') }}">{{ "ACCESSIBILITY.LEGALS"|t }}</a></li>
                <li><a href="{{ url('/accessibility') }}">{{ "ACCESSIBILITY.ACCESSIBILITY"|t }}</a></li>
            </ul>
        </div>
    </footer>

{% endblock %}

{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/home.js') %}
{% endblock %}
