{% extends 'default.html.twig' %}

{% block content %}
<div{% if grav.language.active == 'en' %} class="english"{% endif %}>
    {{ page.content }}
</div>
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% endblock %}
