{% set payload %}
<!-- FIXME: videoId should be unique but it starts from 1 for each project -->
{% set videoId = 1 %}
<div id="img" tabindex="0" role="document">
<h1 id="gallery-title" class="sr-only">{{ page.header.title }} {% if grav.language.active == 'en' %}(gallery){% else %}(galerie){% endif %}</h1>
    <h3 class="sr-only">Images</h3>
    {% for image in page.media.images %}
        {% set altBis = page.header.alt[loop.index -1].text %}
        {% if image.height >= image.width %}
            <img src="{{ image.url }}" loading="lazy" class="portrait" alt="{{ altBis }}">
        {% else %}
            <img src="{{ image.url }}" loading="lazy" alt="{{ altBis }}">
        {% endif %}
    {% endfor %}
    {% for animated in page.media.files %}
        {% set altBis = page.header.anim_alt[loop.index -1].text %}
        {{ animated.html('', altBis, '') }}
    {% endfor %}
    {% for video in page.media.videos %}
        {% set mediatitle = page.header.tempMedia[loop.index -1].title %}
        {% set mediadesc = page.header.tempMedia[loop.index -1].text %}
        <div class="video-container">
            <h4>{{ mediatitle }}</h4>
            <video controls><source src="{{ video.url }}">Your browser does not support the video tag.</video>
            <button onclick="showVideoDesc()" type="button" class="media-button" aria-expanded="false" aria-controls="{{ 'videoDesc-' ~ page.slug ~ '-' ~ videoId }}">{{ "ACCESSIBILITY.MEDIABTN"|t }}<span class="sr-only"> {{ mediatitle }}</span></button>
            <p id="{{ 'videoDesc-' ~ page.slug ~ '-' ~ videoId }}" class="hide">{{ mediadesc }}</p>
        </div>
        {% set videoId = videoId + 1 %}
    {% endfor %}
</div>

{% endset %}
{% set json = { 'content': payload, 'title': page.title, 'footer': page.header.footer } %}
{{ json|json_encode|raw }}
