{% extends 'default.html.twig' %}
{% block content %}
<div id="list">
    <ul>
        {% set videoId = 1 %}
        {% for item in pages.find('/projects').collection %}
            <li class="blur">
                <div class="project {% if item.header.plusplusegal %}plusplusegal{% endif %}" data-type="{{ item.header.categories|join(',') }}">
                    <time datetime="{{ item.header.year|date('Y') }}">
                        {{ item.header.year|date('Y') }}
                    </time>
                    <div>
                        <h2>
                            <button type="button" {% if item.header.plusplusegal %}{% if item.header.span_title %}id="{{ item.slug }}-button" aria-labelledby="{{ item.slug }}-button {{ item.slug }}-details"{% else %}aria-label="{{ item.title }}, {{ 'PROJECT.PLUSPLUSEGAL'|t }}"{% endif %}{% endif %} data-url="{{ item.url }}" class="item" {% if not item.header.plusplusegal %}id="{{ item.slug }}" {% endif %}aria-expanded="false" aria-controls="{{ item.slug ~ '-content' }}">{% if item.header.span_title %}{{ item.header.span_title }}{% else %}{{ item.title }}{% endif %}</button>
                        </h2>
                        {% if item.header.tags|length > 0 %}
                            <div class="project-type">
                                {% if item.header.tags|length > 1 %}
                                    <ul>
                                        {% for tag in item.header.tags %}
                                        <li class="tag">{{ tag.name }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    {% for tag in item.header.tags %}
                                        <p class="tag">{{ tag.name }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    {% if item.header.plusplusegal %}
                        <div class="ppe" aria-hidden="true"><span></span></div>
                    {% endif %}
                </div>
                <div class="content hide" id="{{ item.slug ~ '-content' }}">
                    {% if item.header.plusplusegal %}<p aria-hidden="true" id="{{ item.slug }}-details" class="project-details">{{ "PROJECT.PLUSPLUSEGAL"|t }}</p>{% endif %}
                    <section class="picture">
                        {% if item.slug == 'rmll18' %}
                            <img src="{{ item.media[item.header.picked_image].url }}" class="rmll" alt="{{ item.header.picked_image_alt }}">
                        {% else %}
                            <img src="{{ item.media[item.header.picked_image].url }}" alt="{{ item.header.picked_image_alt }}">
                        {% endif %}
                        <button type="button" class="gallery">{% if grav.language.active == 'en' %}<span class="sr-only">{% if item.header.span_title %}{{ item.header.span_title }}{% else %}{{ item.title }}{% endif %}{{ ' project image ' }}</span>{{ "PROJECT.GALLERY"|t }}{% else %}{{ "PROJECT.GALLERY"|t }}<span class="sr-only">{{ " d'images du projet " }}{% if item.header.span_title %}{{ item.header.span_title }}{% else %}{{ item.title }}{% endif %}</span>{% endif %}</button>
                        <div class="hide" id="{{ item.slug ~ '-gallery' }}">
                            <h3 class="sr-only">Images</h3>
                            {% for img in item.media.images %}
                            {% set alt = item.header.alt[loop.index -1].text %}
                                {% if img.filename != item.header.picked_image %}
                                    <img src="{{ img.url }}" loading="lazy" alt="{{ alt }}">
                                {% endif %}
                            {% endfor %}
                            {% for animated in item.media.files %}
                                {% set alt = item.header.anim_alt[loop.index -1].text %}
                                {{ animated.html('', alt, '') }}
                            {% endfor %}
                            {% for video in item.media.videos %}
                                <div class="video-container">
                                    {% set mediatitle = item.header.tempMedia[loop.index -1].title %}
                                    {% set mediadesc = item.header.tempMedia[loop.index -1].text %}
                                    <h4>{{ mediatitle }}</h4>
                                    <video controls><source src="{{ video.url }}">Your browser does not support the video tag.</video>
                                    <button onclick="showVideoDesc()" type="button" class="media-button" aria-expanded="false" aria-controls="{{ 'videoDesc' ~ videoId }}">{{ "ACCESSIBILITY.MEDIABTN"|t }}<span class="sr-only"> {{ mediatitle }}</span></button>
                                    <p id="{{ 'videoDesc' ~ videoId }}" class="hide">{{ mediadesc }}</p>
                                </div>
                                {% set videoId = videoId + 1 %}
                            {% endfor %}
                        </div>
                    </section>
                    <section class="txt" tabindex="0">
                        <h3>{{ 'PROJECT.MENU_TXT'|t }}</h3>
                        {{ item.content }}
                    </section>
                    <section class="infos" tabindex="0">
                        {% if item.header.infos|length > 0 %}
                            <div>
                                <h3>Infos</h3>
                                {{ item.header.infos|markdown }}
                            </div>
                        {% endif %}
                        {% if item.header.links|length > 0 %}
                            <div>
                                <h3>{{ 'PROJECT.MENU_LKS'|t }}</h3>
                                <ul>
                                    {% for link in item.header.links %}
                                    <li>
                                        <span class="bullet" aria-hidden="true">●</span>
                                        <a href="{{ link.url }}" target="_blank">{% if 'web' in link.info or 'site' in link.info %}{% if link.span %}{{ link.span }}<span class="sr-only">{% if item.header.span_title %}{{ ' ' ~ item.header.span_title }}{% else %}{{ ' ' ~ item.title }}{% endif %}</span>{% else %}{{ link.info }}<span class="sr-only">{% if grav.language.active == 'en' %} of{% endif %}{% if item.header.span_title %}{{ ' ' ~ item.header.span_title }}{% else %}{{ ' ' ~ item.title }}{% endif %}</span>{% endif %}{% else %}<span class="sr-only">{% if item.header.span_title %}{{ ' ' ~ item.header.span_title }}{% else %}{{ ' ' ~ item.title }}{% endif %}{% if grav.language.active == 'en' %}: {% else %} : {% endif %}</span>{% if link.span %}{{ link.span }}{% else %}{{ link.info }}{% endif %}{% endif %}<span class="sr-only">{% if grav.language.active == 'en' %} – New window{% else %} – Nouvelle fenêtre{% endif %}</span></a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                </section>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<div id="project-container" role="dialog" aria-modal="true" aria-labelledby="gallery-title" tabindex="0">
    <button id="cross"><span aria-hidden="true">✕</span><span class="sr-only">{{ "PROJECT.CLOSE"|t }}</span></button>
    <div class="project-gallery">
        <!-- content in json file -->
    </div>
    <header class="menu-bar">
        <nav role="navigation">
            <ul>
                <li><button type="button" id="prev"><span aria-hidden="true">&lt;&nbsp;</span>{{ "PROJECT.PREV"|t }}</button></li>
                <li><button type="button" id="next">{{ "PROJECT.NEXT"|t }}<span aria-hidden="true">&nbsp;&gt;</span></button></li>
            </ul>
        </nav>
    </header>
    <footer class="menu-bar" aria-hidden="true">
        <p></p>
    </footer>
</div>

<div id="focus-trapping-div" tabindex="0" class="hide"></div>

{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/projects.js') %}
{% endblock %}
