{% extends 'default.html.twig' %}

{% block content %}
<div {% if grav.language.active == 'en' %}class="english"{% endif %}>
    <ul>
        <li><span aria-hidden="true">●</span> <a href="{{ url('/home') }}">{{ pages.find('/home').title }}</a>
        {% for element in pages.children %}
            {% if element.slug != 'home' and element.slug != 'sitemap' and element.slug != 'legal-notices' and element.slug != 'accessibility' and element.slug != 'cv' %}
                <li>
                    <span aria-hidden="true">●</span> <a href="{% if element.slug == 'blog' %}{% if grav.language.active == 'en' %}{{ element.url|replace({'en': 'fr'}) }}{% else %}{{ element.url }}{% endif %}{% else %}{{ element.url }}{% endif %}">{{ element.header.title }}</a>
                    {% if element.children|length > 0 %}
                        <ul>
                            {% if element.slug == 'projects' %}
                                {% for elem in element.children.visible|reverse %}
                                    <li>
                                        <span aria-hidden="true">○</span> <a href="{{  element.url ~ '#' ~ elem.slug }}">{% if elem.header.span_title %}{{ elem.header.span_title }}{% else %}{{ elem.title }}{% endif %}</a>
                                        {% if elem.children|length > 0 %}
                                            <ul>
                                                {% for el in elem.children.visible %}
                                                    <li>
                                                        <a href="{{ el.url }}">{{ el.title }}</a>
                                                        {% if el.children|length > 0 %}
                                                            <ul>
                                                                {% for e in el.children.visible %}
                                                                    <li><a href="{{ e.url }}">{% if el.header.span_title %}{{ el.header.span_title }}{% else %}{{ el.title }}{% endif %}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            {% else %}
                                {% for elem in element.children.visible %}
                                    {% if elem.template == 'blog-contact' %}
                                        <li><span aria-hidden="true">○</span> <a href="{% if grav.language.active == 'en' %}{{ elem.url|replace({'en': 'fr'}) }}{% else %}{{ elem.url }}{% endif %}">{{ elem.title ~ ' (Blog)' }}</a></li>
                                    {% else %}
                                        <li>
                                            <span aria-hidden="true">○</span> <a href="{% if grav.language.active == 'en' %}{{ elem.url|replace({'en': 'fr'}) }}{% else %}{{ elem.url }}{% endif %}">{% if grav.language.active == 'en' %}<span lang="fr">{% endif %}{{ elem.title }}{% if grav.language.active == 'en' %}</span>{% endif %}</a>
                                            {% if elem.children|length > 0 %}
                                                <ul>
                                                    {% for el in elem.children.visible %}
                                                        <li>
                                                            <span aria-hidden="true" class="triangle">▸</span> <a href="{% if grav.language.active == 'en' %}{{ el.url|replace({'en': 'fr'}) }}{% else %}{{ el.url }}{% endif %}">{% if grav.language.active == 'en' %}<span lang="fr">{% endif %}{{ el.title }}{% if grav.language.active == 'en' %}</span>{% endif %}</a>
                                                            {% if el.children and el.slug != 'Resources' %}
                                                                <ul>
                                                                    {% if el.parent.parent.slug == "blog" %}
                                                                        {% for e in el.children.visible|reverse %}
                                                                            {% if e.slug == "body" %}
                                                                                <li><span aria-hidden="true">■</span> <a href="https://marjorieober.com/nextcloud/s/We35Ndi4JEHYXt6" target="_blank">{% if grav.language.active == 'en' %}<span lang="fr">{% endif %}{% if e.header.span_title %}{{ e.header.span_title }}{% else %}{{ e.title }}{% endif %}{% if grav.language.active == 'en' %}</span>{% endif %} {% if grav.language.active == 'en' %}(Nextcloud directory){% else %}(répertoire <span lang="en">Nextcloud</span>){% endif %}<span class="sr-only">{% if grav.language.active == 'en' %} – New window{% else %} – Nouvelle fenêtre{% endif %}</span></a></li>
                                                                            {% elseif e.slug == "tutoriel" %}
                                                                                <li><span aria-hidden="true">■</span> <a href="https://marjorieober.com/nextcloud/s/kpAGKSTaj8wdij6" target="_blank">{% if grav.language.active == 'en' %}<span lang="fr">{% endif %}{% if e.header.span_title %}{{ e.header.span_title }}{% else %}{{ e.title }}{% endif %}{% if grav.language.active == 'en' %}</span>{% endif %} {% if grav.language.active == 'en' %}(Nextcloud directory){% else %}(répertoire <span lang="en">Nextcloud</span>){% endif %}<span class="sr-only">{% if grav.language.active == 'en' %} – New window{% else %} – Nouvelle fenêtre{% endif %}</span></a></li>
                                                                            {% else %}
                                                                                <li><span aria-hidden="true">■</span> <a href="{% if grav.language.active == 'en' %}{{ e.url|replace({'en': 'fr'}) }}{% else %}{{ e.url }}{% endif %}">{% if grav.language.active == 'en' %}<span lang="fr">{% endif %}{% if e.header.span_title %}{{ e.header.span_title }}{% else %}{{ e.title }}{% endif %}{% if grav.language.active == 'en' %}</span>{% endif %}</a></li>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    {% else %}
                                                                        {% for e in el.children.visible %}
                                                                            <li><span aria-hidden="true">■</span> <a href="{{ e.url }}">{% if e.header.span_title %}{{ e.header.span_title }}{% else %}{{ e.title }}{% endif %}</a></li>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                </ul>
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
        <li><span aria-hidden="true">●</span> <a href="{{ url('/cv') }}">CV</a></li>
        <li><span aria-hidden="true">●</span> <a href="{{ url('/sitemap') }}">{{ "ACCESSIBILITY.SITEMAP"|t }}</a></li>
        <li><span aria-hidden="true">●</span> <a href="{{ url('/legal-notices') }}">{{ "ACCESSIBILITY.LEGALS"|t }}</a></li>
        <li><span aria-hidden="true">●</span> <a href="{{ url('/accessibility') }}">{{ "ACCESSIBILITY.ACCESSIBILITY"|t }}</a></li>
    </ul>
</div>
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% endblock %}
