{% extends 'default.html.twig' %}
{% block content %}
<div>
    <ul>
        {% for item in pages.find('/projects/content').collection %}
        <li><span {% if item.header.plusplusegal %}class="plusplusegal"{% endif %}><a href=""> {{ item.title }}</a></span></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
