{% extends 'default.html.twig' %}
{% block content %}
<div id="list">
    <ul>
        {% for item in pages.find('/projects/content').collection %}
        <li><span {% if item.header.plusplusegal %}class="plusplusegal"{% endif %}>
            <a href="{{ item.url }}" class="item">
                <img class="tooltip-img" src="{{ item.media[item.header.picked_image].resize(500, auto).url }}"/>
                <span class="tooltip-text">{{ item.title }}{% if item.header.subtitle is not empty %}, {{ item.header.subtitle }}{% endif %}.</span>
            </a>
        </span></li>
        {% endfor %}
    </ul>
</div>

<div id="project-container">
    <a href="#" id="cross">✕</a>
    <header class="menu-bar">
        <nav>
            <ul>
                <li><a href="#">< Projet précédent</a></li>
                <li><a href="#">Projet suivant ></a></li>
            </ul>
        </nav>
    </header>
    <article class="project">
        <!-- content in json file -->
    </article>
    <aside class="menu-bar right">
        <ul>
            <li><a href="#img" class="selected">Images</a></li>
            <li><a href="#txt">Texte</a></li>
            <li><a href="#links">Liens</a></li>
        </ul>
    </aside>
    <footer class="menu-bar">
        <p></p>
    </footer>
</div>
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% endblock %}
