.contact {
    aside.left a {
        pointer-events: none;
    }
    .postcard {
        object-position: bottom;
    }
    footer.flex-line {
        justify-content: center;
        span:first-of-type {
            &::after {
                content: "@"
            }
        }
        span:last-of-type {
            &::after {
                content: ".com"
            }
        }
    }
    main p {
        @media (max-width : 767px) {
            text-align: center;
        }
    }
}
