.contact {
    aside.left a {
        pointer-events: none;
    }
    .postcard {
        object-position: center;
    }
    footer.flex-line {
        justify-content: center;
        span:first-of-type {
            &::after {
                content: "@"
            }
        }
        span:last-of-type {
            &::after {
                content: ".com"
            }
        }
    }
    main p {
        a {
            color: $magenta;
            &:hover, &:active, &:focus {
                color: white;
                background-color: $magenta;
            }
        }
        @media (max-width : 767px) {
            text-align: center;
        }
    }
}
