.contact {

    main {
        height: 100%;
        overflow-y: hidden;
        .contact-container p {
            background-color: $magenta;
        }
    }

    &:not(.home):not(.projects):not(.cv):not(.accessible-mode) #main-container {
        &:not(.english) {
            @media (max-width: 219px) {
                height: calc(100% - 270px);
            }
        }
    }

    &:not(.home):not(.projects):not(.cv):not(.accessible-mode) main .contact-container {
        &:not(.english) {
            @media (max-width: 219px) {
                top: 199px;
            }
            @media (max-width: 244px) {
                height: calc(100% - 325px);
            }
        }
    }

    &:not(.home):not(.projects):not(.cv):not(.accessible-mode) #main-container, &:not(.home):not(.projects):not(.cv):not(.accessible-mode) main .contact-container {
        height: calc(100% - 269px);
        &:not(.english) {
            @media (min-width: 314px) and (max-width: 366px) {
                  height: calc(100% - 196px);
            }
            @media (min-width: 767px) and (min-height: 767px) {
                height: calc(100% - 220px);
            }
            @media (min-width: 795px) and (min-height: 767px) and (max-width: 849px) {
                height: calc(100% - 214px);
            }
        }
    }

    main .postcard-container {
        height: 100%;
    }

    @media (min-width: 398px) and (max-width: 540px) and (min-height: 800px) {
        &.accessible-mode footer {
            position: unset;
        }
    }
    @media (min-width: 398px) and (max-width: 500px) and (min-height: 830px) {
        &.accessible-mode footer {
            bottom: 16px !important;
            position: absolute;
        }
    }

}
