.posts {
    .menu-bar.right a:hover, .menu-bar.right a:active, .menu-bar.right a:focus, footer a:hover, footer a:active, footer a:focus, footer.flex-line a:hover, footer.flex-line a:active, footer.flex-line a:focus {
        font-weight: bold ;
    }
    .menu-bar nav a:not(.selected):hover, .menu-bar nav a:not(.selected):active, .menu-bar nav a:not(.selected):focus {
        font-weight: normal;
    }
    header, footer {
        width: 100%;
    }
    footer.flex-line {
        a {
            text-transform: none;
        }
    }
    @media (max-width: 767px) {
        .menu-bar, .menu-bar a, .menu-bar p {
            font-size: 0.75rem !important;
        }
        nav > ul > li > a::before {
            font-size: 0.9rem !important;
            margin-right: 5px;
        }
        nav > ul > li > a.selected::before {
            font-size: 0.9rem !important;
            margin-right: 5px;
        }
    }
    @media (max-width: 600px), (max-height: 600px) {
        aside.left > ul, aside.right > ul {
            margin: 0!important;
        }
    }
    main {
        #pages-menu {
            margin: 25px 25px 0 25px;
            @media (min-width: 767px) {
                margin: 50px 50px 0 50px;
            }
            input, .page > button {
                width: 150px;
            }
            input {
                font-family: 'Karmilla';
                font-size: 1rem;
                cursor: pointer;
            }
            .page > button {
                font-weight: bold;
            }
            #pages {
                & > li:not(.hidden) {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    @media (max-width: 767px) and (orientation: portrait) {
                        flex-direction: column;
                    }
                    & > button {
                        border: 3px solid $magenta;
                    }
                }
                & > li:not(:first-of-type) > button {
                    border-top: 0;
                }
                & > li > button.stroke {
                    border-top: 3px solid $magenta;
                    @media (max-width: 767px) and (orientation: portrait) {
                        border-top: 0;
                    }
                }
                & > li > button[aria-expanded="true"] {
                    @media (max-width: 767px) and (orientation: portrait) {
                        border-bottom: 0;
                    }
                    @media (min-width: 767px) {
                        border-right: 0;
                    }
                }
                button, a {
                    color: $magenta;
                    padding: 5px;
                    text-decoration: none;
                    height: 100%;
                    &:hover, &:active, &:focus {
                        color: white !important;
                        background-color: $magenta;
                    }
                }
            }
            .articles {
                border: 3px solid $magenta;
                max-width: calc(100% - 150px);
                @media (max-width: 767px) and (orientation: portrait) {
                    width: 100%;
                    max-width: none;
                }
                & > a, li:not(:last-of-type) a {
                    border-bottom: 3px solid $magenta;
                }
                a {
                    display: block;
                }
                & > a {
                    text-transform: uppercase;
                }
            }
        }
        #list {
            padding: 25px;
            height: auto;
            @media (min-width: 767px) {
                padding: 50px;
            }
            ul {
                li {
                    width: 100%;
                    &:not(:first-of-type) {
                        padding-top: 5.5vh;
                    }
                    a, h1 {
                        color: black;
                        text-decoration: none;
                        font-size: 1rem;
                        line-height: 1.25;
                        display: inline;
                        &::before {
                            content: "●";
                            // margin-left: 7vw;
                            margin-right: 2%;
                            font-family: Verdana, "Liberation Sans", "DejaVu Sans";
                            font-size: 1rem;
                            position: relative;
                        }
                    }
                    &.match a:not(.external-link), a:not(.external-link) {
                        &:hover, &:active, &:focus {
                            color: white !important;
                            background-color: $magenta;
                        }
                    }
                    .details {
                        display: block;
                        padding-top: 1rem;
                        // margin: 0 0 0 7vw;
                        .external-link {
                            display: inline-block;
                            font-size: 1rem;
                            line-height: 0;
                            margin-left: 10px;
                            &::before {
                                content: "";
                                margin-left: 0;
                                margin-right: 0;
                            }
                        }
                    }
                    .content {
                        margin: 0 15vw;
                        img, video {
                            width: 100%;
                            padding: 2rem 0 1rem 0;
                        }
                        img {
                            cursor: pointer;
                        }
                        figcaption {
                            font-family: "Vollkorn";
                            text-align: center;
                            line-height: 1.3;
                            margin: 0;
                            padding: 0;
                        }
                        p {
                            font-family: "Vollkorn";
                            margin: 0;
                            padding: 1rem 0 0 0;
                            line-height: 1.3;
                            width: 55%;
                            &::before {
                                content: "";
                                margin-left: 3vw;
                            }
                            &:first-of-type {
                                padding-top: 2rem;
                            }
                        }
                        .content-link {
                            font-family: "Vollkorn";
                            font-size: 1rem;
                            margin: 0;
                            padding: 0;
                            line-height: 1.3;
                            color: $magenta;
                            pointer-events: auto;
                            word-wrap: break-word;
                            display: inline-block;
                            &::before {
                                content: none;
                                margin: 0;
                            }
                            &:hover, &:active, &:focus {
                                color: white;
                                background-color: $magenta;
                            }
                        }
                    }
                    @supports (-webkit-appearance:none) {
                        a::before, h1::before {
                            font-size: 1.75rem;
                        }
                    }
                    &::before {
                        bottom: 2px;
                    }
                    .match a {
                        color: $magenta;
                    }
                }
            }
        }
        @media (max-width: 767px) {
            #list {
                a:before, time, figcaption, figcaption a.content-link {
                    font-size: 0.75rem !important;
                }
                .details {
                    padding-top: 0.5rem !important;
                }
                p {
                    padding-bottom: 0.5rem !important;
                    &.text-space {
                        padding-bottom: 2rem !important;
                    }
                }
            }
        }
        @media (max-width: 767px) and (orientation: portrait) {
            .content {
                margin: 0 !important;
            }
        }
        @media (min-width: 767px) {
            #list {
                ul li a, ul li h1 {
                    font-size: 1.5rem;
                    &::before {
                        bottom: 5px;
                    }
                }
            }
        }
        @media (max-width: 1024px) {
            .content p {
                width: 100% !important;
            }
        }
        @media (min-width: 1023px) {
            #list {
                width: 100%;
                ul {
                    li {
                        a, h1 {
                            font-size: 2rem;
                        }
                        &::before {
                            bottom: 5px;
                        }
                    }
                }
                .content p.text-content {
                    width: 55%;
                }
            }
        }
        @media (max-width: 1024px) {
            .content {
                p.text-content {
                    width: 100% !important;
                }
            }
        }
    }
}
footer {
    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            span {
                text-transform: none;
            }
        }
    }
    .title {
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        line-height: 25px;
        pointer-events: none;
        @media (min-width: 767px) {
            line-height: 50px;
        }
    }
}
