.posts {

    &:not(.accessible-mode) {
        width: unset;
        height: unset;
        overflow: unset;
        @media (min-width: 767px) and (min-height: 767px) {
            width: 100%;
            height: 100%;
            overflow: hidden;
            header.banner #pages #blog-pages-list-container ul#blog-select-page {
                li:first-of-type {
                    border-bottom: 3px solid $magenta;
                    a:not(:hover), a:not(:active), a:not(:focus) {
                        border-bottom: none;
                    }
                }
            }
        }
        @media (min-width: 767px), (orientation: landscape) {
            main #post-pages-menu #post-pages-list li:not(:first-of-type) .articles {
                position: relative;
                top: -3px;
                left: -3px;
            }
        }
        &.no-scroll {
            @media (max-width: 766px), (max-height: 766px) {
                footer {
                    position: absolute !important; 
                    bottom: 54px !important;
                }
            }
            @media (min-width: 767px) and (min-height: 767px) {
                main, main:not(.scrolled) {
                    height: calc(100vh - 221px);
                }
                #main-container > aside {
                    width: calc(100vh - 207px);
                    bottom: 50px;
                    &.scrolled {
                        width: calc(100vh - 161px) !important;
                        bottom: 61px;
                    }
                }
                footer {
                    position: absolute !important;
                    bottom: 61px !important;
                }
            }
            @media (min-width: 850px) and (min-height: 767px) {
                #main-container > aside {
                    width: calc(100vh - 255px) !important;
                }
            }
            @media (min-width: 945px) and (min-height: 767px) {
                #main-container > aside {
                    width: calc(100vh - 211px) !important;
                }
            }
        }
    }
    
    header, footer {
        width: 100%;
    }
    
    footer.flex-line {
        &.no-scroll {
            position: absolute !important;
            bottom: 50px !important;
        }
        a {
            text-transform: none;
        }
    }
    
    &:not(.accessible-mode) header {
        @media (min-width: 1000px) and (min-height: 767px) {
            position: unset;
            top: unset;
            z-index: unset;
        }
    }
    
    &:not(.accessible-mode) main {
        height: unset;
        overflow-y: unset;
        @media (min-width: 767px) and (min-height: 767px) {
            overflow-y: auto;
            width: calc(100% - 100px);
            margin: 0 50px;
            &:not(.scrolled) {
                height: calc(100vh - 120px);
            }
            &.scrolled {
                height: calc(100vh - 100px);
            }
        }
        @media (min-width: 767px) and (min-height: 767px) and (max-width: 801px), (min-width: 850px) and (min-height: 767px) and (max-width: 946px) {
            &:not(.scrolled) {
                html[lang="fr"] & {
                    height: calc(100vh - 155px);
                }
            }
        }
    }

    main {

        #page-title {
            h1.individual {
                width: unset;
                padding: unset;
                border-bottom: none;
            }
            html[lang="fr"] & {
                @media (min-width: 314px)and (max-width: 522px) {
                    margin-top: -133px;
                }
                @media (min-width: 523px) and (max-width: 599px) {
                    margin-top: -103px;
                }
                @media (min-width: 600px) and (max-width: 766px), (min-width: 600px) and (max-height: 766px) {
                    margin-top: -106px;
                }
            }
        }
        
        #post-pages-menu {
            margin: 25px 1rem;
            @media (min-width: 767px) and (min-height: 767px) {
                margin: 50px 50px 0 50px;
            }
            input, .post-page > button {
                width: 150px;
            }
            input {
                color: $text-color;
                background-color: $light-grey;
                border: 1px solid $grey;
                border-radius: 4px;
                font-size: 1.25rem;
                padding: 5px;
                cursor: pointer;
                @media (min-width: 600px) and (min-height: 600px) {
                    font-size: 1rem;
                }
                &:hover, &:active, &:focus, &[aria-expanded="true"] {
                    background-color: white;
                }
                &[aria-expanded="true"] {
                    border-radius: 4px 4px 0 0;
                }
            }
            .post-page > button {
                font-weight: bold;
            }
            .articles {
                border-radius: 0 4px 4px 0;
            }
            .post-page:first-of-type > button {
                @media (min-width: 767px) and (min-height: 767px) {
                    &[aria-expanded="true"] {
                        border-radius: 0 0 0 4px;
                    }
                }
            }
            .post-page:last-of-type {
                & > button {
                    border-radius: 0 0 4px 4px;
                    &[aria-expanded="true"] {
                        border-radius: 0;
                        @media (min-width: 767px) and (min-height: 767px) {
                            border-radius: 0 0 4px 4px;
                        }
                    }
                }
                .articles {
                    border-radius: 0 4px 4px 4px;
                }
            }
            @media (min-width: 767px) and (min-height: 767px) {
                .post-page:not(:first-of-type):not(:last-of-type) {
                    & > button[aria-expanded="true"] {
                        border-radius: 0 0 0 4px;
                    }
                }
                .post-page:not(:last-of-type) > button.stroke {
                    border-radius: 4px 0 0 0;
                }
                .post-page:last-of-type > button.stroke {
                    border-radius: 4px 0 4px 4px;
                }
            }
            #post-pages-list {
                & > li:not(.hidden) {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    @media (max-width: 766px) and (orientation: portrait) {
                        flex-direction: column;
                    }
                    & > button {
                        border: 3px solid $magenta;
                    }
                }
                & > li:not(:first-of-type) {
                    & > button {
                        border-top: 0;
                    }
                }
                & > li > button.stroke {
                    border-top: 3px solid $magenta;
                    @media (max-width: 766px) and (orientation: portrait) {
                        border-top: 0;
                    }
                }
                & > li > button[aria-expanded="true"] {

                    @media (max-width: 766px) and (orientation: portrait) {
                        border-bottom: 0;
                    }
                    @media (min-width: 767px) {
                        border-right: 0;
                    }
                }
                .correct-margin {
                    margin-bottom: -6px;
                }
                button, a {
                    color: $magenta;
                    background-color: $medium-grey;
                    padding: 5px;
                    text-decoration: none;
                    height: 100%;
                    font-size: 1.25rem;
                    @media (min-width: 600px) and (min-height: 600px) {
                        font-size: 1rem;
                    }
                    &:hover, &:active, &:focus, &[aria-expanded="true"] {
                        color: $medium-grey !important;
                        background-color: $magenta;
                    }
                }
            }
            .articles {
                border: 3px solid $magenta;
                max-width: calc(100% - 150px);
                @media (max-width: 766px) and (orientation: portrait) {
                    width: 100%;
                    max-width: none;
                }
                & > a, li:not(:last-of-type) a {
                    border-bottom: 3px solid $magenta;
                }
                a {
                    display: block;
                }
                & > a {
                    text-transform: uppercase;
                }
            }
        }

        #list {
            padding: 25px 1rem 0 1rem;
            height: auto;
            @media (min-width: 767px) and (min-height: 767px) {
                padding: 50px 50px 0 50px;
                &.extra-padding {
                    padding: 50px 50px 100px 50px;
                }
            }
            
            h2 {
                color: $text-color;
                text-decoration: none;
                font-size: 1.5rem;
                line-height: 1.3;
                display: inline-block;
                width: 100%;
                .bullet {
                    position: relative;
                    font-family: $thirdfont;
                    bottom: 3px;
                    font-size: 0.9rem;
                    margin-right: 10px;
                }
            }

            #post-head {
                h2 {
                    &.individual {
                        padding-right: 3rem;
                    }
                }
                #cross {
                    position: fixed;
                    top: 168px;
                    right: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 2.25rem;
                    width: 2.5rem;
                    font-size: 1.75rem;
                    font-family: $font;
                    font-weight: bold;
                    color: $text-color;
                    background-color: $medium-grey;
                    text-decoration: none;
                    z-index: 999;
                    border-radius: 50%;
                    padding: 5px;
                    @media (min-width: 331px) {
                        top: 131px;
                    }
                    @media (min-width: 600px) and (min-height: 600px) {
                        top: 135px;
                    }
                    @media (min-width: 767px) and (min-height: 767px) {
                        top: 140px;
                        right: 75px;
                    }
                    @media (min-width: 767px) and (max-width: 794px) and (min-height: 767px), (min-width: 850px) and (max-width: 946px) and (min-height: 767px) {
                        top: 184px;
                    }
                    &.scrolled {
                        top: 25px;
                        @media (min-width: 314px) {
                            top: 75px;
                        }
                    }
                    &:hover, &:active, &:focus {
                        text-decoration: underline;
                        background-color: transparent;
                    }
                    span {
                        pointer-events: none;
                    }
                }
            }

            time {
                font-size: 0.9rem;
            }
            h3, h4, h5, h6 {
                margin-top: 2rem;
            }
            h3, h4, h6 {
                font-weight: bold;
            }
            h3 {
                font-size: 1.25rem;
            }
            h4 {
                font-size: 1rem;
            }
            h5 {
                border: 1px solid black;
                padding: 2px 5px;
                width: fit-content;
            }
            button {
                text-align: left;
            }
            & > ul {
                & > li {
                    width: 100%;
                    padding-bottom: 50px;
                }
            }
            &.match h2 button, h2 button {
                &:hover, &:active, &:focus {
                    .inner-btn {
                        color: $medium-grey !important;
                        background-color: $magenta;

                    }
                }
            }
            .project-type {
                padding-top: 10px;
                display: inline-block;
                @media (min-width: 767px) and (min-height: 767px) {
                    padding-top: 15px;
                }
                ul {
                    display: inline-block;
                }
                .tag {
                    font-size: 0.6rem;
                    text-transform: uppercase;
                    color: $text-color;
                    background-color: $light-grey;
                    font-weight: bold;
                    padding: 5px 10px;
                    border-radius: 20px;
                    text-align: center;
                    display: inline-block;
                    margin: 0 10px 10px 0;
                    @media (min-width: 600px) and (min-height: 600px) {
                        font-size: 0.5rem;
                    }
                    @media (min-width: 767px)  {
                        font-size: 0.75rem;
                    }
                }
            }
            .details {
                display: block;
                padding-top: 10px;
                @media (min-width: 600px) and (min-height: 600px) {
                    padding-top: 5px;
                }
                @media (min-width: 767px) and (min-height: 767px) {
                    padding-top: 15px;
                }
                .post-link {
                    display: inline-block;
                    font-size: 1.25rem;
                    margin-left: 10px;
                    text-decoration: none;
                    color: $text-color;
                    vertical-align: middle;
                    @media (min-width: 600px) and (min-width: 600px) {
                        font-size: 1rem;
                    }
                    &:hover, &:active, &:focus {
                        text-decoration: underline;
                    }
                    span:first-of-type {
                        filter: brightness(0.5);
                        -webkit-filter: brightness(0.5);
                    }
                }
            }
            .content {
                margin: 1rem 15vw 0 15vw;
                align-items: unset;
                img, video, audio {
                    width: 100%;
                }
                img {
                    padding: 1rem 0;
                }
                figure, & > div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                figcaption {
                    font-size: 0.9rem;
                    text-align: center;
                    line-height: 1.3;
                    margin: 0;
                    padding: 0 0 1rem 0;
                    blockquote {
                        margin: 1rem 0 0 0;
                    }
                }
                .media-container {
                    text-align: center;
                    h3 {
                        font-size: 1rem;
                        margin: 1rem 0;
                    }
                }
                .media-button {
                    background-color: #e0e0e0;
                    border: 1px solid #3A3B3C;
                    border-radius: 4px;
                    margin-top: 1rem;
                    padding: 5px 10px;
                    font-size: 1rem;
                    &:hover, &:active, &:focus {
                        background-color: white;
                    }
                }
                .mediaDesc {
                    font-size: 0.9rem;
                    margin-bottom: 0;
                    line-height: 1.3;
                }
                figcaption.extra-top-margin {
                    margin-top: 1rem;
                }
                p:not(.mediaDesc) {
                    margin: 0;
                    padding: 1rem 0 0 0;
                    line-height: 1.3;
                    width: 100%;
                }
                .content-link {
                    font-size: 1rem;
                    margin: 0;
                    padding: 0;
                    line-height: 1.3;
                    color: $magenta;
                    pointer-events: auto;
                    word-wrap: break-word;
                    display: inline;
                    &:hover, &:active, &:focus {
                        color: $medium-grey;
                        background-color: $magenta;
                        text-decoration: none;
                    }
                }
                figcaption .content-link {
                    font-size: 0.9rem;
                }
                :last-child > figcaption {
                    padding-bottom: unset;
                }
            }
            .match button {
                color: $magenta;
            }
            blockquote {
                margin: -1rem 0 0 3rem;
            }
        }

        #list + nav {
            margin: 0 1rem 25px 1rem;
            @media (min-width: 767px) and (min-height: 767px) {
                margin: 0 50px 100px 50px;
            }
            #pagination {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &.last-page {
                    justify-content: flex-end;
                }
                a {
                    color: $text-color;
                    text-decoration: none;
                    &[rel="prev"] {
                        span:first-of-type {
                            padding-right: 5px;
                        }
                        span:last-of-type {
                            text-decoration: underline;
                        }
                    }
                    &[rel="next"] {
                        span:first-of-type {
                            text-decoration: underline;
                        }
                        span:last-of-type {
                            padding-left: 5px;
                        }
                    }
                    &:hover, &:active, &:focus {
                        font-weight: bold;
                        span:first-of-type, span:last-of-type {
                            text-decoration: none;
                        }
                    }
                }
            }
        }


        @media (max-width: 766px) {
            #list {
                p:not(.mediaDesc) {
                    padding-bottom: 0.5rem !important;
                    &.text-space {
                        padding-bottom: 2rem !important;
                    }
                }
            }
        }
        @media (orientation: portrait) {
            .content {
                margin: 1rem 0 0 0 !important;
            }
        }

        @media (min-width: 600px) and (min-height: 600px) {
            #list {
                h2 .bullet, time {
                    font-size: 0.75rem;
                }
            }
        }

        @media (min-width: 767px) {
            #list {
                h2 .bullet, time {
                    font-size: 0.9rem;
                }
                time {
                    font-size: 1rem;
                }
                h2 .bullet {
                    margin-right: 20px;
                }
                h2 {
                    font-size: 1.75rem;
                }
            }
        }
        @media (min-width: 1200px) {
            #list {
                width: 100%;
                h2 {
                    font-size: 2rem;
                    button .bullet {
                        bottom: 5px;
                    }
                }
            }
        }
    }

    footer {
        .title {
            position: absolute;
            text-align: center;
            width: 100%;
            bottom: 0;
            left: 0;
            margin: 0;
            padding: 0;
            line-height: 25px;
            pointer-events: none;
            @media (min-width: 767px) {
                line-height: 50px;
            }
        }
    }

    &.accessible-mode {

        #main-container {
            margin-top: 2rem;
        }

        main #page-title {
            html[lang="fr"] & {
                margin-top: unset;
            }
        }

        main #post-pages-menu {
            margin: 3rem 1rem 50px 1rem;
            @media (min-width: 314px) {
                margin-top: 3rem;
            }
            .articles {
                max-width: 100%;
            }
            input, #post-pages-list button, #post-pages-list a {
                padding: 1rem;
                font-size: 1.25rem;
                color: $medium-grey;
                background-color: $grey;
                &:hover, &:active, &:focus, &[aria-expanded="true"] {
                    color: $grey !important;
                    background-color: $medium-grey;
                }
            }
            #post-pages-list button {
                &:hover, &:active, &:focus, &[aria-expanded="true"] {
                    color: $grey !important;
                    background-color: $medium-grey;
                }
            }
            #post-pages-list li:first-of-type button {
                &:hover, &:active, &:focus, &[aria-expanded="true"] {
                    margin-top: 3px;
                }
            }
            input, #post-pages-list button {
                font-weight: bold;
                line-height: 1rem;
            }
            #post-pages-list a {
                line-height: 1.25;
            }
            input, #post-pages-list > li:not(.hidden) > button, .articles {
                border: 3px solid $medium-grey;
            }
            input[aria-expanded="true"] {
                border-bottom: 0;
            }
            #post-pages-list {
                & > li:not(.hidden) {
                    display: block;
                    & > button {
                        border: 3px solid $medium-grey;
                    }
                }
                & > li:not(:first-of-type) > button, & > li > button.stroke  {
                    border-top: 0;
                }
                & > li > button[aria-expanded="true"] {
                    border-bottom: 0;
                }
                .articles {
                    border: 3px solid $medium-grey;
                    & > a, li:not(:last-of-type) a {
                        border-bottom: 3px solid $medium-grey;
                    }
                }
            }
            input, #post-pages-list button {
                width: 146px;
                @media (min-width: 600px) and (min-height: 600px) {
                    width: 160px;
                }
            }
            input {
                border-radius: 8px;
                &[aria-expanded="true"] {
                    border-radius: 8px 8px 0 0;
                }
            }
            .post-page:first-of-type > button[aria-expanded="true"], .post-page:not(:first-of-type):not(:last-of-type) > button[aria-expanded="true"], .post-page:last-of-type > button[aria-expanded="true"], .post-page:not(:last-of-type) > button.stroke {
                border-radius: 0;
            }
    
            .post-page {
                li {
                    &:first-of-type a {
                        border-radius: 0 4px 0 0;
                    }
                    &:last-of-type a {
                        border-radius: 0 0 4px 0;
                    }
                }
                &:last-of-type li:last-of-type a {
                    border-radius: 0 0 4px 4px;
                }
            }
            .articles {
                border-radius: 0 8px 8px 0;
            }
            .post-page:last-of-type {
                & > button {
                    border-radius: 0 0 8px 8px;
                    &[aria-expanded="true"] {
                        border-radius: 0;
                    }
                }
                .articles {
                    border-radius: 0 8px 8px 8px;
                }
            }
        }

        main #list {
            padding: 0 1rem 0 1rem;
            &:not(.posts-padding) {
                padding-bottom: 1rem;
                @media (min-width: 600px) and (min-height: 600px) {
                    padding-bottom: 2rem;
                }
            }
        }
        main #list h2, main #list h2 button .inner-btn, main #list time, main #list .details .post-link {
            color: $medium-grey;
        }
        main #list h2 button {
            &:hover, &:active, &:focus {
                .inner-btn {
                    color: $grey !important;
                    background-color: $medium-grey;
                }
            }
        }
        main #list #post-head {
            display: flex;
            align-items: flex-start;
            @media (max-width: 259px) {
                flex-wrap: wrap;
            }
            h2 {
                &.individual {
                    margin-top: 2rem;
                }
            }
            #cross {
                position: relative;
                top: 2rem;
                right: 1rem;
                text-decoration: none;
                color: $grey;
                order: 2;
                margin: 0 0 3rem 1rem;
                &:hover, &:active, &:focus {
                    text-decoration: none;
                    color: $medium-grey;
                    background-color: $magenta;
                }
                @media (min-width: 260px) {
                    top: 32px;
                    right: 0;
                    margin: 0 0 0 3rem;
                }
                @media (min-width: 600px) and (min-height: 600px) {
                    top: 52px;
                    right: 1rem;
                    margin: -1rem -1rem -1rem 3rem;
                }
                @media (min-width: 767px) and (min-height: 767px) {
                    top: 53px;
                }
            }
        }

        main #list h3 {
            font-size: 1.5rem;
        }
        main #list h4, main #list h5, main #list h6 {
            font-size: 1.25rem;
        }
        main #list h5 {
            border: 2px solid $medium-grey;
        }
        main #list time {
            font-size: 1rem;
            display: block;
            margin-bottom: 20px;
        }
        main #list .project-type {
            padding-top: 15px;
        }
        main #list .project-type {
            display: inline-block;
        }
        main #list .details {
            padding-top: 15px;
        }
        main #list .content p, main #list .content .content-link, main #list .details .post-link, blockquote {
            font-size: 1.25rem;
        }
        main #list .content figcaption, main #list .content figcaption .content-link, main #list .content .mediaDesc {
            font-size: 1rem;
        }
        main #list .project-type .tag {
            font-size: 0.9rem;
            color: $grey;
        }
        main #list .content p, main #list .content figcaption {
            color: $medium-grey;
        }
        main #list .content .content-link {
            color: $medium-grey;
            font-weight: normal;
            &:hover, &:active, &:focus {
                color: $medium-grey;
                background-color: $magenta;
                border-color: $magenta;
                font-weight: normal;
            }
        }
        main #list + nav {
             margin: 0 1rem calc(50px - 1rem) 1rem;
        }
        main #list + nav #pagination a {
            color: $medium-grey;
            font-weight: bold;
            font-size: 1.25rem;
            &:hover, &:active, &:focus {
                color: $medium-grey;
                background-color: $magenta;
            }
        }
        main #list + nav #pagination  {
            a[rel="prev"], a[rel="next"] {
                &:hover, &:focus, &:active {
                    span:first-of-type, span:last-of-type {
                        text-decoration: none;
                    }
                }
            }
        }
        main #list .content p {
            width: 100%;
        }
        main #list .content .media-container {
            h3 {
                font-size: 1.25rem;
            }
        }
        main #list .content .media-button {
            color: $medium-grey;
            background-color: unset;
            border: 3px solid $medium-grey;
            border-radius: 0;
            font-size: 1.25rem;
            font-weight: bold;
            padding: 5px 10px;
            &:hover, &:focus, &:active {
                color: $grey;
                background-color: $medium-grey;
            }
        }

        main #list .details .post-link {
            span:first-of-type {
                filter: grayscale(100%) brightness(150%);
            }
        }
    }
}
