.resources {

    #dancing-banana {
        @media (min-width: 1280px) and (min-height: 900px) {
            bottom: 111px !important;
        }
    }

    footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        @media (max-width: 766px), (max-height: 766px) {
            &.scrolled {
                height: 104px;
                bottom: 0;
            }
            #footer-nav {
                @media (max-width: 766px), (max-height: 766px) {
                    bottom: -104px;
                }
                @media (max-width: 350px) {
                    bottom: -136px;
                }
                @media (max-width: 246px) {
                    bottom: -288px;
                }
                &.scrolled {
                    bottom: 0;
                }
            }
            #bottom-accessible-banner {
                li:last-of-type a {
                    margin-right: 1rem;
                }
            }
        }
    }

    main {
        width: 100%;
        height: calc(100vh - 100px);
        padding: 0 0 0 50px;
        @media (min-width: 1280px) and (min-height: 900px) {
            height: calc(100vh - 220px) !important;
        }
        & > div {
            display: flex !important;
            height: 100%;
            & > div:last-of-type {
                display: flex;
            }
            @media (max-width: 313px) {
                flex-direction: column;
            }
        }
        section {
            width: 50%;
            overflow-y: scroll;
            & > div {
                display: flex;
                width: 100%;
                justify-content: center;
            }
            h2, h3, p, a {
                line-height: 1.3;
                margin: 0;
                padding: 0;
            }
            h2 {
                color: $magenta;
                top: 0;
                left: 0;
                padding: 10px;
                border: 3px solid $magenta;
                border-radius: 50%;
                font-weight: bold;
                display: inline;
            }
            h3 {
                font-weight: bold;
                margin-top: 25px;
                @media (min-width: 767px) and (min-height: 767px) {
                    margin-top: 2rem;
                }
            }
            ul {
                margin-top: 1rem;
                li {
                    margin-left: 3vw;
                }
            }
            &.reads {
                padding: 50px 100px 50px 0;
                @media (min-width: 1280px) and (min-height: 900px) {
                    border-right: 3px solid $magenta;
                    padding-right: 50px;
                }
                p {
                    padding-bottom: 0;
                }
                div:not(:first-of-type) {
                    margin-top: 25px;
                    @media (min-width: 767px) and (min-height: 767px) {
                        margin-top: 50px;
                    }
                }
            }
            &.web {
                @media (min-width: 767px) and (min-height: 767px) {
                    padding: 0 100px 100px 0;
                }
                @media (max-width: 1279px), (max-height: 899px) {
                    padding-top: 0;
                    padding-bottom: 100px;
                }
                @media (min-width: 1280px) and (min-height: 900px) {
                    padding: 50px 150px 50px 50px;
                }
                a {
                    color: $magenta;
                    &:hover, &:active, &:focus {
                        color: $medium-grey;
                        background-color: $magenta;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    @media (min-width: 767px) and (min-height: 767px) and (max-width: 1279px), (min-width: 767px) and (min-height: 767px) and (max-height: 900px) {
        main {
            width: calc(100% - 50px);
        }
    }

    @media (max-width: 766px), (max-height: 766px) {
        main {
            padding: 0;
            section {
                ul:last-child li:last-child {
                    padding-bottom: 0;
                }
                &.reads {
                    padding: 25px 1rem;
                }
                &.web {
                    padding: 0 1rem 25px 1rem;
                }
            }
        }
    }

    @media (max-width: 1279px), (max-height: 899px) {
        main {
            overflow-y: auto;
            & > div > div:last-of-type {
                display: block !important;
            }
        }
        section {
            width: 100% !important;
            overflow-y: hidden !important;
            &.reads ul:last-child li p {
                padding-bottom: 0 !important;
            }
        }
    }

    &:not(.accessible-mode) {

        header.banner {
            div.scrolled {
                @media (min-width: 314px) {
                    position: fixed;
                    z-index: 1000;
                }
            }
        }

        #main-container.scrolled {
            @media (min-width: 600px) and (max-width: 766px), (min-width: 600px) and (max-height: 766px) {
                top: 53px;
            }
            @media (min-width: 850px) and (max-height: 599px) {
              top: 49px;
            }
        }

        @media (min-width: 1280px) and (min-height: 900px) {
            footer {
                bottom: 61px !important;
            }
            #bottom-accessible-banner li:first-of-type {
                display: none;
            }
        }

        main section.web {
            @media (min-width: 314px) and (max-width: 766px), (min-width: 314px) and (max-height: 600px) {
                margin-bottom: 35px;
                padding-bottom: 90px;
            }
            
            @media (min-width: 314px) and (max-width: 350px) {
                padding-bottom: 170px;
            }
            
            @media (min-width: 351px) and (max-width: 676px) {
                padding-bottom: 135px;
            }
            @media (min-width: 767px) and (min-height: 600px) and (max-height: 767px) {
                margin-bottom: 115px;
            }   
        }


        @media (max-width: 313px) {
            overflow-y: auto !important;
            #main-container {
                height: unset !important;
                overflow: unset !important;
            }
            footer {
                position: unset;
                #footer-nav {
                    bottom: unset;
                }
            }
        }
    }
        
    &.accessible-mode {

        main {
            display: block !important;
            height: unset !important;
            #page-title {
                h1, h1.sr-only {
                    margin-bottom: 0 !important;
                }
            }
            & > div, & > div > div:last-of-type {
                display: block !important;
            }
        }

        main section {
            width: 100% !important;
            overflow-y: hidden !important;
        }

        main section > div {
            justify-content: flex-start;
        }

        main section.reads {
            padding: 50px 1rem 25px 1rem;
            border-right: none;
            @media (min-width: 767px) and (min-height: 767px) {
                padding-bottom: 50px;
            }
        }

        main section.web {
            padding: 0 1rem calc(50px - 1rem) 1rem;
        }

        main section ul:last-child li:last-child {
            padding-bottom: 0;
        }

        main section p, main section h2, main section h3, main section.web a {
            font-size: 1.25rem;
        }

        main section p, main section h2, main section h3 {
            color: $medium-grey;
        }

        main section h2 {
            border-color: $medium-grey;
            padding: 15px;
        }

        main section.web a {
            color: $medium-grey;
            line-height: 1.75rem;
            &:hover, &:active, &:focus {
                background-color: $magenta;
            }
        }

    }
}
