.text {

    #dancing-banana {
        @media (min-width: 1280px) and (min-height: 900px) {
            bottom: 111px !important;
        }
    }

    &:not(.accessible-mode) {
        @media (min-width: 767px) and (min-height: 767px) {
            header.banner #pages #blog-pages-list-container ul#blog-select-page {
                li:first-of-type {
                    border-bottom: 3px solid $magenta;
                    a:not(:hover), a:not(:active), a:not(:focus) {
                        border-bottom: none;
                    }
                }
            }
        }
    }

    footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        @media (max-width: 766px), (max-height: 766px) {
            &.scrolled {
                height: 104px;
                bottom: 0 !important;
            }
            #footer-nav {
                @media (max-width: 766px), (max-height: 766px) {
                    bottom: -104px;
                }
                @media (max-width: 350px) {
                    bottom: -136px;
                }
                @media (max-width: 246px) {
                    bottom: -288px;
                }
                &.scrolled {
                    bottom: 0;
                }
            }
            #bottom-accessible-banner {
                li:last-of-type a {
                    margin-right: 1rem;
                }
            }
        }
    }

    aside.left button {
        pointer-events: none;
    }
    aside {
        position: absolute;
        bottom: 0;
        width: calc(100vh - 150px);
        &.right.plus {
            display: none;
            transform: rotate(90deg);
            transform-origin: right top;
            right: 0;
            z-index: 1000;
            & > div {
                justify-content: flex-start;
                margin-left: 25px;
                a {
                    position: absolute;
                    top: 6px;
                }
            }
        }

        &.scrolled {
            width: calc(100vh - 100px);
        }

        @media (min-width: 600px) and (max-width: 801px) and (min-height: 600px), (min-width: 850px) and (min-height: 600px) {
            width: calc(100vh - 196px);
        }
        @media (min-width: 732px) and (max-width: 766px) and (min-height: 600px), (min-width: 802px) and (max-width: 849px) and (min-height: 767px), (min-width: 862px) and (min-height: 600px) and (max-height: 766px), (min-width: 947px) and (min-height: 767px) {
            width: calc(100vh - 161px);
        }

        @media (min-width: 767px) and (min-height: 767px) {
            &.right.plus {
                display: block;
                div a {
                    top: 15px;
                }
            }
        }
        @media (min-width: 795px) and (max-width: 849px) and (min-height: 767px) {
            width: calc(100vh - 157px);
        }
        @media (min-height: 900px) {
            &.right.plus  {
                div {
                    margin-left: 50px;
                }
            }
        }
    }

    @media (min-width: 1280px) and (min-height: 900px) {
        #main-container > aside.left > ul {
            margin: 0 50px 0 100px;
        }
    }

    footer.flex-line {
        justify-content: center;
    }

    main {

        #page-title {
            h1 {
                width: unset;
                padding: unset;
                border-bottom: none;
            }
        }
        
        #text-head {
            #cross {
                position: fixed;
                top: 168px;
                right: 1rem;
                height: 2.25rem;
                width: 2.5rem;
                font-size: 1.75rem;
                font-family: $font;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                z-index: 999;
                color: $grey;
                background-color: $medium-grey;
                border-radius: 50%;
                padding: 5px;
                @media (min-width: 331px) {
                    top: 131px;
                }
                @media (min-width: 600px) and (min-height: 600px) {
                    top: 135px;
                }
                @media (min-width: 767px) and (min-height: 767px) {
                    top: 140px;
                    right: 75px;
                }
                @media (min-width: 767px) and (max-width: 794px) and (min-height: 767px), (min-width: 850px) and (max-width: 946px) and (min-height: 767px) {
                    top: 184px;
                }
                &.scrolled {
                    top: 25px;
                    @media (min-width: 314px) {
                        top: 75px;
                    }
                }
                &:hover, &:active, &:focus {
                    text-decoration: underline;
                    background-color: transparent;
                }
            }
            h2 {
                font-size: 1.5rem;
                line-height: 1.3;
                padding: 0 3rem 0 0;
                @media (min-width: 767px)  {
                    font-size: 1.75rem;
                }
                @media (min-width: 1200px) {
                    font-size: 2rem;
                }
            }
        }

        .project-type {
            padding: 0 2rem 2rem 0;
            display: inline-block;
            ul {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
            }
            .tag {
                font-size: 0.6rem;
                text-transform: uppercase;
                color: $text-color;
                background-color: $light-grey;
                font-weight: bold;
                padding: 5px 10px;
                border-radius: 20px;
                text-align: center;
                margin-top: 15px;
                &:not(:last-of-type) {
                    margin-right: 10px;
                }
                @media (min-width: 600px) and (min-height: 600px) {
                    font-size: 0.5rem;
                }
                @media (min-width: 767px)  {
                    font-size: 0.75rem;
                }
            }
        }

        article p, article.one .notes, article.two figcaption {
            line-height: 1.3;
        }

        article.one h3, article.two h3 {
            font-weight: bold;
        }

        article.one {
            h3, h4, h5 {
                line-height: 1.3;
            }
            h4 {
                font-size: 1rem;
                font-weight: bold;
                padding: 0 0 1rem 0;
            }
            h5 {
                font-size: 1rem;
                border: 1px solid black;
                padding: 2px 5px;
                display: inline-block;
            }
            & > div > p, & > p {
                &:last-of-type {
                    text-align: right;
                    padding: 2rem 0;
                    @media (min-width: 767px) and (min-height: 767px) {
                        padding: 1rem 0;
                    }
                }
            }
        }

        article.two {
            display: flex;
            flex-direction: column;
            align-items: center;
            & > div {
                padding-bottom: 1rem;
            }
            figure, .fig {
                display: flex;
                flex-direction: column;
                align-items: center;
                &:not(:first-of-type) {
                    padding-top: 1rem;
                }
            }
            img, video {
                width: 100%;
            }
            img {
                padding-bottom: 1rem;
                &:first-of-type {
                    padding-top: 0;
                }
            }
            h4 {
                margin-bottom: 1rem;
                font-size: 1rem;
                font-weight: bold;
            }
            .media-container {
                text-align: center;
                padding: 1rem 0;
            }
            .media-button {
                background-color: #e0e0e0;
                border: 1px solid #3A3B3C;
                border-radius: 4px;
                padding: 5px 10px;
                font-size: 1rem;
                &:hover, &:active, &:focus {
                    background-color: white;
                }
            }
            .mediaDesc {
                font-size: 0.9rem;
                margin: 1rem 0 0 0;
            }
            video {
                margin-bottom: 1rem;
                background-color: black;
            }
            figcaption {
                font-size: 0.9rem;
                text-align: center;
                padding-bottom: 1rem;
            }
        }
    }

    &:not(.home):not(.accessible-mode) main {
        margin: 0;
        @media (min-width: 767px) and (min-height: 767px) {
            margin: 0 50px 0 0;
        }
    }
    &:not(.accessible-mode) main {
        width: 100%;
        margin: 0 50px 50px 0;
        @media (min-width: 1280px) and (min-height: 900px) {
            height: calc(100vh - 211px) !important;
        }
        & > div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 100%;
            & > div:last-of-type {
                display: flex;;
            }
        }
        article {
            overflow-y: auto;
            overflow-x: hidden;
            width: 50%;
            p {
                margin: 0;
            }

            &.one, &.two {
                padding: 50px 50px 0 0;
                h3 {
                    font-size: 1.25rem;
                    text-align: left;
                    padding-bottom: 2rem;
                    @media (min-width: 767px) and (min-height: 767px) {
                        text-align: center;
                    }
                }
            }
            &.one {
                padding-left: 50px;
                @media (min-width: 1280px) and (min-height: 900px) {
                    border-right: 3px solid $magenta;
                }
                :not(.notes) p {
                    margin-bottom: 1rem;
                    &:last-of-type.date {
                        font-size: 0.75rem;
                    }
                    span.aparte {
                        font-size: 0.75rem;
                        line-height: unset;
                    }
                }
                :not(.notes) li:last-of-type p {
                    margin-bottom: 0;
                }
                em {
                    &::before, &::after {
                        content: none;
                    }
                }
                a {
                    color: $magenta;
                    word-break: break-word;
                    ::before {
                        margin: 0;
                    }
                    &:hover, &:active, &:focus {
                        color: $medium-grey;
                        background-color: $magenta;
                    }
                }
                .notes {
                    text-align: left;
                    margin-bottom: 2rem;
                    font-size: 0.75rem;
                    color: $magenta;
                    a {
                        color: $magenta;
                        &::before, &::after {
                            content: none;
                        }
                        &:hover, &:active, &:focus {
                            text-decoration: none;
                            color: $medium-grey;
                            background-color: $magenta;
                        }
                    }
                }
                p.nomargin::before {
                    margin-left: 0;
                }
            }
            &.two {
                padding: 0 50px 0 50px;
                .article-title-container {
                    width: 100%;
                }
                h3 {
                    @media (min-width: 1280px) and (min-height: 900px)   {
                        margin-top: 50px;
                    }
                }
                & > div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                }
                @media (min-width: 767px) and (min-height: 767px) and (max-width: 1279px), (min-width: 767px) and (min-height: 767px) and (max-height: 899px) {
                    & > div {
                        padding-bottom: calc(50px + 2rem);
                    }
                }

            }
        }
    }

    &:not(.home):not(.projects):not(.posts):not(.texts):not(.cv):not(.contact):not(.accessible-mode) main {
        @media (min-width: 767px) and (min-height: 767px) {
            &:not(.scrolled) {
                height: calc(100vh - 120px);
            }
        }
        @media (min-width: 767px) and (min-height: 767px) and (max-width: 801px), (min-width: 850px) and (min-height: 767px) and (max-width: 946px) {
            &:not(.scrolled) {
                html[lang="fr"] & {
                    height: calc(100vh - 155px);
                }
            }
        }
    }

    .source-link {
        font-size: 1.25rem;
        color: $magenta;
        &:hover, &:active, &:focus {
            color: $medium-grey;
            background-color: $magenta;
            text-decoration: none;
        }
        @media (min-width: 767px) and (min-height: 767px) {
            font-size: 1rem;
            color: $medium-grey;
            background-color: $magenta;
            width: 76px;
            text-decoration: none;
        }
    }

    @media (max-width: 766px), (max-height: 766px) {
        &:not(.accessible-mode) main {
            article.one {
                padding: 25px 1rem 0 1rem;
            }
            article.two {
                padding: 0 1rem 85px 1rem;
            }
        }
        &:not(.accessible-mode) main article.one p span.aparte, &:not(.accessible-mode) main article.one .notes, main article.one p:last-of-type {
            font-size: 1rem;
        }
    }

    &:not(.home):not(.cv):not(.accessible-mode) header.banner #pages.small-device {
        top: unset;
    }

    @media (max-width: 1279px), (max-height: 899px) {
        &:not(.accessible-mode) main {
            overflow-y: auto;
            & > div, & > div > div:last-of-type {
                display: block;
            }
            article.one, article.two {
                width: 100% !important;
            }
        }
    }

    @media (min-width: 314px) and (max-width: 766px), (min-width: 314px) and (max-height: 766px) {
        &:not(.accessible-mode) main {
            article.two {
                margin-bottom: 55px;
            }
        }
    }

    @media (min-width: 314px) and (max-width: 676px) {
        &:not(.accessible-mode) main {
            article.two {
                margin-bottom: 100px;
            }
        }
    }

    @media (min-width: 314px) and (max-height: 600px) {
        &:not(.accessible-mode) main {
            article.two {
                margin-bottom: 55px;
            }
        }
    }

    @media (max-width: 313px) {
        &:not(.accessible-mode) main {
            article.two {
                padding-bottom: 25px;
            }
        }
    }

    &:not(.accessible-mode) {

        @media (min-width: 767px) and (min-height: 767px) {
            footer {
                z-index: 1000;
            }
        }
        
        @media (min-width: 1280px) and (min-height: 900px) {
            footer {
                bottom: 50px !important;
            }
            #bottom-accessible-banner li:first-of-type {
                display: none;
            }
        }

        @media (max-width: 313px) {
            header.banner h1.sr-only {
                padding: 0;
                border: none;
            }
            overflow-y: auto !important;
            #main-container {
                height: unset !important;
                overflow: unset !important;
            }
            footer {
                position: unset;
                #footer-nav {
                    bottom: unset;
                }
            }
        }

    }

    &.accessible-mode {

        header {
            h1 {
                display: block;
            }
        }

        main {
            margin: 0;
        }

        main #text-head {
            display: flex;
            align-items: flex-start;
            position: relative;
            @media (max-width: 259px) {
                flex-wrap: wrap;
            }
            h2 {
                &.individual {
                    margin-top: 2rem;
                }
            }
            #cross {
                position: relative;
                top: 2rem;
                left: unset;
                text-decoration: none;
                color: $grey;
                order: 2;
                margin: 0 0 3rem 1rem;
                &:hover, &:active, &:focus {
                    text-decoration: none;
                    color: $medium-grey;
                    background-color: $magenta;
                }
                @media (min-width: 260px) {
                    position: absolute;
                    top: 1px;
                    right: 0;
                    margin: 0 0 0 3rem;
                }
                @media (min-width: 600px) and (min-height: 600px) {
                    top: 18px;
                    right: 1rem;
                    margin: -1rem -1rem -1rem 3rem;
                }
                @media (min-width: 767px) and (min-height: 767px) {
                    top: 20px;
                }
            }
            @media (orientation: landscape) {
                position: unset;
                #cross {
                    top: 283px;
                }
            }
            @media (orientation: landscape) and (max-height: 599px) {
                #cross {
                    top: 245px;
                    right: 1rem;
                }
            }
            @media (orientation: landscape) and (max-width: 766px) and (max-height: 599px) {
                #cross {
                    top: 240px;
                }
            }
            @media (orientation: landscape) and (min-height: 600px) {
                #cross {
                    top: 277px;
                    right: 2rem;
                }
            }
            @media (orientation: landscape) and (min-height: 767px) {
                #cross {
                    top: 283px;
                }
            }
        }

        main, main article.one, main article.two {
            overflow: hidden;
        }

        main, main article.one > div:first-of-type {
            display: block;
        }

        main article.one, main article.two {
            width: 100% !important;
        }

        main article.one {
            padding: 2rem 1rem;
            h3 {
                padding-bottom: 2rem;
                @media (orientation: portrait) {
                    padding-bottom: 1rem;
                }
            }
            .notes {
                background-color: $medium-grey;
            }
            .notes a {
                color: $grey;
                margin-left: 5px;
                padding: 0 4px;
            }
        }

        main article.two {
            padding: 0 1rem 2rem 1rem;
            h3 {
                padding-bottom: 3rem;
                @media (orientation: portrait) {
                    padding-bottom: 2rem;
                }
            }
        }

        main article.one, main article.two {
            h3 {
                font-size: 1.5rem;
                text-align: center;
                @media (orientation: portrait) {
                    text-align: left;
                }
            }
            & > div:last-of-type, & > div {
                padding: 0 15vw 1rem 15vw;
                @media (orientation: portrait) {
                    padding: 0 0 1rem 0;
                }
            }
        }

        main #text-head h2, main article h3, main article h4, main article h5, main article p, main article.two figcaption {
            color: $medium-grey;
        }

        main article p, main article.one p span.aparte, main article.one p:last-of-type {
            font-size: 1.25rem;
        }

        main article.one .notes p, main article.two figcaption, main article.two #videoDesc {
            font-size: 1rem;
        }

        main #text-head h2, main article.one > div > h4 {
            padding-bottom: 0;
        }

        main article.one > div > h4, main article.one > div > h5 {
            font-size: 1.25rem;
        }

        main article.one > div > h4 {
            margin-bottom: 0;
        }

        main article.one > div > h5 {
            border: 2px solid $medium-grey;
        }

        main article .project-type .tag {
            color: $grey;
            font-size: 0.9rem;
        }

        main article.one a, .source-link {
            text-decoration: underline;
            color: $medium-grey;
            background-color: unset;
            &:hover, &:active, &:focus {
                text-decoration: none;
                border-color: $magenta;
                background-color: $magenta;
            }
        }

        main article.one .notes {
            margin-bottom: 2rem;
            li {
                padding-top: 1rem;
                &:last-of-type {
                    padding-bottom: 1rem;
                }
            }
            p {
                color: $grey;
                margin: 0 1rem;
                a {
                    font-weight: normal;
                    color: $grey;
                    &:hover, &:active, &:focus {
                        color: $medium-grey;
                        background-color: $grey;
                    }
                }
            }
        }

        main article.two {
            padding-bottom: 2rem !important;
        }

        main article.two h4 {
            font-size: 1.25rem;
        }

        main article.two .media-button {
            color: $medium-grey;
            background-color: unset;
            border: 3px solid $medium-grey;
            border-radius: 0;
            font-size: 1.25rem;
            font-weight: bold;
            padding: 5px 10px;
            &:hover, &:active, &:focus {
                color: $grey;
                background-color: $medium-grey;
            }
        }

        #cross {
            position: relative;
            top: calc(-100% + 68px);
            left: calc(100% - 50px);
            @media (min-width: 600px) and (min-height: 600px) {
                top: calc(-100% + 58px);
                margin: -1rem;
            }
            &:hover, &:active, &:focus {
                text-decoration: none;
                color: $medium-grey;
                background-color: $magenta;
            }
        }

        aside.right.plus {
            display: none;
        }

        .source-link {
            width: unset;
            font-size: 1.25rem;
            @media (max-width: 599px) {
                line-height: 1.5;
            }
        }
    }
}
