.texts {

    &:not(.accessible-mode) {
        width: unset;
        height: unset;
        overflow: unset;
        @media (min-width: 767px) and (min-height: 767px) {
            width: 100%;
            height: 100%;
            overflow: hidden;
            header.banner #pages #blog-pages-list-container ul#blog-select-page {
                li:first-of-type {
                    border-bottom: 3px solid $magenta;
                    a:not(:hover), a:not(:active), a:not(:focus) {
                        border-bottom: none;
                    }
                }
            }
        }
        &:not(.home):not(.cv) {
            #dancing-banana {
                &.no-scroll {
                    bottom: 111px;
                }
            }
        }
    }

    header, footer {
        width: 100%;
    }

    footer.flex-line {
        justify-content: center;
        &.no-scroll {
            position: absolute !important;
            bottom: 61px !important;
        }
    }

    &:not(.accessible-mode) header {
        z-index: 1000;
        @media (min-width: 1000px) and (min-height: 767px) {
            position: unset;
            top: unset;
            z-index: unset;
        }
    }

    main {
        #page-title {
            z-index: 1000;
            html[lang="fr"] & {
                @media (min-width: 314px)and (max-width: 522px) {
                    margin-top: -133px;
                }
                @media (min-width: 523px) and (max-width: 541px) {
                    margin-top: -109px;
                }
                @media (min-width: 542px) and (max-width: 599px) {
                    margin-top: -103px;
                }
                @media (min-width: 600px) and (max-width: 766px), (min-width: 600px) and (max-height: 766px) {
                    margin-top: -106px;
                }
            }
        }
        #list {
            padding: 25px 1rem 0 1rem;
            height: auto;
            @media (min-width: 767px) and (min-height: 767px) {
                padding: 50px;
            }
            & > ul {
                & > li {
                    width: 100%;
                    padding: 0;
                    padding-bottom: 50px;
                    a {
                        color: $text-color;
                        text-decoration: none;
                        font-size: 1.5rem;
                        line-height: 1.3;
                        .bullet {
                            font-family: $thirdfont;
                            margin-right: 10px;
                            bottom: 1px;
                            font-size: 0.9rem;
                            position: relative;
                        }
                    }
                    &.match a, a {
                        &:hover, &:active, &:focus {
                            color: $medium-grey !important;
                            background-color: $magenta !important;
                        }
                    }
                    .match a {
                        color: $magenta;
                    }
                    .project-type {
                        padding-top: 10px;
                        display: inline-block;
                        @media (min-width: 767px) and (min-height: 767px) {
                            padding-top: 15px;
                        }
                        ul {
                            display: inline-block;
                        }
                        .tag {
                            font-size: 0.6rem;
                            text-transform: uppercase;
                            color: $text-color;
                            background-color: $light-grey;
                            font-weight: bold;
                            padding: 5px 10px;
                            border-radius: 20px;
                            text-align: center;
                            display: inline-block;
                            margin: 0 10px 10px 0;
                            @media (min-width: 600px) and (min-height: 600px) {
                                font-size: 0.5rem;
                            }
                            @media (min-width: 767px)  {
                                font-size: 0.75rem;
                            }
                        }
                    }
                    .details {
                        padding-top: 10px;
                        @media (min-width: 600px) and (min-height: 600px) {
                            padding-top: 5px;
                        }
                    }
                    p {
                        font-size: 0.9rem;
                        margin: 0;
                        line-height: 1.3;
                    }
                }
            }
        }
        @media (min-width: 600px) and (min-height: 600px) {
            #list > ul > li {
                a .bullet, .details p {
                    font-size: 0.75rem;
                }
            }
        }

        @media (min-width: 768px) {
            #list > ul > li {
                 a .bullet {
                    bottom: 2px;
                    margin-right: 20px;
                    font-size: 0.9rem;
                }
                .details p {
                    font-size: 1rem;
                }
            }
        }
        @media (min-width: 767px) {
            #list > ul > li a {
                font-size: 1.75rem;
            }
        }
        @media (min-width: 1200px) {
            #list {
                width: 100%;
                & > ul {
                    & > li {
                        a {
                            font-size: 2rem;
                             .bullet {
                                bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

    #main-container > aside.left {
        input {
            &[disabled=''] {
                cursor: not-allowed;
                & + label, & + label abbr {
                    cursor: not-allowed;
                    @media (max-width: 766px), (max-height: 766px) {
                        color: #696969;
                    }
                    @media (min-width: 767px) and (min-height: 767px) {
                        opacity: 0.85;
                    }
                }
                &:hover, &:active, &:focus {
                    & + label, & + label abbr {
                        font-weight: normal;
                    }
                }
            }
        }
    }
    

    &:not(.accessible-mode) {

        &.no-scroll {
            @media (max-width: 766px), (max-height: 766px) {
                footer {
                    position: absolute !important; 
                    bottom: 54px !important;
                }
            }
            @media (min-width: 767px) and (min-height: 767px) {
                main, main:not(.scrolled) {
                    height: calc(100vh - 221px);
                }
                #main-container > aside {
                    width: calc(100vh - 207px);
                    bottom: 50px;
                    &.scrolled {
                        width: calc(100vh - 161px) !important;
                        bottom: 61px;
                    }
                }
                footer {
                    position: absolute !important;
                    bottom: 61px !important;
                }
            }
            @media (min-width: 850px) and (min-height: 767px) {
                #main-container > aside {
                    width: calc(100vh - 255px) !important;
                }
            }
            @media (min-width: 945px) and (min-height: 767px) {
                #main-container > aside {
                    width: calc(100vh - 211px) !important;
                }
            }
        }

        main {
            height: unset;
            overflow-y: unset;
            @media (min-width: 767px) and (min-height: 767px) {
                overflow-y: auto;
                width: calc(100% - 100px);
                margin: 0 50px;
                &:not(.scrolled) {
                    height: calc(100vh - 161px);
                }
                &.scrolled {
                    height: calc(100vh - 100px);
                }
            }
            @media (min-width: 767px) and (min-height: 767px) and (max-width: 801px), (min-width: 850px) and (min-height: 767px) and (max-width: 946px) {
                &:not(.scrolled) {
                    html[lang="fr"] & {
                        height: calc(100vh - 155px);
                    }
                }
            }
        }
    }

    &.accessible-mode {

        header {
            .mobile > ul {
                border-bottom: none;
            }
        }

        #main-container {
            margin-top: 2rem;
        }

        main #page-title {
            html[lang="fr"] & {
                margin-top: unset;
            }
            h1, h1.sr-only {
                margin-bottom: 0 !important;
            }
        }

        main #list {
            padding: 50px 1rem 0 1rem;
        }

        main #list > ul > li:last-of-type {
            padding-bottom: calc(50px - 1rem);
        }

        main #list > ul > li a, main #list > ul > li p {
            color: $medium-grey;
        }
        main #list > ul > li a {
            &:hover, &:active, &:focus {
                color: $grey !important;
                background-color: $medium-grey !important;
            }
        }
        main #list > ul > li p {
            font-size: 1rem;
            display: block;
        }
        main #list .project-type {
            padding-top: 15px;
        }
        main #list .details {
            padding-top: 10px;
        }
        main #list .project-type .tag {
            font-size: 0.9rem;
            color: $grey;
        }
    }
}
