.scroll-bar {
    right: 20px !important;
}
@supports (-webkit-appearance:none) {
    .scroll-bar {
        right: 15px !important;
    }
    header {
        top: 0 !important;
    }
}
aside.right {
    z-index: 1 !important;
}
footer {
    z-index: 0 !important;
}
@media (max-width: 767px) {
    .menu-bar {
        font-size: 0.75rem !important;
    }
}
.postcard-usg {
    .initial-container {
        overflow-y: auto;
        padding-bottom: 70px;
    }
    .postcard-container {
        padding: 140px 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 33vh);
        grid-auto-flow: row;
        justify-content: center;
        grid-gap: 9vh;
        &:first-of-type {
            grid-column: 1;
        }
        nav {
            #arrows {
                display: none;
                justify-content: space-between;
                align-items: center;
                #back, #show-verso {
                    &::before {
                    content: none;
                    }
                }
            }
        }
        div {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img {
                width: 100%;
            }
            &:hover {
                .hover-credits {
                    display: flex;
                    flex-direction: column;
                }
                img {
                    display: none;
                }
                div {
                    border: 1px solid black;
                }
            }
            &.full-screen {
                position: fixed;
                width: 100%;
                top: 0;
                left: 0;
                cursor: auto;
                .hover-credits {
                    display: none;
                }
                img {
                    display: flex;
                    object-fit: cover;
                    object-position: top center;
                    width: calc(100% - 100px);
                    height: calc(100% - 100px);
                }
            }
        }
        .hover-credits {
            display: none;
            font-family: $altfont;
            font-size: 1rem;
            text-align: center;
            padding: 10%;
        }
    }
    .verso {
        position: fixed;
        background-color: white;
        border: 0 !important;
        &:hover {
            cursor: auto;
        }
        img {
            object-fit: contain !important;
            object-position: unset !important;
        }
        @media (orientation: portrait) {
            img {
                transform: rotate(-90deg);
                width: 100% !important;
            }
        }
    }
}
