header.menu-bar {
    background-color: rgba(255,191,0,1);
    padding-left: 50px;
    right: 0;
}
footer.menu-bar {
    background-color: rgba(0,0,160,1);
    padding-left: 50px;
    right: 0;
}
aside.right.menu-bar {
    background-image: linear-gradient(90deg, rgba(255,191,0,1), rgba(0,0,160,1));
}
aside.left.menu-bar {
    background-image: linear-gradient(90deg, rgba(0,0,160,1), rgba(255,191,0,1));
}
.text-collection {
    overflow: hidden;
    background-color: white;
    #main-container {
        height: 100%;
    }
    #main-container aside.right {
        right: 0;
    }
    main {
        margin: auto;
        height: calc(100% - 100px);
        padding: 0;
        #list {
            width: 100%;
            height: 100%;
            padding: 10%;
            display:flex;
            align-items: center;
            ul li {
                width: 100%;
                &:last-of-type {
                    margin-bottom: 0;
                    a {
                        color: grey;
                        pointer-events: none;
                    }
                }
            }
            @media (min-width: 280px) and (orientation: portrait) {
                li {
                    padding: 0 20px !important;
                }
            }
            @media (min-width: 321px) and (orientation: portrait) {
                li {
                    padding: 0 40px !important;
                }
            }
            @media (max-width: 767px) {
                li {
                    margin-bottom: 1.5vh !important;
                    // @supports (-webkit-appearance:none) {
                    //     margin-bottom: 0 !important;
                    // }
                }
            }
            @media (min-width: 1023px) and (max-width: 1279px) and (orientation: landscape) {
                li {
                    margin-bottom: 2vh !important;
                }
            }
        }
    }
}

.show-project {
    .project {
        margin-top: 0;
        #img {
            width: 100%;
            @media (orientation:portrait) {
                .portrait {
                    width: 100%;
                }
            }
            @media (orientation:landscape) {
                .portrait {
                    width: 55%;
                }
            }
            @media (min-width: 280px) {
                p {
                    font-family: $altfont;
                    text-align: center;
                    line-height: 1.3;
                    margin-top: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &:last-of-type {
                        margin-bottom: 6vw;
                    }
                    a {
                        color: blue;
                        text-decoration: none;
                    }
                    img, video {
                        width: 100%;
                    }
                }
            }
            @media (min-width: 280px) and (orientation: portrait) {
                p {
                    margin-bottom: 15vw;
                    &:last-of-type {
                        margin-bottom: 15vw;
                    }
                }
                img, video {
                    margin-bottom: 7vw;
                }
            }
            @media (min-width: 767px), (orientation: landscape) {
                p {
                    margin-bottom: 3.5vw;
                }
                img, video {
                    margin-bottom: 1.5vw;
                }
            }
        }
    }
    #project-container {
        @media (min-width: 280px) {
            header, footer {
                right: 0;
            }
            aside.right {
                right: 0;
            }
        }
        @media (min-width: 1367px) {
            header, footer {
                right: 20px;
            }
            aside.right {
                right: 20px;
            }
        }
    }
}
