header.menu-bar {
    background-color: rgba(255,191,0,1);
    right: 0;
}
footer.menu-bar {
    background-color: rgba(0,0,160,1);
    right: 0;
}
aside.right.menu-bar {
    background-image: linear-gradient(90deg, rgba(255,191,0,1), rgba(0,0,160,1));
}
aside.left.menu-bar {
    background-image: linear-gradient(90deg, rgba(0,0,160,1), rgba(255,191,0,1));
}
.text-collection {
    overflow: hidden;
    background-color: white;
    #main-container {
        height: 100%;
    }
    #main-container aside.right {
        right: 0;
    }
    main {
        margin: auto;
        height: calc(100% - 100px);
        padding: 0;
        #list {
            width: 100%;
            height: 100%;
            padding: 10%;
            display:flex;
            align-items: center;
            ul li {
                width: 100%;
                &:last-of-type {
                    margin-bottom: 0;
                    a {
                        color: grey;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}

.show-project {
    .project {
        margin-top: 0;
        #img {
            width: 55%;
            p {
                font-family: $altfont;
                text-align: center;
                line-height: 1.3;
                margin-top: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 3.5vw;
                &:last-of-type {
                    margin-bottom: 6vw;
                }
                a {
                    color: blue;
                    text-decoration: none;
                }
                img {
                    width: 100%;
                    margin-bottom: 1.5vw;
                }
            }

        }

    }
    #project-container {
        header, footer {
            right: 20px;
        }
        aside.right {
            right: 20px;
        }
    }
}
